@model Libraries.Model.Entity.Newdamagepayeeregistration
@await Component.InvokeAsync("PageHeader", new { pageName = "New Damage Property Registration Form" })
<div class="pt-3">
    <form asp-action="Create" class="d-block rounded border p-3 bg-white search-filer shadow mb-3" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input type="hidden" asp-for="ApprovedStatus" />
        @*<input type="hidden" asp-for="Id" value="@ViewBag.MainDamagePayeeId" />*@

        <h3 class="mb-3 d-flex">Add Details <span class="ms-auto"><span style="color:red">*&nbsp;</span>Marked are mandatory fields</span> </h3>
        <div id="COLONYDETAILS">
            <div class="row">
                <div class="col-md-4">
                    <span style="color: #2196F3"> Whether property is damage Payee :</span><span style="color:red">*</span> <select asp-for="WhetherDamageProp" class="floating-label-field floating-label-field--s3">
                        <option value="">---Select---</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                    <span asp-validation-for="WhetherDamageProp" class="d-block text-danger field-validation-valid"></span>
                </div>
                <div class="col-md-4">
                    <span style="color: #2196F3">
                        Whether the current occupant is a :<span style="color:red">*</span>
                    </span><select asp-for="Occupanttype" class="floating-label-field floating-label-field--s3">
                        <option value="">---Select---</option>
                        <option value="Original">Original</option>
                        <option value="Legal Heir">Legal Heir</option>
                        <option value="Subsequent">Subsequent buyer</option>
                    </select>
                    <span asp-validation-for="Occupanttype" class="d-block text-danger field-validation-valid"></span>
                </div>
                <div class="col-md-4" style="display:none" id="divLegal">
                    <span style="color: #2196F3"> Has the Assessee Name change requested in DDA :</span> <select asp-for="IsNameChanged" class="floating-label-field floating-label-field--s3">
                        <option value="">---Select---</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </div>

            </div>
            <h3 class="my-3 d-flex sub-heading">COLONY DETAILS</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input asp-for="FileNo" type="text" class="floating-label-field floating-label-field--s3" placeholder="RegNo" />
                        <span asp-validation-for="FileNo" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">File No</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="floating-label-wrap">
                        <select asp-for="DistrictId" class="floating-label-field floating-label-field--s3" onchange="return onChange(this.options[this.selectedIndex].value)"
                                asp-items="@(new SelectList(Model.districtList,"Id","Name"))">
                            <option value="">---Select---</option>
                        </select>
                        <span asp-validation-for="DistrictId" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">District<span style="color:red">*</span></label>
                    </div>
                </div>
            </div>
            <div class="row mt-md-3">
                <div class="col-md-4">
                    <div class="floating-label-wrap">
                        <select asp-for="VillageId" class="floating-label-field floating-label-field--s3" onchange="return onChangeVillage(this.options[this.selectedIndex].value)"
                                asp-items="@(new SelectList(Model.damagevillageList,"Id","Name"))">
                            <option value="">---Select---</option>
                        </select>
                        <span asp-validation-for="VillageId" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">Village/Revenue estate<span style="color:red">*</span></label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="floating-label-wrap">
                        <select asp-for="ColonyId" class="floating-label-field floating-label-field--s3"
                                asp-items="@(new SelectList(Model.ColonyList,"Id","Name"))">
                            <option value="">---Select---</option>
                        </select>
                        <span asp-validation-for="ColonyId" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">Colony<span style="color:red">*</span></label>
                    </div>
                </div>
                <div class="col-md-4" style="display:none" id="divotherColony">
                    <div class="floating-label-wrap">
                        <input asp-for="OtherColonyName" type="text" class="floating-label-field floating-label-field--s3" placeholder="Other Colony Name" />
                        <span asp-validation-for="OtherColonyName" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">Other Colony Name<span style="color:red">*</span></label>
                    </div>
                </div>
            </div>
            <div class="row mt-md-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap">
                        <input asp-for="PinCode" type="text" class="floating-label-field floating-label-field--s3 numbers" maxlength="6" placeholder="PIN" />
                        <span asp-validation-for="PinCode" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">Pin code</label>
                    </div>
                </div>
            </div>
        </div>







        <div id="PROPERTYDETAILS">
            <h3 class="my-3 d-flex sub-heading">PROPERTY DETAILS</h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        @*<input asp-for="TypeProperty" type="text" class="floating-label-field floating-label-field--s3" placeholder="Property Type" />*@
                        <select asp-for="TypeOfProperty" class="floating-label-field floating-label-field--s3">
                            <option value="">---Select---</option>
                            <option value="Residential">Built-up</option>
                            <option value="Commercial">Vacant</option>
                        </select>
                        <span asp-validation-for="TypeOfProperty" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">Type of property<span style="color:red">*</span></label>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <select asp-for="UseType" class="floating-label-field floating-label-field--s3">
                            <option value="">---Select---</option>
                            <option value="Residential">Residential</option>
                            <option value="Commercial">Commercial</option>
                            <option value="Industrial">Industrial</option>
                            <option value="Institutional">Institutional</option>
                            <option value="Other">Other</option>
                        </select>
                        <span asp-validation-for="UseType" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">Type of use<span style="color:red">*</span></label>
                    </div>
                </div>
                <div class="col-md-4" style="display:none" id="divUsetype">
                    <div class="floating-label-wrap">
                        <input type="text" class="floating-label-field floating-label-field--s3" placeholder="Other Property Use" />
                        <span asp-validation-for="AreaBuildingFootprint" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">Other Property Use </label>
                    </div>
                </div>
            </div>

            <div class="row mt-md-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input asp-for="LandArea" type="text" class="floating-label-field floating-label-field--s3 numbers" placeholder="Landarea" />
                        <span asp-validation-for="LandArea" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">Land area (sqm)</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="floating-label-wrap">
                        <input asp-for="AreaBuildingFootprint" type="text" class="floating-label-field floating-label-field--s3 numbers" placeholder="Area of building" />
                        <span asp-validation-for="AreaBuildingFootprint" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">Area of building footprint on plot (sqm) </label>
                    </div>
                </div>
            </div>

            <div class="row mt-md-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap">
                        <input asp-for="TotalConstructedArea" type="text" class="floating-label-field floating-label-field--s3 numbers" placeholder="Constructed Area  (sqm)" />
                        <span asp-validation-for="TotalConstructedArea" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">Total constructed area (sqm) (including all floors)<span style="color:red">*</span></label>
                    </div>
                </div>


                <div class="col-md-6">
                    @*changed*@
                    <div class="floating-label-wrap">
                        <input asp-for="VacantArea" type="text" class="floating-label-field floating-label-field--s3 numbers" placeholder="Vacant Area (sqm)" />
                        <span asp-validation-for="VacantArea" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">Vacant area (sqm)<span style="color:red">*</span></label>
                    </div>
                </div>
            </div>
            <div class="row mt-md-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input asp-for="HousePropertyNo" type="text" class="floating-label-field floating-label-field--s3" placeholder="House No" />
                        <span asp-validation-for="HousePropertyNo" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">House No/Property No<span style="color:red">*</span></label>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="floating-label-wrap">
                        <input asp-for="PlotNo" type="text" class="floating-label-field floating-label-field--s3" placeholder="Plot No" />
                        <span asp-validation-for="PlotNo" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">Plot No</label>
                    </div>
                </div>


            </div>
            <div class="row mt-md-3">

                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input asp-for="Street" type="text" class="floating-label-field floating-label-field--s3" placeholder="Street" />
                        <span asp-validation-for="Street" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">Street</label>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input asp-for="NoofFloorConstructed" type="text" class="floating-label-field floating-label-field--s3" placeholder="No of Floor" />
                        <span asp-validation-for="NoofFloorConstructed" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">No of floors costructed</label>
                    </div>
                </div>
            </div>
            <div class="row mt-md-3">

                <div class="col-md-6">
                    @*changed*@
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input asp-for="KhasraNo" type="text" class="floating-label-field floating-label-field--s3" placeholder="Khasra No" />
                        <span asp-validation-for="KhasraNo" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">Khasra No ( as per revenue records )</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input asp-for="LandMark" type="text" class="floating-label-field floating-label-field--s3" placeholder="Khasra No" />
                        <span asp-validation-for="LandMark" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">Land mark (if any)</label>
                    </div>
                </div>
            </div>
        </div>

        <div id="PROPERTYSCHEDULE">
            <h3 class="my-3 d-flex sub-heading">PROPERTY SCHEDULE (please indicate the details of the surrounding property)</h3>
            <div class="row">

                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input asp-for="North" type="text" class="floating-label-field floating-label-field--s3" placeholder="North" />
                        <span asp-validation-for="North" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">North</label>

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="floating-label-wrap">
                        <input asp-for="South" type="text" class="floating-label-field floating-label-field--s3" placeholder="South" />
                        <span asp-validation-for="South" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">South</label>
                    </div>
                </div>


            </div>
            <div class="row mt-md-3">

                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input asp-for="East" type="text" class="floating-label-field floating-label-field--s3" placeholder="East" />
                        <span asp-validation-for="East" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">East</label>

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="floating-label-wrap">
                        <input asp-for="West" type="text" class="floating-label-field floating-label-field--s3" placeholder="West" />
                        <span asp-validation-for="West" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">West</label>
                    </div>
                </div>


            </div>
        </div>


        <div id="FLOORDETAILS" style="margin-top:-15px;">
            <h3 class="my-3 d-flex sub-heading">FLOOR DETAILS</h3>

            <div class="table-section bg-white border shadow rounded">
                <div class="table-responsive">

                    <table class="table table-sm table-bordered mb-0 table-striped" id="tbl_posts2">
                        <thead class="text-nowrap">
                            <tr>
                                <th>Sr.No</th>
                                <th>Floor Name</th>
                                <th>Carpet Area</th>
                                <th>Electricity K Number</th>
                                <th>MCD Property Tax ID</th> 
                                <th>Water (KNO.No)</th>
                                <th>Current Use</th>
                                <th>Operation</th>
                            </tr>
                        </thead>
                        <tbody id="tbl_posts2_body">
                        </tbody>
                        <tbody class="tbody" id="add2">
                            <tr id="">
                                <td style="text-align:center;"><span class="sn">1</span></td>
                                <td>
                                    <select asp-for="FloorId" class="floating-label-field floating-label-field--s3" asp-items="@(new SelectList(Model.floorlist,"Id","Name"))">
                                        <option value="">---Select floor---</option>
                                    </select>

                                </td>
                                <td>
                                    <input asp-for="CarpetArea" type="text" class="floating-label-field floating-label-field--s3 numbers" maxlength="10" />
                                </td>
                                <td>
                                    <input asp-for="ElectricityKno" type="text" class="floating-label-field floating-label-field--s3" maxlength="12" />
                                </td>
                                <td>
                                    <input asp-for="McdpropertyTaxId" type="text" class="floating-label-field floating-label-field--s3" maxlength="15"/>
                                </td>
                                <td>
                                    <input asp-for="WaterKno" type="text" class="floating-label-field floating-label-field--s3" maxlength="15"/>
                                </td>
                                <td>
                                    <select asp-for="CurrentUse" class="floating-label-field floating-label-field--s3">
                                        <option value="">---Select Use---</option>
                                        <option value="Residential">Residential</option>
                                        <option value="Commercial">Commercial</option>
                                        <option value="Industrial">Industrial</option>
                                        <option value="institution">institution</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </td>
                                <td>
                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                        <a class="remove delete-record2 " title="delete" data-id="0" style="display:none;font-size:30px;"><i class="ri-delete-bin-fill"></i></a>
                                        <a class="view add-record2" data-added="0" title="Add" style="font-size:30px;"><i class="ri-add-circle-fill"></i></a>
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div id="OWNERSHIPDETAILS">
            <input type="hidden" value="1" id="hdncounter" />
            <div class="my-3 d-flex sub-heading">
                OCCUPANTS DETAILS
                <span class="ms-auto">
                    <a class="view add-occupant-record" data-added="0" title="Add Occupand Details" style="font-size:30px;"><i class="ri-add-circle-fill"></i></a>
                </span>
                @*<div class="floating-label-wrap mb-3 mb-md-0 " style="position: relative; left: 730px;">

                    <a class="remove delete-occupant-record " title="delete" data-id="0" style="display:none;font-size:30px;"><i class="ri-delete-bin-fill"></i></a>
                    <a class="view add-occupant-record" data-added="0" title="Add Occupand Details" style="font-size:30px;"><i class="ri-add-circle-fill"></i></a>
                </div>*@
            </div>
            <div id="divaddedpersonaldata">

            </div>
            <div id="divPersonaldata">
                <div>
                    <hr />
                    <a style="font-size:large;text-decoration:none" class="heading_1">Occupant : 1</a>
                    <span class="ms-auto">
                        <a class="remove delete-occupant-record" title="Delete occupant Details" data-id="0" style="display:none;font-size:16px;color:red;"><i class="ri-delete-bin-fill"></i></a>
                    </span>
                    <hr />
                    @*<div class="row">
                        <div class="col-md-6">
                            <div class="floating-label-wrap mb-3 mb-md-0">
                                <input asp-for="LatestAtsname" type="text" class="floating-label-field floating-label-field--s3" placeholder="Latest ATS Name" />
                                <span asp-validation-for="LatestAtsname" class="d-block text-danger field-validation-valid"></span>
                                <label class="floating-label">Latest ATS Name<span style="color:red">*</span></label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="floating-label-wrap mb-3 mb-md-0">
                                <input asp-for="LatestGpaname" type="text" class="floating-label-field floating-label-field--s3" placeholder="Latest ATS Name" />
                                <span asp-validation-for="LatestGpaname" class="d-block text-danger field-validation-valid"></span>
                                <label class="floating-label">Latest GPA Name<span style="color:red">*</span></label>
                            </div>
                        </div>
                    </div>*@
                    <div class="row mt-md-3">
                        <div class="col-md-6">
                            <div class="floating-label-wrap mb-3 mb-md-0">
                                <input asp-for="FirstName" type="text" class="floating-label-field floating-label-field--s3" placeholder="First Name" />
                                <span asp-validation-for="FirstName" class="d-block text-danger field-validation-valid"></span>
                                <label class="floating-label">First Name</label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="floating-label-wrap">
                                <input asp-for="MiddleName" type="text" class="floating-label-field floating-label-field--s3" placeholder="Middle Name" />
                                <span asp-validation-for="MiddleName" class="d-block text-danger field-validation-valid"></span>
                                <label class="floating-label">Middle Name</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-md-3">

                        <div class="col-md-6">
                            <div class="floating-label-wrap mb-3 mb-md-0">
                                <input asp-for="LastName" type="text" class="floating-label-field floating-label-field--s3" placeholder="Last Name" />
                                <span asp-validation-for="LastName" class="d-block text-danger field-validation-valid"></span>
                                <label class="floating-label">Last Name</label>

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="floating-label-wrap">
                                <input asp-for="SpouseName" type="text" class="floating-label-field floating-label-field--s3" placeholder="Spouse Name" />
                                <span asp-validation-for="SpouseName" class="d-block text-danger field-validation-valid"></span>
                                <label class="floating-label">Spouse's Name</label>
                            </div>
                        </div>


                    </div>
                    <div class="row mt-md-3">

                        <div class="col-md-6">
                            <div class="floating-label-wrap mb-3 mb-md-0">
                                <input asp-for="FatherName" type="text" class="floating-label-field floating-label-field--s3" placeholder="Father Name" />
                                <span asp-validation-for="FatherName" class="d-block text-danger field-validation-valid"></span>
                                <label class="floating-label">Father's Name</label>

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="floating-label-wrap mb-3 mb-md-0">
                                <input asp-for="MontherName" type="text" class="floating-label-field floating-label-field--s3" placeholder="Mother Name" />
                                <span asp-validation-for="MontherName" class="d-block text-danger field-validation-valid"></span>
                                <label class="floating-label">Mother's Name</label>

                            </div>
                        </div>


                    </div>
                    <div class="row mt-md-3">

                        <div class="col-md-6">
                            <div class="floating-label-wrap mb-3 mb-md-0">
                                <input asp-for="Epicid" type="text" class="floating-label-field floating-label-field--s3" placeholder="EPIC ID Number" />
                                <span asp-validation-for="Epicid" class="d-block text-danger field-validation-valid"></span>
                                <label class="floating-label">EPIC ID Number</label>

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="floating-label-wrap">
                                <input asp-for="EmailId" type="text" class="floating-label-field floating-label-field--s3" placeholder="Email ID" />
                                <span asp-validation-for="EmailId" class="d-block text-danger field-validation-valid"></span>
                                <label class="floating-label">EmailID</label>
                            </div>
                        </div>


                    </div>
                    <div class="row mt-md-3">

                        <div class="col-md-6">
                            <div class="floating-label-wrap mb-3 mb-md-0">
                                <input asp-for="MobileNo" type="text" class="floating-label-field floating-label-field--s3 numbers" maxlength="10" placeholder="Mobile Number" />
                                <span asp-validation-for="MobileNo" class="d-block text-danger field-validation-valid"></span>
                                <label class="floating-label">Mobile Number</label>

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="floating-label-wrap">
                                <input asp-for="AadharNo" type="text" class="floating-label-field floating-label-field--s3 numbers" maxlength="12" placeholder="AADHAAR" />
                                <span asp-validation-for="AadharNo" class="d-block text-danger field-validation-valid"></span>
                                <label class="floating-label">AADHAAR No</label>
                            </div>
                        </div>


                    </div>
                    <div class="row mt-md-3">

                        <div class="col-md-6">
                            <div class="floating-label-wrap mb-3 mb-md-0">
                                <input asp-for="Dob" type="date" class="floating-label-field floating-label-field--s3" placeholder="Date of Birth Number" />
                                <span asp-validation-for="Dob" class="d-block text-danger field-validation-valid"></span>
                                <label class="floating-label">Date of Birth</label>

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="floating-label-wrap">
                                <select asp-for="Gender" class="floating-label-field floating-label-field--s3">
                                    <option value="">---Select---</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Other">Other</option>
                                </select>
                                <span asp-validation-for="Gender" class="d-block text-danger field-validation-valid"></span>
                                <label class="floating-label">Gender</label>
                            </div>
                        </div>


                    </div>
                    <div class="row mt-md-3">
                        <div class="col-md-6">
                            <div class="floating-label-wrap mb-3 mb-md-0">
                                <input asp-for="PanNo" type="text" class="floating-label-field floating-label-field--s3" placeholder="PAN" />
                                <span asp-validation-for="PanNo" class="d-block text-danger field-validation-valid"></span>
                                <label class="floating-label">PAN No</label>

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="floating-label-wrap">
                                <input asp-for="ShareInProperty" type="text" class="floating-label-field floating-label-field--s3" placeholder="ShareinProperty" />
                                <span asp-validation-for="ShareInProperty" class="d-block text-danger field-validation-valid"></span>
                                <label class="floating-label">Share in Property(%)</label>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-md-3">
                        <div class="col-md-6">
                            <div class="floating-label-wrap">
                                <select asp-for="IsOccupingFloor" class="floating-label-field floating-label-field--s3">
                                    <option value="">---Select---</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                                <span asp-validation-for="IsOccupingFloor" class="d-block text-danger field-validation-valid"></span>
                                <label class="floating-label">Are you occuping the independent floor</label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="floating-label-wrap">
                                <input asp-for="DamagePaidInPast" type="text" class="floating-label-field floating-label-field--s3 numbers" placeholder="Damage Paid Amount" />
                                <span asp-validation-for="DamagePaidInPast" class="d-block text-danger field-validation-valid"></span>
                                <label class="floating-label">Damage paid in the past</label>
                            </div>
                        </div>
                        <div class="col-md-6" style="display:none" id="divIndFloor">
                            <div class="floating-label-wrap">
                                <input asp-for="FloorNo" type="text" class="floating-label-field floating-label-field--s3" placeholder="Floor No" />
                                <span asp-validation-for="FloorNo" class="d-block text-danger field-validation-valid"></span>
                                <label class="floating-label">Floor No</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-md-3">
                        <div class="col-md-6">
                            <div class="floating-label-wrap">
                                <a id=" " asp-action="OwnerPhoto" class="badge bg-primary px-2" target="_blank" style="display:none;">(View File)</a>
                                <input asp-for="FileOccupantPhoto" class="floating-label-field floating-label-field--s3 checkExtension" type="file" />
                                <input type="hidden" asp-for="OccupantPhotoPath" />
                                <label class="floating-label">Occupent Photo</label>
                            </div>
                        </div>

                        <!--<div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <a id="viewGpaFile" asp-action="GpaFile" class="badge bg-primary px-2" target="_blank" style="display:none;">(View File)</a>
                            <input asp-for="FileGpafile" class="floating-label-field floating-label-field--s3 checkExtension" type="file" />
                            <input type="hidden" asp-for="GpafilePath" />-->
                        @*<span asp-validation-for="GpafilePath" class="d-block text-danger field-validation-valid"></span>*@
                        <!--<label class="floating-label">GPA</label>
                        </div>
                    </div>-->
                    </div>
                    @*<div class="row mt-md-3">
                        <div class="col-md-6">
                            <div class="floating-label-wrap mb-3 mb-md-0">
                                <a id="viewAtsFile" asp-action="AtsFile" class="badge bg-primary px-2" target="_blank" style="display:none;">(View File)</a>
                                <input asp-for="FileAtsfile" class="floating-label-field floating-label-field--s3 checkExtension" type="file" />
                                <input type="hidden" asp-for="AtsfilePath" />
                                <span asp-validation-for="AtsfilePath" class="d-block text-danger field-validation-valid"></span>
                                <label class="floating-label">ATS</label>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
        <div id="LANDDETAILS">
            <h3 class="my-3 d-flex sub-heading">LAND DETAILS</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="floating-label-wrap">
                        <input asp-for="LitigrationStatus" type="text" class="floating-label-field floating-label-field--s3" placeholder="Litigation Status" />
                        <span asp-validation-for="LitigrationStatus" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">Litigation Status</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input asp-for="IsHightTensionLine" type="text" class="floating-label-field floating-label-field--s3" placeholder="Fall in any High Tension" />
                        <span asp-validation-for="IsHightTensionLine" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">Does The Land Fall in any High Tension</label>
                    </div>
                </div>
            </div>
            <div class="row mt-md-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        @*<input asp-for="CourtCaseStatus" type="text" class="floating-label-field floating-label-field--s3" placeholder="Court Case Status" />*@
                        <select asp-for="CourtCaseStatus" class="floating-label-field floating-label-field--s3">
                            <option value="">---Select---</option>
                            <option value="No">Yes</option>
                            <option value="Yes">No</option>
                        </select>
                        <span asp-validation-for="CourtCaseStatus" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">Court Case Status (if any)</label>
                    </div>
                </div>
                @*</div>*@
                @*<div id="divCoutCase">
                <div class="row mt-md-3">*@
                <div class="col-md-6">
                    <div class="floating-label-wrap">
                        <input asp-for="CourtCasedetail" type="text" class="floating-label-field floating-label-field--s3" placeholder="Court Case Details" />
                        <span asp-validation-for="CourtCasedetail" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">Details of Court Case</label>
                    </div>
                </div>
            </div>


            <div class="row mt-md-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input asp-for="CourtName" type="text" class="floating-label-field floating-label-field--s3" placeholder="Court Name" />
                        <span asp-validation-for="CourtName" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">Name of Court</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="floating-label-wrap">
                        <input asp-for="CaseNo" type="text" class="floating-label-field floating-label-field--s3" placeholder="Case Number" />
                        <span asp-validation-for="CaseNo" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">Case Number</label>
                    </div>
                </div>
            </div>
            <div class="row mt-md-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input asp-for="PetitionerRespondent" type="text" class="floating-label-field floating-label-field--s3" placeholder="Petitioner" />
                        <span asp-validation-for="PetitionerRespondent" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">Petitioner/Respondent</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="floating-label-wrap">
                        <input asp-for="OppositeParty" type="text" class="floating-label-field floating-label-field--s3" placeholder="Opposite Party" />
                        <span asp-validation-for="OppositeParty" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">Name of Opposite Party</label>
                    </div>
                </div>
            </div>

        </div>


        <div id="GPADETAIL" style="margin-top:-15px;">
            <h3 class="my-3 d-flex sub-heading">GPA DETAIL</h3>

            <div class="table-section bg-white border shadow rounded">
                <div class="table-responsive">

                    <table class="table table-sm table-bordered mb-0 table-striped" id="tbl_posts3">
                        <thead class="text-nowrap">
                            <tr>
                                <th>Sr.No</th>
                                <th>Date of execution of GPA</th>
                                <th>Name of the Seller</th>
                                <th>Name of the Payer</th>
                                <th>plot Address as per GPA</th>
                                <th>plot Area as per GPA (sqm)</th>
                                <th>GPA Document</th>
                                <th>Operation</th>
                            </tr>
                        </thead>
                        <tbody id="tbl_posts3_body">
                        </tbody>
                        <tbody class="tbody" id="add3">
                            <tr id="">
                                <td style="text-align:center;"><span class="sn3">1</span></td>
                                <td>
                                    <input asp-for="DateOfExecutionOfGpa" type="date" class="floating-label-field floating-label-field--s3" id="txtExecutionDateGPA" />
                                </td>
                                <td>
                                    <input asp-for="NameOfTheSeller" type="text" class="floating-label-field floating-label-field--s3" id="txtSellerNameGPA" />
                                </td>
                                <td>
                                    <input asp-for="NameOfThePayer" type="text" class="floating-label-field floating-label-field--s3" id="txtPayerNameGPA" />
                                </td>
                                <td>
                                    <input asp-for="AddressOfThePlotAsPerGpa" type="text" class="floating-label-field floating-label-field--s3" id="txtPlotAddressGPA" />
                                </td>
                                <td>
                                    <input asp-for="AreaOfThePlotAsPerGpa" type="text" class="floating-label-field floating-label-field--s3 numbers" id="txtPlotAreaGPA" />
                                </td>
                                <td>
                                    <input asp-for="FileGpafile" class="floating-label-field floating-label-field--s3 checkExtension" type="file" />
                                </td>
                                <td>
                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                        <div class="floating-label-wrap mb-3 mb-md-0">
                                            <a class="remove delete-record3 " title="delete" data-id="0" style="display:none;font-size:20px;color:red"><i class="ri-delete-bin-fill"></i></a>
                                            <a class="view add-record3" data-added="0" title="Add" style="font-size:30px;"><i class="ri-add-circle-fill"></i></a>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div id="ATSDETAIL" style="margin-top:-15px;">
            <h3 class="my-3 d-flex sub-heading">ATS DETAIL</h3>

            <div class="table-section bg-white border shadow rounded">
                <div class="table-responsive">

                    <table class="table table-sm table-bordered mb-0 table-striped" id="tbl_posts4">
                        <thead class="text-nowrap">
                            <tr>
                                <th>Sr.No</th>
                                <th>Date of execution of ATS</th>
                                <th>Name of the Seller</th>
                                <th>Name of the Payer</th>
                                <th>Plot Address as per ATS</th>
                                <th>plot Area  as per ATS (sqm)</th>
                                <th>ATS Document</th>
                                <th>Operation</th>
                            </tr>
                        </thead>
                        <tbody id="tbl_posts4_body">
                        </tbody>
                        <tbody class="tbody" id="add4">
                            <tr id="">
                                <td style="text-align:center;"><span class="sn4">1</span></td>
                                <td>
                                    <input asp-for="DateOfExecutionOfAts" type="date" class="floating-label-field floating-label-field--s3" id="txtExecutionDateATS" />
                                </td>
                                <td>
                                    <input asp-for="NameOfTheSellerAts" type="text" class="floating-label-field floating-label-field--s3" id="txtSellerNameATS" />
                                </td>
                                <td>
                                    <input asp-for="NameOfThePayerAts" type="text" class="floating-label-field floating-label-field--s3" id="txtPayerNameATS" />
                                </td>
                                <td>
                                    <input asp-for="AddressOfThePlotAsPerAts" type="text" class="floating-label-field floating-label-field--s3" id="txtPlotAddressATS" />
                                </td>
                                <td>
                                    <input asp-for="AreaOfThePlotAsPerAts" type="text" class="floating-label-field floating-label-field--s3 numbers" id="txtPlotAreaATS" />
                                </td>
                                <td>
                                    <input asp-for="FileAtsfile" class="floating-label-field floating-label-field--s3 checkExtension" type="file" />
                                </td>
                                <td>
                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                        <a class="remove delete-record4 " title="delete" data-id="0" style="display:none;font-size:20px;color:red"><i class="ri-delete-bin-fill"></i></a>
                                        <a class="view add-record4" data-added="0" title="Add" style="font-size:30px;"><i class="ri-add-circle-fill"></i></a>
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        @*<div id="ATSDETAIL" style="margin-top:-15px;">
            <h3 class="my-3 d-flex sub-heading">HOLDER DETAIL</h3>

            <div class="table-section bg-white border shadow rounded">
                <div class="table-responsive">

                    <table class="table table-sm table-bordered mb-0 table-striped" id="tbl_posts5">
                        <thead class="text-nowrap">
                            <tr>
                                <th>Sr.No</th>
                                <th>Name of the GPA/ATS</th>
                                <th>Death Certificate No</th>
                                <th>Death Certificate Date</th>
                                <th>Name of Surviving Member</th>
                                <th>Relationship</th>
                                <th>Whether surviving member<br /> relinquished his/her share</th>
                                <th>Operation</th>
                            </tr>
                        </thead>
                        <tbody id="tbl_posts5_body">
                        </tbody>
                        <tbody class="tbody" id="add5">
                            <tr id="">
                                <td style="text-align:center;"><span class="sn5">1</span></td>
                                <td>
                                    <input asp-for="NameOfGpaats" type="text" class="floating-label-field floating-label-field--s3" id="txtNameofGPAats" />
                                </td>
                                <td>
                                    <input asp-for="DeathCertificateNo" type="text" class="floating-label-field floating-label-field--s3" id="txtDeathCertificateNo" />
                                </td>
                                <td>
                                    <input asp-for="DeathCertificateDate" type="date" class="floating-label-field floating-label-field--s3" id="txtDeathCertificateDate" />
                                </td>
                                <td>
                                    <input asp-for="NameOfSurvivingMember" type="text" class="floating-label-field floating-label-field--s3" id="txtNameOfSurvivingMember" />
                                </td>
                                <td>
                                    <input asp-for="Relationship" type="text" class="floating-label-field floating-label-field--s3" id="txtRelationship" />
                                </td>
                                <td>
                                    <input asp-for="IsRelinquished" type="text" class="floating-label-field floating-label-field--s3" id="txtIsRelinquished" />
                                </td>

                                <td>
                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                        <a class="remove delete-record5 " title="delete" data-id="0" style="display:none;font-size:30px;"><i class="ri-delete-bin-fill"></i></a>
                                        <a class="view add-record5" data-added="0" title="Add" style="font-size:30px;"><i class="ri-add-circle-fill"></i></a>
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>*@
        <div id="DivMainContentForm" style="margin-top:-15px;">
            <h3 class="my-3 d-flex sub-heading">Payment History</h3>

            <div class="table-section bg-white border shadow rounded">
                <div class="table-responsive">

                    <table class="table table-sm table-bordered mb-0 table-striped" id="tbl_Payment">
                        <thead class="text-nowrap">
                            <tr>
                                <th>Sr.No</th>
                                <th>Payee Name</th>
                                <th>Receipt No.</th>
                                <th>Mode of Payment</th>
                                <th>Date of Payment</th>
                                <th>Amount(Rs.)</th>
                                <th>Upload receipt</th>
                                <th>Operation</th>
                            </tr>
                        </thead>
                        <tbody id="tbl_Payment_body">
                        </tbody>
                        <tbody class="tbody" id="addPayment">
                            <tr id="">
                                <td style="text-align:center;"><span class="sn6">1</span></td>
                                <td>
                                    <input asp-for="Name" type="text" class="floating-label-field floating-label-field--s3" id="txtPaymentName" />
                                </td>
                                <td>
                                    <input asp-for="RecieptNo" type="text" class="floating-label-field floating-label-field--s3" id="txtRecieptNo" />
                                </td>
                                <td>
                                    <input asp-for="PaymentMode" type="text" class="floating-label-field floating-label-field--s3" id="txtPaymentMode" />
                                </td>
                                <td>
                                    <input asp-for="PaymentDate" type="date" class="floating-label-field floating-label-field--s3" id="txtPaymentDate" />
                                </td>
                                <td>
                                    <input asp-for="Amount" type="text" class="floating-label-field floating-label-field--s3 numbers" id="txtAmount" />
                                </td>
                                <td>
                                    <a id="viewRecieptId" asp-action="ViewRecieptFile" class="badge bg-primary px-2" target="_blank" style="display:none;">(View File)</a>
                                    <input asp-for="FileRecieptDocument" class="floating-label-field floating-label-field--s3 checkExtension" type="file" />
                                    <input type="hidden" />
                                </td>
                                <td>
                                    <div class="floating-label-wrap mb-3 mb-md-0">

                                        <a class="delete-recordPayment" title="delete" data-id="0" style="display:none;font-size:20px;color:red"><i class="ri-delete-bin-fill"></i></a>
                                        <a class="add-recordPayment" data-added="0" style="font-size:40px;"><i class="ri-add-circle-fill"></i></a>
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div id="DETAILSOFDOCUMENTS">
            <h3 class="my-3 d-flex sub-heading">DETAILS OF DOCUMENTS</h3>
            <div class="row">

                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <a id="viewPropertyPhoto" asp-action="PhotographarFP" class="badge bg-primary px-2" target="_blank" style="display:none;">(View File)</a>
                        <input type="file" asp-for="FilePropertyPhoto" class="floating-label-field floating-label-field--s3 checkExtension" placeholder="Name">
                        <span asp-validation-for="PropertyPhotographFilePath" class="d-block text-danger field-validation-valid"></span>
                        <label for="field-1" class="floating-label"> Photograph of the Property @*<span style="color:red">(.pdf only)</span>*@</label>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <a id="viewElectricityBill" asp-action="ElectricityBillFP" class="badge bg-primary px-2" target="_blank" style="display:none;">(View File)</a>
                        <input asp-for="FileElectricityBill" class="floating-label-field floating-label-field--s3 checkExtension" type="file" />
                        @*<input type="hidden" asp-for="ElectricityBillDocument" />*@
                        <span asp-validation-for="ElectricityBillFilePath" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">Electricity Bill@*<span style="color:red">*</span>*@</label>

                    </div>
                </div>
            </div>

            <div class="row mt-md-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap">
                        <a id="viewPaymentDocument" asp-action="PaymentDocumentFP" class="badge bg-primary px-2" target="_blank" style="display:none;">(View File)</a>
                        <input asp-for="FileWaterBill" class="floating-label-field floating-label-field--s3 checkExtension" type="file" />
                        @*<input type="hidden" asp-for="PaymentDocument" />*@
                        <span asp-validation-for="WaterBillFilePath" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">Water bill@*<span style="color:red">*</span>*@</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="floating-label-wrap">
                        <a id="viewPaymentDocument" asp-action="PaymentDocumentFP" class="badge bg-primary px-2" target="_blank" style="display:none;">(View File)</a>
                        <input asp-for="FilePropertyTaxReceipt" class="floating-label-field floating-label-field--s3 checkExtension" type="file" />
                        @*<input type="hidden" asp-for="PaymentDocument" />*@
                        <span asp-validation-for="PropertyTaxReceiptFilePath" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">Property Tax Receipt@*<span style="color:red">*</span>*@</label>
                    </div>
                </div>
            </div>
        </div>
        <div id="Declaration">

            <h2 class="my-3 sub-heading">Declaration</h2>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <input asp-for="DeclarationStatus1" type="checkbox" />
                        <input type="hidden" asp-for="Declaration1" />

                        I certify that the particulars filled in this form are true and correct to the best of my knowledge and i am authorized to sign this form. I am aware of the penel provisions of the Delhi Development Authority, 2019 which are attracted on wilful suppression and submission of false and in correct particulars.
                        <span asp-validation-for="Declaration1" id="DeclarationStatus1Msg" class="text-danger" style="display:none;font-weight:700">Checkbox is Mandatory</span>
                        <br />
                        <input asp-for="DeclarationStatus2" type="checkbox" />
                        <input type="hidden" asp-for="Declaration2" />
                        I understand that any of the information supplied by me is found incorrect, my application shall be rejected.
                        <span asp-validation-for="Declaration2" id="DeclarationStatus2Msg" class="text-danger" style="display:none;font-weight:700">Checkbox is Mandatory</span>
                        <br />
                        <input asp-for="DeclarationStatus3" type="checkbox" />
                        <input type="hidden" asp-for="Declaration3" />
                        I understand that any email sent to me on the ID provided by me shall be deemed service of notice to me.
                        <span asp-validation-for="Declaration3" id="DeclarationStatus3Msg" class="text-danger" style="display:none;font-weight:700">Checkbox is Mandatory</span>
                        <br /><br />
                        <b style="color:red;">
                            Note: The compliance of above section will not entitle occupancy rights and super structure claim of the property and all the occupent will continue to be considered as unauthorised occupent of the property.
                        </b>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class=" col-md-12">
                <button class="btn btn-theme " type="submit">Submit</button>
                @Html.ActionLink("Back", "Index", "NewSelfAssessmentForm", null, new { @class = "btn btn-theme " })
            </div>
        </div>
    </form>
</div>
<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/newdamageselfassessmentcreate.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/newdamageselfassessmentcreate.min.js" asp-append-version="true"></script>
</environment>

