@model IEnumerable<Libraries.Model.Entity.Module>
@{int rowNo = 0; }


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<link href="~/css/dataTables.jqueryui.min.css" rel="stylesheet" />
<link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />

<script src="~/js/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js" integrity="sha256-it5nQKHTz+34HijZJQkpNBIHsjpV8b6QzMJs9tmOBSo=" crossorigin="anonymous"></script>*@

<div class="row">
    <div class="col-sm-12">
        <div class="myapp-hed">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;">Module Master</h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div>
    <a asp-action="Create" class="btn btn-primary pull-right myapp-hed1 " style="margin-top: -10px;">Add New</a>
    @*@Html.ActionLink("Add New", "Create", "ModuleMaster", null, new { @class = "btn btn-primary pull-right myapp-hed1 ", style = "margin-top: -10px;" })*@
</div>
<br />
<br />
<div class="container-fluid" id="MainContentForm">
    <div class="card  table-card" style="overflow:scroll;">

        <table class="table table-responsive table-bordered table-card">

            <thead class="thead">
                <tr>
                    <th>Sr.No</th>
                    <th>Module Name</th>

                    <th> Status</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody class="tbody">
                @foreach (var item in Model)
                {

                <tr>
                    <td>@(rowNo += 1)</td>
                    <td>@item.Name</td>
                    <td>
                        @(item.IsActive  == 1 ? "Active" : "Inactive" )
                    </td>

                    <td>
                        <a asp-action="View" asp-route-id="@item.Id" title="View">  <i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i> </a>
                       
                        <a asp-action="Edit" asp-route-id="@item.Id" title="edit"> &nbsp; | &nbsp;  <i class="fa fa-pencil" aria-hidden="true"></i> </a>
                       
                        <a asp-action="DeleteConfirmed" asp-route-id="@item.Id" title="delete" onclick="return confirm('Are You Sure, You want to Delete this Record?')">   &nbsp;|&nbsp;<i class="fa fa-trash" aria-hidden="true"></i></a>
                       
                    </td>
                </tr>


                }
                </tbody>

        </table>

    </div>
</div>
<br />
<br />


<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

<script src="~/js/dataTables.jqueryui.js"></script>
