@*@model Libraries.Repository.Common.PagedResult<Libraries.Model.Entity.Vacantlandimage>*@

@model IEnumerable<Dto.Search.StatusOfVacantLandListDataDto>

<table class="table table-sm table-bordered mb-0 table-striped">
    <thead class="text-nowrap">

        <tr>

            <th>Department</th>
            <th>Total No of Plots</th>
            <th>
                No of Plots against which photos uploaded as on date
                <span id="currentdate"></span>
            </th>
           
            <th>No of plots against which photos are not being uploaded</th>
            <th>No of photographs uploaded</th>

        </tr>

    </thead>
    <tbody>
        @if (Model != null && Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                <tr>

                    <td>@item.DepartmentName</td>
                    <td>@item.TotalNoPlots </td>
                    <td>@item.NoPlotsPhotosUploaded </td>
                    <td>@item.NoPlotsPhotosNotUploaded </td>
                    <td>@item.NoOfPhotosUploaded </td>
                   




                    @*<td>
                        @(item.DateofTakenOver != null ? Convert.ToDateTime(item.DateofTakenOver).ToString("dd MMM yyyy") : "Not Available")
                    </td>*@


                </tr>
            }
        }
        else
        {
            <tr>
                <th colspan="14" style="text-align:center"> No Record Available! </th>
            </tr>
        }

    </tbody>

</table>

@*@await Component.InvokeAsync("Pager", new { totalCount = Model.RowCount, pageNumber = Model.CurrentPage, pageSize = Model.PazeSize })*@
