@model System.Collections.Generic.IList<Dto.Master.UserNotificationAlertDto>

<div class="dropdown noti text-white my-2  mr-3 order-md-3 ml-auto">
    <a href="#" role="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class='p-2 d-block text-white no-dec'>
        <i class="ri-notification-2-fill" style="font-size: 1.15rem"></i>
        @if (Model.Count > 0)
        {
            <small class="bg-success rounded-circle position-absolute nofi-active">@Model[0].TotalNotification</small>
        }
    </a>   

    <div class="dropdown-menu dropdown-menu-right pb-0" aria-labelledby="notification" style="width: 320px;">

        <ul class="list-unstyled m-0 p-0">
            @foreach (var menu in Model)
            {
                <li class="px-3 border-bottom">
                    @if (@menu.URL == "#")
                    {
                        <a href="@menu.URL" class="d-flex align-items-center py-2 border-bottom" onclick="NoNotification()">
                            <div class="noti-time text-center pr-2">
                                <i class="ri-discuss-line"></i>
                                <small class="d-block w-100" style="height: auto;">@(menu.SubmitDate == "0" ?"Today" : menu.SubmitDate + " days ago")</small>
                            </div>
                            <p class="m-0 text-left" style="line-height: 1.3">
                                @menu.Message
                            </p>
                        </a>
                    }
                    else
                    {
                        <a class="d-flex align-items-center py-2 border-bottom" asp-action="UpdateUserNotification" asp-controller="UserNotification" asp-route-id="@menu.Id" asp-route-url="@menu.URL" onclick="RefreshNotification()" target="_blank">
                            @*onclick="UpdateStatus(@menu.Id,@menu.URL)"*@
                            <div class="noti-time text-center pr-2">
                                <i class="ri-discuss-line"></i>
                                <small class="d-block w-100" style="height: auto;">@(menu.SubmitDate == "0" ?"Today" : menu.SubmitDate + " days ago")</small>
                            </div>
                            <p class="m-0 text-left" style="line-height: 1.3">
                                @menu.Message
                            </p>
                        </a>
                    }
                </li>
            }
            <li class="p-3">
                <a asp-controller="UserNotification" asp-action="Index" class="btn btn-block btn-primary rounded-0 btn-sm small py-2">
                    View All Notification
                </a>
            </li>
        </ul>

    </div>
</div>

