@model IEnumerable<Libraries.Model.Entity.Payment>

<table class="table table-sm table-bordered mb-0 table-striped">
    <thead class="text-nowrap">
        <tr>

            <th>Payment Type </th>
            <th>Transaction No</th>
            <th>From Date</th>
            <th>To Date</th>
            <th>Transaction Type</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @(item.LeasePaymentType == null ? "" : item.LeasePaymentType.Name)
                    </td>
                    <td>
                        @item.PaymentTransactionNo
                    </td>
                    <td>
                        @(item.FromDate!= null ? Convert.ToDateTime(item.FromDate).ToString("dd-MMM-yyyy") : "Not Available")
                    </td>
                    <td>
                        @(item.ToDate!= null ? Convert.ToDateTime(item.ToDate).ToString("dd-MMM-yyyy") : "Not Available")
                    </td>
                    <td>
                        @(item.TransactionType == "Dr" ? "Debit" : "Credit")
                    </td>
                    <td>
                        @item.Amount
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <th colspan="14" style="text-align:center"> No Record Available! </th>
            </tr>
        }
    </tbody>
</table>

<partial name="../Shared/_ValidationScriptsPartial.cshtml" />

