@model Libraries.Model.Entity.Fixingdemolition
@await Component.InvokeAsync("PageHeader", new { pageName = "Request For Fixing of Demolition Programme" })
@{ int recNo = 0;}
@{int FirFile = 0;}
@{int LocationMapFile = 0;}
@{int PhotoFile = 0;}
<div class="pt-3">
    <div class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <h3 class="mb-3 d-flex">Details</h3>
        <input type="hidden" asp-for="Encroachment.WatchWardId" />
        <div id="WatchWardDetailsDiv">

        </div>
        <div class="permission mt-2 accordion list-unstyled m-0 ">
            <div class="card">
                <a class="p-2 no-dec d-flex align-items-center" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true"
                   aria-controls="collapseExample">
                    <i class="ri-arrow-right-s-fill"></i>
                    <span class="text ml-1 mr-auto">View Inspection/Encroachment Register Details</span>
                    <i class="arrow ri-arrow-drop-down-line slow"></i>
                </a>
                <div class="list-unstyled m-0 pl-2 pr-1 pl-md-4 pr-md-3 collapse" id="collapseExample">
                    <div id="allDetails">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <div class="floating-label-wrap">
                                    <select class="floating-label-field floating-label-field--s3" disabled
                                            asp-for="Encroachment.DepartmentId"
                                            asp-items="@(new SelectList(Model.Encroachment.DepartmentList,"Id","Name"))"
                                            onchange="return onChangeDepartment(this.options[this.selectedIndex].value);" style="width:100%;">
                                        <option value="">--Select--</option>
                                    </select>
                                    <label class="floating-label">Department</label>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="floating-label-wrap">
                                    <select class="floating-label-field floating-label-field--s3" disabled
                                            asp-for="Encroachment.ZoneId"
                                            asp-items="@(new SelectList(Model.Encroachment.ZoneList,"Id","Name"))"
                                            onchange="return onChangeZone(this.options[this.selectedIndex].value)"
                                            style="width:100%;">
                                        <option value="">--Select--</option>
                                    </select>
                                    <label class="floating-label">Zone</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <div class="floating-label-wrap">
                                    <select class="floating-label-field floating-label-field--s3" disabled
                                            asp-items="@(new SelectList(Model.Encroachment.DivisionList,"Id","Name"))"
                                            asp-for="Encroachment.DivisionId"
                                            style="width:100%;">
                                        <option value="">--Select--</option>
                                    </select>
                                    <label class="floating-label">Division</label>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="floating-label-wrap">
                                    <select class="floating-label-field floating-label-field--s3" disabled
                                            asp-for="Encroachment.LocalityId"
                                            asp-items="@(new SelectList(Model.Encroachment.LocalityList,"Id","Name"))"
                                            style="width:100%;">
                                        <option value="">--Select--</option>
                                    </select>
                                    <label class="floating-label">Locality(Village) Name</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <div class="floating-label-wrap mb-3 mb-md-0">
                                    <input asp-for="Encroachment.KhasraNo" placeholder="Khasra No" disabled class="floating-label-field floating-label-field--s3" />
                                    <label class="floating-label">Khasra No.</label>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="floating-label-wrap mb-3 mb-md-0">
                                    <input type="Date" asp-for="Encroachment.EncrochmentDate" placeholder="Date" disabled class="floating-label-field floating-label-field--s3" />
                                    <label class="floating-label">Date</label>
                                </div>
                            </div>
                        </div>
                        <div id="DivArea">
                            <h2 class="my-3 sub-heading">Area</h2>
                            <div class="row mt-md-3">

                                <div class="col-md-4">
                                    <div class="floating-label-wrap">
                                        <select class="floating-label-field floating-label-field--s3" asp-for="Encroachment.AreaUnit" disabled>
                                            <option value="1">Sq Yd.</option>
                                            <option value="2">Acre</option>
                                            <option value="3">Hectare</option>
                                            <option value="4">Sq. Mt.</option>
                                        </select>
                                        <label asp-for="Encroachment.AreaUnit" class="floating-label">Area Unit </label>
                                    </div>
                                </div>
                            </div>

                            <div id="AreainSqAcreHec">
                                <div class="row mt-md-3">
                                    <div class="col-md-4">
                                        <div class="floating-label-wrap mb-3 mb-md-0">
                                            <input asp-for="Encroachment.TotalAreaInSqAcreHt" type="text" disabled class="floating-label-field floating-label-field--s3 numbers TotalCalculation" placeholder="Total Area(Sq Yd./Acre/Hectare)" onkeypress="return numericDecimal(this);" onpaste="return false;" />
                                            <label class="floating-label">Total Area(Sq Yd./Acre/Hectare)</label>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row mt-md-3">
                                <div class="col-md-6">
                                    <div class="floating-label-wrap mb-3 mb-md-0">

                                        <input type="text" class="floating-label-field floating-label-field--s3 numbers" disabled placeholder="Area" asp-for="Encroachment.Area" />
                                        <label class="floating-label">Area(in sq. mt.)</label>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row mt-md-3">
                            <div class="form-group col-md-6">
                                <div class="floating-label-wrap mb-3 mb-md-0">
                                    <textarea asp-for="Encroachment.LocationAddressWithLandMark" placeholder="Location/Address with land mark" disabled
                                              class="floating-label-field floating-label-field--s3 "></textarea>
                                    <label class="floating-label">Location/Address with land mark</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="floating-label-wrap mb-3 mb-md-0">
                                    <input type="text" disabled placeholder="Name of Encroacher" class="floating-label-field floating-label-field--s3" asp-for="Encroachment.EncroacherName" />
                                    <label class="floating-label">Name of Encroacher</label>
                                </div>
                            </div>
                        </div>

                        
                        <div id="Divclsification">
                            <h2 class="my-3 sub-heading">Details of Encroachment</h2>
                            <div class="table-section bg-white border shadow rounded">
                                <div class="table-responsive ">
                                    <table id="tbl_posts" class="table table-sm table-bordered mb-0 table-striped">
                                        <thead class="text-nowrap">
                                            <tr>
                                                <th>Sr.No</th>
                                                <th>Name of Structure</th>
                                                <th>Construction Status</th>
                                                <th>Area[Approx.]</th>
                                                <th>Type[residential/religious/compercial]</th>
                                                <th>Religious Structure</th>
                                                <th>Age of Encroachment</th>
                                                <th>Reference No. on  Location</th>
                                                <th>Count of Structure</th>

                                            </tr>
                                        </thead>
                                        <tbody id="tbl_posts_body">
                                        </tbody>
                                        <tbody id="add">
                                            <tr id="">
                                                <td style="text-align:center;"><span class="sn">1</span></td>
                                                <td>
                                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                                        <input asp-for="Encroachment.NameOfStructure" placeholder="Name Of Structure" id="NameOfStructure" disabled
                                                               class="floating-label-field floating-label-field--s3 " />

                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="floating-label-wrap">
                                                        <select class="floating-label-field floating-label-field--s3" disabled
                                                                asp-for="Encroachment.ConstructionStatus" style="width:100%;">
                                                            <option value="Select">Select</option>
                                                            <option value="Kachcha">Kachcha</option>
                                                            <option value="Pakka">Pakka</option>
                                                            <option value="Under Construction">Under Construction</option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                                        <input asp-for="Encroachment.AreaApprox" placeholder="Area Approx" id="AreaApprox" disabled
                                                               class="floating-label-field floating-label-field--s3 " />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                                        <input asp-for="Encroachment.Type" type="text" placeholder="Type" id="Type" disabled
                                                               class="floating-label-field floating-label-field--s3 " />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="floating-label-wrap">
                                                        <select asp-for="Encroachment.ReligiousStructure" disabled class="floating-label-field floating-label-field--s3">
                                                            <option value="No">No</option>
                                                            <option value="Yes">Yes</option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                                        <input asp-for="Encroachment.DateOfEncroachment" placeholder="Date Of Encroachment" id="DateOfEncroachment" disabled
                                                               class="floating-label-field floating-label-field--s3 onlynumbers" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                                        <input asp-for="Encroachment.ReferenceNoOnLocation" type="text" placeholder="Reference No On Location" id="ReferenceNoOnLocation" disabled
                                                               class="floating-label-field floating-label-field--s3 number " />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                                        <input asp-for="Encroachment.CountOfStructure" type="text" placeholder="Count Of Structure" id="CountOfStructure" disabled
                                                               class="floating-label-field floating-label-field--s3 onlynumbers " />
                                                    </div>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <br /> <br />
                        <div class="row">
                            <div class="form-group col-md-6">
                                <div class="floating-label-wrap">
                                    <select class="floating-label-field floating-label-field--s3" disabled
                                            asp-for="Encroachment.StatusOfLand"
                                            onchange="onChangeLandStatus(this.value)" style="width:100%;">
                                        <option value="DDA Land">DDA Land</option>
                                        <option value="Other Govt. Land">Other Govt. Land</option>
                                        <option vlaue="Private Land">Private Land</option>
                                    </select>
                                    <label class="floating-label">Staus of Land</label>
                                </div>
                            </div>
                        </div>
                        <div id="divForLandStatus">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <div class="floating-label-wrap">
                                        <select class="floating-label-field floating-label-field--s3" asp-for="Encroachment.IsPossession"
                                                disabled style="width:100%;">
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>
                                        <label class="floating-label">Possession</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                @*<div class="col-md-6" id="divPossessionGroup" style="display:block;">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="hidden" asp-for="Encroachment.PossessionType" id="PossessionType" value="Formal Possession" disabled />
                                            <input type="hidden" asp-for="Id" id="hdnId" />
                                            <input type="hidden" asp-for="IsActive" value="1" />
                                            <div class="form-check theme">
                                                <input class="form-check-input" type="radio" name="grpPossession" id="rdbFormal" checked disabled>
                                                <label class="form-check-label" for="radio">
                                                    Formal Possession
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-check theme">
                                                <input class="form-check-input" type="radio" name="grpPossession" id="rdbFlexible" disabled>
                                                <label class="form-check-label" for="radio">
                                                    Physical Possession
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                                <div class="col-md-6" id="divDepartment" style="display:block;">
                                    <div class="floating-label-wrap">
                                        <select class="floating-label-field floating-label-field--s3" disabled
                                                asp-for="Encroachment.OtherDepartment"
                                                asp-items="@(new SelectList(Model.Encroachment.DepartmentList,"Id","Name"))" style="width:100%;">
                                            <option value="0">Select</option>
                                        </select>
                                        <span asp-validation-for="Encroachment.OtherDepartment" class="text-danger"></span>
                                        <label class="floating-label">Other Department </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-3">
                            <div class="form-group col-md-6">
                                <div class="floating-label-wrap mb-3 mb-md-0">
                                    @{
                                        if (Model.Encroachment.EncroachmentFirFileDetails != null && Model.Encroachment.EncroachmentFirFileDetails.Count > 0)
                                        {
                                            <input type="file" asp-for="Encroachment.Firfile" placeholder="Fir Details" id="Firfile" class="floating-label-field floating-label-field--s3" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" multiple />
                                            foreach (var item in Model.Encroachment.EncroachmentFirFileDetails)
                                            {
                                                <a asp-action="DownloadFirfile" asp-route-id="@item.Id" target="_blank" class="badge badge-primary px-2"> (View Existing Document @(FirFile += 1) )</a>

                                            }
                                            <span asp-validation-for="Encroachment.Firfile" class="text-danger"></span>
                                        }
                                        else
                                        {
                                            <input type="file" asp-for="Encroachment.Firfile" id="Firfile"
                                                   class="floating-label-field floating-label-field--s3" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" multiple />
                                            <span asp-validation-for="Encroachment.Firfile" class="text-danger"></span>
                                        }
                                    }
                                    <label class="floating-label">FIR Details</label>

                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <div class="floating-label-wrap mb-3 mb-md-0">
                                    <input type="text" asp-for="Encroachment.PoliceStation" placeholder="Police Station" disabled class="floating-label-field floating-label-field--s3" />
                                    <span asp-validation-for="Encroachment.PoliceStation" class="text-danger"></span>
                                    <label class="floating-label">Police Station</label>
                                </div>

                            </div>
                        </div>
                        <div class="row ">
                            <div class="form-group col-md-6">
                                <div class="floating-label-wrap mb-3 mb-md-0">
                                    <input type="text" asp-for="Encroachment.SecurityGuardOnDuty" placeholder="Security Guard on Duty" disabled class="floating-label-field floating-label-field--s3" />
                                    <span asp-validation-for="Encroachment.SecurityGuardOnDuty" class="text-danger"></span>
                                    <label class="floating-label">Officer on Duty</label>
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <div class="floating-label-wrap mb-3 mb-md-0">

                                    @{
                                        if (Model.Encroachment.EncroachmentLocationMapFileDetails != null && Model.Encroachment.EncroachmentLocationMapFileDetails.Count > 0)
                                        {
                                            <input type="file" asp-for="Encroachment.LocationMapFile" id="LocationMapFile" placeholder="Location Map" class="floating-label-field floating-label-field--s3" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" multiple />
                                            foreach (var item in Model.Encroachment.EncroachmentLocationMapFileDetails)
                                            {
                                                <a asp-action="DownloadLocationMapFile" asp-route-id="@item.Id" target="_blank" c class="badge badge-primary px-2"> (View Existing Document @(LocationMapFile += 1) )</a>

                                            }
                                            <span asp-validation-for="Encroachment.LocationMapFile" class="text-danger"></span>
                                        }
                                        else
                                        {
                                            <input type="file" asp-for="Encroachment.LocationMapFile" id="LocationMapFile" placeholder="Location Map" class="floating-label-field floating-label-field--s3" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" multiple />
                                            <span asp-validation-for="Encroachment.LocationMapFile" class="text-danger"></span>
                                        }
                                    }
                                    <label class="floating-label">Location Map</label>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <div class="floating-label-wrap mb-3 mb-md-0">

                                    @{
                                        if (Model.Encroachment.EncroachmentPhotoFileDetails != null && Model.Encroachment.EncroachmentPhotoFileDetails.Count > 0)
                                        {
                                            <input type="file" placeholder="Photo" class="floating-label-field floating-label-field--s3" asp-for="Encroachment.PhotoFile" id="PhotoFile" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" multiple />
                                            foreach (var item in Model.Encroachment.EncroachmentPhotoFileDetails)
                                            {
                                                <a asp-action="DownloadPhotoFile" asp-route-id="@item.Id" target="_blank" c class="badge badge-primary px-2"> (View Existing Document @(PhotoFile += 1 ))</a>

                                            }
                                            <span asp-validation-for="Encroachment.PhotoFile" class="text-danger"></span>
                                        }
                                        else
                                        {
                                            <input type="file" placeholder="Photo" class="floating-label-field floating-label-field--s3" asp-for="Encroachment.PhotoFile" id="PhotoFile" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" multiple />
                                            <span asp-validation-for="Encroachment.PhotoFile" class="text-danger"></span>
                                        }
                                    }
                                    <label class="floating-label">Photo (<span style="color:red;"> max size 5 mb</span>)</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <div class="floating-label-wrap mb-3 mb-md-0">
                                    <textarea type="text" asp-for="Encroachment.Remarks" placeholder="Remarks" disabled class="floating-label-field floating-label-field--s3"></textarea>
                                    <span asp-validation-for="Encroachment.Remarks" class="text-danger"></span>
                                    <label class="floating-label">Remarks</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form asp-action="Create" enctype="multipart/form-data">
            <h3 class="my-3 d-flex sub-heading">Summary</h3>
            <input type="hidden" asp-for="EncroachmentId" value="@(Model.Encroachment.Id)" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="table-section bg-white border shadow rounded">
                <div class="table-responsive ">
                    <table id="tbl_posts" class="table table-sm table-bordered mb-0 table-striped">
                        <thead class="text-nowrap">
                            <tr>
                                <th>Sr.No</th>
                                <th>Items</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Demolitionprogram)
                            {
                                <tr>
                                    <td>@(recNo += 1)</td>
                                    <td>@(item.Items)</td>
                                    <td>
                                        <div class="floating-label-wrap mb-3 mb-md-0">
                                            <textarea type="text" asp-for="ItemsDetails" placeholder="Remarks" class="floating-label-field floating-label-field--s3"></textarea>

                                            <input type="hidden" asp-for="DemolitionProgramId" value="@(item.Id)" />
                                        </div>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <h3 class="my-3 d-flex sub-heading">Check List</h3>
            <div class="table-section bg-white border shadow rounded">
                <div class="table-responsive ">
                    <table class="table table-sm table-bordered mb-0 table-striped">
                        <thead class="text-nowrap">
                            <tr>
                                <th>Sr.No</th>
                                <th>Items</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody class="tbody">
                            @foreach (var item in Model.Demolitionchecklist)
                            {
                                <tr>
                                    <td>@(recNo += 1)</td>
                                    <td>@(item.ChecklistDescription)</td>
                                    <td>
                                        <div class="floating-label-wrap">
                                            <select class="floating-label-field floating-label-field--s3 selectnotmultiple"
                                                    asp-for="ChecklistDetails" required style="width:100%;">
                                                <option value="Yes">Yes</option>
                                                <option value="No">No</option>
                                                <option value="Not Required" selected>Not Required</option>
                                            </select>

                                            <input type="hidden" asp-for="DemolitionChecklistId" value="@(item.Id)" />
                                        </div>

                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <h3 class="my-3 d-flex sub-heading">Encloures</h3>
            <div class="table-section bg-white border shadow rounded">
                <div class="table-responsive ">
                    <table class="table table-sm table-bordered mb-0 table-striped">
                        <thead class="text-nowrap">
                            <tr>
                                <th>Sr.No</th>
                                <th>Items</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody class="tbody">
                            @foreach (var item in Model.Demolitiondocument)
                            {
                                <tr>
                                    <td>
                                        @(recNo += 1)
                                    </td>
                                    <td>
                                        @item.DocumentName
                                    </td>
                                    <td>
                                        <div class="floating-label-wrap mb-3 mb-md-0">
                                            <input type="file" class="floating-label-field floating-label-field--s3" asp-for="DocumentDetails" id="PhotoFile" placeholder="file">
                                            <span class="d-block text-danger field-validation-valid"></span>

                                            <input type="hidden" asp-for="DemolitionDocumentId" value="@(item.Id)" />
                                        </div>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row mt-md-4">
                <div class="col-md-12">
                    <input type="submit" value="Submit" class="btn btn-theme" />

                    @Html.ActionLink("Back", "Index", "AnnexureA", null, new { @class = "btn btn-theme" })
                </div>
            </div>
        </form>
    </div>
</div>
<br />
<br />
<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/annexureacreate.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/annexureacreate.min.js" asp-append-version="true"></script>
</environment>
