@model Libraries.Model.Entity.Dmsfileupload

@await Component.InvokeAsync("PageHeader", new { pageName = "File Upload" })
<br />
<br />
<form asp-action="Edit" method="post" class="d-block rounded border p-3 bg-white search-filer shadow mb-3" enctype="multipart/form-data" autocomplete="off">
  
    <h3 class="mb-3 d-flex">Edit Details <span style="margin-left:800px"><span style="color:red">*&nbsp;</span>Marked are mandatory fields</span> </h3>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div id="allDetails">
        <input type="hidden" asp-for="IsFileBulkUpload" value="File Upload" />

        <div id="divfileupload">
            <h3 class="my-3 d-flex sub-heading">File Upload</h3>
            <div class="row mt-md-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input asp-for="FileNo" type="text" class="floating-label-field floating-label-field--s3  IsValidData">
                        <span asp-validation-for="FileNo" id="FileNoMsg" class="text-danger" style="display:none;">File No. is Mandatory Field</span>
                        <label class="floating-label">File No. <span style="color:red">*</span></label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input asp-for="AlloteeName" type="text" class="floating-label-field floating-label-field--s3  IsValidData">
                        <span asp-validation-for="AlloteeName" id="AlloteeNameMsg" class="text-danger" style="display:none;">Allotee Name is Mandatory Field</span>
                        <label class="floating-label">Allotee Name <span style="color:red">*</span></label>
                    </div>
                </div>
            </div>

            <div class="row mt-md-3">
                <div class=" col-md-6">
                    <div class="floating-label-wrap">
                        <select class="floating-label-field floating-label-field--s3" asp-for="ZoneId"
                                asp-items="@(new SelectList(Model.ZoneList, "Id","Name"))"
                                onchange="return">
                            <option selected="selected" disabled="disabled" value="">--Select-- </option>
                        </select>
                        <span asp-validation-for="ZoneId" class="text-danger"></span>
                        <label class="floating-label" asp-for="ZoneId">Zone Name</label>

                    </div>
                </div>
                <div class=" col-md-6">
                    <div class="floating-label-wrap">
                        <select class="floating-label-field floating-label-field--s3" asp-for="VillageId"
                                asp-items="@(new SelectList(Model.VillageList, "Id","Name"))">
                            <option selected="selected" disabled="disabled" value="">--Select-- </option>
                        </select>
                        <span asp-validation-for="VillageId" class="text-danger"></span>
                        <label class="floating-label" asp-for="VillageId">Village</label>

                    </div>
                </div>
            </div>




            <div class="row mt-md-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <select class="floating-label-field floating-label-field--s3" asp-for="DepartmentId" asp-items="@(new SelectList(Model.DepartmentList, "Id","Name"))">
                            <option selected="selected" disabled="disabled" value="">--Select-- </option>
                        </select>
                        <span asp-validation-for="DepartmentId" class="text-danger"></span>
                        <label asp-for="DepartmentId" class="floating-label">Department </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <select class="floating-label-field floating-label-field--s3" asp-for="LocalityId" asp-items="@(new SelectList(Model.LocalityList, "Id","Name"))">
                            <option selected="selected" disabled="disabled" value="">--Select-- </option>
                        </select>
                        <span asp-validation-for="LocalityId" class="text-danger"></span>
                        <label asp-for="LocalityId" class="floating-label">Locality </label>
                    </div>
                </div>
            </div>
            <div class="row mt-md-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap">
                        <select class="floating-label-field floating-label-field--s3" asp-for="KhasraNoId" asp-items="@(new SelectList(Model.KhasraNoList, "Id","KhasraNo"))">
                            <option selected="selected" disabled="disabled" value="">--Select-- </option>
                        </select>
                        <span asp-validation-for="KhasraNoId" class="text-danger"></span>
                        <label asp-for="KhasraNoId" class="floating-label">Khasra No. </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input asp-for="PropertyNoAddress" type="text" class="floating-label-field floating-label-field--s3  IsValidData">
                        <span asp-validation-for="PropertyNoAddress" id="PropertyNoAddressMsg" class="text-danger" style="display:none;">Property No./Address is Mandatory Field</span>
                        <label class="floating-label">Property No./Address <span style="color:red">*</span></label>
                    </div>
                </div>
            </div>
            <div class="row mt-md-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap">
                        <input asp-for="Title" type="text" class="floating-label-field floating-label-field--s3  IsValidData">
                        <span asp-validation-for="Title" id="TitleMsg" class="text-danger" style="display:none;">Title is Mandatory Field</span>
                        <label class="floating-label">Title/Subject <span style="color:red">*</span></label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input asp-for="AlmirahNo" type="text" class="floating-label-field floating-label-field--s3 ">
                        <span asp-validation-for="AlmirahNo" class="text-danger"></span>
                        <label class="floating-label">Almirah No.</label>
                    </div>
                </div>
            </div>
            <div class="row mt-md-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input type="hidden" asp-for="FilePath" />
                        @{
                            if (Model.FilePath != null)
                            {
                                <input type="file" asp-for="FileUpload" class="floating-label-field floating-label-field--s3" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif">
                                <span asp-validation-for="FileUpload" id="FilePathMsg" class="text-danger" style="display:none;">Upload File is Mandatory Field</span>
                                <a class="badge badge-primary px-2" asp-action="ViewFile" asp-route-id="@Model.Id" target="_blank"> (View File)</a>

                            }
                            else
                            {
                                <input type="file" asp-for="FileUpload" class="floating-label-field floating-label-field--s3" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif">
                                <span asp-validation-for="FileUpload" id="FilePathMsg" class="text-danger" style="display:none;">Upload File is Mandatory Field</span>
                            }
                        }
                        <label for="field-1" class="floating-label">Upload File <span style="color:red">*</span></label>

                    </div>
                </div>
                <div class=" col-md-6">
                    <div class="floating-label-wrap">
                        <select class="floating-label-field floating-label-field--s3" asp-for="IsActive">
                            <option value="1">Active</option>
                            <option value="0">Inactive</option>
                        </select>
                        <span asp-validation-for="IsActive" class="text-danger"></span>
                        <label asp-for="IsActive" class="floating-label">Status </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-md-3">
        <div class=" col-md-12">
            <button class="btn btn-theme " type="submit" onclick="return CheckFileValidation();">Update</button>
            @Html.ActionLink("Back", "Index", "DMSFileUpload", null, new { @class = "btn btn-theme " })

        </div>
    </div>

</form>




<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/dmsfileuploadedit.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/dmsfileuploadedit.min.js" asp-append-version="true"></script>
</environment>



