@model Libraries.Repository.Common.PagedResult<Libraries.Model.Entity.Landtransfer>
<table class="table table-sm table-bordered mb-0 table-striped">
    <thead class="text-nowrap">
        <tr>
           
            <th>Department</th>
            <th>Zone</th>
            <th>Division</th>
            <th>Locality(Village)</th>
            
            <th style="min-width:150px;">Operation</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Results)
        {
<tr>
  
    <td>@item.PropertyRegistration.Department.Name</td>
    <td>@item.PropertyRegistration.Zone.Name</td>
    <td>@item.PropertyRegistration.Division.Name</td>
    <td>@(item.PropertyRegistration.Locality==null?"": item.PropertyRegistration.Locality.Name)</td>
    
    <td style="min-width:150px;">
        <a asp-action="Create" asp-route-id="@item.Id" title="Add Status">Add Additional Details of Plot </a>
    <a asp-action="History" asp-route-id="@item.Id" title="View History">&nbsp;|&nbsp; View History </a>
    </td>
</tr>
}
    </tbody>
</table>
@await Component.InvokeAsync("Pager", new { totalCount = Model.RowCount, pageNumber = Model.CurrentPage, pageSize = Model.PazeSize })
