@model Dto.Master.UserProfileInfoDto


<div class="pt-3">
    <form id="frmUserProfileInfo" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <h3 class="mb-3 d-flex"> Details</h3>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select  class="floating-label-field floating-label-field--s3" asp-for="DepartmentId"
                            asp-items="@(new SelectList(Model.DepartmentList, "Id","Name"))"
                            onchange="return onChange(this.options[this.selectedIndex].value);">
                        <option selected="selected" disabled="disabled" value="">--Select-- </option>
                    </select>
                    <span asp-validation-for="DepartmentId" class="text-danger"></span>
                    <label class="floating-label">Department <span style="color:red">*</span></label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="ZoneId"
                        asp-items="@(new SelectList(Model.ZoneList,"Id","Name"))">
                        
                        <option selected="selected" disabled="disabled" value="">--Select-- </option>
                    </select>
                    <span asp-validation-for="ZoneId" class="text-danger"></span>
                    <label asp-for="ZoneId" class="floating-label">Zone </label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="RoleId"
                            asp-items="@(new SelectList(Model.RoleList, "Id","Name"))">
                        <option selected="selected" disabled="disabled" value="">--Select-- </option>

                    </select>
                    <span asp-validation-for="RoleId" class="text-danger"></span>
                    <label asp-for="RoleId" class="floating-label">Role <span style="color:red">*</span></label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="BranchId"
                            asp-items="@(new SelectList(Model.BranchList, "Id","Name"))">
                        <option selected="selected" disabled="disabled" value="">--Select-- </option>

                    </select>
                    <span asp-validation-for="BranchId" class="text-danger"></span>
                    <label asp-for="BranchId" class="floating-label">Branch </label>
                </div>
            </div>
        </div>

        <div class="row mt-md-3">
            <div class=" col-md-12">
                <button class="btn btn-theme " type="button" id="btnSaveProfileInfo">Update</button>
                @Html.ActionLink("Back", "Index", "UserManagement", null, new { @class = "btn btn-theme " })
            </div>
        </div>
    </form>
           

</div>
<link href="~/lib/bootstrap/select2/select2.css" rel="stylesheet" />
<script src="~/lib/bootstrap/select2/select2.js" defer></script>
<environment include="Development">
    <script src="~/js/site.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>
<environment include="Development">
    <script src="~/js/userprofileedit.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/userprofileedit.min.js" asp-append-version="true"></script>
</environment>