@model IEnumerable<Libraries.Model.Entity.User>
@{int rowNo = 0; }


<div class="row">
    <div class="col-sm-12">
        <div class="dda-topheading">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;">User Master</h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div>
    <a asp-action="Create" class="btn btn-primary pull-right dda-pageheading" style="margin-top: -10px;">Add New</a>
</div>
<br />
<br />
<div class="container-fluid">
    <div class="card  table-card">

        <table class="table table-responsive table-bordered table-card">

            <thead class="thead">
                <tr>
                    <th>Sr.No</th>
                    <th>District</th>
                    @* <th>Role</th>*@
                    <th>Login Name</th>
                    <th>Display Name</th>
                    <th>
                        Email ID
                    </th>
                    <th>Contact No.</th>

                    <th> Operations</th>
                    <th>Status</th>

                </tr>
            </thead>
            <tbody class="tbody">
                @foreach (var item in Model)
                {
                <tr>
                    <td>@(rowNo += 1)</td>
                    <td>@item.District.Name</td>
                    @*  <td>@item.Role.Name</td>*@
                    <td>@item.LoginName</td>

                    <td>@item.DisplayName</td>
                    <td>@item.Email</td>

                    <td>@item.ContactNo</td>
                    @*    <td>@item.Role.Name</td>*@

                    <td>@(item.IsActive==1?"Active":"InActive")</td>
                    <td>
                        <a asp-action="View" asp-route-id="@item.Id" title="View">  <i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i> </a>

                        <a asp-action="Edit" asp-route-id="@item.Id" title="edit"> &nbsp; | &nbsp;  <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i> </a>

                        <a asp-action="Delete" asp-route-id="@item.Id" title="delete" onclick="return confirm('Are You Sure, You want to Delete this Record?')">   &nbsp;|&nbsp;<i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
                    </td>
                </tr>
                }
            </tbody>
        </table>

    </div>
</div>
<br />
<br />



