
@model IEnumerable<Dto.Search.VillageAndKhasraDetailListDto>
<table class="table table-sm table-bordered mb-0 table-striped">
    <thead class="text-nowrap">

        @foreach (var item in Model)
        {

            <tr>

                <th>

                    Village Name :-@(item.VillageName == null? "-":item.VillageName)
                </th>


            </tr>

            <tr>

                <th>
                    Khasra No :-@(item.KhasraName == null? "-":item.KhasraName)
                </th>





            </tr>
            <tr>

                <th>
                    Area (Bigha - Biswa - Biswansi)(ACRE) :-@(item.Bigha == null? 0:item.Bigha),
                    @(item.Biswa == null? 0:item.Biswa),
                    @(item.Biswanshi == null? 0:item.Biswanshi),


                </th>





            </tr>

            <tr>

                <th>
                    Notification(s) US-4 :-
                    @(item.un4Number == null? "-":item.un4Number)

                </th>





            </tr>

            <tr>

                <th>
                    Notification(s) US-6 :-
                    @(item.un6Number == null? "-":item.un6Number)
                </th>





            </tr>
            <tr>

                <th>
                    Notification(s) US-17 :-
                    @(item.un17Number == null? "-":item.un17Number)

                </th>





            </tr>



            <tr>

                <th>
                    Award(s) :-@item.AwardDate

                    @*@(item.AwardDate == " "? "-":item.AwardDate)*@
                </th>


            </tr>




            <tr>

                <th>
                    Notification(s) US-22 :-
                    @(item.un22Number == null? "-":item.un22Number)


                </th>



            </tr>

            <tr>

                <th>
                    Date of Possesion :-@item.PossDate



                </th>



            </tr>



            <tr>

                <th>
                    Date of Allotement :-



                </th>



            </tr>

            <tr>

                <th>
                    Transfer Department:-



                </th>



            </tr>

            <tr>

                <th>
                    Scheme Transfer:-




                </th>



            </tr>

            <tr>

                <th>
                    Remarks:-




                </th>



            </tr>

            <tr>

                <th>
                    Party Name
                    :-@item.PartyName



                </th>



            </tr>

            <tr>

                <th>
                    Demand List No.
                    :-@item.DemandListNo



                </th>



            </tr>

            <tr>

                <th>
                    L&B No - Date

                    :-@item.LBRefDate



                </th>



            </tr>

            <tr>

                <th>
                    L.A.C. No

                    :-@item.LACNo



                </th>



            </tr>

            <tr>

                <th>
                    R.F.A.No

                    :-@item.RFANo



                </th>



            </tr>

            <tr>

                <th>
                    S.L.P. No


                    :-@item.SLPNo



                </th>



            </tr>

            <tr>

                <th>
                    Court Involved


                    :-@item.CourtInvolves



                </th>



            </tr>

            <tr>

                <th>
                    Payble Amountt



                    :-@item.PartyName



                </th>



            </tr>

            <tr>

                <th>
                    Appealable Amountt



                    :-@item.ApealableAmt



                </th>



            </tr>

        }

    </thead>
   

</table>





@*@await Component.InvokeAsync("Pager", new { totalCount = Model.RowCount, pageNumber = Model.CurrentPage, pageSize = Model.PazeSize })*@
