@*@model IEnumerable<Libraries.Model.Entity.Newlandus4plot>*@
@model Libraries.Repository.Common.PagedResult<Libraries.Model.Entity.Newlandus22plot>
<div class="table-section bg-white border shadow rounded ">
    <div class="table-responsive">
        <table class="table table-sm table-bordered mb-0 table-striped">
            <thead class="text-nowrap">
                <tr>
                    <th>Notification No</th>
                    <th>Village Name</th>
                    <th>Khasra No.</th>
                    <th>Actual Area(Bigha-Biswa-Biswanshi)</th>
                    <th>Notify Area(Bigha-Biswa-Biswanshi)</th>

                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Results.Count() > 0)
                {
                    @foreach (var item in Model.Results)
                    {
                <tr>
                    <td>@(item.Notification==null?"": item.Notification.Name)</td>
                    <td>@(item.Village==null?"": item.Village.Name)</td>
                    <td>@(item.Khasra == null?"": item.Khasra.Name)</td>
                    <td>
                        @item.Khasra.Bigha
                        -
                        @item.Khasra.Biswa-
                        @item.Khasra.Biswanshi
                    </td>
                    <td>
                        @item.Bigha
                        -
                        @item.Biswa-
                        @item.Biswanshi
                    </td>


                </tr>
                    }
                }
                else
                {
                    <tr>
                        <th colspan="14" style="text-align:center"> No Record Available! </th>
                    </tr>
                }
            </tbody>
        </table>
        @await Component.InvokeAsync("Pager", new { totalCount = Model.RowCount, pageNumber = Model.CurrentPage, pageSize = Model.PazeSize })
    </div>
</div>
<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
