@model Libraries.Model.Entity.Damagepayeeregister
@{ ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

@await Component.InvokeAsync("PageHeader", new { pageName = "Self Assessment Form For Damage Properties" })
<div class="pt-3">
    <form asp-action="Create" class="d-block rounded border p-3 bg-white search-filer shadow mb-3" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" value="@ViewBag.MainDamagePayeeId" />
        <input type="hidden" asp-for="IsMutaionYes" value="0" />
        <input type="hidden" asp-for="ApprovedStatus" />
        <h3 class="mb-3 d-flex">Add Details <span class="ms-auto"><span style="color:red">*&nbsp;</span>Marked are mandatory fields</span> </h3>
        <div id="DivOpenSubstitutionForm">
            <div id="DivFileInformation">

                <h3 class="my-3 d-flex sub-heading">File Information</h3>

                <div class="row">
                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input asp-for="FileNo" type="text" placeholder="File No." class="floating-label-field floating-label-field--s3" />
                            <span asp-validation-for="FileNo" class="d-block text-danger field-validation-valid"></span>
                            <label class="floating-label">File No./Reference No.<span style="color:red">*</span></label>
                        </div>
                    </div>
                </div>
            </div>

            <div id="DivPersonalInformationofDamageAssessee">
                <h3 class="my-3 d-flex sub-heading">Personal Information of Damage Assessee</h3>

                <div class="table-section bg-white border shadow rounded">
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered mb-0 table-striped" id="tbl_posts">
                            <thead class="text-nowrap">
                                <tr>
                                    <th>Sr.No</th>
                                    <th style="min-width:150px;">Name <span style="color:red">*</span></th>
                                    <th>Father's/Husband's Name <span style="color:red">*</span></th>
                                    <th style="min-width:120px;">Gender <span style="color:red">*</span></th>
                                    <th style="min-width:200px;">Address <span style="color:red">*</span></th>
                                    <th style="min-width:130px;">Mobile No. <span style="color:red">*</span></th>
                                    <th style="min-width:200px;">Email-Id <span style="color:red">*</span></th>
                                    <th style="min-width:210px;">Aadhar No. <span style="color:red">*</span></th>
                                    <th style="min-width:210px;">PAN No.</th>
                                    <th style="min-width:250px;">Photo <span style="color:red">*</span></th>
                                    <th style="min-width:250px;">Signature <span style="color:red">*</span></th>
                                    @*<th style="min-width:250px;">Upload Other Document</th>*@
                                    <th>Operation</th>
                                </tr>

                            </thead>
                            <tbody id="tbl_posts_body">
                            </tbody>
                            <tbody class="tbody" id="add">
                                <tr id="">
                                    <td style="text-align:center;"><span class="sn">1</span></td>
                                    <td>
                                        <input asp-for="payeeName" maxlength="45" required type="text" class="floating-label-field floating-label-field--s3 Namecheck" />
                                        <span asp-validation-for="payeeName" class="d-block text-danger field-validation-valid msg"></span>
                                    </td>
                                    <td>
                                        <input asp-for="payeeFatherName" maxlength="45" required type="text" class="floating-label-field floating-label-field--s3" />
                                        <span asp-validation-for="payeeFatherName" class="d-block text-danger field-validation-valid"></span>

                                    </td>
                                    <td>

                                        <select asp-for="Gender" required class="floating-label-field floating-label-field--s3">
                                            <option value="0">---Select---</option>
                                            <option value="1">Male</option>
                                            <option value="2">Female</option>
                                            <option value="3">Other</option>
                                        </select>
                                        <span asp-validation-for="Gender" class="d-block text-danger field-validation-valid"></span>

                                    </td>
                                    <td>
                                        <textarea asp-for="Address" maxlength="100" required type="text" class="floating-label-field floating-label-field--s3"></textarea>

                                        @*<input asp-for="Address" maxlength="100" required type="text" class="floating-label-field floating-label-field--s3" />*@
                                        <span asp-validation-for="Address" class="d-block text-danger field-validation-valid"></span>

                                    </td>
                                    <td>
                                        <input asp-for="MobileNo" maxlength="12" required type="text" class="floating-label-field floating-label-field--s3 NoCheck" />
                                        <span asp-validation-for="MobileNo" class="d-block text-danger field-validation-valid msg2"></span>

                                    </td>
                                    <td>
                                        <input asp-for="EmailId" maxlength="30" required type="text" class="floating-label-field floating-label-field--s3 EmailCheck" />
                                        <span asp-validation-for="EmailId" class="d-block text-danger field-validation-valid msg1"></span>

                                    </td>
                                    <td>

                                        <input asp-for="AadharNo" type="text" maxlength="15" class="floating-label-field floating-label-field--s3" />
                                        <span asp-validation-for="AadharNo" class="d-block text-danger field-validation-valid msg3"></span>
                                        <br />
                                        <a id="viewAadharId" asp-action="ViewPersonelInfoAadharFile" class="badge badge-primary px-2" target="_blank" style="display:none;">(View File)</a>
                                        <input type="hidden" asp-for="AadharNoFilePath" />

                                        <input asp-for="Aadhar" type="file" class="floating-label-field floating-label-field--s3 checkExtension" />
                                        <span asp-validation-for="Aadhar" class="d-block text-danger field-validation-valid"></span>


                                    </td>
                                    <td>

                                        <input asp-for="PanNo" maxlength="15" type="text" class="floating-label-field floating-label-field--s3" />
                                        <span asp-validation-for="PanNo" class="d-block text-danger field-validation-valid"></span>
                                        <br />
                                        <a id="viewPanId" asp-action="ViewPersonelInfoPanFile" class="badge badge-primary px-2" target="_blank" style="display:none;">(View File)</a>
                                        <input asp-for="Pan" type="file" class="floating-label-field floating-label-field--s3 checkExtension" />
                                        <input type="hidden" asp-for="PanNoFilePath" />
                                        <span asp-validation-for="Pan" class="d-block text-danger field-validation-valid msg4"></span>


                                    </td>
                                    <td>
                                        <a id="viewPhotoId" asp-action="ViewPersonelInfoPhotoFile" class="badge badge-primary px-2" target="_blank" style="display:none;">(View File)</a>
                                        <input asp-for="Photograph" type="file" class="floating-label-field floating-label-field--s3 checkExtension" />
                                        <input type="hidden" asp-for="PhotographFilePath" />
                                        <span asp-validation-for="Photograph" class="d-block text-danger field-validation-valid"></span>

                                    </td>
                                    <td>
                                        <a id="viewSignatureId" asp-action="ViewPersonelInfoSignautreFile" class="badge badge-primary px-2" target="_blank" style="display:none;">(View File)</a>
                                        <input asp-for="SignatureFile" type="file" class="floating-label-field floating-label-field--s3 checkExtension" />
                                        <input type="hidden" asp-for="SignatureFilePath" />
                                        <span asp-validation-for="SignatureFile" class="d-block text-danger field-validation-valid"></span>

                                    </td>
                                    @*<td>
                                        <a id="viewOtherDocId" asp-action="ViewOtherDocumentFile" class="badge badge-primary px-2" target="_blank" style="display:none;">(View File)</a>
                                        <input type="hidden" asp-for="OtherDocFilePath" />
                                        <input  asp-for="OtherDocFile" type="file" class="floating-label-field floating-label-field--s3" />
                                        <span asp-validation-for="OtherDocFile" class="d-block text-danger field-validation-valid"></span>

                                    </td>*@
                                    <td>
                                        <div class="floating-label-wrap mb-3 mb-md-0">
                                            <a class="delete-record" data-id="0" style="display: none; font-size: 40px;"><i class="ri-indeterminate-circle-fill"></i></a>
                                            <a class="add-record" data-added="0" style="font-size:40px;"><i class="ri-add-circle-fill"></i></a>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>


                </div>

            </div>

            <div id="Divclsification" class="mt-md-3">
                <h3 class="my-3 d-flex sub-heading">Type of Damage Assessee</h3>

                <div class="row">
                    <div class="col-md-3">
                        <input type="hidden" asp-for="TypeOfDamageAssessee" id="TypeOfDamageAssessee" value="Original" />

                        <div class="form-check theme">
                            <input class="form-check-input" type="radio" asp-for="TypeOfDamageAssessee" name="grpDamageAssesseeType" id="rOriginal" value="Original" checked>
                            <label class="form-check-label" for="radio">
                                Original
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check theme">
                            <input class="form-check-input" type="radio" asp-for="TypeOfDamageAssessee" name="grpDamageAssesseeType" id="rSubsequent" value="Subsequent">
                            <label class="form-check-label" for="radio">
                                Subsequent Assessee/Occupier
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div id="DivForSubsequentPurchaser" style="display:none">

                <h3 class="my-3 d-flex sub-heading">Chain of Previous Damage Assessee, starting from Original Damage Assessee</h3>



                <div class="table-section bg-white border shadow rounded">
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered mb-0 table-striped" id="tbl_DamageAssessee">
                            <thead class="text-nowrap">
                                <tr>
                                    <th>Sr.No</th>
                                    <th>Name</th>
                                    <th>Father's Name</th>
                                    <th>Date of ATS & GPA/Will</th>
                                    <th>Upload ATS & GPA/Will</th>
                                    <th>Operation</th>
                                </tr>
                            </thead>
                            <tbody id="tbl_DamageAssessee_body">
                            </tbody>
                            <tbody class="tbody" id="addDamageAssessee">
                                <tr id="">

                                    <td style="text-align:center;"><span class="sn1">1</span></td>
                                    <td>
                                        <input asp-for="Name" required maxlength="45" type="text" class="floating-label-field floating-label-field--s3" />
                                        <span asp-validation-for="Name" class="d-block text-danger field-validation-valid"></span>

                                    </td>
                                    <td>
                                        <input asp-for="FatherName" required maxlength="45" type="text" class="floating-label-field floating-label-field--s3" />
                                        <span asp-validation-for="FatherName" class="d-block text-danger field-validation-valid"></span>

                                    </td>
                                    <td>
                                        <input asp-for="Date" type="date" class="floating-label-field floating-label-field--s3" />
                                        <span asp-validation-for="Date" class="d-block text-danger field-validation-valid"></span>

                                    </td>
                                    <td>
                                        <a id="viewATSGPAId" asp-action="ViewATSGPAFile" class="badge badge-primary px-2" target="_blank" style="display:none;">(View File)</a>
                                        <input asp-for="ATSGPA" type="file" class="floating-label-field floating-label-field--s3 checkExtension" />
                                        <input type="hidden" asp-for="ATSGPAFilePath" />
                                        <span asp-validation-for="ATSGPA" class="d-block text-danger field-validation-valid"></span>

                                    </td>
                                    <td>
                                        <a class="delete-recordDamageAssessee" data-id="0" style="display: none; font-size: 40px;"><i class="ri-indeterminate-circle-fill"></i></a>
                                        <a class="add-recordDamageAssessee" data-added="0" style="font-size:40px;"><i class="ri-add-circle-fill"></i></a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

            <div id="MainContentForm">
                <h3 class="my-3 d-flex sub-heading">Property Identification Details</h3>

                <div class="row">

                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input asp-for="PropertyNo" type="text" required class="floating-label-field floating-label-field--s3" placeholder="Municipal No." />
                            <span asp-validation-for="PropertyNo" class="d-block text-danger field-validation-valid"></span>
                            <label class="floating-label">Property/Khasra/House/Municipal No.<span style="color:red">*</span></label>

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="floating-label-wrap">
                            <select class="floating-label-field floating-label-field--s3" asp-for="LocalityId" required
                                    asp-items="@(new SelectList(Model.LocalityList,"Id","Name"))">
                                <option value="0">---Select---</option>
                            </select>
                            <span asp-validation-for="LocalityId" class="d-block text-danger field-validation-valid"></span>
                            <label class="floating-label">Locality<span style="color:red">*</span></label>
                        </div>
                    </div>


                </div>
                <div class="row mt-md-3">
                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input asp-for="FloorNo" required type="text" placeholder="Floor No" class="floating-label-field floating-label-field--s3" />
                            <span asp-validation-for="FloorNo" class="d-block text-danger field-validation-valid"></span>
                            <label class="floating-label">Floor No(if purchased floor wise)</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input asp-for="StreetNo" required type="text" placeholder="Street Name" class="floating-label-field floating-label-field--s3" />
                            <span asp-validation-for="StreetNo" class="d-block text-danger field-validation-valid"></span>
                            <label class="floating-label">Road/Street Name<span style="color:red">*</span></label>
                        </div>
                    </div>
                </div>
                <div class="row mt-md-3">
                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input asp-for="PinCode" required type="text" placeholder="Pin Code" class="floating-label-field floating-label-field--s3" />
                            <span asp-validation-for="PinCode" class="d-block text-danger field-validation-valid"></span>
                            <label class="floating-label">Pin Code<span style="color:red">*</span></label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="floating-label-wrap">
                            <select asp-for="DistrictId" required class="floating-label-field floating-label-field--s3"
                                    asp-items="@(new SelectList(Model.DistrictList,"Id","Name"))">
                                <option value="0">---Select---</option>
                            </select>
                            <span asp-validation-for="DistrictId" class="d-block text-danger field-validation-valid"></span>
                            <label class="floating-label">District<span style="color:red">*</span></label>
                        </div>
                    </div>
                </div>
                <div class="row mt-md-3">
                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input asp-for="PlotAreaSqYard" required type="text" placeholder="Plot Area in Sq.yds." class="floating-label-field floating-label-field--s3" id="txtPlotyds" />
                            <span asp-validation-for="PlotAreaSqYard" class="d-block text-danger field-validation-valid"></span>
                            <label class="floating-label">Plot Area in Sq.yds.<span style="color:red">*</span></label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0 ">
                            <input asp-for="PlotAreaSqMt" required type="text" placeholder="Sq. Mtr.-" class="floating-label-field floating-label-field--s3" id="txtPlotmts" readonly="readonly" />
                            <span asp-validation-for="PlotAreaSqMt" class="d-block text-danger field-validation-valid"></span>
                            <label class="floating-label">Sq. Mtr.-</label>
                        </div>
                    </div>
                </div>
                <div class="row mt-md-3">
                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input asp-for="FloorAreaSqYard" required type="text" placeholder="Floor Area in Sq. yds" class="floating-label-field floating-label-field--s3" id="txtFlooryds" />
                            <span asp-validation-for="FloorAreaSqYard" class="d-block text-danger field-validation-valid"></span>
                            <label class="floating-label">Floor Area in Sq. yds.(if purchased floor wise)</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0 ">
                            <input asp-for="FloorAreaSqMt" required type="text" placeholder="Sq. Mtr.-" class="floating-label-field floating-label-field--s3" id="txtFloormts" readonly="readonly" />
                            <span asp-validation-for="FloorAreaSqMt" class="d-block text-danger field-validation-valid"></span>
                            <label class="floating-label">Sq. Mtr.-</label>
                        </div>
                    </div>
                </div>
                <div class="row mt-md-3">
                    <div class="form-group col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input type="hidden" asp-for="PropertyPhotoPath" />
                            @{
                                if (Model.PropertyPhotoPath != null)
                                {


                                    <input type="file" placeholder="Property Photo" class="floating-label-field floating-label-field--s3 checkExtension" asp-for="PropertyPhoto" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" />
                                    <span asp-validation-for="PropertyPhoto" class="d-block text-danger field-validation-valid"></span>
                                    <a class="badge badge-primary px-2" asp-action="DownloadPropertyPhoto" asp-route-id="@Model.Id" target="_blank">
                                        View File - (@Model.PropertyPhotoPath.Split('\\')?.LastOrDefault()?.Remove(0, 37))
                                    </a>
                                }
                                else
                                {
                                    <input type="file" asp-for="PropertyPhoto" class="floating-label-field floating-label-field--s3 checkExtension" placeholder="Property Photo">
                                    <span asp-validation-for="PropertyPhoto" class="d-block text-danger field-validation-valid"></span>

                                }
                            }
                            <label for="field-1" class="floating-label">Upload Photograph of Property </label>
                        </div>
                    </div>
                </div>

            </div>

            <div id="DivMainContentForm" style="margin-top:-15px;">
                <h3 class="my-3 d-flex sub-heading">Use of Property</h3>
                <div class="row mt-md-3">
                    <div class="col-md-2">
                        <input type="hidden" asp-for="UseOfProperty" id="UseOfProperty" value="Residential" />

                        <div class="form-check theme">
                            <input asp-for="UseOfProperty" class="form-check-input" type="radio" name="grpUseofpeoperty" id="rdbResidential" value="Residential">
                            <label class="form-check-label" for="radio">
                                Residential
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-check theme">
                            <input asp-for="UseOfProperty" class="form-check-input" type="radio" name="grpUseofpeoperty" id="rdbCommercial" value="Commercial">
                            <label class="form-check-label" for="radio">
                                Commercial
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-check theme">
                            <input asp-for="UseOfProperty" class="form-check-input" type="radio" name="grpUseofpeoperty" id="rdbMixed" value="Mixed">
                            <label class="form-check-label" for="radio">
                                Mixed
                            </label>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row mt-md-3">
                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input asp-for="ResidentialSqYard" type="text" placeholder="Residential floor area in Sq.yds" class="floating-label-field floating-label-field--s3 numbers" />
                            <span asp-validation-for="ResidentialSqYard" class="d-block text-danger field-validation-valid"></span>
                            <label class="floating-label">Residential floor area in Sq.yds.<span style="color:red">*</span></label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input asp-for="CommercialSqYard" type="text" placeholder="Commercial floor area in Sq.yds." class="floating-label-field floating-label-field--s3 numbers" />
                            <span asp-validation-for="CommercialSqYard" class="d-block text-danger field-validation-valid"></span>
                            <label class="floating-label">Commercial floor area in Sq.yds.<span style="color:red">*</span></label>
                        </div>
                    </div>

                </div>
                <div class="row mt-md-3">
                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0 ">
                            <input asp-for="ResidentialSqMt" type="text" placeholder="Sq. Mtr.-" class="floating-label-field floating-label-field--s3 numbers" />
                            <span asp-validation-for="ResidentialSqMt" class="d-block text-danger field-validation-valid"></span>
                            <label class="floating-label">Sq. Mtr.-</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input asp-for="CommercialSqMt" type="text" placeholder="Sq. Mtr.-" class="floating-label-field floating-label-field--s3 numbers" />
                            <span asp-validation-for="CommercialSqMt" class="d-block text-danger field-validation-valid"></span>
                            <label class="floating-label">Sq. Mtr.-</label>
                        </div>
                    </div>
                </div>
            </div>
            <div id="DivMainContentForm">
                <h3 class="my-3 d-flex sub-heading">Litigation Status</h3>
                <div class="row mt-md-3">
                    <div class="col-md-6">
                        <input type="hidden" asp-for="LitigationStatus" id="LitigationStatus" value="no case" />

                        <div class="form-check theme">
                            <input asp-for="LitigationStatus" class="form-check-input" type="radio" name="grpLitigation" id="rdbNoLitigation" checked value="no case">
                            <label class="form-check-label" for="radio">
                                The Land Property is not a subject matter of any litigation/Court Case

                            </label>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-check theme">
                            <input asp-for="LitigationStatus" class="form-check-input" type="radio" name="grpLitigation" id="rbdYesLitigation" value="Under litigation">
                            <label class="form-check-label" for="radio">
                                LandProperty title is under litigation
                            </label>
                        </div>
                    </div>
                </div>
            </div>


            <div id="DivForLitigationStatus" style="display:none">
                <h3 class="my-3 d-flex sub-heading">Details of Court Case(if any)</h3>

                <div class="row mt-md-3">
                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input asp-for="CourtName" type="text" placeholder="Name of Court" class="floating-label-field floating-label-field--s3" />
                            <span asp-validation-for="CourtName" class="d-block text-danger field-validation-valid"></span>
                            <label class="floating-label">Name of Court<span style="color:red">*</span> </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input asp-for="CaseNo" type="text" placeholder="Case Number" class="floating-label-field floating-label-field--s3" />
                            <span asp-validation-for="CaseNo" class="d-block text-danger field-validation-valid"></span>
                            <label class="floating-label">Case Number<span style="color:red">*</span></label>
                        </div>
                    </div>
                </div>
                <div class="row mt-md-3">
                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input asp-for="OppositionName" type="text" placeholder="Case Number" class="floating-label-field floating-label-field--s3" />
                            <span asp-validation-for="OppositionName" class="d-block text-danger field-validation-valid"></span>
                            <label class="floating-label">Name of Opposition Party<span style="color:red">*</span></label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-2">
                                <label>I am<span style="color:red">*</span></label>
                            </div>
                            <div class="col-md-4">
                                <input type="hidden" asp-for="PetitionerRespondent" id="PetitionerRespondent" value="Petitioner" />

                                <div class="form-check theme">
                                    <input asp-for="PetitionerRespondent" class="form-check-input" type="radio" name="grpCaseperson" value="Petitioner">
                                    <label class="form-check-label" for="radio">
                                        Petitioner
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-check theme">
                                    <input asp-for="PetitionerRespondent" class="form-check-input" type="radio" name="grpCaseperson" value="Respondant">
                                    <label class="form-check-label" for="radio">
                                        Respondant
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div id="DivMainContentForm">
                <h3 class="my-3 d-flex sub-heading">Whether present occupant's is/are damage payee in DDA record<span style="color:red">*</span></h3>
                <div class="row mt-3">
                    <div class="form-group col-md-2">
                        <input type="hidden" asp-for="IsDdadamagePayee" id="IsDdadamagePayee" value="Yes" />

                        <div class="form-check theme">
                            <input asp-for="IsDdadamagePayee" class="form-check-input" type="radio" name="grpYESNO" id="rdbPayeeYes" checked value="Yes">
                            <label class="form-check-label" for="radio">
                                Yes
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <div class="form-check theme">
                            <input asp-for="IsDdadamagePayee" class="form-check-input" type="radio" name="grpYESNO" id="rdbPayeeNo" value="No">
                            <label class="form-check-label" for="radio">
                                No
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <div class="form-group" id="DivForPayeeNo" style="display:none;">
                            <label class="control-label lb-sm">Apply for mutation/ substitution</label>
                            <input type="submit" value="Open Substitution Form" class="btn mutationlink" onclick="return CheckToApply();" />
                            @*   <a href="javascript:void(0)" onclick="return CheckToApply();">Open Substitution Form</a> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="DivDamagePropertyDocs" style="margin-top:-40px;">
            <h3 class="my-3 d-flex sub-heading"> Upload documents of damage property </h3>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <b style="color:red;"> Note: If you have more than one document, create a single PDF and upload.</b>

            <div class="row mt-md-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input type="hidden" asp-for="ShowCauseNoticePath" />
                        @{
                            if (Model.ShowCauseNoticePath != null)
                            {

                                <input type="file" asp-for="ShowCauseNotice" class="floating-label-field floating-label-field--s3 checkExtension" placeholder="ShowCauseNotice">
                                <a class="badge badge-primary px-2" asp-action="DownloadShowCauseNotice" asp-route-id="@Model.Id" target="_blank">
                                    View File - (@Model.ShowCauseNoticePath.Split('\\')?.LastOrDefault()?.Remove(0, 37))
                                </a>
                                <span asp-validation-for="ShowCauseNotice" class="d-block text-danger field-validation-valid"></span>

                            }
                            else
                            {
                                <input type="file" asp-for="ShowCauseNotice" class="floating-label-field floating-label-field--s3 checkExtension" placeholder="ShowCauseNotice">
                                <span asp-validation-for="ShowCauseNotice" class="d-block text-danger field-validation-valid"></span>

                            }
                        }
                        <label for="field-1" class="floating-label"> Show Cause Notice(if issued) </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input type="hidden" asp-for="FgformPath" />
                        @{
                            if (Model.FgformPath != null)
                            {

                                <input type="file" asp-for="Fgform" class="floating-label-field floating-label-field--s3 checkExtension" placeholder="Name">
                                <a class="badge badge-primary px-2" asp-action="DownloadFgform" asp-route-id="@Model.Id" target="_blank">
                                    View File - (@Model.FgformPath.Split('\\')?.LastOrDefault()?.Remove(0, 37))
                                </a>
                                <span asp-validation-for="Fgform" class="d-block text-danger field-validation-valid"></span>
                            }
                            else
                            {
                                <input type="file" asp-for="Fgform" class="floating-label-field floating-label-field--s3 checkExtension" placeholder="Name">
                                <span asp-validation-for="Fgform" class="d-block text-danger field-validation-valid"></span>

                            }
                        }
                        <label for="field-1" class="floating-label"> F /G Form </label>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="form-group col-md-3">
                    <input type="hidden" asp-for="IsDocumentFor" value="HouseTax Bill" />
                    <div class="form-check theme">
                        <input asp-for="IsDocumentFor" class="form-check-input" type="radio" name="Bill" id="HouseBill" checked value="HouseTax Bill">
                        <label class="form-check-label" for="radio">
                            HouseTax Bill
                        </label>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <div class="form-check theme">
                        <input asp-for="IsDocumentFor" class="form-check-input" type="radio" name="Bill" id="ElectricityBill" value="Electricity Bill">
                        <label class="form-check-label" for="radio">
                            Electricity Bill
                        </label>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <div class="form-check theme">
                        <input asp-for="IsDocumentFor" class="form-check-input" type="radio" name="Bill" id="WaterBill" value="Water Bill">
                        <label class="form-check-label" for="radio">
                            Water Bill
                        </label>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <div class="form-check theme">
                        <input asp-for="IsDocumentFor" class="form-check-input" type="radio" name="Bill" id="Other" value="Any Other">
                        <label class="form-check-label" for="radio">
                            Any Other
                        </label>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input type="hidden" asp-for="DocumentForFilePath" />
                        @{
                            if (Model.DocumentForFilePath != null)
                            {

                                <input type="file" asp-for="DocumentForFile" class="floating-label-field floating-label-field--s3 checkExtension" placeholder="Name">
                                <a class="badge badge-primary px-2" asp-action="DownloadBillfile" asp-route-id="@Model.Id" target="_blank">
                                    View File - (@Model.DocumentForFilePath.Split('\\')?.LastOrDefault()?.Remove(0, 37))
                                </a>
                                <span asp-validation-for="DocumentForFile" class="d-block text-danger field-validation-valid"></span>
                            }
                            else
                            {
                                <input type="file" asp-for="DocumentForFile" class="floating-label-field floating-label-field--s3 checkExtension" placeholder="Name">
                                <span asp-validation-for="DocumentForFile" class="d-block text-danger field-validation-valid"></span>

                            }
                        }
                        <label for="field-1" class="floating-label"> Upload copy of the document selected<span style="color:red">(.pdf only)</span> </label>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input type="hidden" asp-for="DocumentName" />
                        @{
                            @if (Model.DocumentName != null)
                            {
                                <input type="file" asp-for="DocumentIFormFile" class="floating-label-field floating-label-field--s3 checkExtension" accept="application/pdf,  image/png, image/jpeg">
                                <a class="badge badge-primary px-2" asp-action="ViewUploadedDocument" asp-route-id="@Model.Id" target="_blank"> (View File)</a>
                            }
                            else
                            {
                                <input type="file" asp-for="DocumentIFormFile" class="floating-label-field floating-label-field--s3 checkExtension" accept="application/pdf,  image/png, image/jpeg">
                            }
                        }
                        <span class="d-block text-danger field-validation-valid" asp-validation-for="DocumentName"></span>
                        <label class="floating-label"> Other Document<span style="color:red">(.pdf only)</span></label>
                    </div>
                </div>
            </div>




        </div>
        <div id="DivMainContentForm" style="margin-top:-15px;">
            <h3 class="my-3 d-flex sub-heading">Payment History</h3>

            <div class="table-section bg-white border shadow rounded">
                <div class="table-responsive">

                    <table class="table table-sm table-bordered mb-0 table-striped" id="tbl_Payment">
                        <thead class="text-nowrap">
                            <tr>
                                <th>Sr.No</th>
                                <th>Payee Name</th>
                                <th>Receipt No.</th>
                                <th>Mode of Payment</th>
                                <th>Date of Payment</th>
                                <th>Amount(Rs.)</th>
                                <th>Upload receipt</th>
                                <th>Operation</th>
                            </tr>
                        </thead>
                        <tbody id="tbl_Payment_body">
                        </tbody>
                        <tbody class="tbody" id="addPayment">
                            <tr id="">
                                <td style="text-align:center;"><span class="sn2">1</span></td>
                                <td>
                                    <input asp-for="PaymntName" type="text" class="floating-label-field floating-label-field--s3" id="txtPaymentName" />
                                </td>
                                <td>
                                    <input asp-for="RecieptNo" type="text" class="floating-label-field floating-label-field--s3" id="txtRecieptNo" />
                                </td>
                                <td>
                                    <input asp-for="PaymentMode" type="text" class="floating-label-field floating-label-field--s3" id="txtPaymentMode" />
                                </td>
                                <td>
                                    <input asp-for="PaymentDate" type="date" class="floating-label-field floating-label-field--s3" id="txtPaymentDate" />
                                </td>
                                <td>
                                    <input asp-for="Amount" type="text" class="floating-label-field floating-label-field--s3" id="txtAmount" />
                                </td>
                                <td>
                                    <a id="viewRecieptId" asp-action="ViewRecieptFile" class="badge badge-primary px-2" target="_blank" style="display:none;">(View File)</a>
                                    <input asp-for="Reciept" class="floating-label-field floating-label-field--s3 checkExtension" type="file" />
                                    <input type="hidden" asp-for="RecieptFilePath" />
                                </td>
                                <td>
                                    <div class="floating-label-wrap mb-3 mb-md-0">

                                        <a class="delete-recordPayment" data-id="0" style="display: none; font-size: 40px;"><i class="ri-indeterminate-circle-fill"></i></a>
                                        <a class="add-recordPayment" data-added="0" style="font-size:40px;"><i class="ri-add-circle-fill"></i></a>
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div id="DivMainContentForm">
            <h3 class="my-3 d-flex sub-heading">Online Payment</h3>
            <a class="btn btn-theme" asp-action="Index" asp-controller="DamageCalculator" asp-route-id="@Model.LocalityId" onclick="return CheckToApply();">Damage Calculator</a>
        </div>
        <br />
        <b style="color:red;">
            Note: Please calculate Damage CHARGES on FINANCIAL year basis. For any FINANCIAL year (or part thereof) & the due date of payment would be 31st MARCH of that FINANCIAL year.
        </b>

        @*<div class="row mt-3 mb-3">
            <div class="col-md-12">
                <h5 class="my-3" style="color:Black;font:bold">
            Note: Please calculate Damage CHARGES on FINANCIAL year basis. For any FINANCIAL year (or part thereof) & the due date of payment would be 31st MARCH of that FINANCIAL year.</h5>

            </div>
        </div>*@
        <div id="divSelfAssessmentAmount" style="margin-top:-10px;">
            <h3 class="my-3 d-flex sub-heading">Amount Payable as per self assessment</h3>
            <input id="RebatePercentage" type="hidden" value="@ViewBag.RebateValue" />
            <div class="row mt-md-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input asp-for="TotalValueWithInterest" type="text" class="floating-label-field floating-label-field--s3 onlynumbers TotalCalculation" />
                        <span asp-validation-for="TotalValueWithInterest" id="TotalValueWithInterestMsg" class="text-danger" style="display:none;">Mandatory</span>
                        <label class="floating-label">Damage Amount<span style="color:red">*</span></label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input asp-for="InterestDueAmountCompund" type="text" class="floating-label-field floating-label-field--s3 onlynumbers TotalCalculation" />
                        <span asp-validation-for="InterestDueAmountCompund" id="InterestDueAmountCompundMsg" class="text-danger" style="display:none;">Mandatory</span>
                        <label class="floating-label">Interest Amount<span style="color:red">*</span></label>
                    </div>
                </div>

            </div>
            <div class="row mt-md-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0 ">
                        <input asp-for="Rebate" type="text" class="floating-label-field floating-label-field--s3 onlynumbers" />
                        <span asp-validation-for="Rebate" id="RebateMsg" class="text-danger" style="display:none;">Mandatory</span>
                        <label class="floating-label">Rebate @ViewBag.RebateValue% of total Interest<span style="color:red">*</span></label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input asp-for="TotalPayable" type="text" class="floating-label-field floating-label-field--s3 onlynumbers" />
                        <span asp-validation-for="TotalPayable" id="TotalPayableMsg" class="text-danger" style="display:none;">Mandatory</span>
                        <label class="floating-label">Total Payable<span style="color:red">*</span></label>
                    </div>
                </div>
            </div>
        </div>
        <div id="Declaration">

            <h2 class="my-3 sub-heading">Declaration</h2>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <input asp-for="DeclarationStatus1" type="checkbox" />
                        <input type="hidden" asp-for="Declaration1" />

                        I certify that the particulars filled in this form are true and correct to the best of my knowledge and i am authorized to sign this form. I am aware of the penel provisions of the Delhi Development Authority, 2019 which are attracted on wilful suppression and submission of false and in correct particulars.
                        <span asp-validation-for="DeclarationStatus1" id="DeclarationStatus1Msg" class="text-danger" style="display:none;">Mandatory</span>
                        <br />
                        <input asp-for="DeclarationStatus2" type="checkbox" />
                        <input type="hidden" asp-for="Declaration2" />
                        I understand that any of the information supplied by me is found incorrect, my application shall be rejected.
                        <span asp-validation-for="DeclarationStatus2" id="DeclarationStatus2Msg" class="text-danger" style="display:none;">Mandatory</span>
                        <br />
                        <input asp-for="DeclarationStatus3" type="checkbox" />
                        <input type="hidden" asp-for="Declaration3" />
                        I understand that any email sent to me on the ID provided by me shall be deemed service of notice to me.
                        <span asp-validation-for="DeclarationStatus3" id="DeclarationStatus3Msg" class="text-danger" style="display:none;">Mandatory</span>
                        <br /><br />
                        <b style="color:red;">
                            Note: The compliance of above section will not entitle occupancy rights and super structure claim of the property and all the occupent will continue to be considered as unauthorised occupent of the property.
                        </b>
                    </div>
                </div>
            </div>
        </div>


        <div class="row mt-md-3">
            <div class="col-md-12">
                <input type="submit" value="Submit" class="btn btn-theme" onclick="return PageValidation();" />
                <a class="btn btn-theme" asp-action="Print" asp-controller="SelfAssessmentDamage" target="_blank">Print</a>
                <input type="submit" value="Click Here For Payment" class="btn btn-theme" onclick="return CheckPaymentValidation();" />
            </div>
        </div>
    </form>

        </div>

        <partial name="../Shared/_ValidationScriptsPartial.cshtml" />
        <environment include="Development">
            <script src="~/js/selfassessmentdamagecreate.js"></script>
        </environment>
        <environment exclude="Development">
            <script src="~/js/selfassessmentdamagecreate.min.js" asp-append-version="true"></script>
        </environment>
