@model Libraries.Model.Entity.Watchandward
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-sm-12">
        <div class="dda-topheading">
            <div class="col-md-12">
                <h6 class="pull-left color-white" style="margin-top:5px;">Watch & Ward </h6>
                <i class="glyphicon glyphicon-arrow-right pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>


<br />

<br />
<div class="container-fluid" id="MainContentForm">
    <div class="panel">
        <div class="panel-heading  dda-pageheading">
            <h6 class="pull-left color-white " style="margin-top:-0.4%">Add Details</h6>
        </div>



        <div class="panel-body">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Date</label><span style="color:red">*</span>
                        <input asp-for="Date" type="date" id="txtDate" class="form-control" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>


                    @*<div class="form-group col-md-6">
                            <label class="control-label lb-sm">Locality Name (Village)</label><span style="color:red">*</span>
                            <select class="form-control dda-dropdown" asp-for="LocalityId" asp-items="@(new SelectList(Model.LocalityList, "Id","Name"))">
                                <option>Select</option>
                            </select>
                            <span asp-validation-for="LocalityId" class="text-danger"></span>
                        </div>*@


                </div>

                @*<div class="row">

                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Khasra No.</label>
                            <select class="form-control dda-dropdown" asp-for="KhasraId" asp-items="@(new SelectList(Model.KhasraList, "Id","Name"))">
                                <option>Select</option>
                            </select>
                            <span asp-validation-for="KhasraId" class="text-danger"></span>
                        </div>
                    </div>*@
                <div id="DivPrimaryList">
                    <div class="row" style="margin-bottom:35px;">
                        <div class="col-sm-12">
                            <div class="dda-innerheading">
                                <div class="col-md-12">
                                    <h6 class="pull-left color-white" style="margin-top:5px;">Primary List No. and other details</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Primary List No.</label><span style="color:red">*</span>
                            <select class="form-control dda-dropdown" asp-for="PrimaryListNo" asp-items="@(new SelectList(Model.PrimaryListNoList, "Id","PrimaryListNo"))" onchange="return GetOtherDetails(this.options[this.selectedIndex].value);">
                                <option value="">--Select--</option>
                            </select>
                            <span asp-validation-for="PrimaryListNo" class="text-danger"></span>
                        </div>

                    </div>
                    <div id="PlannedUnplanedDiv" class="row" style="display:none;">
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm" asp-for="PlannedUnplannedLand">Planned/Unplanned Land</label><span class="text-danger">*</span>
                            <select class="form-control dda-dropdown" asp-for="PlannedUnplannedLand" disabled>
                                <option value="Planned Land">Planned Land</option>
                                <option value="Unplanned Land">Unplanned Land</option>
                            </select>
                        </div>
                        <div id="divUnplannedSelection" style="display:none;">
                            <div class="form-group col-md-6">
                                <label class="control-label lb-sm" asp-for="LocalityId">Locality(Village)</label><span class="text-danger">*</span>
                                <select class="form-control dda-dropdown" asp-for="LocalityId" disabled>
                                    @*asp-items="@(new SelectList(Model.LocalityList, "Id","Name"))"*@
                                    <option value="">--Select--</option>
                                </select>
                                <span asp-validation-for="LocalityId" class="text-danger lb-sm"></span>
                            </div>
                            @*<div class="form-group col-md-6">
                                <label class="control-label lb-sm">Khasra No</label>
                                <input asp-for="KhasraNo" class="form-control" maxlength="200" disabled />
                                <span asp-validation-for="KhasraNo" class="text-danger lb-sm"></span>
                            </div>*@
                        </div>
                        <div id="divPlannedSelection" style="display:none;">
                            <div class="form-group col-md-6">
                                <label class="control-label lb-sm">Colony</label>
                                <input asp-for="Colony" type="text" class="form-control" maxlength="50" disabled />
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label lb-sm">Sector</label>
                                <input asp-for="Sector" class="form-control" maxlength="50" disabled />
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label lb-sm">Block</label>
                                <input type="text" class="form-control" maxlength="50" asp-for="Block" disabled />
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label lb-sm">Pocket</label>
                                <input asp-for="Pocket" class="form-control" maxlength="50" disabled />
                            </div>
                            @*<div class="form-group col-md-6">
                                <label class="control-label lb-sm">Plot No.</label>
                                <input asp-for="PlotNo" class="form-control" maxlength="50" disabled />
                            </div>*@
                        </div>

                    </div>

                    <div id="InventoryOtherDiv" >

                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Land Mark</label><span style="color:red">*</span>
                        <input asp-for="Landmark" type="text" class="form-control" />
                        <span asp-validation-for="Landmark" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm"> Encroachment</label><span style="color:red">*</span>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label class="radio-inline  ">
                                    <input type="radio" asp-for="Encroachment" name="grpDamageAssesseeType" value="1" checked>Yes
                                </label>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="radio-inline ">
                                    <input type="radio" asp-for="Encroachment" name="grpDamageAssesseeType" value="0">No
                                </label>
                            </div>
                        </div>
                        @*<select class="form-control" asp-for="Encroachment">
            <option value="">---Select---</option>
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>*@
                        <span asp-validation-for="Encroachment" class="text-danger"></span>
                    </div>


                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="control-label lb-sm">Status on Ground</label><span style="color:red">*</span>
                        <textarea asp-for="StatusOnGround" type="text" class="form-control"></textarea>
                        <span asp-validation-for="StatusOnGround" class="text-danger"></span>
                    </div>


                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Photos</label>
                        <input asp-for="Photo" type="file" class="form-control" multiple accept="image/png, image/jpeg, image/gif" />
                        <span asp-validation-for="Photo" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6" style="display:none;">
                        <label class="control-label lb-sm">Report</label>
                        <input asp-for="ReportFile" type="file" class="form-control" multiple />
                        <span asp-validation-for="ReportFile" class="text-danger"></span>
                    </div>
                </div>
                <div class="row" style="display:none;">

                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Status</label>
                        <select asp-for="IsActive" class="form-control dda-dropdown">
                            <option value="1">Active</option>
                            <option value="0">Inactive</option>
                        </select>
                        <span asp-validation-for="IsActive" class="text-danger"></span>
                    </div>
                </div>

                <div class="row" style="display:none;">
                    <div class="form-group col-md-12">
                        <label class="control-label lb-sm">Remarks</label><span style="color:red"></span>
                        <textarea asp-for="Remarks" type="text" class="form-control"></textarea>
                        <span asp-validation-for="Remarks" class="text-danger"></span>
                    </div>

                </div>
                @*<div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Latt</label><span style="color:red">*</span>
                            <input asp-for="Latitude" type="text" class="form-control" />
                            <span asp-validation-for="Latitude" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Long</label><span style="color:red">*</span>
                            <input asp-for="Longitude" type="text" class="form-control" />
                            <span asp-validation-for="Longitude" class="text-danger"></span>
                        </div>
                    </div>*@

                <div class="row">
                    <div class="form-group col-md-12" style="justify-content:center">
                        <input type="submit" value="Create" class="btn btn-primary  dda-pageheading" />
                        @*<input type="submit" value="Back" class="btn btn-primary myapp-hed1" />*@
                        @Html.ActionLink("Back", "Index", "WatchWard", null, new { @class = "btn btn-primary  dda-pageheading" })
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/watchward.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/watchward.min.js" asp-append-version="true"></script>
</environment>
