@model IEnumerable<Libraries.Model.Entity.Watchandward>
@{int rowNo = 0; }

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-sm-12">
        <div class="dda-topheading">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;">Watch & Ward</h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />
<br />

<div>
    @Html.ActionLink("Add New", "Create", "WatchWard", null, new { @class = "btn btn-primary pull-right dda-pageheading ", style = "margin-top: -10px;" })
</div>
<br />
<br />
<div class="container-fluid" id="MainContentForm">
    <div class="card  table-responsive table-card">
        <table class="table  table-bordered table-card">

            <thead class="thead">
                <tr >
                    <th>Sr.No</th>
                    <th>Date</th>
                    <th>Village</th>
                    <th>Khasra No.</th>
                    <th>Status on Ground</th>
                    <th>PhotoPath</th>
                    <th>ReportFilePath</th>
                    <th>Remarks</th>
                    <th>Status</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody class="tbody">
                @*@foreach (var item in Model.Results)*@
                    @foreach (var item in Model)
                    {
                <tr>
                    <td>@(rowNo += 1)</td>
                   
                    <td> @(Convert.ToDateTime(item.Date).ToString("dd MMM yyyy"))</td>
                    <td>@item.Village.Name</td>
                    <td>@item.Khasra.Name</td>
                    <td>@item.StatusOnGround</td>
                    <td>@item.PhotoPath</td>
                    <td>@item.ReportFiletPath</td>
                    <td>@item.Remarks</td>
                    <td>
                        @(item.IsActive  == 1 ? "Active" : "Inactive" )
                    </td>
                    
                    <td>
                        <a asp-action="View" asp-route-id="@item.Id" title="View">  <i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i> </a>

                        <a asp-action="Edit" asp-route-id="@item.Id" title="edit"> &nbsp; | &nbsp;  <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i> </a>

                        <a asp-action="Delete" asp-route-id="@item.Id" title="delete" onclick="return confirm('Are You Sure, You want to Delete this Record?')">   &nbsp;|&nbsp;<i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
                    </td>
                </tr>
                    }

            </tbody>

        </table>
    </div>
</div>

<br />
<br />

