@model Libraries.Model.Entity.Watchandward
@{int Photo = 0;}
@{int ReportFile = 0;}

@await Component.InvokeAsync("PageHeader", new { pageName = "Watch & Ward" })
<br />

<br />
<form asp-action="Edit" enctype="multipart/form-data" disabled class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
    <h3 class="mb-3 d-flex"> View Details<span style="margin-left:800px"><span style="color:red">*&nbsp;</span>Marked are mandatory fields</span></h3>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />



    <div class="row">
        <div class="col-md-6">
            <div class="floating-label-wrap mb-3 mb-md-0">
                <input asp-for="Date" type="date" id="txtDate" disabled class="floating-label-field floating-label-field--s3" />
                <span asp-validation-for="Date" class="text-danger"></span>
                <label class="floating-label">Date<span style="color:red">*</span></label>
            </div>

        </div>
    </div>

    <div id="DivPrimaryList">
        <h2 class="my-3 sub-heading">Primary List No. and other details</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="floating-label-wrap">

                    <select class="floating-label-field floating-label-field--s3" disabled asp-for="PrimaryListNo" asp-items="@(new SelectList(Model.PrimaryListNoList, "Id","PrimaryListNo"))" onchange="return GetOtherDetails(this.options[this.selectedIndex].value);">
                        <option value="">--Select--</option>
                    </select>
                    <label asp-validation-for="PrimaryListNo" class="error"></label>
                    <label class="floating-label">Primary List No.<span style="color:red">*</span></label>
                </div>

            </div>
        </div>


        <div id="InventoryOtherDiv" class="mt-md-3">

        </div>
    </div>
    <div class="row mt-md-3">
        <div class="col-md-6">
            <div class="floating-label-wrap mb-3 mb-md-0">

                <input asp-for="Landmark" type="text" disabled class="floating-label-field floating-label-field--s3" />
                <span asp-validation-for="Landmark" class="text-danger"></span>
                <label class="floating-label">Land Mark<span style="color:red">*</span></label>
            </div>
        </div>
        <div class="col-md-6">

            <div class="row mt-md-3">
                <div class="col-md-4">
                    <label>Encroachment</label>
                </div>
                <input type="hidden" asp-for="Encroachment" value="0"/>
                <div class="col-md-4">
                    <div class="form-check theme">
                        <input disabled class="form-check-input" type="radio" asp-for="Encroachment" name="grpEncroachment" value="0" checked>
                        <label class="form-check-label">No </label>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-check theme">
                        <input disabled class="form-check-input" type="radio" asp-for="Encroachment" name="grpEncroachment" value="1" >
                        <label class="form-check-label">Yes </label>
                    </div>
                </div>
            </div>


            <span asp-validation-for="Encroachment" class="text-danger"></span>
           
        </div>

    </div>
    <div class="row mt-md-3">
        <div class="col-md-12">
            <div class="floating-label-wrap">
                <textarea asp-for="StatusOnGround" disabled type="text" class="floating-label-field floating-label-field--s3"></textarea>
                <span asp-validation-for="StatusOnGround" class="text-danger"></span>
                <label class="floating-label">Status on Ground<span style="color:red">*</span></label>
            </div>

           
        </div>
    </div>
    <div class="row mt-md-3">
        <div class="col-md-6">
            <div class="floating-label-wrap mb-3 mb-md-0">

                @{
                    if (Model.Watchandwardphotofiledetails != null && Model.Watchandwardphotofiledetails.Count > 0)
                    {


                        foreach (var item in Model.Watchandwardphotofiledetails)
                        {
                            <input type="file" class="floating-label-field floating-label-field--s3" disabled asp-for="Photo" id="PhotoFile" accept="image/png, image/jpeg, image/gif" multiple />
                            <span asp-validation-for="Photo" class="text-danger"></span>
                            <a class="badge badge-primary px-2" asp-action="ViewDocument" asp-route-id="@item.Id" target="_blank"> (View Photo @(Photo += 1 ))</a>

                            if (item.LattLongUrl != null)
                            {
                                <a target="_blank" class="badge badge-primary px-2" href="@item.LattLongUrl">View Location on Map</a>
                            }
                            <br />
                        }




                    }
                    else
                    {
                        <input type="file" class="floating-label-field floating-label-field--s3" disabled asp-for="Photo" id="PhotoFile" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" multiple />
                        <span asp-validation-for="Photo" class="text-danger"></span>
                       
                    }
                }
                <label class="floating-label">Photo</label>
            </div>
        </div>
        <div class="col-md-6" style="display:none;">
            <div class="floating-label-wrap mb-3 mb-md-0">

                @{
                    if (Model.Watchandwardreportfiledetails != null && Model.Watchandwardreportfiledetails.Count > 0)
                    {
                        
                        foreach (var item in Model.Watchandwardreportfiledetails)
                        {
                            <a class="badge badge-primary px-2" asp-action="DownloadReportFile" asp-route-id="@item.Id"  target="_blank"> (View Existing Document @(ReportFile += 1 ))</a>
                           
                        }
                        <input disabled type="file" class="floating-label-field floating-label-field--s3" asp-for="ReportFile" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" multiple />
                        <span asp-validation-for="ReportFile" class="text-danger"></span>
                    }
                    else
                    {
                        <input type="file" class="floating-label-field floating-label-field--s3" disabled asp-for="ReportFile" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" multiple />
                        <span asp-validation-for="ReportFile" class="text-danger"></span>
                        <label class="floating-label">Report</label>
                    }
                }

            </div>
        </div>
    </div>
    <div class="row mt-md-3">

        <div class="col-md-6" style="display:none;">
            <div class="floating-label-wrap">
                <label class="floating-label">Status</label>
                <select disabled asp-for="IsActive" class="form-control dda-dropdown">
                    <option value="1">Active</option>
                    <option value="0">Inactive</option>
                </select>
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row mt-md-3">
        <div class="col-md-12" style="display:none;">
            <div class="floating-label-wrap mb-3 mb-md-0">

                <textarea asp-for="Remarks" disabled type="text" class="floating-label-field floating-label-field--s3"></textarea>
                <span asp-validation-for="Remarks" class="text-danger"></span>
                <label class="floating-label">Remarks</label>
            </div>
        </div>

    </div>
    <div class="row mt-md-3">
        <div class="col-md-12">
            @Html.ActionLink("Back", "Index", "WatchWard", null, new { @class = "btn btn-theme " })
        </div>
    </div>
</form>
<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/watchwardedit.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/watchwardedit.min.js" asp-append-version="true"></script>
</environment>
