@model Libraries.Repository.Common.PagedResult<Libraries.Model.Entity.Rebate>
@{int rowNo = 0; }

<table class="table table-sm table-bordered mb-0 table-striped">

    <thead class="text-nowrap">
        <tr>
            <th>Sr.No</th>
            <th>Rebate On</th>
            <th>From Date</th>
            <th>To Date</th>
            <th>Rebate Percentage</th>
            <th>Active Status</th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Results)
        {
            <tr>
                <td>@(rowNo += 1)</td>
                <td>@(item.IsRebateOn == 0 ? "Rebate on Principal Amount" : item.IsRebateOn == 1 ? "Rebate on Interest": "Both")</td>
                <td>@item.FromDate.ToString("dd-MMM-yyyy")</td>

                <td>@item.ToDate.ToString("dd-MMM-yyyy")</td>
                <td>@item.RebatePercentage</td>

                <td>
                    @if (item.IsActive == 1)
                    {
                        <span class="badge badge-primary px-2 py-1">Active</span>
                    }
                    else
                    {
                        <span class="badge badge-danger px-2 py-1">Inactive</span>
                    }
                </td>
                <td>
                    <div class="action-btns">
                        <a asp-action="View" asp-route-id="@item.Id" title="View" class="view"><i class="ri-eye-fill"></i> </a>
                        <a asp-action="Edit" asp-route-id="@item.Id" title="edit" class="edit"><i class="ri-edit-line"></i> </a>
                        <a asp-action="Delete" asp-route-id="@item.Id" title="delete" class="remove" onclick="return confirm('Are You Sure, You want to Delete this Record?')">  <i class="ri-delete-bin-5-fill"></i></a>
                    </div>
                </td>

            </tr>

        }
    </tbody>

</table>

@await Component.InvokeAsync("Pager", new { totalCount = Model.RowCount, pageNumber = Model.CurrentPage, pageSize = Model.PazeSize })