@*@model Libraries.Repository.Common.PagedResult<Libraries.Model.Entity.Demandletters>*@
@model IEnumerable<Dto.Search.DemandCollectionLedgerListDataDto>
@{int rowNo = 0; }


<table class="table table-sm table-bordered mb-0 table-striped">


    <thead class="text-nowrap">
        <tr>
            <th> File No. </th>
            <th> Locality </th>
            <th> Property No </th>
            <th> Payee Name </th>
            <th> Debit (Dr.) </th>
            <th> Credit(Cr.)  </th>
        </tr>

    </thead>
    <tbody class="tbody">
        @if (Model != null && Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.FileNo</td>
                    <td>@(item.LocalityName)</td>
                    <td>@item.PropertyNo</td>
                    <td>@item.PayeeName</td>
                    <td>@item.DemandAmount</td>
                    <td>@item.PaidAmount</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <th colspan="14" style="text-align:center"> No Record Available! </th>
            </tr>
        }

    </tbody>

</table>



@*@await Component.InvokeAsync("Pager", new { totalCount = Model.RowCount, pageNumber = Model.CurrentPage, pageSize = Model.PazeSize })*@