@model Libraries.Repository.Common.PagedResult<Libraries.Model.Entity.Onlinecomplaint>
<table class="table table-sm table-bordered mb-0 table-striped">
    <thead class="text-nowrap">
        <tr>
          
            <th>Complaint Name</th>
            <th>Contact No</th>
            <th>Email</th>
            <th>Area/Address</th>
            <th>Complaint Type</th>
            <th>Location</th>
            <th>Reference No</th>
            <th>Status</th>
          
            <th>Operation</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Results.Count() > 0)
        {
            @foreach (var item in Model.Results)
            {
                <tr>
                  
                    <td>@item.Name</td>
                    <td>@item.Contact</td>
                    <td>@item.Email</td>
                    <td>@item.AddressOfComplaint</td>
                    <td>@item.ComplaintType.Name</td>

                    <td>@item.Location.Name</td>
                    <td>@item.ReferenceNo</td>
                    <td>@(item.ApprovedStatus == 0 ?  "Pending" : "Approved")</td>
                    @if (ViewBag.IsApproved == 0)
                    {
                        <td>

                            <a asp-action="Create" asp-route-id="@item.Id" title="edit" class="edit"><i class="ri-edit-line"></i> </a>

                        </td>
                    }
                    else
                    {
                        <td>No Action</td>
                    }
                </tr>
            }
        }
        else
        {
            <tr>
                <th colspan="14" style="text-align:center"> No Record Available! </th>
            </tr>
        }
    </tbody>
</table>
@await Component.InvokeAsync("Pager", new { totalCount = Model.RowCount, pageNumber = Model.CurrentPage, pageSize = Model.PazeSize })
