@model Libraries.Repository.Common.PagedResult<Libraries.Model.Entity.Legalmanagementsystem>

<table class="table table-sm table-bordered mb-0 table-striped">
    <thead class="text-nowrap">
        <tr>
            <th>Legal File No </th>
            <th>LM File No</th>
            <th>Case No </th>
            <th>Case Title </th>
            <th>Subject</th>
            <th>Hearing Date</th>
            <th>Next Date of Hearing(NDOH)</th>
            <th>Contempt of Court</th>
            <th>Court Type </th>
            <th>Case Status</th>
            <th>Last Decision</th>
            <th>Zone</th>
            <th>Locality (Village) Name</th>
            <th>Case Type</th>
            <th>In Favour</th>
            <th>Panel Laywer</th>
            <th>Stay Interim Granted</th>
            <th>Judgement</th>
            <th>Remarks</th>
            <th>Created Date</th>
        </tr>

    </thead>
    <tbody>
        @if (Model != null && Model.Results.Count() > 0)
        {
            @foreach (var item in Model.Results)
            {
        <tr>
            <td>@item.FileNo</td>
            <td>@item.LMFileNO</td>
            <td>@item.CourtCaseNo</td>
            <td>@item.CourtCaseTitle</td>
            <td>@item.Subject</td>
            <td>@(item.HearingDate.HasValue? item.HearingDate.Value.ToString("dd-MMM-yyyy"):"")</td>
            <td>@(item.NextHearingDate.HasValue? item.NextHearingDate.Value.ToString("dd-MMM-yyyy"):"")</td>
            <td>@(item.ContemptOfCourt==0?"":item.ContemptOfCourt==1? "Yes":"No")</td>
            <td>
                @(item.CourtType==null?"NA": item.CourtType.CourtType)
            </td>
            <td>
                @(item.CaseStatus == null?"NA": item.CaseStatus.CaseStatus)
            </td>
            <td>@item.LastDecision</td>
            <td>
                @(item.Zone == null?"NA": item.Zone.Name)
            </td>
            <td>
                @(@item.Locality == null?"NA": @item.Locality.Name)
            </td>
            <td>@item.CaseType</td>
            <td>@item.InFavour </td>
            <td>@item.PanelLawyer</td>
            <td>@(item.StayInterimGranted == 0?"":item.StayInterimGranted==1? "Yes":"No")</td>
            <td>@(item.Judgement == 0?"":item.Judgement==1? "Yes":"No")</td>
            <td>@item.Remarks</td>
            <td>@item.CreatedDate.ToString("dd-MMM-yyyy")</td>
        </tr>
            }
        }
        else
        {
            <tr>
                <th colspan="12" style="text-align:center"> No Record Available! </th>
            </tr>
        }
    </tbody>

</table>

@await Component.InvokeAsync("Pager", new { totalCount = Model.RowCount, pageNumber = Model.CurrentPage, pageSize = Model.PazeSize })
