
@model Libraries.Model.Entity.Issuereturnfile


<style>
    .p {
        color: black;
    }

    fieldset {
        border: 1px solid #ddd !important;
        margin: 0;
        xmin-width: 0;
        padding: 10px;
        position: relative;
        border-radius: 4px;
        background-color: #f5f5f5;
        padding-left: 10px !important;
    }

    label {
        font-weight: 500;
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        border-top: 0px none;
    }
</style>



<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<script src="js/bootstrap.min.js"></script>
<link href="Styles/bootstrap.css" rel="stylesheet" />

<div class="content" id="DivDemandReport" style="max-width: 780px; margin: auto; background: white; padding: 10px;">


    <div class="panel panel-default">

        <div class="row" style="border: groove; height:110px">

            <table class="table table-bordered" border="0">


                <tr>
                    <td>
                        <img src="https://res.cloudinary.com/deb9cwxor/image/upload/v1596010902/ow9sj5vbbpymed9eydrl.png" style="height:100px" class="img-responsive" alt="">
                    </td>
                    <td align="center">
                        <div>
                            <h style="font-size:20px; color:black">

                                <u> <b> DELHI DEVELOPMENT AUTHORITY</b></u>

                            </h>
                            <p style="color:black; font-size:16px; text-align:center;">

                                <b align="center">
                                    <u>
                                        Vikas Sadan, New Delhi
                                    </u>
                                </b>
                            </p>
                            <p style="color:black; font-size:16px; text-align:center;"><u>Return Receipt</u></p>
                        </div>
                    </td>
                    <td>
                        <img src="https://res.cloudinary.com/deb9cwxor/image/upload/v1596882092/dupx7btfcqjequcgsb00.jpg" style="height:100px" class="img-responsive" alt="">

                    </td>
                </tr>


            </table>

        </div>

        <div class="panel-body">
            <table class="table" border="0" style="border:none; border-top: none;  ">
                <tr>
                    <td style="border-top:none;">
                        <p style="color:black; font-weight:700;">File No.</p>
                    </td>
                    <td style="border-top:none;">
                        <label class="control-label" style="font-weight: 500;">@Model.DataStorageDetails.FileNo</label>
                    </td>
                    <td style="border-top:none;">
                        <p style="color:black; font-weight:700;">File Name/Subject </p>
                    </td>
                    <td style="border-top:none;">
                        <label class="control-label" style="font-weight: 500;">@Model.DataStorageDetails.Name</label>
                    </td>
                </tr>
            </table>

            <br />
            <fieldset>
                <legend style="font-size:medium;font-weight:700;"> Location Details</legend>

                <table class="table" border="0" style="border:none; border-top: none;  ">


                    <tr>
                        <td style="border-top:none;">
                            <p style="color:black; font-weight:700;">Compactor/Room No. :</p>
                        </td>
                        <td style="border-top:none;">
                            <label class="control-label" style="font-weight: 500;">@Model.DataStorageDetails.RecordRoomNo</label>
                        </td>
                        <td style="border-top:none;">
                            <p style="color:black; font-weight:700;">Almirah No. : </p>
                        </td>
                        <td style="border-top:none;">
                            <label class="control-label" style="font-weight: 500;"> @(Model.DataStorageDetails.Almirah == null?"": Model.DataStorageDetails.Almirah.AlmirahNo)</label>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-top:none;">
                            <p style="color:black; font-weight:700;">Row No. :</p>
                        </td>
                        <td style="border-top:none;">
                            <label class="control-label" style="font-weight: 500;"> @(Model.DataStorageDetails.Row == null?"": Model.DataStorageDetails.Row.RowNo)</label>
                        </td>
                        <td style="border-top:none;">
                            <p style="color:black; font-weight:700;">Column No. : </p>
                        </td>
                        <td style="border-top:none;">
                            <label class="control-label" style="font-weight: 500;">  @(Model.DataStorageDetails.Column == null?"": Model.DataStorageDetails.Column.ColumnNo)</label>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-top:none;">
                            <p style="color:black; font-weight:700;">Bundle No. :</p>
                        </td>
                        <td style="border-top:none;">
                            <label class="control-label" style="font-weight: 500;">  @(Model.DataStorageDetails.Bundle == null?"": Model.DataStorageDetails.Bundle.BundleNo)</label>
                        </td>
                    </tr>

                </table>


            </fieldset>
            <br />
            <fieldset>
                <legend style="font-size:medium;font-weight:700;"> Returning Details</legend>
                <table class="table" border="0" style="border:none; border-top: none;  ">


                    <tr>
                        <td style="border-top:none;">
                            <p style="color:black; font-weight:700;">Returned From (Employee Name) :</p>
                        </td>
                        <td style="border-top:none;">
                            <label class="control-label" style="font-weight: 500;">@Model.IssuedToEmployee</label>
                        </td>
                        <td style="border-top:none;">
                            <p style="color:black; font-weight:700;">Department : </p>
                        </td>
                        <td style="border-top:none;">
                            <label class="control-label" style="font-weight: 500;">   @(Model.Department == null?"": Model.Department.Name)</label>
                        </td>
                    </tr>
                    <tr>
                        @*<td style="border-top:none;">
                            <p style="color:black; font-weight:700;">Zone : </p>
                        </td>
                        <td style="border-top:none;">
                            <label class="control-label" style="font-weight: 500;">Sharda LM</label>
                        </td>*@
                        <td style="border-top:none;">
                            <p style="color:black; font-weight:700;">Branch Society :</p>
                        </td>
                        <td style="border-top:none;">
                            <label class="control-label" style="font-weight: 500;">  @(Model.Branch == null?"": Model.Branch.Name)</label>
                        </td>

                    </tr>
                    <tr>
                        <td style="border-top:none;">
                            <p style="color:black; font-weight:700;">Designation : </p>
                        </td>
                        <td style="border-top:none;">
                            <label class="control-label" style="font-weight: 500;">  @(Model.Designation == null?"": Model.Designation.Name)</label>
                        </td>
                        <td style="border-top:none;">
                            <p style="color:black; font-weight:700;">Issued Date :</p>
                        </td>
                        <td style="border-top:none;">
                            <label class="control-label" style="font-weight: 500;">@Model.IssuedDate</label>
                        </td>

                    </tr>
                    <tr>
                        <td style="border-top:none;">
                            <p style="color:black; font-weight:700;">Return On :</p>
                        </td>
                        <td style="border-top:none;">
                            <label class="control-label" style="font-weight: 500;">@Model.ReturnedDate</label>
                        </td>
                    </tr>

                </table>

            </fieldset>
            <br />
            <br />
            <table class="table" border="0" style="border:none; border-top: none;  ">
                <tr>

                    <td style="border-top:none; " align="right">
                        <label class="control-label">Signature</label>
                    </td>
                </tr>

            </table>

        </div>
    </div>
</div>



<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
<script src="~/js/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js" integrity="sha256-it5nQKHTz+34HijZJQkpNBIHsjpV8b6QzMJs9tmOBSo=" crossorigin="anonymous"></script>


<script>
    $(document).ready(function () {
        window.print();
    });

</script>





