@model Libraries.Model.Entity.Propertyregistration

@await Component.InvokeAsync("PageHeader", new { pageName = "Ministry of rehabilitation(MOR) Land Inventory" })
@*<style>
       form .error
        {
            position: absolute;
            color: #f00;
            font-size: .7rem;
            bottom: -14px;
            font-weight: 600;
        }

        .success {
            color: #28a745;
        }
    </style>*@

<br />

<br />

<form asp-action="Create" method="post" class="d-block rounded border p-3 bg-white search-filer shadow mb-3" id="myForm" enctype="multipart/form-data" autocomplete="off">
    <h3 class="mb-3 d-flex">Add Details</h3>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        <div class="col-md-4">
            <div class="floating-label-wrap">
                <select class="floating-label-field floating-label-field--s3" asp-for="InventoriedInId">
                    <option value="">--Select--</option>
                    <option value="1">VLMS</option>
                    <option value="2">Used</option>
                </select>
                <span asp-validation-for="InventoriedInId" class="text-danger"></span>
                <label asp-for="InventoriedInId" class="floating-label">Inventoried In </label>
                @*<select class="form-control dda-dropdown" asp-for="InventoriedInId" required="required" requiredmsg="Inventoried In is Mandatory">
                        <option value="">--Select--</option>
                        <option value="1">VLMS</option>
                        <option value="2">Used</option>
                    </select>*@

            </div>
        </div>
        <div class="col-md-4">
            <div class="floating-label-wrap">
                @*<label class="control-label lb-sm" asp-for="PlannedUnplannedLand">Planned/Unplanned Land</label><span class="text-danger">*</span>*@

                <select class="floating-label-field floating-label-field--s3" asp-for="PlannedUnplannedLand">
                    <option value="Planned Land">Planned Land</option>
                    <option value="Unplanned Land">Unplanned Land</option>
                </select>

                <span asp-validation-for="PlannedUnplannedLand" class="text-danger"></span>
                <label asp-for="PlannedUnplannedLand" class="floating-label">Planned/Unplanned Land </label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="floating-label-wrap">
                <select class="floating-label-field floating-label-field--s3" asp-for="ClassificationOfLandId" asp-items="@(new SelectList(Model.ClassificationOfLandList,"Id","Name"))" required="required" requiredmsg="The Classification of Land  is required">
                    <option selected="selected" disabled="disabled" value="">--Select-- </option>
                </select>
                <label asp-validation-for="ClassificationOfLandId" class="error"></label>
                <label asp-for="ClassificationOfLandId" class="floating-label">Classification of Land </label>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="floating-label-wrap">
                @*<label class="control-label lb-sm" asp-for="DepartmentId">Maintaining Department</label><span class="text-danger">*</span>
                    <select class="form-control dda-dropdown" asp-for="DepartmentId" asp-items="@(new SelectList(Model.DepartmentList, "Id","Name"))" onchange="return GetZoneList(this.options[this.selectedIndex].value);" required="required" requiredmsg="Department is Mandatory">
                        <option value="">--Select--</option>
                    </select>
                    <span asp-validation-for="DepartmentId" class="text-danger lb-sm"></span>*@
                <select class="floating-label-field floating-label-field--s3" asp-for="DepartmentId" asp-items="@(new SelectList(Model.DepartmentList, "Id","Name"))" onchange="return GetZoneList(this.options[this.selectedIndex].value);" required="required" requiredmsg="Department is Mandatory">
                    <option selected="selected" disabled="disabled" value="">--Select-- </option>
                </select>
                <label asp-validation-for="DepartmentId" class="error"></label>
                <label asp-for="DepartmentId" class="floating-label">Maintaining Department </label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="floating-label-wrap">
                <!--<label class="control-label lb-sm" asp-for="ZoneId">Zone</label><span class="text-danger">*</span>
                <select class="form-control dda-dropdown" asp-for="ZoneId" onchange="return GetDivisionList(this.options[this.selectedIndex].value);" required="required" requiredmsg="Zone is Mandatory">-->
                @*asp-items="@(new SelectList(Model.ZoneList, "Id","Name"))"*@
                <!--<option value="">--Select--</option>
                </select>
                <span asp-validation-for="ZoneId" class="text-danger lb-sm"></span>-->
                <select class="floating-label-field floating-label-field--s3" asp-for="ZoneId" onchange="return GetDivisionList(this.options[this.selectedIndex].value);" required="required" requiredmsg="Zone is Mandatory">
                    <option selected="selected" disabled="disabled" value="">--Select-- </option>
                </select>
                <label asp-validation-for="ZoneId" class="error"></label>
                <label asp-for="ZoneId" class="floating-label">Zone </label>
            </div>
        </div>

        <div class="col-md-4">
            <div class="floating-label-wrap">
                <!--<label class="control-label lb-sm" asp-for="DivisionId">Division</label><span class="text-danger">*</span>
                <select class="form-control dda-dropdown" asp-for="DivisionId" required="required" requiredmsg="Division is Mandatory">-->
                @*asp-items="@(new SelectList(Model.DivisionList, "Id","Name"))"*@
                <!--<option value="">--Select--</option>
                </select>
                <span asp-validation-for="DivisionId" class="text-danger lb-sm"></span>-->
                <select class="floating-label-field floating-label-field--s3" asp-for="DivisionId" required="required" requiredmsg="Division is Mandatory">
                    <option selected="selected" disabled="disabled" value="">--Select-- </option>
                </select>
                <label asp-validation-for="DivisionId" class="error"></label>
                <label asp-for="DivisionId" class="floating-label">Division </label>
            </div>
        </div>
    </div>

    <div id="divUnplannedSelection" style="display:none;">
        <div class="row">
            <div class="col-md-4">
                <div class="floating-label-wrap">
                    <!--<label class="control-label lb-sm" asp-for="LocalityId">Locality(Village)</label><span class="text-danger">*</span>
                    <select class="form-control dda-dropdown" asp-for="LocalityId">-->
                    @*asp-items="@(new SelectList(Model.LocalityList, "Id","Name"))"*@
                    <!--<option value="">--Select--</option>
                    </select>
                    <span asp-validation-for="LocalityId" class="text-danger lb-sm"></span>-->
                    <select class="floating-label-field floating-label-field--s3" asp-for="LocalityId">
                        <option selected="selected" disabled="disabled" value="">--Select-- </option>
                    </select>
                    <label asp-validation-for="LocalityId" class="error"></label>
                    <label asp-for="LocalityId" class="floating-label">Locality(Village) </label>
                </div>
            </div>
            <div class="col-md-4">
                @*<label class="control-label lb-sm">Khasra No</label>
                    <input asp-for="KhasraNo" class="form-control" limit="200" />
                    <span asp-validation-for="KhasraNo" class="text-danger lb-sm"></span>*@
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input type="text" id="txtKhasraNo" limit="200" class="floating-label-field floating-label-field--s3" placeholder="Khasra No" />
                    <label for="txtKhasraNo" class="floating-label">Khasra No</label>
                </div>
            </div>
        </div>
    </div>
    <div id="divPlannedSelection">
        <div class="row">
            <div class="col-md-4">
                @*<label class="control-label lb-sm">Colony</label>
                    <input asp-for="Colony" type="text" class="form-control" maxlength="50" />
                    <span class="text-danger lb-sm"></span>*@
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input type="text" id="txtName" maxlength="50" class="floating-label-field floating-label-field--s3" placeholder="Colony" />
                    <label for="txtName" class="floating-label">Colony</label>
                </div>
            </div>
            <div class="col-md-4">
                @*<label class="control-label lb-sm">Sector</label>
                    <input asp-for="Sector" class="form-control" maxlength="50" />
                    <span asp-validation-for="Sector" class="text-danger lb-sm"></span>*@
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input type="text" id="txtName" maxlength="50" class="floating-label-field floating-label-field--s3" placeholder="Sector" />
                    <label for="txtName" class="floating-label">Sector</label>
                </div>
            </div>
            <div class="col-md-4">
                @*<label class="control-label lb-sm">Block</label>
                    <input type="text" class="form-control" maxlength="50" asp-for="Block" />
                    <span class="text-danger lb-sm" asp-validation-for="Block"></span>*@
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input type="text" id="txtName" maxlength="50" class="floating-label-field floating-label-field--s3" placeholder="Block" />
                    <label for="txtName" class="floating-label">Block</label>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-md-4">
                @*<label class="control-label lb-sm">Pocket</label>
                    <input asp-for="Pocket" class="form-control" maxlength="50" />
                    <span asp-validation-for="Pocket" class="text-danger lb-sm"></span>*@
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input type="text" id="txtName" maxlength="50" class="floating-label-field floating-label-field--s3" placeholder="Pocket" />
                    <label for="txtName" class="floating-label">Pocket</label>
                </div>
            </div>
            <div class="col-md-4">
                @*<label class="control-label lb-sm">Plot No.</label>
                    <input asp-for="PlotNo" class="form-control" maxlength="50" />
                    <span asp-validation-for="PlotNo" class="text-danger lb-sm"></span>*@
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input type="text" id="txtName" maxlength="50" class="floating-label-field floating-label-field--s3" placeholder="Plot No." />
                    <label for="txtName" class="floating-label">Plot No.</label>
                </div>
            </div>

            <div class="col-md-4">
                @*<label class="control-label lb-sm">Primary List No.</label><span class="text-danger">*</span>
                    <input asp-for="PrimaryListNo" class="form-control" limit="200" required="required" requiredmsg="Primary List No. is Mandatory" />
                    <span asp-validation-for="PrimaryListNo" class="text-danger lb-sm"></span>*@
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input type="text" id="txtName" limit="20" class="floating-label-field floating-label-field--s3" placeholder="PrimaryListNo" />
                    <label for="txtName" class="floating-label">Primary List No.</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @*<label class="control-label lb-sm">Address with Landmark</label>
                <textarea asp-for="Palandmark" class="form-control" maxlength="4000" limit="4000"></textarea>
                <div id="feedbackPalandmark"></div>*@
            <div class="floating-label-wrap mb-3 mb-md-0">
                <input type="text" id="txtName" maxlength="4000" limit="4000" class="floating-label-field floating-label-field--s3" placeholder="Address with Landmark" />
                <label for="txtName" class="floating-label">Address with Landmark</label>
            </div>
        </div>
    </div>


    <div id="DivArea">
        <h2 class="my-3 sub-heading">Area</h2>
        <div class="row">

            <div class="col-md-4">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="AreaUnit">
                        <option value="">--Select--</option>
                        <option value="0">bigha-biswa-bishwani</option>
                        <option value="1">Sq Yd.</option>
                        <option value="2">Acre</option>
                        <option value="3">Hectare</option>
                        <option value="4">Sq. Mt.</option>
                    </select>
                    <span asp-validation-for="AreaUnit" class="text-danger"></span>
                    <label asp-for="AreaUnit" class="floating-label">Area Unit </label>
                </div>
            </div>

        </div>
        <div class="row pt-3">
            <div class="col-md-4">
                <div id="bighabis">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="floating-label-wrap mb-3 mb-md-0">

                                <input asp-for="TotalAreaInBigha" type="text" value="" class="floating-label-field floating-label-field--s3 onlynumbers bbbcalculation" placeholder="Bigha" onkeypress="return numericDecimal(this);" onpaste="return false;">
                                <span asp-validation-for="TotalAreaInBigha" class="text-danger"></span>
                                <label class="floating-label">Bigha</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="floating-label-wrap mb-3 mb-md-0">

                                <input asp-for="TotalAreaInBiswa" type="text" id="txtName" value="" class="floating-label-field floating-label-field--s3 onlynumbers bbbcalculation" placeholder="Biswa" onkeypress="return numericDecimal(this);" onpaste="return false;">
                                <span asp-validation-for="TotalAreaInBiswa" class="text-danger"></span>
                                <label class="floating-label">Biswa</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="floating-label-wrap mb-3 mb-md-0">

                                <input asp-for="TotalAreaInBiswani" type="text" id="txtName" value="" class="floating-label-field floating-label-field--s3 onlynumbers bbbcalculation" placeholder="Biswani" onkeypress="return numericDecimal(this);" onpaste="return false;">
                                <span asp-validation-for="TotalAreaInBiswani" class="text-danger"></span>
                                <label class="floating-label">Biswani</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="AreainSqAcreHec" style="display:none;">
            <div class="row pt-3">
                <div class="col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">

                        <input asp-for="TotalAreaInSqAcreHt" type="text" id="txtName" class="floating-label-field floating-label-field--s3 numbers TotalCalculation" placeholder="Total Area(Sq Yd./Acre/Hectare)" onkeypress="return numericDecimal(this);" onpaste="return false;" />
                        <span asp-validation-for="TotalAreaInSqAcreHt" class="text-danger"></span>
                        <label class="floating-label">Total Area(Sq Yd./Acre/Hectare)</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">

                        <input asp-for="TotalArea" id="txtName" value="" class="floating-label-field floating-label-field--s3  numbers" placeholder="Total Area(in sq. mt.)" onkeypress="return numericDecimal(this);" onpaste="return false;" required="required" requiredmsg="Total Area is Mandatory">
                        <span asp-validation-for="TotalArea" class="text-danger"></span>
                        <label class="floating-label">Total Area(in sq. mt.)</label>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div id="divEncroachment">
        <h2 class="my-3 sub-heading">Encroached Details</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="floating-label-wrap">

                    <select class="floating-label-field floating-label-field--s3" asp-for="EncroachmentStatusId">
                        <option value="0">No</option>
                        <option value="1">Yes</option>
                    </select>
                    <span asp-validation-for="EncroachmentStatusId" class="text-danger"></span>
                    <label class="floating-label">Encroachment</label>
                </div>
            </div>
        </div>
        <div id="divEncroachmentYesSelection" style="display:none;">
            <div class="row pt-3">
                <div class="col-md-4">
                    <div class="floating-label-wrap">

                        <select class="floating-label-field floating-label-field--s3" asp-for="EncroachedPartiallyFully">
                            <option value="0">Partially Encroached</option>
                            <option value="1">Fully Encroached</option>
                        </select>
                        <span asp-validation-for="EncroachedPartiallyFully" class="text-danger"></span>
                        <label class="floating-label">Encroachment Status</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="floating-label-wrap">

                        <input asp-for="EncrochedArea" value="" class="floating-label-field floating-label-field--s3 numbers" placeholder="Encroched Area(in sq. mt.)" onkeypress="return numericDecimal(this);" onpaste="return false;" />
                        <span id="EncroachedValidation" asp-validation-for="EncrochedArea" class="text-danger"></span>
                        <label class="floating-label">Encroched Area(in sq. mt.)</label>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="floating-label-wrap">

                        <input asp-for="BuiltUpEncraochmentArea" class="floating-label-field floating-label-field--s3 numbers" id="BuiltupEncroachmentArea" placeholder="Builtup in Encroachment Area(in sq. mt.)" onkeypress="return numericDecimal(this);" onpaste="return false;" />
                        <span asp-validation-for="BuiltUpEncraochmentArea" class="text-danger"></span>
                        <label class="floating-label">Builtup in Encroachment Area(in sq. mt.)</label>
                    </div>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-md-4">
                    <div class="floating-label-wrap">

                        <input asp-for="Vacant" value="" class="floating-label-field floating-label-field--s3 numbers" placeholder="Vacant Area(in sq. mt.)" onkeypress="return numericDecimal(this);" onpaste="return false;" />
                        <span asp-validation-for="Vacant" class="text-danger"></span>
                        <label class="floating-label">Vacant Area(in sq. mt.)</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="floating-label-wrap">

                        <input asp-for="ActionOnEncroachment" class="floating-label-field floating-label-field--s3" placeholder="Action On Encroachment" maxlength="200" />
                        <span asp-validation-for="ActionOnEncroachment" class="text-danger"></span>
                        <label class="floating-label">Action On Encroachment</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="floating-label-wrap">

                        <input type="file" class="floating-label-field floating-label-field--s3" placeholder="Upload Action Taken Report(ATR)" asp-for="EncroachAtrDoc" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" />
                        <span asp-validation-for="EncroachAtrDoc" class="text-danger"></span>
                        <label class="floating-label">Upload Action Taken Report(ATR)</label>
                    </div>

                </div>
            </div>

        </div>
        <div class="row pt-3">
            <div class="col-md-12" id="divEncroachmentDetails" style="display:none;">
                <div class="floating-label-wrap">

                    <input asp-for="EncraochmentDetails" class="floating-label-field floating-label-field--s3" placeholder="Encroachment Details" maxlength="4000" limit="5000" />
                    <span asp-validation-for="EncraochmentDetails" class="text-danger lb-sm"></span>
                    <label id="l1" class="floating-label">Encroachment Details</label>
                </div>
            </div>

        </div>
    </div>

    <div id="divFencingBoundaryWall">
        <h2 class="my-3 sub-heading">Boundary Wall/Fencing</h2>
        <div class="row">
            <div class="col-md-4">

                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="Boundary">

                        <option value="0">Boundary Wall</option>
                        <option value="1">Fencing</option>
                        <option value="2">None</option>
                    </select>
                    <span asp-validation-for="Boundary" class="text-danger"></span>
                    <label asp-for="Boundary" class="floating-label">Protection of Land </label>
                </div>
            </div>
        </div>
        <div id="divBoundarySelection" style="display:none;">
            <div class="row pt-3">
                <div class="col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        @*<label class="control-label lb-sm">Area Covered(Sq. mtr)</label>
                            <input type="text" class="form-control numbers" asp-for="BoundaryAreaCovered" />*@
                        <input asp-for="BoundaryAreaCovered" type="text" class="floating-label-field floating-label-field--s3 numbers" />
                        <span asp-validation-for="BoundaryAreaCovered" class="text-danger "></span>
                        <label for="txtName" class="floating-label">Area Covered(Sq. mtr)</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        @*<label class="control-label lb-sm">Dimension (L*B*H)(mtr)</label>
                            <input type="text" class="form-control" asp-for="BoundaryDimension" />*@
                        <input asp-for="BoundaryDimension" type="text" class="floating-label-field floating-label-field--s3" placeholder="Dimension (L*B*H)(mtr)">

                        <span asp-validation-for="BoundaryDimension" class="text-danger "></span>
                        <label class="floating-label">Dimension (L*B*H)(mtr)</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        @*<label id="l1" class="control-label lb-sm">Boundary Remarks</label>
                            <input asp-for="BoundaryRemarks" class="form-control" />
                            <span asp-validation-for="BoundaryRemarks" class="text-danger lb-sm"></span>*@
                        <input asp-for="BoundaryRemarks" type="text" class="floating-label-field floating-label-field--s3" placeholder="Boundary Remarks">

                        <span asp-validation-for="BoundaryRemarks" class="text-danger "></span>
                        <label class="floating-label">Boundary Remarks</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="DivLandUse">
        <h2 class="my-3 sub-heading">Land Use</h2>
        <div id="divPlannedLand">

            @*<label class="control-label lb-sm">Main Land Use</label>
                <select class="form-control dda-dropdown" asp-for="MainLandUseId" asp-items="@(new SelectList(Model.LandUseList, "Id","Name"))">
                    <option value="0">--Select--</option>
                </select>
                <span asp-validation-for="MainLandUseId" class="text-danger lb-sm"></span>*@
            <div class="row">
                <div class="col-md-4">
                    <div class="floating-label-wrap">
                        <select class="floating-label-field floating-label-field--s3" asp-for="MainLandUseId" asp-items="@(new SelectList(Model.LandUseList, "Id","Name"))">
                            <option selected="selected" disabled="disabled" value="">--Select-- </option>
                        </select>
                        <label asp-validation-for="MainLandUseId" class="error"></label>
                        <label asp-for="MainLandUseId" class="floating-label">Main Land Use </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        @*<label class="control-label lb-sm">Sub Use</label>
                            <input type="text" asp-for="SubUse" class="form-control" limit="500" />*@
                        <input asp-for="SubUse" type="text" class="floating-label-field floating-label-field--s3" limit="100" placeholder="Boundary Remarks">

                        <span asp-validation-for="SubUse" class="text-danger "></span>
                        <label class="floating-label">Sub Use</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="divLitigation">
        <h2 class="my-3 sub-heading">Litigation</h2>
        <div class="row">
            <div class="col-md-4">
                @*<label class="control-label lb-sm">Litigation Status</label><span class="text-danger">*</span>
                    <select class="form-control dda-dropdown" asp-for="LitigationStatus">
                        <option value="0">No</option>
                        <option value="1">Yes</option>
                    </select>*@
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="LitigationStatus">

                        <option value="0">No</option>
                        <option value="1">Yes</option>
                    </select>
                    <span asp-validation-for="LitigationStatus" class="text-danger"></span>
                    <label asp-for="LitigationStatus" class="floating-label">Litigation Status </label>
                </div>
            </div>
        </div>

        <div id="divLitigationStatusSelection" style="display:none;">
            <div class="row pt-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        @*<label class="control-label lb-sm">Court Name</label>
                            <input asp-for="CourtName" class="form-control" maxlength="50" />
                            <span asp-validation-for="CourtName" class="text-danger lb-sm"></span>*@
                        <input asp-for="CourtName" class="floating-label-field floating-label-field--s3" maxlength="50" placeholder="Court Name">

                        <span asp-validation-for="CourtName" class="text-danger "></span>
                        <label class="floating-label">Court Name</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        @*<label class="control-label lb-sm">Case No.</label>
                            <input asp-for="CaseNo" class="form-control" maxlength="50" />
                            <span asp-validation-for="CaseNo" class="text-danger lb-sm"></span>*@
                        <input asp-for="CaseNo" class="floating-label-field floating-label-field--s3" maxlength="50" placeholder="Case No.">

                        <span asp-validation-for="CaseNo" class="text-danger "></span>
                        <label class="floating-label">Case No.</label>
                    </div>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        @*<label class="control-label lb-sm">Opposite Party</label>
                            <input asp-for="OppositeParty" class="form-control" maxlength="100" />
                            <span asp-validation-for="OppositeParty" class="text-danger lb-sm"></span>*@
                        <input asp-for="OppositeParty" class="floating-label-field floating-label-field--s3" maxlength="100" placeholder="Opposite Party">

                        <span asp-validation-for="OppositeParty" class="text-danger "></span>
                        <label class="floating-label">Opposite Party</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        @*<label class="control-label lb-sm">Remarks</label>
                            <input asp-for="LitigationStatusRemarks" class="form-control" limit="4000" />
                            <span asp-validation-for="LitigationStatusRemarks" class="text-danger lb-sm"></span>*@
                        <input asp-for="LitigationStatusRemarks" class="floating-label-field floating-label-field--s3" limit="5000" placeholder="Remarks">

                        <span asp-validation-for="LitigationStatusRemarks" class="text-danger "></span>
                        <label class="floating-label">Remarks</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="DivOtherDetails">
        <h2 class="my-3 sub-heading">Other Details</h2>

        <div class="row">
            <div class="col-md-4">
                @*<label class="control-label lb-sm">Built-Up</label><span class="text-danger">*</span>
                    <select class="form-control dda-dropdown" asp-for="BuiltUp">
                        <option value="0">No</option>
                        <option value="1">Yes</option>
                    </select>*@
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="BuiltUp">

                        <option value="0">No</option>
                        <option value="1">Yes</option>
                    </select>
                    <span asp-validation-for="BuiltUp" class="text-danger"></span>
                    <label asp-for="BuiltUp" class="floating-label">Built-Up </label>
                </div>
            </div>
            <div class="col-md-4" id="divBuilttype" style="display:none;">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    @*<label class="control-label lb-sm">Built-Up Remarks</label>
                        <input asp-for="BuiltUpRemarks" class="form-control" />
                        <span asp-validation-for="BuiltUpRemarks" class="text-danger lb-sm"></span>*@
                    <input asp-for="BuiltUpRemarks" class="floating-label-field floating-label-field--s3" placeholder="Remarks">

                    <span asp-validation-for="BuiltUpRemarks" class="text-danger "></span>
                    <label class="floating-label">Built-Up Remarks</label>
                </div>
            </div>
            <div class="form-group col-md-4" id="divLayoutPlan" style="display:none;">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    @*<label class="control-label lb-sm" asp-for="FileData">Upload Layout Plan</label>
                        <input type="file" class="form-control" id="Assignfile" name="Assignfile" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" />
                        <span asp-validation-for="FileData" class="text-danger lb-sm"></span>*@
                    <input asp-for="FileData" type="file" class="floating-label-field floating-label-field--s3" id="Assignfile" name="Assignfile" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" />

                    <span asp-validation-for="FileData" class="text-danger "></span>
                    <label class="floating-label">Upload Layout Plan</label>
                </div>

            </div>
        </div>
        <div class="row pt-3">
            <div class="col-md-4">
                @*<label class="control-label lb-sm">GEO Referencing Done</label><span class="text-danger">*</span>
                    <select class="form-control dda-dropdown" asp-for="GeoReferencing">
                        <option value="0">No</option>
                        <option value="1">Yes</option>
                    </select>*@
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="GeoReferencing">

                        <option value="0">No</option>
                        <option value="1">Yes</option>
                    </select>
                    <span asp-validation-for="GeoReferencing" class="text-danger"></span>
                    <label asp-for="GeoReferencing" class="floating-label">GEO Referencing Done </label>
                </div>
            </div>
        </div>
        <div id="divGEOReferencingSelection" style="display:none;">
            <div class="row pt-3">
                <div class="col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        @*<label class="control-label lb-sm" asp-for="GeoFileData">Upload Geo Referencing</label>
                            <input type="file" class="form-control" id="GeoAssignFile" name="GeoAssignFile" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" />
                            <span asp-validation-for="GeoFileData" class="text-danger lb-sm"></span>*@
                        <input asp-for="GeoFileData" type="file" class="floating-label-field floating-label-field--s3" id="GeoAssignFile" name="GeoAssignFile" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" />

                        <span asp-validation-for="GeoFileData" class="text-danger "></span>
                        <label class="floating-label">Upload Geo Referencing</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        @*<label class="control-label lb-sm">Lattitude</label>
                            <input asp-for="GeoLattitude" class="form-control" />
                            <span asp-validation-for="GeoLattitude" class="text-danger lb-sm"></span>*@
                        <input asp-for="GeoLattitude" class="floating-label-field floating-label-field--s3" placeholder="Lattitude">

                        <span asp-validation-for="GeoLattitude" class="text-danger "></span>
                        <label class="floating-label">Lattitude</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        @*<label class="control-label lb-sm">Longitude</label>
                            <input asp-for="GeoLongitude" class="form-control" />
                            <span asp-validation-for="GeoLongitude" class="text-danger lb-sm"></span>*@
                        <input asp-for="GeoLongitude" class="floating-label-field floating-label-field--s3" placeholder="Lattitude">

                        <span asp-validation-for="GeoLongitude" class="text-danger "></span>
                        <label class="floating-label">Longitude</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a class="btn btn-theme" style="color:white;">Get Lat Long</a>
                    @*@Html.ActionLink("Get Latt Longitude", "Create", "PropertyRegistration", null, new { @class = "btn btn-primary dda-pageheading", style = "width:auto;" })*@
                </div>
            </div>
        </div>
    </div>

    <div id="DivHandedOver" style="display:none;">
        <h2 class="my-3 sub-heading">Handed Over</h2>
        <div class="row">
            <div class="col-md-4">
                @*<label class="control-label lb-sm" asp-for="HandedOverDepartmentId">Department</label>
                    <select class="form-control dda-dropdown" asp-for="HandedOverDepartmentId" asp-items="@(new SelectList(Model.HandOverDepartmentList, "Id","Name"))" onchange="return GetHandedOverZoneList(this.options[this.selectedIndex].value);">
                        <option value="">--Select--</option>
                    </select>
                    <span asp-validation-for="HandedOverDepartmentId" class="text-danger lb-sm"></span>*@
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="HandedOverDepartmentId" asp-items="@(new SelectList(Model.HandOverDepartmentList, "Id","Name"))" onchange="return GetHandedOverZoneList(this.options[this.selectedIndex].value);">
                        <option selected="selected" disabled="disabled" value="">--Select-- </option>
                    </select>
                    <label asp-validation-for="HandedOverDepartmentId" class="error"></label>
                    <label asp-for="HandedOverDepartmentId" class="floating-label">Department </label>
                </div>
            </div>
            <div class="col-md-4">
                @*<label class="control-label lb-sm" asp-for="HandedOverZoneId">Zone</label>
                    <select class="form-control dda-dropdown" asp-for="HandedOverZoneId" onchange="return GetHandedOverDivisionList(this.options[this.selectedIndex].value);">
                        <option value="">--Select--</option>
                    </select>
                    <span asp-validation-for="HandedOverZoneId" class="text-danger lb-sm"></span>*@
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="HandedOverZoneId" onchange="return GetHandedOverDivisionList(this.options[this.selectedIndex].value);">
                        <option selected="selected" disabled="disabled" value="">--Select-- </option>
                    </select>
                    <label asp-validation-for="HandedOverZoneId" class="error"></label>
                    <label asp-for="HandedOverZoneId" class="floating-label">Zone </label>
                </div>
            </div>

            <div class="col-md-4">
                @*<label class="control-label lb-sm" asp-for="HandedOverDivisionId">Division</label>
                    <select class="form-control dda-dropdown" asp-for="HandedOverDivisionId">
                        <option value="">--Select--</option>
                    </select>
                    <span asp-validation-for="HandedOverDivisionId" class="text-danger lb-sm"></span>*@
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="HandedOverDivisionId">
                        <option selected="selected" disabled="disabled" value="">--Select-- </option>
                    </select>
                    <label asp-validation-for="HandedOverDivisionId" class="error"></label>
                    <label asp-for="HandedOverDivisionId" class="floating-label">Division </label>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    @*<label class="control-label lb-sm">Name/Designation</label>
                        <input asp-for="HandedOverName" class="form-control" limit="200" />
                        <span asp-validation-for="HandedOverName" class="text-danger lb-sm"></span>*@
                    <input asp-for="HandedOverName" class="floating-label-field floating-label-field--s3" limit="200" placeholder="Name/Designation">

                    <span asp-validation-for="HandedOverName" class="text-danger "></span>
                    <label class="floating-label">Name/Designation</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    @*<label class="control-label lb-sm">Date</label>
                        <input asp-for="HandedOverDate" class="form-control" type="date" value="" />
                        <span asp-validation-for="HandedOverDate" class="text-danger lb-sm"></span>*@
                    <input asp-for="HandedOverDate" type="date" value="" class="floating-label-field floating-label-field--s3">

                    <span asp-validation-for="HandedOverDate" class="text-danger "></span>
                    <label class="floating-label">Date</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    @*<label class="control-label lb-sm">Email Id</label>
                        <input asp-for="HandedOverEmailId" class="form-control" type="email" limit="200" />
                        <span asp-validation-for="HandedOverEmailId" class="text-danger lb-sm"></span>*@
                    <input asp-for="HandedOverEmailId" type="email" limit="200" class="floating-label-field floating-label-field--s3">

                    <span asp-validation-for="HandedOverEmailId" class="text-danger "></span>
                    <label class="floating-label">Email Id</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    @*<label class="control-label lb-sm">Mobile No.</label>
                        <input asp-for="HandedOverMobileNo" class="form-control onlynumbers" maxlength="10" />
                        <span asp-validation-for="HandedOverMobileNo" class="text-danger lb-sm"></span>*@
                    <input asp-for="HandedOverMobileNo" class="floating-label-field floating-label-field--s3 onlynumbers" maxlength="10">

                    <span asp-validation-for="HandedOverMobileNo" class="text-danger "></span>
                    <label class="floating-label">Mobile No.</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    @*<label class="control-label lb-sm">Land Line No.</label>
                        <input asp-for="HandedOverLandlineNo" class="form-control onlynumbers" maxlength="10" />
                        <span asp-validation-for="HandedOverLandlineNo" class="text-danger lb-sm"></span>*@
                    <input asp-for="HandedOverLandlineNo" class="floating-label-field floating-label-field--s3 onlynumbers" maxlength="10">

                    <span asp-validation-for="HandedOverLandlineNo" class="text-danger "></span>
                    <label class="floating-label">Land Line No.</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    @*<label class="control-label lb-sm">Order No.</label>
                        <input type="text" class="form-control" asp-for="HandedOverOrderNo" />
                        <span asp-validation-for="HandedOverOrderNo" class="text-danger"></span>*@
                    <input asp-for="HandedOverOrderNo" type="text" class="floating-label-field floating-label-field--s3">

                    <span asp-validation-for="HandedOverOrderNo" class="text-danger "></span>
                    <label class="floating-label">Order No.</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    @*<label class="control-label lb-sm">Copy of Order</label>
                        <input type="file" class="form-control" asp-for="HandedOverCopyofOrderDoc" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" />
                        <span asp-validation-for="HandedOverCopyofOrderDoc" class="text-danger lb-sm"></span>*@
                    <input asp-for="HandedOverCopyofOrderDoc" type="file" class="floating-label-field floating-label-field--s3" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" />

                    <span asp-validation-for="HandedOverCopyofOrderDoc" class="text-danger "></span>
                    <label class="floating-label">Copy of Order</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    @*<label class="control-label lb-sm">Transfer order Issue Authority</label>
                        <input type="text" class="form-control" asp-for="HandedTransferOrder" />
                        <span class="text-danger" asp-validation-for="HandedTransferOrder"></span>*@
                    <input asp-for="HandedTransferOrder" type="text" class="floating-label-field floating-label-field--s3">

                    <span asp-validation-for="HandedTransferOrder" class="text-danger "></span>
                    <label class="floating-label">Transfer order Issue Authority</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    @*<label class="control-label lb-sm" asp-for="HandedOverFileData">Document</label>
                        <input type="file" class="form-control" id="HandedOverAssignFile" name="HandedOverAssignFile" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" />
                        <span asp-validation-for="HandedOverFileData" class="text-danger lb-sm"></span>*@
                    <input asp-for="HandedOverFileData" id="HandedOverAssignFile" name="HandedOverAssignFile" type="file" class="floating-label-field floating-label-field--s3" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" />

                    <span asp-validation-for="HandedOverFileData" class="text-danger "></span>
                    <label class="floating-label">Document</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    @*<label class="control-label lb-sm">Comments</label>
                        <textarea asp-for="HandedOverComments" class="form-control" maxlength="4000" limit="4000"></textarea>
                        <span asp-validation-for="HandedOverComments" class="text-danger lb-sm"></span>*@
                    <input asp-for="HandedOverComments" maxlength="4000" limit="4000" class="floating-label-field floating-label-field--s3">

                    <span asp-validation-for="HandedOverComments" class="text-danger "></span>
                    <label class="floating-label">Comments</label>
                    <div id="feedbackHandedOverComments"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="DivTakenOver" style="display:none;">

        <h6 class="my-3 sub-heading">Taken Over</h6>
        <div class="row">
            <div class="col-md-4">
                @*<label class="control-label lb-sm" asp-for="TakenOverDepartmentId">Department</label>
                    <select class="form-control dda-dropdown" asp-for="TakenOverDepartmentId" asp-items="@(new SelectList(Model.TakenOverDepartmentList, "Id","Name"))" onchange="return GetTakenOverZoneList(this.options[this.selectedIndex].value);">
                        <option value="">--Select--</option>
                    </select>
                    <span asp-validation-for="TakenOverDepartmentId" class="text-danger lb-sm"></span>*@
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="TakenOverDepartmentId" asp-items="@(new SelectList(Model.TakenOverDepartmentList, "Id","Name"))" onchange="return GetTakenOverZoneList(this.options[this.selectedIndex].value);">
                        <option selected="selected" disabled="disabled" value="">--Select-- </option>
                    </select>
                    <label asp-validation-for="TakenOverDepartmentId" class="error"></label>
                    <label asp-for="TakenOverDepartmentId" class="floating-label">Department </label>
                </div>
            </div>
            <div class="col-md-4">
                @*<label class="control-label lb-sm" asp-for="TakenOverZoneId">Zone</label>
                    <select class="form-control dda-dropdown" asp-for="TakenOverZoneId" onchange="return GetTakenOverDivisionList(this.options[this.selectedIndex].value);">
                        <option value="">--Select--</option>
                    </select>
                    <span asp-validation-for="TakenOverZoneId" class="text-danger lb-sm"></span>*@
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="TakenOverZoneId" onchange="return GetTakenOverDivisionList(this.options[this.selectedIndex].value);">
                        <option selected="selected" disabled="disabled" value="">--Select-- </option>
                    </select>
                    <label asp-validation-for="TakenOverZoneId" class="error"></label>
                    <label asp-for="TakenOverZoneId" class="floating-label">Zone </label>
                </div>
            </div>

            <div class="col-md-4">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="TakenOverDivisionId">
                        <option selected="selected" disabled="disabled" value="">--Select-- </option>
                    </select>
                    <label asp-validation-for="TakenOverDivisionId" class="error"></label>
                    <label asp-for="TakenOverDivisionId" class="floating-label">Division </label>
                </div>
                @*<label class="control-label lb-sm" asp-for="TakenOverDivisionId">Division</label>
                    <select class="form-control dda-dropdown" asp-for="TakenOverDivisionId">
                        <option value="">--Select--</option>
                    </select>
                    <span asp-validation-for="TakenOverDivisionId" class="text-danger lb-sm"></span>*@
            </div>
        </div>
        <div class="row">

            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    @*<label class="control-label lb-sm">Name/Designation</label>
                        <input asp-for="TakenOverName" class="form-control" limit="200" />
                        <span asp-validation-for="TakenOverName" class="text-danger lb-sm"></span>*@
                    <input asp-for="TakenOverName" limit="200" class="floating-label-field floating-label-field--s3">

                    <span asp-validation-for="TakenOverName" class="text-danger "></span>
                    <label class="floating-label">Name/Designation</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    @*<label class="control-label lb-sm">Date</label>
                        <input asp-for="TakenOverDate" type="date" value="" class="form-control" />
                        <span asp-validation-for="TakenOverDate" class="text-danger lb-sm"></span>*@
                    <input asp-for="TakenOverDate" type="date" value="" class="floating-label-field floating-label-field--s3">

                    <span asp-validation-for="TakenOverDate" class="text-danger "></span>
                    <label class="floating-label">Date</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    @*<label class="control-label lb-sm">Email Id</label>
                        <input asp-for="TakenOverEmailId" class="form-control" type="email" limit="200" />
                        <span asp-validation-for="TakenOverEmailId" class="text-danger lb-sm"></span>*@
                    <input asp-for="TakenOverEmailId" type="email" limit="200" class="floating-label-field floating-label-field--s3">

                    <span asp-validation-for="TakenOverEmailId" class="text-danger "></span>
                    <label class="floating-label">Email Id</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    @*<label class="control-label lb-sm">Mobile No.</label>
                        <input asp-for="TakenOverMobileNo" class="form-control onlynumbers" maxlength="10" />
                        <span asp-validation-for="TakenOverMobileNo" class="text-danger lb-sm"></span>*@
                    <input asp-for="TakenOverMobileNo" class="floating-label-field floating-label-field--s3 onlynumbers" maxlength="10">

                    <span asp-validation-for="TakenOverMobileNo" class="text-danger "></span>
                    <label class="floating-label">Mobile No.</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    @*<label class="control-label lb-sm">Land Line No.</label>
                        <input asp-for="TakenOverLandlineNo" class="form-control onlynumbers" maxlength="10" />
                        <span asp-validation-for="TakenOverLandlineNo" class="text-danger lb-sm"></span>*@
                    <input asp-for="TakenOverLandlineNo" class="floating-label-field floating-label-field--s3 onlynumbers" maxlength="10">

                    <span asp-validation-for="TakenOverLandlineNo" class="text-danger "></span>
                    <label class="floating-label">Land Line No.</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    @*<label class="control-label lb-sm" asp-for="TakenOverFileData">Document</label>
                        <input type="file" class="form-control" id="TakenOverAssignFile" name="TakenOverAssignFile" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" />
                        <span asp-validation-for="TakenOverFileData" class="text-danger lb-sm"></span>*@
                    <input asp-for="TakenOverFileData" id="TakenOverAssignFile" name="TakenOverAssignFile" type="file" class="floating-label-field floating-label-field--s3" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" />

                    <span asp-validation-for="TakenOverFileData" class="text-danger "></span>
                    <label class="floating-label">Document</label>
                </div>
            </div>
        </div>
        <div class="row">
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    @*<label class="control-label lb-sm">Comments</label>
                        <textarea asp-for="TakenOverComments" class="form-control" maxlength="4000" limit="4000"></textarea>
                        <span asp-validation-for="TakenOverComments" class="text-danger lb-sm"></span>*@
                    <input asp-for="HandedOverComments" maxlength="4000" limit="4000" class="floating-label-field floating-label-field--s3">

                    <span asp-validation-for="HandedOverComments" class="text-danger "></span>
                    <label class="floating-label">Comments</label>
                    <div id="feedbackTakenOverComments"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col-md-12">
            <div class="floating-label-wrap mb-3 mb-md-0">
                @*<label class="control-label lb-sm">Remarks</label>
                    <textarea asp-for="Remarks" class="form-control" maxlength="4000" limit="4000"></textarea>*@
                <input asp-for="Remarks" maxlength="4000" limit="5000" class="floating-label-field floating-label-field--s3">

                <span asp-validation-for="Remarks" class="text-danger "></span>
                <label class="floating-label">Remarks</label>
                <div id="feedbackRemarks"></div>
            </div>
        </div>
    </div>
    <div class="row" style="display:none;">
        <div class="col-md-4">
            <div class="floating-label-wrap">
                <select class="floating-label-field floating-label-field--s3" asp-for="IsActive">

                    <option value="1">Active</option>
                    <option value="0">Inactive</option>
                </select>
                <span asp-validation-for="IsActive" class="text-danger"></span>
                <label asp-for="IsActive" class="floating-label">Status </label>
            </div>
        </div>
    </div>
    @*@{
            @if (ViewBag.IsValidateUser == 2)
            {
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="control-label lb-sm">Validate</label>
                        <input type="checkbox" asp-for="IsValidate" />
                    </div>
                </div>
            }
        }*@


    <div class="row mt-md-3">
        <div class=" col-md-12">
            <input type="submit" value="Create" class="btn btn-theme " onclick="return ValidateForm();" />
            @Html.ActionLink("Back", "Index", "MORLandInventory", null, new { @class = "btn btn-theme " })
        </div>
    </div>

</form>
    


<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/propertyregisterationcreate.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/propertyregisterationcreate.js" asp-append-version="true"></script>
</environment>

<environment include="Development">
    <script src="~/js/common.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/common.js" asp-append-version="true"></script>
</environment>
