
@model IEnumerable<Libraries.Model.Entity.Landtransfer>
@{int rowNo = 0; }


<div class="card  table-card table-responsive">

    <table class="table table-responsive table-bordered table-card">


        <thead class="thead">

            <tr class="myapp-hed1">
                <th>Sr.No</th>
                <th>Department</th>
                <th>Zone</th>
                <th>Division</th>
                <th>Locality(Village)</th>
                <th>Khasra No.</th>
                <th>Address</th>
                <th> Handed Over By  </th>
                <th> Handed Over Date</th>
              
            </tr>

        </thead>
        <tbody class="tbody">
            @if (Model != null && Model.Count() > 0)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@(rowNo += 1)</td>

                        <td>@item.Department.Name</td>
                        <td>@item.Zone.Name</td>
                        <td>@item.Division.Name</td>
                        <td>@item.Locality.Name</td>
                        <td>@item.KhasraNo</td>
                        <td>@item.Address</td>
                        <td>@item.HandedOverByNameDesingnation</td>




                        <td>@item.HandedOverDate</td>

                        @*asp-action="View" asp-route-id="@item.Id"*@
                        @*<td>
                        <a style="text-decoration:none;" asp-action="Restore" asp-route-id="@item.Id" title="restore">  <input type="submit" value="Restore" class="btn dda-pageheading" /></a>

                    </td>*@
                    </tr>
                }
            }
            else
            {
                <tr>
                    <th colspan="9" style="text-align:center"> Data Not Available </th>
                </tr>
            }

        </tbody>

    </table>

</div>
