@model Libraries.Repository.Common.PagedResult<Libraries.Model.Entity.Dmsfileupload>
<table class="table table-sm table-bordered mb-0 table-striped">


    <thead class="text-nowrap">
        <tr>
            <th>Department</th>
            @*<th> Locality </th>
            <th> Khasra No. </th>*@
            <th> File No. </th>
            @*<th> Allotte Name</th>*@
            <th> Property No./Address </th>
            @*<th> Almirah No. </th>*@
            <th> Title </th>
            <th> Document Category </th>
            <th> Action  </th>
        </tr>

    </thead>
    <tbody class="tbody">
        @if (Model != null && Model.Results.Count() > 0)
        {
            @foreach (var item in Model.Results)
            {
        <tr>
            <td>@(item.Department == null ? "" : item.Department.Name)</td>
            @*<td>@(item.Locality == null ? "" : item.Locality.Name)</td>
            <td>@(item.KhasraNo == null ? "" : item.KhasraNo.KhasraNo)</td>*@
            <td>@item.FileNo</td>
            @*<td>@item.AlloteeName</td>*@
            <td>@item.PropertyNoAddress</td>
            @*<td>@item.AlmirahNo</td>*@
            <td>@item.Title</td>
            <td>@(item.Category == null ? "" : item.Category.CategoryName)</td>
            @if (ViewBag.View == 0 && ViewBag.Download == 0)
            {

                <td><span class="badge badge-info px-2 py-1">No Right</span></td>
            }
            else
            {
                <td>
                    @{
                        if (item.FilePath != null)
                        {

                            if (ViewBag.View == 1)
                            {
                                <a asp-action="View" asp-route-id="@item.Id" title="View" class="view" target="_blank"><i class="ri-eye-fill" style="font-size:20px;"></i></a>
                            }
                            if (ViewBag.Download == 1)
                            {
                                <a asp-action="Download" asp-route-id="@item.Id" title="Download" class="view" target="_blank"><i class="ri-file-download-fill" style="font-size:20px;"></i></a>
                            }
                        }
                        else
                        {
                            <p class="badge badge-warning px-2 py-1">No Document</p>
                        }

                    }
                </td>
            }

        </tr>
            }
        }
        else
        {
            <tr>
                <th colspan="14" style="text-align:center"> No Record Available! </th>
            </tr>
        }

    </tbody>

</table>



@await Component.InvokeAsync("Pager", new { totalCount = Model.RowCount, pageNumber = Model.CurrentPage, pageSize = Model.PazeSize })