@model Libraries.Repository.Common.PagedResult<Libraries.Model.Entity.Dmsfileupload>
<table class="table table-sm table-bordered mb-0 table-striped">


    <thead class="text-nowrap">
        <tr>
            <th>Department</th>
            <th> Locality </th>
            <th> Khasra No. </th>
            <th> File No. </th>
            <th> Allotte Name</th>
            <th> Property No </th>
            <th> Almirah No. </th>
            <th> Title </th>
            <th> Action  </th>
        </tr>

    </thead>
    <tbody class="tbody">
        @if (Model != null && Model.Results.Count() > 0)
        {
            @foreach (var item in Model.Results)
            {
                <tr>
                    <td>@(item.Department == null ? "" : item.Department.Name)</td>
                    <td>@(item.Locality == null ? "" : item.Locality.Name)</td>
                    <td>@(item.KhasraNo == null ? "" : item.KhasraNo.KhasraNo)</td>
                    <td>@item.FileNo</td>
                    <td>@item.AlloteeName</td>
                    <td>@item.PropertyNoAddress</td>
                    <td>@item.AlmirahNo</td>
                    <td>@item.Title</td>
                    <td>

                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <th colspan="14" style="text-align:center"> No Record Available! </th>
            </tr>
        }

    </tbody>

</table>



@await Component.InvokeAsync("Pager", new { totalCount = Model.RowCount, pageNumber = Model.CurrentPage, pageSize = Model.PazeSize })