@model Libraries.Repository.Common.PagedResult<Libraries.Model.Entity.Datastoragedetails>

<table class="table table-sm table-bordered mb-0 table-striped">
    <thead class="text-nowrap">
        <tr>

            <th>File No.</th>
            <th>File Name</th>
            <th>File Location Details</th>
            <th>Status</th>
            <th>Display Label</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Results.Count() > 0)
        {

            @foreach (var item in Model.Results)
            {
                <tr>
                    <td>@item.FileNo</td>
                    <td>@(item.Name == null?"": item.Name)</td>
                    <td>

                        <div class="table-responsive ">
                            <table class="table table-sm table-bordered mb-0 table-striped">
                                <thead class="text-nowrap">
                                    <tr>
                                        <th>Record Room No.</th>
                                        <th>Al. No./Compactor No.</th>
                                        <th>Row No</th>
                                        <th>Col.No.</th>
                                        <th>Bn No.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@item.RecordRoomNo</td>
                                        <td>@(item.Almirah == null?"": item.Almirah.AlmirahNo)</td>
                                        <td>@(item.Row == null?"": item.Row.RowNo)</td>
                                        <td>@(item.Column == null?"": item.Column.ColumnNo)</td>
                                        <td>@(item.Bundle == null?"": item.Bundle.BundleNo)</td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </td>


                    <td>
                        @if (item.FileStatus == null || item.FileStatus == String.Empty || item.FileStatus == "Return")
                        {
                            <span class="badge bg-primary px-2 py-1">Available</span>
                        }
                        else
                        {
                            <span class="badge bg-danger px-2 py-1">Issued</span>
                        }
                    </td>

                    <td>
                        <div class="action-btns">
                            <a title="Display Label" target="_blank" class="view" asp-action="PrintLabel" asp-route-id="@item.Id"><i style="font-size:28px;" class="ri-unsplash-fill"></i></a>
                        </div>

                    </td>


                </tr>
            }
        }
        else
        {
            <tr>
                <th colspan="14" style="text-align:center"> No Record Available! </th>
            </tr>
        }
    </tbody>
</table>

@await Component.InvokeAsync("Pager", new { totalCount = Model.RowCount, pageNumber = Model.CurrentPage, pageSize = Model.PazeSize })


<div class="modal" tabindex="-1" role="dialog" id="form-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>


<script>
    showInPopup = (url, title) => {
        $.ajax({
            type: 'GET',
            url: url,
            success: function (res) {
                $('#form-modal .modal-body').html(res);
                $('#form-modal .modal-title').html(title);
                $('#form-modal').modal('show');
            }
        })
    }

</script>