@model Libraries.Model.Entity.Jaraidetail
<div class="row">
    <div class="col-sm-12">
        <div class="dda-topheading">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;">Jarai Details Form</h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />
<div class="container-fluid" id="MainContentForm">
    <div class="panel">
        <div class="panel-heading dda-pageheading">
            <h6 class="pull-left" style="color:white; margin-top:-0.4%">Add Details </h6>
        </div>
        <div class="panel-body">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div id="DivSection">
                    <div class="row" style="margin-bottom:35px;">
                        <div class="col-sm-12">
                            <div class=" dda-topheading">
                                <div class="col-md-12">
                                    <h6 class="pull-left" style="color:white;margin-top:5px;">Jarai Details</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Village Name</label>
                        <select class="form-control dda-dropdown" asp-for="VillageId" asp-items="@(new SelectList(Model.VillageList, "Id","Name"))">
                            <option>Select</option>
                        </select>
                        <span asp-validation-for="VillageId" class="text-danger"></span>

                    </div>

                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Year Of Jamabandi</label>
                        <input type="Date" asp-for="YearOfJamabandi" class="form-control" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">No. Of Khewat</label>
                        <select class="form-control dda-dropdown" asp-for="KhewatId" asp-items="@(new SelectList(Model.KhewatList, "Id","Number"))">
                            <option>Select</option>
                        </select>
                        <span asp-validation-for="KhewatId" class="text-danger"></span>

                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">No. Of Khatauni</label>
                        <select class="form-control dda-dropdown" asp-for="KhatauniId" asp-items="@(new SelectList(Model.KhatauniList, "Id","Number"))">
                            <option>Select</option>
                        </select>
                        <span asp-validation-for="KhatauniId" class="text-danger"></span>

                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Naam Patti/Taraf Naam </label>
                        <select class="form-control dda-dropdown" asp-for="TarafId" asp-items="@(new SelectList(Model.TarafList, "Id","Name"))">
                            <option>Select</option>
                        </select>
                        <span asp-validation-for="TarafId" class="text-danger"></span>

                    </div>
                </div>
                <div id="DivDetails">
                    <div class="row" style="margin-bottom:35px;">
                        <div class="col-sm-12">
                            <div class=" dda-innerheading">
                                <div class="col-md-12">
                                    <h6 class="pull-left" style="color:white;margin-top:5px;">Details</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label class="control-label lb-sm">Owner Details</label>

                            <input type="text" asp-for="OwnerDetails" class="form-control" />

                        </div>

                        <div class="form-group col-md-4">

                            <label class="control-label lb-sm">Farmer Details</label>

                            <input type="text" asp-for="FarmerDetails" class="form-control" />
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label lb-sm">Kaifiyat</label>
                            <input type="text" asp-for="Kaifiyat" class="form-control" />
                        </div>
                    </div>
                </div>
                <div id="DivKhasra">
                    <div class="row" style="margin-bottom:35px;">
                        <div class="col-sm-12">
                            <div class=" dda-innerheading">
                                <div class="col-md-12">
                                    <h6 class="pull-left" style="color:white;margin-top:5px;">Khasra Details</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Khasra No</label>
                            <select class="form-control dda-dropdown" asp-for="KhasraId" asp-items="@(new SelectList(Model.KhasraList, "Id","Name"))">
                                <option>Select</option>
                            </select>
                            <span asp-validation-for="KhasraId" class="text-danger"></span>


                        </div>

                        <div class="form-group col-md-6">

                            <label class="control-label lb-sm">Ahwal</label>
                            <input type="Text" class="form-control" asp-for="Ahwal" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Revenue</label>
                            <input type="Text" class="form-control" asp-for="Revenue" />
                        </div>

                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Old Mutation No</label>
                            <input type="Text" class="form-control" asp-for="OldMutationNo" />
                        </div>

                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label class="control-label lb-sm">Remarks</label>
                        <textarea type="text" class="form-control" asp-for="Remarks" style=" background-color: #dddddd;"></textarea>
                    </div>
                </div>



                <div class="form-row ">
                    <div class="form-group col-md-12" style="margin-bottom:40px;">
                        <input type="submit" value="Create" class="btn btn-primary dda-pageheading" />
                        @*<input type="submit" value="Back" class="btn btn-primary myapp-hed1" />*@
                        @Html.ActionLink("Back", "Index", "JaraiDetails", null, new { @class = "btn btn-primary dda-pageheading" })
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>





