@model Libraries.Repository.Common.PagedResult<Libraries.Model.Entity.Watchandward>
@{int rowNo = 0; }
<table class="table text-center table-responsive table-bordered table-card">
    <thead class="thead">
        <tr>
            <th>Sr.No</th>
            <th>Date</th>
            <th>Locality(Village)</th>
            <th>Khasra No.</th>
            <th>Primary List No.</th>
            <th>Status on Ground</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody class="tbody">
        @foreach (var item in Model.Results)
        {
        <tr>
            <td>@(rowNo += 1)</td>

            <td> @(Convert.ToDateTime(item.Date).ToString("dd MMM yyyy"))</td>
            <td>@(item.PrimaryListNoNavigation.LocalityId == null ? ""  : item.PrimaryListNoNavigation.Locality.Name)</td>
            <td>@item.PrimaryListNoNavigation.KhasraNo</td>
            <td>@item.PrimaryListNo</td>
            <td>@item.StatusOnGround</td>
            <td>
                Pending
            </td>
            <td>
                <a asp-action="Create" asp-route-id="@item.Id" title="edit"> &nbsp; <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i> </a>
            </td>
        </tr>
        }

    </tbody>
</table>
@await Component.InvokeAsync("Pager", new { totalCount = Model.RowCount, pageNumber = Model.CurrentPage, pageSize = Model.PazeSize })