@model IEnumerable<Libraries.Model.Entity.Leasenoticegeneration>

<table class="table table-sm table-bordered mb-0 table-striped">
    <thead class="text-nowrap">
        <tr>
            <th>Meeting Date</th>
            <th>Meeting Time</th>
            <th>Meeting Place</th>
            <th>Attachment</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @(item.MeetingDate != null ? Convert.ToDateTime(item.MeetingDate).ToString("dd-MMM-yyyy") : "")
                    </td>
                    <td>
                        @item.MeetingTime
                    </td>
                    <td>
                        @item.MeetingPlace
                    </td>
                    <td>
                        @if (item.NoticeFileName != null)
                        {
                            <a class="badge badge-primary px-2" asp-action="ViewNotice" asp-route-id="@item.Id" target="_blank"> (View)</a>
                        }
                        else
                        {
                            <a>No Document</a>
                        }
                    </td>
                    <td>
                        @if (item.NoticeFileName == null || item.MeetingDate == null)
                        {
                            <div class="action-btns">
                                <a asp-action="Create" asp-route-id="@item.Id" title="edit" class="edit"> <i class="ri-edit-line"></i> </a>
                            </div>
                        }
                        else
                        {
                            <a>No Action</a>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <th colspan="14" style="text-align:center"> No Record Available! </th>
            </tr>
        }
    </tbody>
</table>

<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/noticegenerationlistpartial.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/noticegenerationlistpartial.min.js" asp-append-version="true"></script>
</environment>
