@model Libraries.Model.Entity.Leasenoticegeneration
@await Component.InvokeAsync("PageHeader", new { pageName = "Notice Generation" })
<br />
<br />

<form asp-action="Create" class="d-block rounded border p-3 bg-white search-filer shadow mb-3" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="RequestProceedingId" />
    <input type="hidden" asp-for="Id" value="@ViewBag.PrimaryId" />

    <h3 class="mb-3 d-flex">
        Details<span class="ms-auto"><span style="color:red">*&nbsp;</span>Marked are mandatory fields</span>
    </h3>

    <div id="RequestForProceedingEvictionDiv">

    </div>
    <div class="table-section bg-white border shadow rounded pb-3">
        <h3 class="my-3 d-flex sub-heading">Notice Generation History Details</h3>
        <div class="table-responsive px-2" id="divHistoryDetails">
            <table class="table table-sm table-bordered mb-0 table-striped">
                <thead class="text-nowrap">
                    <tr>
                        <th>Meeting Date</th>
                        <th>Meeting Time</th>
                        <th>Meeting Place</th>
                        <th>Attachment</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.LeaseNoticeGenerationList.Count() > 0)
                    {
                        @foreach (var item in Model.LeaseNoticeGenerationList)
                        {
                            <tr>

                                <td>
                                    @(item.MeetingDate != null ? Convert.ToDateTime(item.MeetingDate).ToString("dd-MMM-yyyy") : "")
                                </td>
                                <td>
                                    @item.MeetingTime
                                </td>
                                <td>
                                    @item.MeetingPlace
                                </td>
                                <td>
                                    @if (item.NoticeFileName != null)
                                    {
                                        <a class="badge bg-primary px-2" asp-action="ViewNotice" asp-route-id="@item.Id" target="_blank"> (View)</a>
                                    }
                                    else
                                    {
                                        <a>No Document</a>
                                    }
                                </td>
                                <td>
                                    @if (item.NoticeFileName == null || item.MeetingDate == null)
                                    {
                                        <div class="action-btns">
                                            <a onclick="GetNoticeEditDetails(@item.Id);" title="edit" class="edit"> <i class="ri-edit-line"></i> </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <a>No Action</a>
                                    }
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <th colspan="14" style="text-align:center"> No Record Available! </th>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <br />
    <div class="row mt-md-3">
        <input type="hidden" asp-for="GenerateUpload" value="0" id="GenerateUpload" />
        <div class="col-md-3">
            <div class="form-check theme">
                <input class="form-check-input" type="radio" name="radioStatus" id="Generate" value="0" checked>
                <label class="form-check-label" for="radio">
                    Generate
                </label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-check theme">
                <input class="form-check-input" type="radio" name="radioStatus" id="Upload" value="1">
                <label class="form-check-label" for="radio">
                    Upload
                </label>
            </div>
        </div>

    </div>
    <div id="divGenerate">
        <div class="row mt-md-3">
            <div class="col-md-3">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="MeetingDate" type="Date" class="floating-label-field floating-label-field--s3" />
                    <span asp-validation-for="MeetingDate" class="text-danger" style="display:none;" id="MessageDate">Meeting Date is Mandatory</span>
                    <label class="floating-label">Meeting Date<span style="color:red">*</span></label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="MeetingTime" type="time" class="floating-label-field floating-label-field--s3" />
                    <span asp-validation-for="MeetingTime" class="text-danger" style="display:none;" id="MessageTime">Meeting Time is Mandatory</span>
                    <label class="floating-label">Meeting Time<span style="color:red">*</span></label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-12">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <textarea asp-for="MeetingPlace" type="text" class="floating-label-field floating-label-field--s3"></textarea>
                    <span asp-validation-for="MeetingPlace" class="text-danger" style="display:none;" id="MessagePlace">Meeting Place is Mandatory</span>
                    <label class="floating-label">Meeting Place</label>
                </div>
            </div>
        </div>
    </div>
    <div id="divUpload" style="display:none;">
        <div class="row pt-3">
            <div class="col-md-3">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    @{
                        @if (Model.NoticeFileName != null)
                        {
                            <input  asp-for="Document" type="file" class="floating-label-field floating-label-field--s3" accept="application/pdf" />
                        }
                        else
                        {
                            <input asp-for="Document" type="file" class="floating-label-field floating-label-field--s3" accept="application/pdf" />
                            <label class="floating-label">Upload Document</label>
                        }
                    }

                    <span asp-validation-for="Document" class="text-danger" style="display:none;" id="MessageFileUpload">File Upload is Mandatory</span>


                </div>
            </div>
            @*@{
                @if (Model.NoticeFileName != null)
                {*@
                    <div class="col-md-3 mt-2">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <a id="viewId" asp-action="ViewNotice" asp-route-id="@Model.Id" class="badge bg-primary px-2" target="_blank" style="display:none;">(View File)</a>
                        </div>
                    </div>
                @*}
            }*@
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-md-12">
            <input type="submit" value="Generate" class="btn btn-theme " id="btnGenerate" onclick="return check();" />
            @Html.ActionLink("Back", "Index", "NoticeGeneration", null, new { @class = "btn btn-theme " })
            <a asp-action="Create" asp-route-id="@Model.RequestProceedingId" class="btn btn-theme">Clear</a>
        </div>
    </div>

</form>
@{
    @if (ViewBag.IsVisible == true)
    {
        <div class="d-block rounded border p-3 bg-white search-filer shadow mb-3 " id="VisibleLetter" >
            <input type="submit" value="Print" class="btn btn-theme" id="btnPrint"  />
            <div id="LetterDataView">
                @{
                    @if (ViewBag.DataLetter != null)
                    {
                        @Html.Raw(ViewBag.DataLetter);
                    }
                }
            </div>
        </div>
    }
}


<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/noticegenerationcreate.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/noticegenerationcreate.min.js" asp-append-version="true"></script>
</environment>