@model IEnumerable<Libraries.Model.Entity.Propertyregistration>
@{int rowNo = 0; }

<div class="container-fluid" id="MainContentForm">
    <div class="card  table-card " style="overflow:scroll;">

        <table class="table table-responsive table-bordered table-card">


            <thead class="thead">
                <tr>
                    <th rowspan="2">Sr.No</th>
                    <th rowspan="2">Unique ID</th>
                    <th rowspan="2">Locality</th>
                    <th rowspan="2">Khasra No</th>
                    <th rowspan="2">Area</th>
                    <th colspan="4" style=" text-align:center">Area (in Sq. Mt.)</th>
                    <th rowspan="2">Buit & type</th>
                    <th rowspan="2">Layout Plan</th>
                    <th rowspan="2">Upload File</th>
                    <th rowspan="2">Land Use</th>
                    <th colspan="3" style=" text-align:center">Taken Over</th>
                    <th rowspan="2">Division</th>
                    <th rowspan="2">Litigation Status</th>
                    <th rowspan="2">GEO Referencing</th>
                    <th colspan="3" style=" text-align:center">Handed Over</th>
                    <th colspan="3" style=" text-align:center">Disposal</th>
                    <th rowspan="2">Remarks</th>
                    <th rowspan="2">Operation</th>
                </tr>
                <tr>
                    <th>Boundary</th>
                    <th>Total Area</th>
                    <th>Encrochment</th>
                    <th>Vacant</th>
                    <th>Taken Over Name</th>
                    <th>Taken Over/Date</th>
                    <th>Taken Over/Comments</th>
                    <th>Handed Over Name/Designation</th>
                    <th>Handed Over/Date</th>
                    <th>Handed Over/Comments</th>
                    <th>Disposal type</th>
                    <th>Disposal/Date</th>
                    <th>Disposal/Comments</th>

                </tr>
            </thead>
            <tbody class="tbody">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@(rowNo += 1)</td>
                        <td>@item.UniqueId</td>
                        <td>@item.Locality.Name</td>
                        <td>@item.KhasraNo</td>
                        <td>@item.TotalArea</td>
                        <td>@(item.Boundary == 0 ? "No" : "Yes")</td>
                        <td>@item.TotalArea</td>
                        <td>@item.Encroached</td>
                        <td>@item.Vacant</td>
                        <td>@(item.BuiltUp == 0 ? "No" : "Yes")</td>
                        <td>@(item.LayoutPlan == 0 ? "No" : "Yes")</td>
                        <td>
                            @if (item.LayoutFilePath != null)
                            {
                                @Html.ActionLink("Download", "Download", new { id = item.Id })
                            }
                            else
                            {
                                <p class="text-danger">No Document</p>
                            }
                        </td>
                        <td>@item.LandUse.Name</td>
                        <td>@item.TakenOverName</td>
                        <td>@item.TakenOverDate.ToString("dd-MMM-yyyy")</td>
                        <td>@item.TakenOverComments</td>
                        <td>@item.ZoneDivision.Name</td>
                        <td>@(item.LitigationStatus  == 0 ? "No" : "Yes")</td>
                        <td>@(item.GeoReferencing == 0 ? "No" : "Yes")</td>
                        <td>@item.HandedOverName</td>
                        <td>@item.HandedOverDate.ToString("dd-MMM-yyyy")</td>
                        <td>@item.HandedOverComments</td>
                        <td>@item.DisposalType.Name</td>
                        <td>@item.DisposalDate.ToString("dd-MMM-yyyy")</td>
                        <td>@item.DisposalComments</td>
                        <td>@item.Remarks</td>
                    </tr>
                }
                @*<tr>
                        <td>2</td>
                        <td>LM SWZ 34</td>
                        <td>Housing pocket sec-34 dwarka</td>
                        <td>Civil Lines</td>
                        <td>45</td>
                        <td>Yes</td>
                        <td>45</td>
                        <td>0</td>
                        <td>45</td>
                        <td>No</td>
                        <td>No</td>
                        <td>No Document</td>
                        <td>Engineering</td>
                        <td>Engineering</td>
                        <td>07-Aug-2020</td>
                        <td>good</td>
                        <td>Wd-8</td>
                        <td>no</td>
                        <td>no</td>
                        <td>MOR</td>
                        <td>10-Aug-2020</td>
                        <td>good</td>
                        <td>alloted</td>
                        <td>10-Aug-2020</td>
                        <td>no comments</td>
                        <td>good to use</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>LM SWZ 35</td>
                        <td>Housing pocket sec-56 dwarka</td>
                        <td>Civil Lines</td>
                        <td>50</td>
                        <td>Yes</td>
                        <td>50</td>
                        <td>0</td>
                        <td>50</td>
                        <td>No</td>
                        <td>No</td>
                        <td>No Document</td>
                        <td>Engineering</td>
                        <td>Engineering</td>
                        <td>07-Aug-2020</td>
                        <td>good</td>
                        <td>Wd-9</td>
                        <td>no</td>
                        <td>no</td>
                        <td>MOR</td>
                        <td>10-Aug-2020</td>
                        <td>good</td>
                        <td>alloted</td>
                        <td>10-Aug-2020</td>
                        <td>no comments</td>
                        <td>good to use</td>
                    </tr>*@
            </tbody>

        </table>

    </div>
</div>