@model Libraries.Model.Entity.Landtransfer
@await Component.InvokeAsync("PageHeader", new { pageName = "Hand Over/Take Over" })

@{int rowNo = 0;}



<form asp-action="Edit" enctype="multipart/form-data" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
    <h3 class="mb-3 d-flex">
        Details<span class="ms-auto"><span style="color:red">*&nbsp;</span>Marked are mandatory fields</span>

    </h3>
    @if (@Model.Id > 0)
    {
        <input type="hidden" asp-for="Id" value="@Model.Id" />
    }
    <input type="hidden" asp-for="PropertyRegistrationId" value="@Model.Propertyregistration.Id" />

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="permission mt-2 accordion list-unstyled m-0 ">
        <div class="card">
            <a class="p-2 no-dec d-flex align-items-center" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
               aria-controls="collapseExample">
                <i class="ri-arrow-right-s-fill"></i>
                <span class="text ms-1 me-auto">Property Inventory Details</span>
                <i class="arrow ri-arrow-drop-down-line slow"></i>
            </a>
            <div class="list-unstyled m-0 ps-2 pe-1 ps-md-4 pe-md-3 collapse" id="collapseExample">
                <div id="allDetails">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="floating-label-wrap">
                                <select class="floating-label-field floating-label-field--s3" readonly asp-for="Propertyregistration.InventoriedInId">
                                    <option value="">--Select--</option>
                                    <option value="1">VLMS</option>
                                    <option value="2">Used/Allocated</option>
                                </select>
                                <label class="floating-label">Inventoried In</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="floating-label-wrap">
                                <select class="floating-label-field floating-label-field--s3" readonly asp-for="Propertyregistration.PlannedUnplannedLand">
                                    <option value="Planned Land">Planned Land</option>
                                    <option value="Unplanned Land">Unplanned Land</option>
                                </select>
                                <label class="floating-label" asp-for="Propertyregistration.PlannedUnplannedLand">Planned/Unplanned Land</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="floating-label-wrap">
                                <select class="floating-label-field floating-label-field--s3"
                                        readonly asp-for="Propertyregistration.ClassificationOfLandId"
                                        asp-items="@(new SelectList(Model.Propertyregistration.ClassificationOfLandList, "Id","Name"))">
                                    <option value="">--Select--</option>
                                </select>
                                <label class="floating-label" asp-for="Propertyregistration.ClassificationOfLandId">Classification of Land</label>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="col-md-4">
                            <div class="floating-label-wrap">
                                <select class="floating-label-field floating-label-field--s3"
                                        readonly asp-for="Propertyregistration.DepartmentId"
                                        asp-items="@(new SelectList(Model.Propertyregistration.TakenOverDepartmentList, "Id","Name"))"
                                        onchange="return GetZoneList(this.options[this.selectedIndex].value);">
                                    <option value="">--Select--</option>
                                </select>
                                <label class="floating-label" asp-for="Propertyregistration.DepartmentId">Department</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="floating-label-wrap">
                                <select class="floating-label-field floating-label-field--s3" readonly asp-for="Propertyregistration.ZoneId"
                                        asp-items="@(new SelectList(Model.Propertyregistration.ZoneList, "Id","Name"))">
                                    <option value="">--Select--</option>>
                                </select>
                                <label class="floating-label" asp-for="Propertyregistration.ZoneId">Zone</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="floating-label-wrap">
                                <select class="floating-label-field floating-label-field--s3"
                                        readonly asp-for="Propertyregistration.DivisionId"
                                        asp-items="@(new SelectList(Model.Propertyregistration.DivisionList, "Id","Name"))">
                                    <option value="">--Select--</option>
                                </select>
                                <label class="floating-label" asp-for="Propertyregistration.DivisionId">Division</label>
                            </div>
                        </div>
                    </div>
                    <div id="divUnplannedSelection" style="display:none;">
                        <div class="row pt-3">
                            <div class="col-md-4">
                                <div class="floating-label-wrap">
                                    <select class="floating-label-field floating-label-field--s3"
                                            readonly asp-for="Propertyregistration.LocalityId">
                                        <option value="">--Select--</option>
                                    </select>
                                    <label class="floating-label" asp-for="Propertyregistration.LocalityId">Locality(Village)</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="floating-label-wrap mb-3 mb-md-0">
                                    <input asp-for="Propertyregistration.KhasraNo" placeholder="Khasra No" readonly type="text" class="floating-label-field floating-label-field--s3" />
                                    <label class="floating-label">Khasra No </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="divPlannedSelection">
                        <div class="row pt-3">
                            <div class="col-md-4">
                                <div class="floating-label-wrap mb-3 mb-md-0">
                                    <input asp-for="Propertyregistration.Colony" placeholder="Colony" readonly type="text" class="floating-label-field floating-label-field--s3" />
                                    <label class="floating-label">Colony  </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="floating-label-wrap mb-3 mb-md-0">
                                    <input asp-for="Propertyregistration.Sector" placeholder="Sector" readonly type="text" class="floating-label-field floating-label-field--s3" />
                                    <label class="floating-label">Sector  </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="floating-label-wrap mb-3 mb-md-0">
                                    <input type="text" placeholder="Block" readonly asp-for="Propertyregistration.Block"
                                           class="floating-label-field floating-label-field--s3" />
                                    <label class="floating-label">Block </label>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-3">
                            <div class="col-md-4">
                                <div class="floating-label-wrap mb-3 mb-md-0">
                                    <input asp-for="Propertyregistration.Pocket" placeholder="Pocket" readonly type="text" class="floating-label-field floating-label-field--s3" />
                                    <label class="floating-label">Pocket</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="floating-label-wrap mb-3 mb-md-0">
                                    <input asp-for="Propertyregistration.PlotNo" placeholder="Plot No." readonly type="text" class="floating-label-field floating-label-field--s3" />
                                    <label class="floating-label">Plot No.  </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="floating-label-wrap mb-3 mb-md-0">
                                    <input asp-for="Propertyregistration.PrimaryListNo" placeholder="Primary List No." readonly type="text" class="floating-label-field floating-label-field--s3" />
                                    <label class="floating-label">Primary List No.</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="col-md-12">
                            <div class="floating-label-wrap mb-3 mb-md-0">
                                <textarea asp-for="Propertyregistration.Palandmark" placeholder="Address with Landmark" readonly type="text"
                                          class="floating-label-field floating-label-field--s3 pt-3"></textarea>
                                <div id="feedbackPalandmark"></div>
                                <label class="floating-label">Address with Landmark  </label>
                            </div>
                        </div>
                    </div>
                    <div id="DivArea">
                        <h2 class="my-3 sub-heading">Area</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="floating-label-wrap">

                                    <select class="floating-label-field floating-label-field--s3" readonly asp-for="Propertyregistration.AreaUnit">
                                        <option value="0">Bigha-Biswa-Biswansi</option>
                                        <option value="1">Sq Yd.</option>
                                        <option value="2">Acre</option>
                                        <option value="3">Hectare</option>
                                        <option value="4">Sq. Mt.</option>
                                    </select>
                                    <span asp-validation-for="Propertyregistration.AreaUnit" class="text-danger"></span>
                                    <label class="floating-label">Area Unit</label>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-3">
                            <div class="col-md-4">
                                <div id="bighabis">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="floating-label-wrap mb-3 mb-md-0">

                                                <input asp-for="Propertyregistration.TotalAreaInBigha" readonly class="floating-label-field floating-label-field--s3 numbers bbbcalculation" onkeypress="return numericDecimal(this);" onpaste="return false;">
                                                <span asp-validation-for="Propertyregistration.TotalAreaInBigha" class="text-danger"></span>
                                                <label class="floating-label">Bigha</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="floating-label-wrap mb-3 mb-md-0">

                                                <input asp-for="Propertyregistration.TotalAreaInBiswa" readonly class="floating-label-field floating-label-field--s3 numbers bbbcalculation" onkeypress="return numericDecimal(this);" onpaste="return false;">
                                                <span asp-validation-for="Propertyregistration.TotalAreaInBiswa" class="text-danger"></span>
                                                <label class="floating-label">Biswa</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="floating-label-wrap mb-3 mb-md-0">

                                                <input asp-for="Propertyregistration.TotalAreaInBiswani" readonly class="floating-label-field floating-label-field--s3 numbers bbbcalculation" onkeypress="return numericDecimal(this);" onpaste="return false;">
                                                <span asp-validation-for="Propertyregistration.TotalAreaInBiswani" class="text-danger"></span>
                                                <label class="floating-label">Biswansi</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="AreainSqAcreHec" style="display:none;">
                            <div class="row pt-3">
                                <div class="col-md-4">
                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                        <input asp-for="Propertyregistration.TotalAreaInSqAcreHt" type="text" readonly class="floating-label-field floating-label-field--s3 numbers TotalCalculation" onkeypress="return numericDecimal(this);" onpaste="return false;" />
                                        <span asp-validation-for="Propertyregistration.TotalAreaInSqAcreHt" class="text-danger"></span>
                                        <label class="floating-label" id="LabelTotalAreaSqAcreHec">Total Area(Sq Yd./Acre/Hectare)</label>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row mt-md-3">
                            <div class="col-md-4">
                                <div class="floating-label-wrap mb-3 mb-md-0">
                                    <input asp-for="Propertyregistration.TotalArea" class="floating-label-field floating-label-field--s3 numbers" readonly onkeypress="return numericDecimal(this);" onpaste="return false;" required="required" requiredmsg="Total Area is Mandatory">
                                    <span asp-validation-for="Propertyregistration.TotalArea" class="text-danger"></span>
                                    <label class="floating-label">Total Area(in sq. mt.)</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div id="DivArea">
                            <div class="row" style="margin-bottom:35px;">
                                <div class="col-sm-12">
                                    <div class="dda-innerheading">
                                        <div class="col-md-12">
                                            <h6 class="pull-left color-white" style="margin-top:5px;">Area</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="control-label lb-sm lb-sm">Area Unit</label>
                                    <select class="form-control dda-dropdown" asp-for="PropertyRegistration.AreaUnit">
                                        <option value="0">Bigha-Biswa-Biswansi</option>
                                        <option value="1">Sq Yd.</option>
                                        <option value="2">Acre</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label lb-sm lb-sm">Total Area(In Bigha-Biswa-Biswansi/Sq Yd./Acre)</label>
                                    <input asp-for="Propertyregistration.TotalAreaInBigha" type="text" class="form-control" limit="200" />
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label lb-sm">Total Area(in sq. mt.)</label><span class="text-danger">*</span>
                                    <input asp-for="Propertyregistration.TotalArea" class="form-control numbers" required="required" requiredmsg="Total Area is Mandatory" onkeypress="return numericDecimal(this);" onpaste="return false;">
                                    <span asp-validation-for="Propertyregistration.TotalArea" class="text-danger lb-sm"></span>
                                </div>
                            </div>

                            <div class="row">


                            </div>
                        </div>*@

                    <div id="divEncroachment">

                        <h2 class="my-3 sub-heading">Encroached Details</h2>
                        <div class="row">

                            <div class=" col-md-4">
                                <div class="floating-label-wrap">
                                    <select class="floating-label-field floating-label-field--s3"
                                            asp-for="Propertyregistration.EncroachmentStatusId" readonly>
                                        <option value="0">No</option>
                                        <option value="1">Yes</option>
                                    </select>
                                    <label class="floating-label">Encroachment </label>
                                </div>

                            </div>
                        </div>
                        <div id="divEncroachmentYesSelection" style="display:none;">
                            <div class="row pt-3">
                                <div class="col-md-4">
                                    <div class="floating-label-wrap">
                                        <select class="floating-label-field floating-label-field--s3"
                                                asp-for="Propertyregistration.EncroachedPartiallyFully" readonly>
                                            <option value="0">Vacant</option>
                                            <option value="1">Partially Vacant</option>
                                        </select>
                                        <label class="floating-label">Encroachment Status </label>
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                        <input asp-for="Propertyregistration.Encroached" placeholder="Encroched Area(in sq. mt.)" disabled class="floating-label-field floating-label-field--s3 numbers" />
                                        <label class="floating-label">Encroched Area(in sq. mt.)</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                        <input asp-for="Propertyregistration.BuiltUpEncraochmentArea" placeholder="Builtup in Encroachment Area(in sq. mt.)" disabled class="floating-label-field floating-label-field--s3 numbers" />
                                        <label class="floating-label">Builtup in Encroachment Area(in sq. mt.)</label>
                                    </div>
                                </div>

                            </div>
                            <div class="row pt-3">
                                <div class="col-md-4">
                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                        <input asp-for="Propertyregistration.Vacant" placeholder="Vacant(in sq. mt.)" disabled class="floating-label-field floating-label-field--s3 numbers" />
                                        <label class="floating-label">Vacant(in sq. mt.)</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                        <textarea asp-for="Propertyregistration.ActionOnEncroachment" placeholder="Action On Encroachment" id="txtTakenOverDate" disabled class="floating-label-field floating-label-field--s3 numbers"></textarea>
                                        <label class="floating-label">Action On Encroachment</label>
                                    </div>
                                </div>

                                <div class=" col-md-4">
                                    <label class="control-label lb-sm">Upload Action Taken Report(ATR)</label>
                                    <br /> <a target="_blank" href="/LandTransfer/ViewDocument?path=@(Model.Propertyregistration.EncroachAtrfilepath)">@(Model.Propertyregistration.EncroachAtrfilepath=="" || Model.Propertyregistration.EncroachAtrfilepath == string.Empty || Model.Propertyregistration.EncroachAtrfilepath == null ? "Not Available": "Action Taken Report(ATR)")</a>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-3">

                            <div class=" col-md-12" id="divEncroachmentDetails" style="display:none;">
                                <div class="floating-label-wrap mb-3 mb-md-0">
                                    <input asp-for="Propertyregistration.EncraochmentDetails" placeholder="Encroachment Details" disabled class="floating-label-field floating-label-field--s3 numbers" />
                                    <label class="floating-label">Encroachment Details</label>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div id="divFencingBoundaryWall">
                        <h2 class="my-3 sub-heading">Boundary Wall/Fencing</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="floating-label-wrap">
                                    <select class="floating-label-field floating-label-field--s3"
                                            asp-for="Propertyregistration.Boundary" disabled>
                                        <option value="0">Boundary Wall</option>
                                        <option value="1">Fencing</option>
                                        <option value="2">None</option>
                                    </select>
                                    <label class="floating-label">Protection of Land  </label>
                                </div>
                            </div>
                        </div>
                        <div id="divBoundarySelection" style="display:none;">
                            <div class="row">
                                <div class=" col-md-4">
                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                        <input asp-for="Propertyregistration.BoundaryAreaCovered" placeholder="Area Covered(Sq. mtr)" disabled class="floating-label-field floating-label-field--s3 numbers" />
                                        <label class="floating-label">Area Covered(Sq. mtr)</label>

                                    </div>
                                </div>
                                <div class=" col-md-4">
                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                        <input asp-for="Propertyregistration.BoundaryDimension" placeholder="Dimension (L*B*H)(mtr)" disabled class="floating-label-field floating-label-field--s3 numbers" />
                                        <label class="floating-label">Dimension (L*B*H)(mtr)</label>
                                    </div>
                                </div>
                                <div class=" col-md-4">
                                    <div class="floating-label-wrap mb-3 mb-md-0">

                                        <input asp-for="Propertyregistration.BoundaryRemarks" placeholder="Boundary Remarks" disabled class="floating-label-field floating-label-field--s3 numbers" />
                                        <label class="floating-label">Boundary Remarks</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="DivLandUse">
                        <h2 class="my-3 sub-heading">Land Use</h2>
                        <div id="divPlannedLand">
                            <div class="row">
                                <div class=" col-md-4">
                                    <div class="floating-label-wrap">
                                        <select class="floating-label-field floating-label-field--s3" asp-for="Propertyregistration.MainLandUseId"
                                                asp-items="@(new SelectList(Model.Propertyregistration.LandUseList, "Id","Name"))" disabled>
                                            <option value="0">--Select--</option>
                                        </select>
                                        <label class="floating-label">Main Land Use </label>
                                    </div>

                                </div>
                                <div class=" col-md-4">
                                    <div class="floating-label-wrap mb-3 mb-md-0">


                                        <input type="text" asp-for="Propertyregistration.SubUse" placeholder="Sub Use" disabled class="floating-label-field floating-label-field--s3 numbers" />
                                        <label class="floating-label">Sub Use </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="divLitigation">
                        <h2 class="my-3 sub-heading">Litigation</h2>
                        <div class="row">
                            <div class=" col-md-4">
                                <div class="floating-label-wrap">
                                    <select class="floating-label-field floating-label-field--s3"
                                            asp-for="Propertyregistration.LitigationStatus" disabled>
                                        <option value="0">No</option>
                                        <option value="1">Yes</option>
                                    </select>
                                    <label class="floating-label">Litigation Status </label>
                                </div>
                            </div>
                        </div>
                        <div id="divLitigationStatusSelection" style="display:none;">
                            <div class="row pt-3">
                                <div class=" col-md-6">
                                    <div class="floating-label-wrap mb-3 mb-md-0">

                                        <input asp-for="Propertyregistration.CourtName" placeholder="Court Name" disabled class="floating-label-field floating-label-field--s3 numbers" />
                                        <label class="floating-label">Court Name  </label>
                                    </div>

                                </div>

                                <div class=" col-md-6">
                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                        <input asp-for="Propertyregistration.CaseNo" placeholder="Case No." disabled class="floating-label-field floating-label-field--s3 numbers" />
                                        <label class="floating-label">Case No. </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-md-6">
                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                        <input asp-for="Propertyregistration.OppositeParty" placeholder="Opposite Party" disabled class="floating-label-field floating-label-field--s3 numbers" />
                                        <label class="floating-label">Opposite Party </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                        <input asp-for="Propertyregistration.LitigationStatusRemarks" placeholder="Remarks" disabled class="floating-label-field floating-label-field--s3 numbers" />
                                        <label class="floating-label">Remarks</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div id="DivOtherDetails">
                        <h2 class="my-3 sub-heading">Other Details</h2>
                        <div class="row ">
                            <div class=" col-md-4">
                                <div class="floating-label-wrap">
                                    <select class="floating-label-field floating-label-field--s3"
                                            asp-for="Propertyregistration.BuiltUp" disabled>
                                        <option value="0">No</option>
                                        <option value="1">Yes</option>
                                    </select>
                                    <label class="floating-label">Built-Up  </label>
                                </div>

                            </div>
                            <div class=" col-md-4" id="divBuilttype" style="display:none;">
                                <div class="floating-label-wrap mb-3 mb-md-0">

                                    <input asp-for="Propertyregistration.BuiltUpRemarks" placeholder="Built-Up Remarks" disabled class="floating-label-field floating-label-field--s3 numbers" />
                                    <label class="floating-label">Built-Up Remarks  </label>
                                </div>
                            </div>

                            <div class=" col-md-4" id="divLayoutPlan" style="display:none;">
                                <label class="control-label lb-sm">Upload Layout Plan</label>
                                <br /> <a target="_blank" href="/LandTransfer/ViewDocument?path=@(Model.Propertyregistration.LayoutFilePath)">@(Model.Propertyregistration.LayoutFilePath=="" || Model.Propertyregistration.LayoutFilePath == string.Empty || Model.Propertyregistration.LayoutFilePath == null ? "Not Available": "Layout Plan")</a>
                            </div>
                        </div>
                        <div class="row pt-3">
                            <div class=" col-md-4">
                                <div class="floating-label-wrap">
                                    <select class="floating-label-field floating-label-field--s3"
                                            asp-for="Propertyregistration.GeoReferencing" disabled>
                                        <option value="0">No</option>
                                        <option value="1">Yes</option>
                                    </select>
                                    <label class="floating-label">GEO Referencing Done</label>
                                </div>
                            </div>
                        </div>
                        <div id="divGEOReferencingSelection" style="display:none;">
                            <div class="row pt-3">
                                <div class="col-md-4">
                                    <label class="control-label lb-sm">Upload Geo Referencing</label>
                                    <br /> <a target="_blank" href="/LandTransfer/ViewDocument?path=@(Model.Propertyregistration.GeoFilePath)">@(Model.Propertyregistration.GeoFilePath=="" || Model.Propertyregistration.GeoFilePath == string.Empty || Model.Propertyregistration.GeoFilePath == null ? "Not Available": "Geo Referencing")</a>
                                </div>
                                <div class="col-md-4">
                                    <div class="floating-label-wrap mb-3 mb-md-0">

                                        <input asp-for="Propertyregistration.GeoLattitude" placeholder="Lattitude" disabled class="floating-label-field floating-label-field--s3 numbers" />
                                        <label class="floating-label">Lattitude</label>
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="floating-label-wrap mb-3 mb-md-0">

                                        <input asp-for="Propertyregistration.GeoLongitude" placeholder="Longitude" disabled class="floating-label-field floating-label-field--s3 numbers" />
                                        <label class="floating-label">Longitude</label>
                                    </div>

                                </div>
                            </div>
                            <div class="row pt-3">

                                <div class="col-md-4">
                                    <a class="btn btn-theme" style="color:white;">Get Lat Long</a>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>

    <div class="permission mt-2 accordion list-unstyled m-0 ">
        <div class="card">
            <a class="p-2 no-dec d-flex align-items-center" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false"
               aria-controls="collapseExample2">
                <i class="ri-arrow-right-s-fill"></i>
                <span class="text ms-1 me-auto">Hand Over / Taken Over History</span>
                <i class="arrow ri-arrow-drop-down-line slow"></i>
            </a>
            <div class="list-unstyled m-0 ps-2 pe-1 ps-md-4 pe-md-3 collapse" id="collapseExample2">
                <div id="allDetails">
                    <div class="table-section bg-white border shadow rounded">
                        <div class="table-responsive ">
                            <table class="table table-sm table-bordered mb-0 table-striped">
                                <thead class="text-nowrap">
                                    <tr>

                                        <th rowspan="2">Locality(Village)</th>
                                        <th rowspan="2">Khasra No.</th>
                                        <th colspan="4">Handed Over</th>
                                        <th colspan="4">Taken Over</th>
                                        <th rowspan="2">handed Over /Taken Over date</th>
                                    </tr>
                                    <tr>
                                        <th>Department</th>
                                        <th>Zone</th>
                                        <th>Division</th>
                                        <th>Handed Over By</th>
                                        <th>Department</th>
                                        <th>Zone</th>
                                        <th>Division</th>
                                        <th>Taken Over By</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.LandTransferList.Count > 0)
                                    {
                                        @foreach (var item in Model.LandTransferList)
                                        {
                                            <tr>

                                                <td>@(item.PropertyRegistration.Locality==null?"":item.PropertyRegistration.Locality.Name??"")</td>
                                                <td>@item.PropertyRegistration.KhasraNo</td>
                                                <td>
                                                    @item.HandedOverDepartment.Name
                                                </td>
                                                <td>
                                                    @item.HandedOverZone.Name
                                                </td>
                                                <td>
                                                    @item.HandedOverDivision.Name
                                                </td>
                                                <td>
                                                    @item.HandedOverByNameDesingnation
                                                </td>
                                                <td>
                                                    @item.TakenOverDepartment.Name
                                                </td>
                                                <td>
                                                    @item.TakenOverZone.Name
                                                </td>
                                                <td>
                                                    @item.TakenOverDivision.Name
                                                </td>
                                                <td>
                                                    @item.TakenOverByNameDesingnation
                                                </td>
                                                <td>
                                                    @(item.HandedOverDate != null ? Convert.ToDateTime(item.HandedOverDate).ToString("dd MMM yyyy") : "Not Available")
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr><td colspan="99" style="text-align:center;">Data Not Available !!!</td></tr>

                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <h3 class="my-3 d-flex sub-heading">Handed Over /Taken Over Details</h3>
    <div id="DivHandedOver">
        <h2 class="my-3 sub-heading">Handed Over</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3"
                            asp-for="HandedOverDepartmentId"
                            asp-items="@(new SelectList(Model.Propertyregistration.HandOverDepartmentList, "Id","Name"))"
                            onchange="return GetZoneListForHandOver(this.options[this.selectedIndex].value);">
                        <option value="">--Select--</option>
                    </select>
                    <span asp-validation-for="HandedOverDepartmentId" class="text-danger lb-sm"></span>
                    <label asp-for="HandedOverDepartmentId" class="floating-label">Department<span style="color:red">*</span></label>
                </div>

            </div>
            <div class="col-md-4">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3"
                            asp-for="HandedOverZoneId"
                            asp-items="@(new SelectList(Model.HandedOverZoneList, "Id","Name"))"
                            onchange="return GetDivisionListForHandOver(this.options[this.selectedIndex].value);">
                        <option value="">--Select--</option>
                    </select>
                    <span asp-validation-for="HandedOverZoneId" class="text-danger lb-sm"></span>
                    <label asp-for="HandedOverZoneId" class="floating-label">Zone<span style="color:red">*</span></label>
                </div>


            </div>

            <div class="col-md-4">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3"
                            asp-items="@(new SelectList(Model.HandedOverDivisionList, "Id","Name"))"
                            asp-for="HandedOverDivisionId">
                        <option value="">--Select--</option>
                    </select>
                    <span asp-validation-for="HandedOverDivisionId" class="text-danger lb-sm"></span>
                    <label asp-for="HandedOverDivisionId" class="floating-label">Division<span style="color:red">*</span></label>
                </div>

            </div>
        </div>
        <div class="row pt-3">
            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input asp-for="HandedOverByNameDesingnation" placeholder="Name/Designation" class="floating-label-field floating-label-field--s3 " />
                    <span asp-validation-for="HandedOverByNameDesingnation" class="text-danger lb-sm"></span>
                    <label class="floating-label">Name/Designation<span style="color:red">*</span></label>
                </div>


            </div>
            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="HandedOverDate" type="date" class="floating-label-field floating-label-field--s3" />
                    <span asp-validation-for="HandedOverDate" class="text-danger"></span>
                    <label class="floating-label">Date<span style="color:red">*</span></label>
                </div>


            </div>
            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input asp-for="HandedOverEmailId" type="email" placeholder="Email Id" class="floating-label-field floating-label-field--s3 " />
                    <span asp-validation-for="HandedOverEmailId" class="text-danger lb-sm"></span>
                    <label class="floating-label">Email Id</label>
                </div>

            </div>
        </div>
        <div class="row pt-3">
            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input asp-for="HandedOverMobileNo" type="text" value="" placeholder="Mobile No." maxlength="10" class="floating-label-field floating-label-field--s3  onlynumbers " />
                    <span asp-validation-for="HandedOverMobileNo" class="text-danger lb-sm"></span>
                    <label class="floating-label">Mobile No.</label>
                </div>

            </div>
            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input asp-for="HandedOverLandLineNo" maxlength="10" type="text" value="" placeholder="Land Line No." class="floating-label-field floating-label-field--s3 onlynumbers" />
                    <span asp-validation-for="HandedOverLandLineNo" class="text-danger lb-sm"></span>
                    <label class="floating-label">Land Line No.</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input type="text" asp-for="OrderNo" placeholder="Order No." maxlength="100" class="floating-label-field floating-label-field--s3 " />
                    <span asp-validation-for="OrderNo" class="text-danger lb-sm"></span>
                    <label class="floating-label">Order No.<span style="color:red">*</span> </label>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class=" col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <a target="_blank" href="/LandTransfer/ViewDocument?path=@(Model.CopyofOrderDocPath)">@(Model.CopyofOrderDocPath == "" || Model.CopyofOrderDocPath == string.Empty || Model.CopyofOrderDocPath == null ? "": "View Document")</a>

                    <input type="file" asp-for="CopyofOrder" placeholder="Copy of Order" class="floating-label-field floating-label-field--s3 checkExtension"
                           accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" />
                    <span asp-validation-for="CopyofOrder" class="text-danger lb-sm"></span>
                    <label class="floating-label">Copy of Order<span style="color:red">(.pdf only)</span></label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input type="text" asp-for="TransferorderIssueAuthority" placeholder="Transfer order Issue Authority" class="floating-label-field floating-label-field--s3 " />
                    <span asp-validation-for="TransferorderIssueAuthority" class="text-danger lb-sm"></span>
                    <label class="floating-label">Transfer order Issue Authority<span style="color:red">*</span> </label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <a target="_blank" href="/LandTransfer/ViewDocument?path=@(Model.HandedOverFile)">@(Model.HandedOverFile == "" || Model.HandedOverFile == string.Empty || Model.HandedOverFile == null ? "": "View Document")</a>

                    <input type="file" asp-for="HandedOverFiles" placeholder="Document" class="floating-label-field floating-label-field--s3 checkExtension"
                           accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" />

                    <span asp-validation-for="HandedOverFiles" class="text-danger lb-sm"></span>
                    <label class="floating-label" asp-for="HandedOverFiles">Handover/Other Document<span style="color:red">(.pdf only)</span> </label>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-md-12">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <textarea asp-for="HandedOverCommments" placeholder="Comments" class="floating-label-field floating-label-field--s3 "></textarea>
                    <span asp-validation-for="HandedOverCommments" class="text-danger lb-sm"></span>
                    <div id="feedbackHandedOverComments"></div>
                    <label class="floating-label">Comments </label>
                </div>
            </div>
        </div>
    </div>
    <div id="DivTakenOver">
        <h2 class="my-3 sub-heading">Taken Over</h2>
        <div class="row">
            <div class=" col-md-4">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3"
                            asp-for="TakenOverDepartmentId"
                            asp-items="@(new SelectList(Model.Propertyregistration.HandOverDepartmentList, "Id","Name"))"
                            onchange="GetZoneListForTakenOver(this.value);">
                        <option value="">--Select--</option>
                    </select>
                    <span asp-validation-for="TakenOverDepartmentId" class="text-danger lb-sm"></span>
                    <label asp-for="TakenOverDepartmentId" class="floating-label">Department<span style="color:red">*</span></label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3"
                            asp-for="TakenOverZoneId"
                            asp-items="@(new SelectList(Model.TakenOverZoneList, "Id","Name"))"
                            onchange="return GetDivisionListForTakenOver(this.options[this.selectedIndex].value);">
                        <option value="">--Select--</option>
                    </select>
                    <span asp-validation-for="TakenOverZoneId" class="text-danger lb-sm"></span>
                    <label asp-for="TakenOverZoneId" class="floating-label">Zone<span style="color:red">*</span></label>
                </div>


            </div>
            <div class="col-md-4">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3"
                            asp-for="TakenOverDivisionId"
                            asp-items="@(new SelectList(Model.TakenOverDivisionList, "Id","Name"))">
                        <option selected disabled value="">--Select--</option>
                    </select>
                    <span asp-validation-for="TakenOverDivisionId" class="text-danger lb-sm"></span>
                    <label asp-for="TakenOverDivisionId" class="floating-label">Division<span style="color:red">*</span></label>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input asp-for="TakenOverByNameDesingnation" placeholder="Name/Designation" class="floating-label-field floating-label-field--s3 " />
                    <span asp-validation-for="TakenOverByNameDesingnation" class="text-danger lb-sm"></span>
                    <label class="floating-label">Name/Designation<span style="color:red">*</span></label>
                </div>

            </div>
            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input asp-for="DateofTakenOver" type="date" placeholder="Date" class="floating-label-field floating-label-field--s3 " />
                    <span asp-validation-for="DateofTakenOver" class="text-danger lb-sm"></span>
                    <label class="floating-label">Date<span style="color:red">*</span></label>
                </div>

            </div>
            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input asp-for="TakenOverEmailId" type="email" placeholder="Email Id" class="floating-label-field floating-label-field--s3 " />
                    <span asp-validation-for="TakenOverEmailId" class="text-danger lb-sm"></span>
                    <label class="floating-label">Email Id</label>
                </div>

            </div>
        </div>
        <div class="row pt-3">
            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="TakenOverMobileNo" placeholder="Mobile No." class="floating-label-field floating-label-field--s3 onlynumbers" maxlength="10" />
                    <span asp-validation-for="TakenOverMobileNo" class="text-danger lb-sm"></span>
                    <label class="floating-label">Mobile No.</label>
                </div>


            </div>
            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="TakenOverLandLineNo" maxlength="10" type="text" value="" placeholder="Land Line No." class="floating-label-field floating-label-field--s3 onlynumbers" />
                    <span asp-validation-for="TakenOverLandLineNo" class="text-danger lb-sm"></span>
                    <label class="floating-label">Land Line No.</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <a target="_blank" href="/LandTransfer/ViewDocument?path=@(Model.TakenOverDocument)">@(Model.TakenOverDocument == "" || Model.TakenOverDocument == string.Empty || Model.TakenOverDocument == null ? "": "View Document")</a>

                    <input type="file" asp-for="TakenOverFile" placeholder="Document" class="floating-label-field floating-label-field--s3 checkExtension"
                           accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" />

                    <span asp-validation-for="TakenOverFile" class="text-danger lb-sm"></span>
                    <label class="floating-label" asp-for="TakenOverFile">Takenover/Other Document<span style="color:red">(.pdf only)</span></label>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-md-12">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <textarea asp-for="TakenOverCommments" placeholder="Comments" class="floating-label-field floating-label-field--s3 "></textarea>
                    <span asp-validation-for="TakenOverCommments" class="text-danger lb-sm"></span>
                    <div id="feedbackTakenOverComments"></div>
                    <label class="floating-label">Comments </label>
                </div>
            </div>
        </div>
    </div>
    <div id="divEncroachment">
        <div class="row pt-3">
            <div class="col-md-4">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3"
                            onchange="ChangeEncroachmentStatus(this.value);"
                            asp-for="Encroachment">
                        <option value="0">No</option>
                        <option value="1">Yes</option>
                    </select>
                    <span asp-validation-for="Encroachment" class="text-danger lb-sm"></span>
                    <label class="floating-label">Encroachment </label>
                </div>
            </div>
        </div>
        <div id="divEncroachmentYesSelectionForLandTransfer" style="display:none;">
            <div class="row pt-3">
                <div class="col-md-4">
                    <div class="floating-label-wrap">
                        <select class="floating-label-field floating-label-field--s3" asp-for="EncroachmentStatus">
                            <option value="0">Fully Encroached</option>
                            <option value="1">Partially Encroached</option>
                        </select>
                        <span asp-validation-for="EncroachmentStatus" class="text-danger lb-sm"></span>
                        <label class="floating-label">Encroachment Status </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input asp-for="EncroachementArea" placeholder="Encroached Area(in sq. mt.)" class="floating-label-field floating-label-field--s3 numbers"
                               onchange="return ComapareTotalArea(this);"
                               onkeypress="return numericDecimal(this);" onpaste="return false;" />
                        <span id="EncroachedValidation" asp-validation-for="EncroachementArea" class="text-danger lb-sm"></span>
                        <label class="floating-label">Encroched Area(in sq. mt.)</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input asp-for="BuildUpInEncroachementArea" placeholder="Builtup in Encroachment Area(in sq. mt.)" class="floating-label-field floating-label-field--s3 numbers"
                               id="BuiltupEncroachmentArea" onchange="return ComapareTotalArea(this);"
                               onkeypress="return numericDecimal(this);" onpaste="return false;" />
                        <span id="EncroachedValidation" asp-validation-for="BuildUpInEncroachementArea" class="text-danger lb-sm"></span>
                        <label class="floating-label">Builtup in Encroachment Area(in sq. mt.)</label>
                    </div>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input asp-for="EncroachementArea" placeholder="Vacant(in sq. mt.)" class="floating-label-field floating-label-field--s3 numbers" onkeypress="return numericDecimal(this);" onpaste="return false;"
                               onchange="return ComapareTotalArea(this);" />
                        <span asp-validation-for="EncroachementArea" class="text-danger lb-sm"></span>
                        <label class="floating-label">Vacant(in sq. mt.)</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <textarea placeholder="Action On Encroachment" type="text" class="floating-label-field floating-label-field--s3" asp-for="ActionOnEncroachment"></textarea>

                        <span asp-validation-for="ActionOnEncroachment" class="text-danger lb-sm"></span>
                        <label class="floating-label">Action On Encroachment</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <a target="_blank" href="/LandTransfer/ViewDocument?path=@(Model.ActionTakenReportPath)">@(Model.ActionTakenReportPath == "" || Model.ActionTakenReportPath == string.Empty || Model.ActionTakenReportPath == null ? "": "View Document")</a>
                        <input type="file" placeholder="Upload Action Taken Report(ATR)" class="floating-label-field floating-label-field--s3 "
                               asp-for="ActionTakenReport" />
                        <span asp-validation-for="ActionTakenReport" class="text-danger lb-sm"></span>
                        <label class="floating-label">Upload Action Taken Report(ATR)</label>
                    </div>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-md-12" id="divEncroachmentDetails2" style="display:none;">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input asp-for="EncroachmentDetails" placeholder="Encroachment Details" class="floating-label-field floating-label-field--s3 " />
                        <span asp-validation-for="EncroachmentDetails" class="text-danger lb-sm"></span>
                        <label class="floating-label">Encroachment Details</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class=" col-md-12">
                <button class="btn btn-theme " type="submit">Submit</button>
                @Html.ActionLink("Back", "Index", "LandTransfer", null, new { @class = "btn btn-theme " })

            </div>
        </div>
    </div>
</form>


<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/LandTransfer.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/LandTransfer.min.js" asp-append-version="true"></script>
</environment>