
@model Libraries.Model.Entity.Undersection17plotdetail
@await Component.InvokeAsync("PageHeader", new { pageName = "US17 NOTIFICATION" })


<div class="pt-3">
    <div class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <h3 class="mb-3 d-flex">Details <span style="margin-left:800px"><span style="color:red">*&nbsp;</span>Marked are mandatory fields</span> </h3>

        <div class="row mt-md-3">


            <div class=" col-md-12">
                <div class="floating-label-wrap">

                    <select class="floating-label-field floating-label-field--s3" asp-for="UnderSection17Id">
                        <option selected="selected" disabled="disabled" value="">--Select-- </option>
                        @foreach (var item in Model.Undersection17List)
                        {
                            <option value="@item.Id" mytag="@item.Number (  @(Convert.ToDateTime(item.NotificationDate).ToString("dd-MMM-yyyy")))">@item.Number (  @(Convert.ToDateTime(item.NotificationDate).ToString("dd-MMM-yyyy"))) </option>
                        }

                    </select>
                    <span asp-validation-for="UnderSection17Id" class="text-danger"></span>
                    <label class="floating-label">Notification No(U/S-17)<span style="color:red">*</span></label>
                </div>
            </div>




        </div>



        <div class="row mt-md-3">
            <div class="col-md-12 col-xl-3">
                <div class="row">
                    <div class="col-6 col-md-5 col-xl-6">
                        <button id="btnReset" class="btn btn-link btn-block d-flex align-items-center justify-content-center" type="reset">
                            <i class="ri-refresh-line me-2"></i>Reset
                        </button>
                    </div>
                    <div class="col-6 col-md-7 col-xl-6">

                        <input type="submit" value="Generate" id="btnGenerate" class="btn btn-theme" />

                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="table-section bg-white border shadow rounded">
      
        <div class="table-responsive px-2">
            <form class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
                <p> <h3 class="mb-3 d-flex" style="text-align:center;" id="village_tag">  </h3></p>
                <div id="LoadReportView">

                </div></form>
        </div>
    </div>

</div>


<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/notification17details.js"></script>

</environment>
<environment exclude="Development">
    <script src="~/js/notification17details.min.js" asp-append-version="true"></script>
</environment>

