
@model IEnumerable<Dto.Search.DemandPaymentDetailsDto>
    <div class="table-section bg-white border shadow rounded">
        <table class="table table-sm table-bordered mb-0 table-striped">
            <thead class="text-nowrap">

                <tr>

                    <th>Demand Period</th>
                    <th>Ground Rent /License Fee (Rs.) </th>
                    <th>Interest (Rs.)</th>
                    <th>Total Dues (Rs.)</th>

                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Count() > 0)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.DemandPeriod</td>
                            <td>@item.GroundRentLeaseRent</td>
                            <td>@item.InterestAmount</td>
                            <td>@item.TotalDues</td>

                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <th colspan="13" style="text-align:center"> Data Not Available </th>
                    </tr>
                }
            </tbody>
            <tfoot>
                @if (Model != null)
                {
                    <tr>
                        <td colspan="3" align="right" style="font-weight:bolder"><b>Total Dues Total</b></td>
                        <td style="font-weight:bolder" align="right" id="tdtotalDemandAmount">@Model.Sum(x => x.TotalDues)</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td colspan="3" align="right" style="font-weight:bolder"><b>Total</b></td>
                        <td style="font-weight:bolder">0</td>

                    </tr>
                }
            </tfoot>


        </table>

        </div>
