@model Libraries.Repository.Common.PagedResult<Libraries.Model.Entity.Hearingdetails>


<table class="table table-sm table-bordered mb-0 table-striped">
    <thead class="text-nowrap">
        <tr>

            <th>Hearing Date </th>
            <th>Hearing Time</th>
            <th>Hearing Venue</th>
            <th>Attendee</th>
            <th>Hearing Remarks</th>

            <th> Document</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Results)
        {
        <tr>
            @*<td> @(item.Allotment.LRefNo == null?"": item.Allotment.Name)</td>*@
            <td>@(Convert.ToDateTime(item.HearingDate).ToString("dd-MMM-yyyy"))  </td>

            <td>@item.HearingTime</td>
            <td>@item.HearingVenue</td>
            <td>@item.Attendee</td>
            <td>@item.Remark</td>



            @*<td>
                @{
                    @if (ViewBag.ExistStayFile != null)
                    {

                        <input type="file" class="floating-label-field floating-label-field--s3" id="AssignSfile" name="AssignSfile" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" />
                        @Html.ActionLink("(View File)", "Download", new { id = item.Id }, new { @class = "badge bg-primary px-2" })
                    }
                    else
                    {
                        <input type="file" class="floating-label-field floating-label-field--s3" id="AssignSfile" name="AssignSfile" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" />
                    }
                }
            </td>*@

        <td>
            @if (Model != null)
            {
                @if (item.DocumentPatth != null)
                {
                    <a class="badge bg-primary px-2" asp-action="ViewHearingDetailsDoc" asp-route-id="@item.Id" target="_blank"> (View)</a>
                }
                else
                {
                    <a>No Document</a>
                }
            }
            </td>
            <td>
                <div class="action-btns">
                    <a asp-action="Edit" asp-route-id="@item.Id" title="edit" class="edit"> <i class="ri-edit-line"></i> </a>
                </div>

            </td>

        </tr>
        }
    </tbody>

</table>

@await Component.InvokeAsync("Pager", new { totalCount = Model.RowCount, pageNumber = Model.CurrentPage, pageSize = Model.PazeSize })
