@model IEnumerable<Libraries.Model.Entity.Morland>
@{int rowNo = 0; }




<div class="row">
    <div class="col-sm-12">
        <div class="myapp-hed">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;">Morland</h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div>
    <a asp-action="Create" class="btn btn-primary pull-right dda-pageheading" style="margin-top: -10px;">Add New</a>
</div>
<br />
<br />
<div class="container-fluid">
    <div class="card  table-card">

        <table class="table table-responsive table-bordered table-card">

            <thead class="thead">
                <tr>
                    <th>Sr.No</th>
                    <th>Notification No.</th>
                    <th>Notification Date</th>
                    <th>Serial Number</th>
                    <th>Property Site No</th>
                    <th>Location Name</th>
                    <th>Site Description</th>
                   
                    

                    <th>Biswa</th>
                    <th>Bigha</th>
                    <th>Biswanshi</th>
                    <th>Status Of Land</th>
                    <th>Occupied By</th>
                    <th>Developed</th>
                    <th>Land Type</th>
                    <th>Remarks</th>
                    
                    <th>Status</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody class="tbody">
                @foreach (var item in Model)
                {
                <tr>
                    <td>@(rowNo += 1)</td>


                    <td>@item.LandNotification.Name</td>
                    <td>@item.NotificationDate</td>
                    <td>@item.SerialNoId</td>
                    <td>@item.PropertySiteNo</td>
                    <td>@item.Name</td>
                    <td>@item.SiteDescription</td>




                    <td>@item.Bigha</td>
                    <td>@item.Biswa</td>
                    <td>@item.Biswanshi</td>
                    <td>@item.StatusOfLand</td>
                    <td>@item.OccupiedBy</td>
                    <td>@item.Developed</td>
                    <td>@item.LandType</td>
                    <td>@item.Remarks</td>
                   
                    <td>@(item.IsActive==1?"Active":"InActive")</td>
                    <td>
                        <a asp-action="View" asp-route-id="@item.Id" title="View">  <i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i> </a>

                        <a asp-action="Edit" asp-route-id="@item.Id" title="edit"> &nbsp; | &nbsp;  <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i> </a>

                        <a asp-action="Delete" asp-route-id="@item.Id" title="delete" onclick="return confirm('Are You Sure, You want to Delete this Record?')">   &nbsp;|&nbsp;<i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
                    </td>
                </tr>
                }
            </tbody>

        </table>

    </div>
</div>
<br />
<br />

