@model IEnumerable<Libraries.Model.Entity.Landbankdetails>
@{
    int row = 1;
}

<table class="table table-sm table-bordered mb-0 table-striped">
    <thead class="text-nowrap">

        <tr>
            <th>Sr.No.</th>
            <th>Land Category</th>
            <th>Zone</th>
            <th>Village Name</th>
            <th>Area (in acre)</th>
            @if (Model != null && Model.Count() > 0)
            {
                @if (Model.Select(x => x.LandCategoryNavigation.Name).FirstOrDefault() == "Gram Sabha Land")
                {
                    <th>
                        Notification No
                    </th>
                    <th>
                        Notification Date
                    </th>
                }
            }
        </tr>

    </thead>
    <tbody>
        @if (Model != null && Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>

                        @row

                    </td>
                    <td>@(item.LandCategoryNavigation.Name) </td>
                    <td>@(item.ZoneName) </td>
                    <td>
                        @if (item.LandCategoryNavigation.Name == "Acquired/Nazul-2 Land")
                        {
                            <a href="GetAwardData?village=@item.VillageName&category=@item.LandCategoryNavigation.Id.ToString()&award=0" target="_blank">@item.VillageName</a>
                        }
                        else
                        {
                            @(item.VillageName)
                        }
                    </td>
                    <td>@item.Area</td>
                    @if (item.LandCategoryNavigation.Name == "Gram Sabha Land")
                    {
                        <td>
                            @item.NotificationNo
                        </td>
                        <td>
                            @(item.NotificationDate.HasValue? item.NotificationDate.Value.ToString("dd-mm-yyyy"):"")
                            
                        </td>
                    }
                </tr>
                row++;
            }
            @if (Model.Count() < 0)
            {
                <tr>
                    <th style="text-align:center" colspan="5">
                        Data Not Available
                    </th>
                </tr>
            }
        }
        else
        {
            <tr>
                <th colspan="5" style="text-align:center"> No Record Available! </th>
            </tr>
        }
    </tbody>
    <tfoot>
        @if (Model != null && Model.Count() > 0)
        {
            <tr>
                <td colspan="4" style="font-weight: bolder;background-color: darkgrey" align="right">Total</td>
                <td style="font-weight: bolder;background-color: darkgrey">@Model.Sum(i => i.Area) </td>
                @if (Model.Select(x => x.LandCategoryNavigation.Name).FirstOrDefault() == "Gram Sabha Land")
                {
                    <td style="font-weight: bolder;background-color: darkgrey">
                       
                    </td>
                    <td style="font-weight: bolder;background-color: darkgrey">
                        
                    </td>
                }
            </tr>
        }
    </tfoot>


</table>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css" />
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $(".table").dataTable();
    });
</script>
<style>
    label, dataTables_info, dataTables_paginate {
        font-weight: bolder;
    }
</style>


@*@await Component.InvokeAsync("Pager", new { totalCount = Model.RowCount, pageNumber = Model.CurrentPage, pageSize = Model.PazeSize })*@
