
@model IEnumerable<Libraries.Model.Entity.Landbankdetails>


<table class="table table-sm table-bordered mb-0 table-striped">
    <thead class="text-nowrap">

        <tr>
            <th>Land Category</th>
            <th>Zone</th>
            <th>Village Name</th>
            <th>Area (in acer)</th>
        </tr>

    </thead>
    <tbody>
        @if (Model != null && Model.Count() > 0)
        {
        @foreach (var item in Model)
            {
        <tr>
            <td>@(item.LandCategoryNavigation.Name) </td>
            <td>@(item.ZoneName) </td>
            <td>@(item.VillageName)</td>
            <td>@item.Area</td>
        </tr>
            }
        @if (Model.Count() < 0)
            {
        <tr>
            <th style="text-align:center" colspan="4">
                Data Not Available
            </th>
        </tr>
            }
        }
        else
        {
        <tr>
            <th colspan="4" style="text-align:center"> No Record Available! </th>
        </tr>
        }
    </tbody>
    <tfoot>
        @if (Model != null && Model.Count() > 0)
        {
        <tr>
            <td colspan="3" style="font-weight: bolder;background-color: darkgrey" align="right">Total</td>
            <td style="font-weight: bolder;background-color: darkgrey">@Model.Sum(i => i.Area) </td>
        </tr>
        }
    </tfoot>

</table>


@*@await Component.InvokeAsync("Pager", new { totalCount = Model.RowCount, pageNumber = Model.CurrentPage, pageSize = Model.PazeSize })*@
