@model Libraries.Model.Entity.Demandletters
<div class="content" id="MainContentForm" style="max-width: 900px; margin: auto; background: white; padding: 10px;">


    <div style="margin-left:100px; max-width:80%">

        <div class="row" style="border: groove; height:128px">
            <table class="table table-bordered" border="0">
                <tr>
                    <td>
                        <img src="https://res.cloudinary.com/deb9cwxor/image/upload/v1596010902/ow9sj5vbbpymed9eydrl.png" style="height:100px" class="img-responsive" alt="">
                    </td>
                    <td align="center">

                        <h style="font-size:20px; color:black">

                            <u> <b> DELHI DEVELOPMENT AUTHORITY</b></u>

                        </h>
                        <p style="color:black; font-size:8px; margin-left:80px; text-align:justify">

                            <b>
                                IN THE COURT OF ESTATE OFFICER-||<br />

                                Room No.-05, A-Block, Ground Floor,<br />

                                VIKAS SADAN INA, NEW DELHI -110023<br />

                            </b>
                        </p>

                    </td>
                    <td>
                        <img src="https://res.cloudinary.com/deb9cwxor/image/upload/v1596882092/dupx7btfcqjequcgsb00.jpg" style="height:100px" class="img-responsive" alt="">

                    </td>
                </tr>
            </table>

        </div>

        <div class="panel-body">

            <div class="row">
                <div class="col-md-3">
                    <label> फाइल सं. - <b> @Model.FileNo</b></label>
                    <p style="color:black;">File No. -<b> @Model.FileNo</b></p>
                </div>
                <div class="col-md-6"></div>
                <div class="col-md-3">
                    <label> दिनांक -  <b>@Model.GenerateDate.ToString("dd/MMM/yyyy")</b></label>

                    <p style="color:black">Dated - <b>@Model.GenerateDate.ToString("dd/MMM/yyyy")</b></p>
                </div>

            </div>


            <div class="row">
                <div class="col-md-6">
                    <label> Shri/smt : - <b>@Model.Name</b>&nbsp;&nbsp;<b>S/O @Model.FatherName</b></label>
                    <p style="color:black">Add :-<b>@Model.Address</b></p>
                </div>
                <div class="col-md-6">
                    <label> </label>
                </div>

            </div>



            <div class="row">
                <div class="col-md-12">
                    <p style="color:black;margin-bottom:0.2%; text-align-last:justify">


                        विषय : सरकारी स्थान (अप्राधिकृत  अभिभोगियो  की  बेदखली ) अधिनियम , 1971  की  धरा 4(1)/7(3) के <br />
                    </p>  <p style="color:black; margin-left:55px; text-align-last:justify">
                        अंतर्गत  दिल्ली  में  स्थित  सम्पति  सं.
                        <br />
                        <b>@Model.Address</b>  के संबध में  श्री/श्रीमान  के  <b>@Model.Name</b>&nbsp;&nbsp;<b>S/O @Model.FatherName</b>

                    </p>

                    <p style="color: black; margin-left: 55px; margin-top: -1.2%;">विरुद्ध कार्यवाही !</p>

                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <p style="color:black;margin-bottom:0.2%; text-align-last:justify">
                        Sub:

                        Proceeedings U/S  4(1) / 7(3)  of the public premises ( Eviction of unauthorised <br />
                    </p>  <p style="color:black; margin-left:52px; text-align-last:justify">
                        occupants ) Act , 1971 , against <b>@Model.Name</b>&nbsp;&nbsp;<b>S/O @Model.FatherName</b>&nbsp;in respect of permises <br />

                    </p>

                    <p style="color: black; margin-left: 55px; margin-top: -1.2%;">
                        <b>@Model.Address</b>

                    </p>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p style="color:black; margin-left:55px;margin-bottom:0.2% ;text-align-last:justify">

                        सरकारी स्थान (अप्राधिकृत अभिभोगियो की बेदखली ) अधिनियम , 1971 की धरा 4(1)/7(3) के

                        <br />
                    </p>   <p style="color:black; text-align-last:justify">
                        अंतर्गत नोटिस के संम्बंध में आपको आयेतंत्द्वारा निर्देश दिया जाता है कि आप नोटिस की अपनी<br />
                        आपतियो के समर्थन में प्रमाण प्रस्तुत करे और अधोहस्ताछरी के न्यायालय में दिनाक <b>@Model.UndersignedDate.ToString("dd/MMM/yyyy")</b>को

                        <br />

                    </p>
                    <p style="color: black;margin-top: -1.2%;"><b>@Model.UndersignedTime</b> उपस्थित हो |</p>

                </div>


            </div>

            <div class="row">
                <div class="col-md-12">
                    <p style=" color: black; margin-left: 55px; text-align-last: justify; margin-bottom: -0.2%">

                        In connection with the notice under Section 4(1)/7(3) of the Public Premises
                    </p> <p style="color: black;margin-top: 0.8%; text-align-last:justify">
                        ( Eviction of Unauthorised Occupants&nbsp;  ) Act ,&nbsp;  1971 &nbsp;  You are hereby directed  that  you may
                        produce evidence in support of your objections to the notice and appear before the<br />


                    </p>
                    <p style="color: black;margin-top: -1.2%;">court of undersigned on <b>@Model.UndersignedDate.ToString("dd/MMM/yyyy")</b> at <b>@Model.UndersignedTime</b></p>


                </div>


            </div>


            <div class="row">
                <div class="col-md-12">
                    <p style="color:black; margin-left:55px;margin-bottom:0.2% ;text-align-last:justify">


                        यदि आप उप्रयुक्त तिथि को उपस्थित नही हुए तो आपके विरुद्ध एकतरफा कार्यवाही की
                        <br />
                    </p>
                    <p style="color: black; margin-top: -1.2%;"> जाएगी |</p>

                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <p style="color: black;margin-left: 55px;text-align-last: justify;">
                        In case you fail to appear on the said date ex-parte proceedings will be started
                    </p>
                    <p style="color: black;margin-top: -1.2%;">against you</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p style="color: black; margin-left: 55px;">
                        Deposit the dues [Rs . <b>@Model.DepositDue</b>] - upto <b>@Model.UptoDate.ToString("dd/MMM/yyyy")</b> (Provisional)].
                    </p>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p style="color:black;margin-bottom:0.2%; text-align-last:justify">
                        <b>
                            Note:

                            The above provisional demand is of principal amount only. The interest
                        </b> <br />
                    </p>  <p style="color:black; margin-left:52px; text-align-last:justify">


                    </p>


                    <p style="color: black;margin-left: 55px">
                        <b>  component and final demand will be calculated thereafter.</b>

                    </p>

                </div>

            </div>

            <div class="row">
                <div class="col-md-6">

                </div>

                <div class="col-md-3">

                </div>

                <div class="col-md-3">

                    <p style="color:black">
                        संपदा अधिकारी-II D<br />
                        Estate Officer-II D
                    </p>




                </div>
            </div>


        </div>
    </div>
</div>

<div class="row mt-md-3">
    <div class="col-md-12">

        <button class="btn btn-theme " id="btnCreate" type="button">Print</button>

        @Html.ActionLink("Back", "Index", "DuplicateDemandletter", null, new { @class = "btn btn-theme" })
    </div>
</div>


<script src="~/js/demandletterlist.js"></script>