@model IEnumerable<Dto.Search.ApprovalCompleteListDataDto>
    <div class="row my-md-3">
        <div class="col-md-12">
            <div class="mb-2">
                <select class="floating-label-field floating-label-field--s3" id="ddlModuleWise" onchange="return GetApprovalProccessList(this.options[this.selectedIndex].value);">
                    <option value="">--Select--</option>
                    @foreach (var item in Model)
                    {
                        <option value="@item.ProcessGuid"> @item.ModuleName ( @item.SubModuleName )</option>
                    }
                </select>
            </div>

            <div id="LoadReportView" class="table-responsive">
                <table class="table table-borderless">
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="px-0 py-1">
                                    @if (@item.TotalPendingReq == 0)
                                    {
                                        <button type="button" class="btn btn-primary d-flex w-100 align-items-center align-content-center  justify-content-between btnclick" id="btnId" value="@item.ProcessGuid" disabled>
                                            <span class="badge badge-light">@item.TotalPendingReq</span>  @item.ModuleName - @item.SubModuleName 
                                        </button>
                                    }
                                    else
                                    {
                                        <a class="btn btn-primary d-flex w-100 align-items-center align-content-center  justify-content-between btnclick" asp-action="GetApprovalProcessDetailsLink" asp-route-ProcessGuid="@item.ProcessGuid" target="_blank">   @item.ModuleName - @item.SubModuleName <span class="badge badge-light">@item.TotalPendingReq</span></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        @*<div class="col-md-6 d-none d-md-block">
            <img src="~/images/approval2.jpg" class="img-fluid d-block mx-auto">
        </div>*@
    </div>