@model IEnumerable< Dto.Search.DemandletterdatalistDto>


<div class="content" id="MainContentForm" style="max-width: 820px; margin: auto; background: white; padding: 10px;">
    <div class="panel panel-default">

        <div class="row" style="border: groove; height:162px">
            <table class="table table-bordered" border="0">
                <tr>
                    <td>
                        <img src="https://res.cloudinary.com/deb9cwxor/image/upload/v1596010902/ow9sj5vbbpymed9eydrl.png" style="height:100px" class="img-responsive" alt="">
                    </td>
                    <td align="center">

                        <h style="font-size:20px; color:black">

                            <u> <b> DELHI DEVELOPMENT AUTHORITY</b></u>

                        </h>
                        <p style="color:black; font-size:11px; margin-left:60px; text-align:justify">

                            <b>
                                The Authorized Signatory-||<br />
                                Florence Nightangle Educational Society<br />
                                Sector-16B Dwarka Phase-II,<br />
                                New Delhi-110075<br />
                                <br />

                            </b>
                        </p>

                    </td>
                    <td>
                        <img src="https://res.cloudinary.com/deb9cwxor/image/upload/v1596882092/dupx7btfcqjequcgsb00.jpg" style="height:100px" class="img-responsive" alt="">

                    </td>
                </tr>
            </table>

        </div>
        @if (Model != null && Model.Count() > 0)
        {
            @foreach (var item in Model)
            {

                <div class="panel-body">

                    @*<div class="row">
                        <div class="col-md-4">
                            <label> फाइल सं. -</label>

                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <label> दिनांक -</label>


                        </div>

                    </div>*@


                    <div class="row">
                        <div class="col-md-8">

                            <label>

                                File No.-<b>@item.RefNo</b>

                            </label>
                        </div>

                        <div class="col-md-4">
                            Dated -

                            <b>  <label id="txtNewDate"></label></b>
                        </div>

                    </div>



                    <br />
                    @*<div class="row">
                        <div class="col-md-6">
                            <label> श्री/श्रीमती  -</label>
                            <p style="color:black">Shri/smt -</p>
                        </div>
                        <div class="col-md-6">
                            <label> </label>
                        </div>

                    </div>*@


                    @*<br />
                    <div class="row">
                        <div class="col-md-12">
                            <label> पता- </label>
                            <p style="color:black">Address-</p>
                        </div>


                    </div>

                    <br />*@
                    @*<div class="row">
                        <div class="col-md-12">
                            <p style="color: black">
                                विषय :




                                क्षतिपूर्ति प्रभारो के स्व आकलन हेतु सरकारी स्थान (अप्राधिकृत  अभिभोगियो  की  बेदखली )
                            </p>
                            <p style="margin-left:42px; color:black">
                                अधिनियम , 1971  की  धारा 7 की उपधारा (3) के अंतर्गत नोटिस |
                            </p>



                        </div>


                    </div><br />*@

                    <div class="row">
                        <div class="col-md-12">
                            <p style="color:black">
                                Subject:Regariding outstanding dues in respect of land measuring <b>@item.TotalArea</b> allotted to
                                <b>  @item.Name</b> <br />
                                <b>@item.Address</b>
                            </p>
                            <p style="margin-left:50px; color:black">
                                occupants) Act ,for self-assessment of damage charges.
                            </p>

                        </div>

                    </div>

                    <br />


                    <div class="row">
                        <div class="col-md-12">
                            <p style="color: black;margin-left: 50px;text-align: justify">

                                It has been examined and intimated by the accountswing,DDa that an amount of Rs <b>@item.TotalAmount</b> is outstanding agianst
                                ypur society on account of outstanding ground rent<br />
                            </p>
                            <p style="color:black; margin-left:30px;">
                                अधिभोगी हैं/थेः-<br />
                            </p>

                            <br />
                            @*<p style="color: black; margin-left: 50px; text-align: justify">
                                Whereas , it  has  been  brought  to  my  notice  that    you   are /   were   in   unauthorized <br />
                            </p>     <p style="color:black; margin-left:30px;">
                                occupation of the public premises described below: -

                            </p>*@

                        </div>
                    </div>
                    <br />

                    <div class="row" style="color:black; margin-left:12px">
                        <div class="col-md-6">
                            <p style="color:black">Due ground Rent:-<b>@item.GroundRate </b></p>
                        </div>
                    </div>

                    <div class="row" style="color:black; margin-left:12px">
                        <div class="col-md-6">


                            <p style="color:black">Licence Fee:-<b>@item.LicenceFees</b> </p>

                        </div>
                    </div>

                    <div class="row" style="color:black; margin-left:12px">
                        <div class="col-md-6">

                            <p style="color:black">Due Interest On GRent:-<b>@item.Interestrate</b></p>
                        </div>
                    </div>

                    <div class="row" style="color:black; margin-left:12px">
                        <div class="col-md-6">

                            <p style="color:black"> Due Interest onL/Fee:-<b>@item.LateInterestrent</b></p>

                        </div>

                    </div>

                    @*<div class="row">
                        <div class="col-md-12">
                            <p style="color:black; margin-left:100px;margin-bottom:0.2%; text-align-last:justify">


                                और जबकि सरकारी स्थान (अप्राधिकृत अधिभागियों की बेदखली) अधिनियम, 1971 की धारा 7 <br />
                            </p>  <p style="color:black; margin-left:30px; text-align-last:justify">
                                की उपधारा (2ए) द्वारा प्रदत्त शक्तियों का प्रयोग करते हुए मेरा विचार है कि उक्त स्थान के संबंध में<br />
                                क्षतिपूर्ति की बकाया राशि देय है, जिसका भुगतान आपके द्वारा दिल्ली विकास प्राधिकरण को किया जाना<br />
                                है।



                            </p>

                        </div>


                    </div><br />*@

                    <div class="row">
                        <div class="col-md-12">
                            <p style="color:black; margin-left:100px; margin-bottom:0.2%;text-align-last:justify">


                                Therefore you are requested to deposit the above amountwithin 15 days from the date of issue of this leeter <br />
                            </p>  <p style="color:black; margin-left:30px; text-align-last:justify">
                                of the Public Premises (Eviction of Unauthorized Occupants)Act 1971, I consider that arrears of<br />
                                damages in respect of the said premises is due and payable by you to the Delhi Development<br />
                                Authority.



                            </p>

                        </div>


                    </div>
                    <br />

                

                

                  
                   



                    <br />
                 

                    <br />
                

                 


                    <br /><br />

                    <div class="row">
                        <div class="col-md-6">


                        </div>


                        <div class="col-md-2">


                        </div>

                        <div class="col-md-4">

                            <p style="color:black">
                                Sada Shiv<br />
                                Dy.Director(IL)/DDA
                            </p>

                        </div>
                    </div>

                  
                </div>
            }
        }
            </div>

    <div class="row mt-md-3">
        <div class="col-md-12">

            <button class="btn btn-theme " id="btnCreate" type="button">Print</button>

            @Html.ActionLink("Back", "Create", "DemandLetter", null, new { @class = "btn btn-theme" })
        </div>
    </div>

</div>
<!-- HTML content for PDF creation -->

<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
        <script src="~/js/DemandLetterCreate.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/DemandLetterCreate.min.js" asp-append-version="true"></script>
    </environment>
