
@model IEnumerable<Dto.Search.Unotification4detailsListDto>
<table class="table table-sm table-bordered mb-0 table-striped">
    <thead class="text-nowrap">

        <tr>
           
            <th>Village Name</th>
            <th>Khasra No </th>

            <th>Area </th>
            <th>Notified Area </th>




        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                <tr>
                 


                    <td>@item.VillageName</td>

                    <td>@item.KhasraName</td>

                    <td>@item.BighaArea @item.BiswaArea @item.BiswaniArea</td>
                    <td>@item.NotifyBighaArea @item.NotifyBiswaArea</td>


                </tr>
            }
        }
        else
        {
            <tr>
                <th colspan="13" style="text-align:center"> Data Not Available </th>
            </tr>
        }

    </tbody>

</table>

