@model Libraries.Repository.Common.PagedResult<Libraries.Model.Entity.Demolitionstructuredetails>
<table class="table table-sm table-bordered mb-0 table-striped">
    <thead class="text-nowrap">
        <tr>

           
            <th rowspan="2">Department</th>
            <th rowspan="2">Zone</th>
            <th rowspan="2">Division</th>
            <th rowspan="2"> Locality(Village Name)</th>
          
            <th rowspan="2">Demolition Date</th>
           
            <th rowspan="2">Area Reclaimed</th>
            <th rowspan="2">Reason of Demolition</th>
        </tr>

    </thead>
    <tbody>

        @if (Model != null && Model.Results.Count() > 0)
        {
            @foreach (var item in Model.Results)
            {
        <tr>
         
            <td>@item.Department.Name</td>
            <td>@item.Zone.Name</td>
            <td>@item.Division.Name</td>
            <td>@item.Locality.Name</td>
           
            <td>@item.Date</td>
            

            <td>@item.AreaReclaimed</td>
            <td>@item.Remarks</td>
        </tr>
            }
        }
        else
        {
            <tr>
                <th colspan="13" style="text-align:center"> Data Not Available </th>
            </tr>
        }

    </tbody>

</table>

@await Component.InvokeAsync("Pager", new { totalCount = Model.RowCount, pageNumber = Model.CurrentPage, pageSize = Model.PazeSize })