@model Libraries.Repository.Common.PagedResult<Libraries.Model.Entity.Propertyregistration>
@{int rowNo = 0; }


<table class="table table-sm table-bordered mb-0 table-striped">
    <thead class="text-nowrap">
        <tr>
            <th rowspan="2">Sr.No</th>
            <th rowspan="2">Inventoried In</th>
            <th rowspan="2">Planned/Unplanned Land</th>
            <th rowspan="2">Classification of Land</th>
            <th>Department</th>
            <th rowspan="2">Zone </th>
            <th rowspan="2">Division </th>
            <th rowspan="2">Locality(Village) </th>
            <th rowspan="2">Khasra Number</th>
            <th>Address with Landmark</th>
            <th rowspan="2">Primary List No </th>
            <th rowspan="2">Area (In SQM) </th>
            <th rowspan="2">delete Reason</th>
            <th rowspan="2"> Deleted On</th>
            <th rowspan="2">View Details</th>
            <th rowspan="2">Restore</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Results.Count() > 0)
        {
            @foreach (var item in Model.Results)
            {
                <tr>
                    <td>@(rowNo += 1)</td>
                    <td>@(item.InventoriedInId.ToString() == "1" ? "VLMS" : "Used" ) </td>
                    <td>@(item.PlannedUnplannedLand)</td>
                    <td>@item.ClassificationOfLand.Name</td>
                    <td>@item.Department.Name</td>
                    <td>@item.Zone.Name</td>
                    <td>@item.Division.Name</td>
                    <td>@(item.LocalityId == null ? "" : item.Locality.Name)</td>
                    <td>@item.KhasraNo</td>
                    <td>@item.Palandmark</td>
                    <td>@item.PrimaryListNo</td>
                    <td>@item.TotalArea</td>
                    <td>@(item.Reason == null ? "" : item.Deletedproperty.Reason)</td>
                    <td>@(item.Deletedproperty == null ? "" : item.Deletedproperty.DeletedDate.ToString("dd-MMM-yyyy"))</td>
                    @*<td><a asp-action="View" asp-route-id="@item.Id" title="View">  <i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i> </a></td>*@
                    <td>
                        <div class="action-btns">
                            <a asp-action="View" asp-route-id="@item.Id" title="View" class="view">  <i class="ri-eye-fill"></i> </a>

                        </div>

                    </td>

                    <td>
                        <a style="text-decoration:none;" asp-action="Restore" asp-route-id="@item.Id" title="restore">  <input type="submit" value="Restore" class="btn btn-theme " /></a>
                    </td>


                </tr>
            }
            @if (Model.Results.Count <= 0)
            {
                <tr>
                    <th style="text-align:center" colspan="999">
                        Data Not Available
                    </th>
                </tr>
            }
        }
        else
        {
            <tr>
                <th colspan="14" style="text-align:center"> No Record Available! </th>
            </tr>
        }
    </tbody>
</table>

@await Component.InvokeAsync("Pager", new { totalCount = Model.RowCount, pageNumber = Model.CurrentPage, pageSize = Model.PazeSize })