@model Dto.Master.UserProfileDto
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKdXoEy8iDv_7yvzRJkH2mW9LFieOIT4g&libraries=places" async defer></script>
    <link href="~/img/favicon.ico" rel="shortcut icon" type="image/x-icon" sizes="16x16" />
    <link rel="icon" href="~/img/favicon.png" type="image/png" sizes="16x16" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Site Title-->
    <title>DDA! MAP</title>

    <!--font css-->
    <link href="~/font/open-sans/stylesheet.css" rel="stylesheet">
    <link href="~/css/gisindex.css" rel="stylesheet" />
    <!--icon css-->
    <link rel="stylesheet" href="~/font/icon/remixicon.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <link href="~/lib/toaster/toastr.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link href="~/lib/select2/select2.css" rel="stylesheet" />
    <style>
        .google-map * {
            transition: none !important;
        }
    </style>
</head>
<body>
    <div id="loader-wrapper" style="display:none">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <section class="map-section">
        <!--live map-->
        <div class="liveMap" id="map-canvas">
        </div>
        <!--live map end-->
        <div class="container-fluid p-4 MapContent position-relative" id="topRightActionButton">
            <!--top buttons-->
            <div class="text-right TopActionBtns">
                <a href="#" class="btn actionBtn slow" title="Village" id="aVillageName" style="display:none">
                    <i class="ri-map-pin-fill"></i> <span id="spanVillageName"></span>
                </a>
                <a href="@Url.Action("AIChangeDetection","GIS")" role="button" class="btn actionBtn slow" target="_blank" title="Change Detection"><i class="ri-exchange-funds-line" style="font-size:20px"></i></a>
                <a href="~/Docs/GIS system.pdf" target="_blank" role="button" title="User Manual" class="btn actionBtn slow">
                    <i class="ri-folder-user-fill" style="font-size:20px"></i>
                </a>
                <a href="/GIS/Index" class="btn actionBtn slow" title="Home">
                    <i class="ri-home-4-line"></i>
                </a>
                <a href="#" class="btn actionBtn slow" title="Print" onclick="printMaps();" id="printDocMob">
                    <i class="ri-printer-line"></i>
                </a>
                <a href="/Home/Logout" class="btn actionBtn slow" title="Logout">
                    <i class="ri-logout-circle-line"></i>
                </a>
                <a href="#" class="btn actionBtn slow" title="North Direction">
                    <img src="~/img/north-arrow.png" width="50" height="50" />
                </a>
            </div>

            <!--top buttons end-->
            <div id="leftSection" class="leftSection slow">
                <div class="MenuToggle">
                    <i class="ri-arrow-left-s-line slow"></i>
                </div>
                <!--                DDA Logo-->
                <div class="LogoBottom">
                    <img src="~/img/logo.png" alt="logo" />
                </div>
                <!--                DDA Logo end-->
                <!--tab nav bar-->
                <nav>
                    <div class="nav nav-tabs d-flex justify-content-between" id="LeftNavTab" role="tablist">
                        <a class="nav-item nav-link active" id="navListtab" data-toggle="tab" href="#navList" role="tab" aria-controls="navList" aria-selected="true">Village List</a>
                        <a class="nav-item nav-link" id="navQuerytab" data-toggle="tab" href="#navQuery" role="tab" aria-controls="navQuery" aria-selected="false">Query</a>
                        <a class="nav-item nav-link" id="navLayerstab" data-toggle="tab" href="#navLayers" role="tab" aria-controls="navLayers" aria-selected="false">Layers</a>
                        @*<a class="nav-item nav-link" id="navLegendstab" data-toggle="tab" href="#navLegends" role="tab" aria-controls="navLegends" aria-selected="false">Legends</a>*@
                        @*<a class="nav-item nav-link" id="navInformationtab" data-toggle="tab" href="#navInformation" role="tab" aria-controls="navInformation" aria-selected="false">Information</a>*@
                    </div>
                </nav>
                <!--tab nav bar end-->
                <!--tab nav content-->
                <div class="tab-content" id="LeftNavTabContent">
                    <div class="tab-pane fade show active" id="navList" role="tabpanel" aria-labelledby="navListtab">
                        <!--search from-->
                        <form class="search">
                            <div class="form-group">
                                <i class="ri-search-line"></i>
                                <input type="search" class="form-control form-control-sm" placeholder="Search Village Name" id="txtSearch">

                            </div>
                        </form>
                        <!--search from end-->
                        <!--data accordion -->
                        <div class="accordion" id="accordionData">
                        </div>
                        <!--data accordion end -->
                    </div>
                    <div class="tab-pane fade" id="navQuery" role="tabpanel" aria-labelledby="navQuerytab">
                        <div class="accordion" id="navQueryData">
                            <!--                            Query accordion-->
                            <div class="accordion-item">
                                <h5 class="accordion-header" id="Query1">
                                    <button class="accordion-button collapsed py-2 bg-primary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#Query" aria-expanded="true" aria-controls="Query">
                                        <i class="ri-search-line text-white"></i>Query
                                    </button>
                                </h5>
                                <div id="Query" class="accordion-collapse collapse " aria-labelledby="Query1" data-bs-parent="#navQueryData">
                                    <div class="p-3">
                                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <a href="#Zone" class="nav-link active" id="Zone-tab" data-bs-toggle="tab" data-bs-target="#Zone"  type="button" role="tab" aria-controls="Zone" aria-selected="true">Zone wise</a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a href="#Export" class="nav-link" id="Export-tab" data-bs-toggle="tab" data-bs-target="#Export" onclick="callSelect1()" type="button" role="tab" aria-controls="Export" aria-selected="false">Export</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content" id="myTabContent">
                                            <div class="tab-pane fade show active" id="Zone" role="tabpanel" aria-labelledby="Zone-tab">
                                                <form id="searchWise">
                                                    <div class="mb-2">
                                                        <label for="ddlZone" class="form-label mb-1 small">Zone :</label>
                                                        <select class="form-select form-select-sm" id="ZoneId" asp-items="@(new SelectList( @ViewBag.ZoneList, "Id","Name"))" onchange="return GetVillageList(this.options[this.selectedIndex].value);">
                                                            <option selected="selected" value="0">--Select-- </option>
                                                        </select>
                                                    </div>
                                                    <div class="mb-2">
                                                        <label for="ddlVillage" class="form-label mb-1 small">Village :</label>
                                                        <select class="form-select form-select-sm" id="VillageId" onchange="return GetKhasraList(this.options[this.selectedIndex].value);">
                                                            <option selected="selected" value="0">--Select-- </option>
                                                        </select>
                                                    </div>
                                                    <div class="mb-2">
                                                        <label for="ddlKhasra" class="form-label mb-1 small">Khasra :</label>
                                                        <select class="form-select form-select-sm" id="KhasraId" onchange="return ShowKhasraNo(this.options[this.selectedIndex].value);">
                                                            <option selected="selected" value="0">--Select-- </option>
                                                        </select>
                                                    </div>
                                                    @*<div class="mt-3 text-center">
                                                    <button type="submit" class="btn d-block w-100 small btn-sm btn-primary">Find</button>
                                                    </div>*@
                                                </form>
                                            </div>

                                            <div class="tab-pane fade" id="Export" role="tabpanel" aria-labelledby="Export-tab">

                                                <div class="mb-2">
                                                    <label for="ExportZoneId" class="form-label mb-1 small">Zone :</label>
                                                    <select class="form-select form-select-sm" id="ExportZoneId" asp-items="@(new SelectList( @ViewBag.ZoneList, "Id","Name"))" onchange="return GetExportVillageList(this.options[this.selectedIndex].value);">
                                                        <option selected="selected" value="0">--Select-- </option>
                                                    </select>
                                                </div>
                                                <div class="mb-2">
                                                    <label for="ExportVillageId" class="form-label mb-1 small">Village :</label>
                                                    <select class="form-select form-select-sm" id="ExportVillageId">
                                                        <option selected="selected" value="0">--Select-- </option>
                                                    </select>
                                                </div>
                                                <div class="mt-3 text-center">
                                                    <button type="button" id="btnExport" onclick="Export()" class="btn d-block w-100 small btn-sm btn-primary">Export Khasra's</button>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="accordion-item">
                                <h5 class="accordion-header" id="Query1">
                                    <button class="accordion-button collapsed py-2 bg-primary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#Route" aria-expanded="true" aria-controls="Route">
                                        <i class="ri-route-line text-white"></i>Find Route
                                    </button>
                                </h5>
                                <div id="Route" class="accordion-collapse collapse " aria-labelledby="Query1" data-bs-parent="#navQueryData">
                                    <div class="p-3">
                                        @* <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                        <a href="#ZoneRoute" class="nav-link active" id="Zone-tab" data-bs-toggle="tab" data-bs-target="#ZoneRoute" type="button" role="tab" aria-controls="ZoneRoute" aria-selected="true">Route</a>
                                        </li>
                                        </ul>*@
                                        @* <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="ZoneRoute" role="tabpanel" aria-labelledby="Zone-tab">
                                        *@
                                        <div class="mb-4">
                                            <input type="radio" id="radio1" value="DRIVING" name="radio" />@*<i class="ri-car-fill"></i>*@Driving
                                            &nbsp;&nbsp;&nbsp;&nbsp;

                                            <input type="radio" id="radio2" value="TRANSIT" checked="checked" name="radio" />@*<i class="ri-train-fill"></i>*@Transit

                                        </div>
                                        <div class="mb-4">
                                            <label for="ddlZone" class="form-label mb-1 small">Source :</label>
                                            <input type="text" id="txtSource" value="DDA Vikas Sadan, Barapullah Road, beside SBI Bank, Aviation Colony, INA Colony, New Delhi, Delhi, India" class="form-control form-control-sm" placeholder="Enter a query" autocomplete="off" />
                                        </div>
                                        <div class="mb-4">
                                            <label for="ddlZone" class="form-label mb-1 small">Zone :</label>
                                            <select class="form-select form-select-sm" style="width:100%" id="ZoneId" asp-items="@(new SelectList( @ViewBag.ZoneList, "Id","Name"))" onchange="return GetGCPVillageList(this.options[this.selectedIndex].value);">
                                                <option selected="selected" value="0">--Select-- </option>
                                            </select>
                                        </div>
                                        <div class="mb-4">
                                            <label for="ddlVillage" class="form-label mb-1 small">Village :</label>
                                            <select class="form-select form-select-sm" style="width:100%" id="GCPVillageId" onchange="return GetGCPList(this.options[this.selectedIndex].value);">
                                                <option selected="selected" value="0">--Select-- </option>
                                            </select>
                                        </div>
                                        <div class="mb-4">
                                            <label for="ddlKhasra" class="form-label mb-1 small">GCP LandMarks :</label>
                                            <select class="form-select form-select-sm" style="width:100%" id="GPCListId" onchange="return setGCPValue(this.options[this.selectedIndex].value);">
                                                <option selected="selected" value="0">--Select-- </option>
                                            </select>
                                            <input type="hidden" value="" id="hdnDestination" />
                                        </div>
                                        <div class="mt-3 text-center">
                                            <button type="button" class="btn d-block w-100 small btn-sm btn-primary" onclick="GetRoute()">Find</button>
                                        </div>
                                        @* </div>
                                        </div>*@
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="tab-pane fade" id="navLayers" role="tabpanel" aria-labelledby="navLayerstab">
                        <div class="accordion" id="navLayersdata">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button px-3 py-2 bg-primary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#Infrastructure" aria-expanded="true" aria-controls="Infrastructure">
                                        Important Infrastructure
                                    </button>
                                </h2>
                                <div id="Infrastructure" class="accordion-collapse collapse show" data-bs-parent="#navLayersdata">
                                    <div class="accordion-body p-2">
                                        <table class="table table-sm mb-0">
                                            <thead>
                                                <tr>
                                                    <th colspan="2">
                                                        <div class="form-check" id="chkSelectAll" style="display:none;">
                                                            <input class="form-check-input" type="checkbox" id="chkAllImpInfra" checked="checked">
                                                            <label class="form-check-label" for="AllSelectImportant">
                                                                Select All
                                                            </label>
                                                        </div>
                                                    </th>
                                                </tr>
                                            </thead>

                                            <tbody id="infrastructureData">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="navLegends" role="tabpanel" aria-labelledby="navLegendstab">4</div>
                    @*<div class="tab-pane fade" id="navInformation" role="tabpanel" aria-labelledby="navInformationtab">5</div>*@
                </div>
                <!--tab nav content end-->
                <!--                tab nav content end-->
                <!--area text-->
                <p style="font-size: .7rem" class="my-2">
                    State : <strong class="text-dark">Delhi</strong><br />
                    <strong class="text-dark" id="spanVillage"></strong> <strong class="text-dark" id="spanGCP"></strong><br /><br />
                    @*No of Zones : <strong class="text-dark">18</strong><br />
                    Total Area : <strong class="text-dark">366704 Acres</strong><br />*@
                    Lat & Long : <strong class="text-dark" id="tdCursor"></strong><br />
                    User: <strong>@Model.User.Name (@Model.Role.Name)</strong>

                </p>
            </div>
            <!--bottom btns-->
            <div class="text-right BottomActionBtns" id="rightsidebuttons">
                <div class="btn actionBtn slow" id="TransparencyRange">
                    <i class="ri-search-eye-line"></i>
                    <div class="TransparencyMap openAction">
                        <small class="d-block">Transparency : <strong id="demo">30</strong>%</small>
                        <input type="range" min="0.0" max="1.0" value="0.30" step="0.01" class="slider" id="OpacityRange">
                    </div>
                </div>
                <div class="btn actionBtn slow" id="MapOption">
                    <i class="ri-map-2-line"></i>
                    <div class="openAction MapOption">
                        <div class="mapImg">
                            <a href="#" class="d-block mb-2" title="Road Map">
                                <figure class="rounded" id="maproad">
                                    <img src="~/img/Roadmap.jpg" alt="Road Map" />
                                    <figcaption class="text-center py-1 w-100 d-block bg-primary text-white">Road Map</figcaption>
                                </figure>
                            </a>
                            <a href="#" class="d-block mb-2" title="Topographic Map">
                                <figure class="rounded" id="maphybrid">
                                    <img src="~/img/Topographicmap.jpg" alt="Topographic Map" />
                                    <figcaption class="text-center py-1 w-100 d-block bg-primary text-white">Topographic Map</figcaption>
                                </figure>
                            </a>
                            @*<a href="#" class="d-block" title="Satallite Map">
                            <figure class="rounded" id="mapsatellite">
                            <img src="~/img/satelite.jpg" alt="Satallite Map" />
                            <figcaption class="text-center py-1 w-100 d-block bg-primary text-white">Satallite Map</figcaption>
                            </figure>
                            </a>*@
                        </div>
                    </div>
                </div>

            </div>
            <!--bottom btns end-->
        </div>

        <div id="GCPRouteDetailShow" style="display: none; ">
            <div class="card">
                <div class="card-header text-white bg-primary small px-2 py-1 d-flex align-items-center">
                    Route Information <a href="javascript:;" id="HideGCPRouteDetail" class="close text-white ms-auto badge bg-danger" style="text-decoration: none">X</a>
                </div>
                <div class="card-body p-1">
                    <div id="dvDistance"></div>

                    <div class="accordion" id="dvPanel" style="overflow:scroll;height:500px">
                    </div>
                </div>
            </div>

        </div>

        <div id="RouteDetailShow" style="display: none; ">
            <div class="card">
                <div class="card-header text-white bg-primary small px-2 py-1 d-flex align-items-center">
                    Information <a href="javascript:;" id="HideRouteDetail" class="close text-white ms-auto badge bg-danger" style="text-decoration: none">X</a>
                </div>
                <div class="card-body p-1">
                    @*<ul class="list-unstyled small">
                    <li>*@
                    <input type="hidden" id="hdnkhasraid" />
                    <table id="tblVillageData" style="border-collapse: collapse; font-size:13px !important; margin-bottom: 0px;" class="table table-bordererd table-primary table-responsive">
                        <tbody>
                            <tr> <td> <p class="m-0">Village Name : <strong id="tagVillageName"></strong></p></td> </tr>
                            <tr><td><p class="m-0">Khasra No : <strong id="tagKhasra"></strong></p></td></tr>
                            <tr><td><p class="m-0">Area (Bigha - Biswa - Biswansi)(ACRE) : <strong id="tagArea"></strong></p></td></tr>
                            <tr><td> <p class="m-0">Notification(s) US-4 : <strong id="tagUs4"></strong></p></td></tr>
                            <tr><td><p class="m-0">Notification(s) US-6 : <strong id="tagUs6"></strong></p></td></tr>
                            <tr><td><p class="m-0">Notification(s) US-17 : <strong id="tagUs17"></strong></p></td></tr>
                            <tr><td><p class="m-0">Notification(s) US-22 : <strong id="tagUs22"></strong></p></td></tr>
                            <tr><td><p class="m-0">Award(s) : <strong id="tagAward"></strong></p></td></tr>
                            <tr><td><p class="m-0">Date of Possession : <strong id="tagPossessionDate"></strong></p></td></tr>
                            <tr><td><p class="m-0">Date of Allotment : <strong id="tagAllotmentDate"></strong></p></td></tr>
                            <tr><td><p class="m-0">Transfer Department : <strong id="tagTransferDepartment"></strong></p></td></tr>
                            <tr><td><p class="m-0">Scheme Transfer : <strong id="tagSchemeTransfer"></strong></p></td></tr>
                            <tr><td><p class="m-0">Remarks : <strong id="tagRemarks"></strong></p></td></tr>
                            <tr><td><p class="m-0">Party Name : <strong id="tagPartyName"></strong></p></td></tr>
                            <tr><td><p class="m-0">Demand List No. : <strong id="tagDemandListNo"></strong></p></td></tr>
                            <tr><td><p class="m-0">L&B No - Date : <strong id="tagLBDate"></strong></p></td></tr>
                            <tr><td><p class="m-0">L.A.C. No : <strong id="tagLACNo"></strong></p></td></tr>
                            <tr><td><p class="m-0">R.F.A.No : <strong id="tagRFANo"></strong></p></td></tr>
                            <tr><td><p class="m-0">S.L.P. No : <strong id="tagSLANo"></strong></p></td></tr>
                            <tr><td><p class="m-0">Court Involved : <strong id="tagCourt"></strong></p></td></tr>
                            <tr><td><p class="m-0">Payble Amount : <strong id="tagPayableAmt"></strong></p></td></tr>
                            <tr><td><p class="m-0">Appealable Amount : <strong id="tagAppealableAmt"></strong></p></td></tr>
                        </tbody>
                    </table>
                    <div class="accordion" id="CourtCaseData">
                    </div>
                </div>
            </div>

        </div>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="display:none" id="btnedit">
            Edit
        </button>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Edit Rectangle//Khasra No</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Rectangle//Khasra No:</label>
                                <input type="text" class="form-control" id="txtKhasrano" maxlength="20">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnclose">Close</button>
                        <button type="button" class="btn btn-primary btnupdate">Update</button>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS , any custom js-->
    <partial name="../Shared/_ValidationScriptsPartial.cshtml" />
    <script src="~/js/gmaps-measuretool.umd.js"></script>
    <environment include="Development">
        <script src="~/js/main.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/main.min.js" asp-append-version="true"></script>
    </environment>
    <script src="~/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <environment include="Development">
        <script src="~/js/gisindex.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/gisindex.min.js" asp-append-version="true"></script>
    </environment>
    <environment include="Development">
        <script src="~/js/site.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <environment include="Development">
        <script src="~/js/Zoom.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/Zoom.min.js" asp-append-version="true"></script>
    </environment>
    <environment include="Development">
        <script src="~/js/fullscreen.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/fullscreen.min.js" asp-append-version="true"></script>
    </environment>
    <environment include="Development">
        <script src="~/js/gOverlay.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/gOverlay.min.js" asp-append-version="true"></script>
    </environment>
    <environment include="Development">
        <script src="~/js/common.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/common.min.js" asp-append-version="true"></script>
    </environment>
    @*Jquery for Autocomplete Start*@
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @*Jquery for Autocomplete End*@
    <script src="~/lib/select2/select2.js"></script>
    <script src="~/lib/toaster/toastr.min.js"></script>
    <script src="~/js/maplabel.js"></script>
</body>
</html>
