@model Libraries.Repository.Common.PagedResult<Libraries.Model.Entity.Newlandvillage>

<table class="table table-sm table-bordered mb-0 table-striped">
    <thead class="text-nowrap">

        <tr>
           
            <th rowspan="2">Village</th>
            <th rowspan="2">Year Of Consolidation</th>

            <th rowspan="2">Total Sheet</th>
            <th rowspan="2">Circle</th>
            <th rowspan="2">Acquired</th>

        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Results.Count() > 0)
        {
            @foreach (var item in Model.Results)
            {
                <tr>
                   
                    <td>@item.Name</td>
                    <td>@item.YearofConsolidation</td>

                    <td>@item.TotalNoOfSheet</td>
                    <td>@item.Circle</td>
                    <td>@item.Acquired</td>

                   
                </tr>
            }
        }
        else
        {
            <tr>
                <th colspan="13" style="text-align:center"> Data Not Available </th>
            </tr>
        }

    </tbody>

</table>
@await Component.InvokeAsync("Pager", new { totalCount = Model.RowCount, pageNumber = Model.CurrentPage, pageSize = Model.PazeSize })
