@model Libraries.Model.Entity.Hearingdetails
@await Component.InvokeAsync("PageHeader", new { pageName = "Hearing Details" })




<form asp-action="Create" class="d-block rounded border p-3 bg-white search-filer shadow mb-3" enctype="multipart/form-data">
    <h3 class="mb-3 d-flex">Hearing Details</h3>
    <input type="hidden" asp-for="Id" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="permission mt-2 accordion list-unstyled m-0 ">
        <div class="card">
            <a class="p-2 no-dec d-flex align-items-center" data-toggle="collapse" href="#collapseApprroval" role="button" aria-expanded="true"
               aria-controls="collapseApprroval">
                <i class="ri-arrow-right-s-fill"></i>
                <span class="text ml-1 mr-auto">View Request For Eviction Proceeding Details </span>
                <i class="arrow ri-arrow-drop-down-line slow"></i>
            </a>
            <div class="list-unstyled m-0 pl-2 pr-1 pl-md-4 pr-md-3 collapse" id="collapseApprroval">


                <div class="pt-3">




                    <div class="row mt-md-3">
                        <div class="col-md-6">
                            <div class="floating-label-wrap">


                                <select class="floating-label-field floating-label-field--s3" onchange="get_socity()" style="width:100%;" disabled>

                                    <option selected disabled="disabled" value="">---Select---</option>
                                    @*@foreach (var item in Model.AllotmententryList)
                                        {
                                            <option value="@item.Id" data-id=" @item.SocietyName"> @item.LRefNo </option>
                                        }*@
                                </select>
                                @*<span asp-validation-for="AllotmentId" class="text-danger"></span>*@
                                <label class="floating-label">File No</label>
                            </div>
                        </div>


                        <div class=" col-md-6">
                            <div class="floating-label-wrap mb-3 mb-md-0">

                                <input placeholder="Address" type="text"
                                       class="floating-label-field floating-label-field--s3"  disabled />
                                @*<span asp-validation-for="LetterReferenceNo" class="text-danger"></span>*@
                                <label class="floating-label">Letter Reference No</label>
                            </div>
                        </div>

                    </div>

                    <div class="row mt-md-3">
                        <div class="col-md-6">
                            <div class="floating-label-wrap">
                                <input disabled type="text" id="Society_name" class="floating-label-field floating-label-field--s3 " placeholder="Remarks" />

                                <span class="text-danger"></span>
                                <label class="floating-label">Name Of the Society/Allottee </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="floating-label-wrap mb-3 mb-md-0">

                                <input disabled placeholder="Contact No" type="text"
                                       class="floating-label-field floating-label-field--s3" />
                                <span class="text-danger"></span>
                                <label class="floating-label">Use as per allotment letter/Lease Deed  </label>
                            </div>
                        </div>
                    </div>


                    <div class="row mt-md-3">
                        <div class="col-md-6">
                            <div class="floating-label-wrap">
                                <textarea disabled type="text" class="floating-label-field floating-label-field--s3 " placeholder="Remarks"></textarea>

                                <span class="text-danger"></span>
                                <label class="floating-label">Subject </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="floating-label-wrap mb-3 mb-md-0">

                                <input disabled placeholder="Contact No" type="text"
                                       class="floating-label-field floating-label-field--s3" />
                                @*<span asp-validation-for="GroundOfViolations" class="text-danger"></span>*@
                                <label class="floating-label">Ground of violations  </label>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-md-3">
                        <div class="col-md-6">
                            <div class="floating-label-wrap mb-3 mb-md-0">

                                <input disabled placeholder="Contact No" type="date" value=""
                                       class="floating-label-field floating-label-field--s3" />
                                @*<span asp-validation-for="DateOfCancellationofLease" class="text-danger"></span>*@
                                <label class="floating-label">Date of cancellation of lease Deed/Allotment </label>
                            </div>
                        </div>



                        <div class="col-md-6">
                            <div class="floating-label-wrap">
                                <select class="floating-label-field floating-label-field--s3" style="width:100%;">
                                    <option selected disabled="disabled" value="">---Select---</option>
                                </select>
                                @*<span asp-validation-for="HonebleLgOrCommon" class="text-danger"></span>*@
                                <label class="floating-label">Honble</label>
                            </div>
                        </div>




                    </div>
                    <div class="row mt-md-3">
                        <div class=" col-md-6">
                            <div class="floating-label-wrap mb-3 mb-md-0">

                                <input placeholder="Address" type="text"
                                       class="floating-label-field floating-label-field--s3" disabled />
                                @*<span asp-validation-for="ProceedingEvictionPossession" class="text-danger"></span>*@
                                <label class="floating-label">Proceeding for eviction of possession Assessment of damage</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="floating-label-wrap mb-3 mb-md-0">

                                <input type="text"
                                       class="floating-label-field floating-label-field--s3" disabled />
                                @*<span asp-validation-for="CourtCaseifAny" class="text-danger"></span>*@
                                <label class="floating-label">Court case if any   </label>
                            </div>
                        </div>
                    </div>


                    <div class="row mt-md-3">

                        <div class="col-md-6">

                            <div class="floating-label-wrap mb-3 mb-md-0">
                                <label style="color:#2196F3;font-size:.7rem;">
                                    Demand Letter
                                </label>
                                <input type="hidden" />

                                @*@{ if (Model.DemandLetter != null)
                                                         {


                                                             <input type="file" onchange="upload_check();" placeholder="Layout Plan" id="file_id" class="floating-label-field floating-label-field--s3"  disabled />
                                                             <label for="field-1" class="floating-label">Demand Letter </label>
                                                             <a class="badge badge-primary px-2" target="_blank" asp-action="ViewLetter" asp-route-id="@Model.Id
                                    "> (View File )</a>
                                                         }
                                                         else
                                                         {*@
                                <label class="badge badge-primary px-2">No File</label>
                                <input type="file" disabled class="floating-label-field floating-label-field--s3">

                                @*} }*@

                            </div>



                        </div>

                        <div class="col-md-6">

                            <div class="floating-label-wrap mb-3 mb-md-0">
                                <label style="color:#2196F3;font-size:.7rem;">
                                    NOC
                                </label>
                                @*<input type="file" class="floating-label-field floating-label-field--s3" />


                                    <label class="floating-label">NOC</label>*@
                                <label class="badge badge-primary px-2">No File</label>
                                <input type="file" disabled class="floating-label-field floating-label-field--s3">

                            </div>
                        </div>
                    </div>


                    <div class="row mt-md-3">

                        <div class="col-md-6">

                            <div class="floating-label-wrap mb-3 mb-md-0">
                                <label style="color:#2196F3;font-size:.7rem;">
                                    Cancellation Order
                                </label>

                                <label class="badge badge-primary px-2">No File</label>
                                <input type="file" disabled class="floating-label-field floating-label-field--s3">

                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="floating-label-wrap">


                                <select class="floating-label-field floating-label-field--s3" style="width:100%;">
                                    <option selected disabled="disabled" value="">---Select---</option>
                                </select>
                                @*<span asp-validation-for="UserId" class="text-danger"></span>*@
                                <label class="floating-label">UserName</label>
                            </div>
                        </div>

                    </div>
                </div>



            </div>
        </div>
    </div>


    <div class="permission mt-2 accordion list-unstyled m-0 ">
        <div class="card">
            <a class="p-2 no-dec d-flex align-items-center" data-toggle="collapse" href="#collapseApprroval2" role="button" aria-expanded="true"
               aria-controls="collapseApprroval2">
                <i class="ri-arrow-right-s-fill"></i>
                <span class="text ml-1 mr-auto">View Notice Generation Details </span>
                <i class="arrow ri-arrow-drop-down-line slow"></i>
            </a>
            <div class="list-unstyled m-0 pl-2 pr-1 pl-md-4 pr-md-3 collapse" id="collapseApprroval2">

                <div id="divGenerate">


                    <div class="table-section bg-white border shadow rounded">
                        <div class="table-responsive ">
                            <table class="table table-sm table-bordered mb-0 table-striped">
                                <thead class="text-nowrap">

                                    <tr>
                                        <th>Meeting Date</th>
                                        <th>Meeting Time</th>
                                        <th>Meeting Place</th>

                                        <th>Operations</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>

                                        <td> 23-mar-2021</td>
                                        <td>10:00 AM</td>
                                        <td>New Delhi</td>

                                        <td>
                                            <a class="badge badge-primary px-2" target="_blank" asp-action="ViewLetter"> View File </a>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>



                </div>
            </div>
            <link href="~/lib/bootstrap/select2/select2.css" rel="stylesheet" />

        </div>


    </div>

    <div class="permission mt-2 accordion list-unstyled m-0 ">
        <div class="card">
            <a class="p-2 no-dec d-flex align-items-center" data-toggle="collapse" href="#collapseApprroval3" role="button" aria-expanded="true"
               aria-controls="collapseApprroval3">
                <i class="ri-arrow-right-s-fill"></i>
                <span class="text ml-1 mr-auto">Evidance Upload Document Details </span>
                <i class="arrow ri-arrow-drop-down-line slow"></i>
            </a>
            <div class="list-unstyled m-0 pl-2 pr-1 pl-md-4 pr-md-3 collapse" id="collapseApprroval3">

                <div id="divGenerate">


                    <div class="table-section bg-white border shadow rounded">
                        <div class="table-responsive ">
                            <table class="table table-sm table-bordered mb-0 table-striped">
                                <thead class="text-nowrap">

                                    <tr>
                                        <th>User Name</th>
                                        <th>Document Details</th>
                                        <th>Operations</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>

                                        <td> Test DD Name</td>
                                        <td>Doc Name </td>



                                        <td>
                                            <a class="badge badge-primary px-2" target="_blank" asp-action="ViewLetter"> View File </a>
                                        </td>


                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>



                </div>
            </div>
            <link href="~/lib/bootstrap/select2/select2.css" rel="stylesheet" />
        </div>
    </div>

    <div class="permission mt-2 accordion list-unstyled m-0 ">
        <div class="card">
            <a class="p-2 no-dec d-flex align-items-center" data-toggle="collapse" href="#collapseApprroval4" role="button" aria-expanded="true"
               aria-controls="collapseApprroval4">
                <i class="ri-arrow-right-s-fill"></i>
                <span class="text ml-1 mr-auto">Previous Hearing Details </span>
                <i class="arrow ri-arrow-drop-down-line slow"></i>
            </a>
            <div class="list-unstyled m-0 pl-2 pr-1 pl-md-4 pr-md-3 collapse" id="collapseApprroval4">
                <div class="table-section bg-white border shadow rounded">
                    <div class="table-responsive px-2">
                        <div id="divAcquiredLandVillage"></div>
                    </div>
                </div>
                <div class="table-section bg-white border shadow rounded">
                    <div class="table-responsive ">
                        <table class="table table-sm table-bordered mb-0 table-striped">
                            <thead class="text-nowrap">

                                <tr>
                                    <th>Hearing Venue</th>
                                    <th>Hearing Date</th>
                                    <th>Hearing Time</th>
                                    <th>Attendee</th>
                                    <th>Hearing  Remarks</th>
                                    <th>Document</th>
                                    <th>Operation</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>High Court, Delhi</td>
                                    <td>01-Apr -2021</td>
                                    <td>04:30 pm</td>
                                    <td>Attandee Details</td>
                                    <td>This is dummy data only.</td>
                                    <td>
                                        <a class="badge badge-primary px-2" target="_blank" asp-action="ViewLetter"> View File </a>
                                    </td>

                                    <td>
                                        <div class="action-btns">
                                            <a class="edit" asp-action="Create"><i class="ri-edit-line"></i> </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>High Court, Delhi</td>
                                    <td>02-Apr -2021</td>
                                    <td>10:30 am</td>
                                    <td></td>
                                    <td></td>
                                    <td> </td>

                                    <td>
                                        <div class="action-btns">
                                            <a class="edit" asp-action="Create"><i class="ri-edit-line"></i> </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <h3 class="my-3 d-flex sub-heading">Add New Hearing Details </h3>



    <div class="row">


        <div class="col-md-6">
            <div class="floating-label-wrap mb-3 mb-md-0">


                <input class="floating-label-field floating-label-field--s3" placeholder="Hearing Date"  type="date" />
                <span class="text-danger"></span>
                <label class="floating-label">Hearing Date</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="floating-label-wrap mb-3 mb-md-0">

                <input class="floating-label-field floating-label-field--s3" placeholder="Hearing Venue"  type="time" />
                <span class="text-danger"></span>
                <label class="floating-label">Hearing Time  </label>
            </div>
        </div>
    </div>

    <div class="row mt-md-3">
        <div class="col-md-6">

            <div class="floating-label-wrap mb-3 mb-md-0">

                <input class="floating-label-field floating-label-field--s3" placeholder="Hearing Time"  type="text" />
                <span class="text-danger"></span>
                <label class="floating-label">Hearing Venue </label>
            </div>
        </div>

        <div class="col-md-6">
            <div class="floating-label-wrap mb-3 mb-md-0">

                <input class="floating-label-field floating-label-field--s3" placeholder="Hearing Venue" disabled />
                <span class="text-danger"></span>
                <label class="floating-label">Attendee </label>
            </div>
        </div>
    </div>
    <div class="row mt-md-3">
        <div class="col-md-12">
            <div class="floating-label-wrap mb-3 mb-md-0">

                <textarea class="floating-label-field floating-label-field--s3" placeholder="Hearing Remarks" disabled>
                </textarea>
                <span class="text-danger"></span>
                <label class="floating-label">Hearing Remarks </label>
            </div>
        </div>

    </div>
    <div class="row mt-md-3">
        <div class="col-md-6">
            <div class="floating-label-wrap mb-3 mb-md-0">


                <input class="floating-label-field floating-label-field--s3" placeholder="Hearing Documents" type="file" disabled />
                <span class="text-danger"></span>
                <label class="floating-label">Hearing Documents (if any)</label>
            </div>
        </div>
        <div class=" col-md-6">
            <div class="floating-label-wrap">
                <select class="floating-label-field floating-label-field--s3">
                    <option value="1">Active</option>
                    <option value="0">Inactive</option>
                </select>
                <span class="text-danger"></span>
                <label class="floating-label">Status </label>
            </div>
        </div>
    </div>







    <div class="row pt-3">
        <div class="col-md-12">

            <div class="row pt-3">
                <div class="col-md-12">
                    <input type="submit" value="Submit" class="btn btn-theme " />

                    @Html.ActionLink("Back", "Index", "Hearingdetail", null, new { @class = "btn btn-theme " })
                </div>
            </div>
        </div>
    </div>
</form>

<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
@*<environment include="Development">
    <script src="~/js/hearingdetailsindex.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/hearingdetailsindex.min.js" asp-append-version="true"></script>
</environment>*@