@model Libraries.Model.Entity.Propertyregistration

@await Component.InvokeAsync("PageHeader", new { pageName = "Property Inventory" })

<div class="container-fluid">
    <form asp-action="Edit" id="myForm" method="post" enctype="multipart/form-data" autocomplete="off" disabled="disabled" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <h3 class="mb-3 d-flex">View Details</h3>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <div class="col-md-4">
                <div class="floating-label-wrap">

                    <select class="floating-label-field floating-label-field--s3" disabled asp-for="InventoriedInId">
                        <option selected="selected" value="0">All</option>
                        <option value="1">VLMS</option>
                        <option value="2">Used</option>
                    </select>
                    <span asp-validation-for="InventoriedInId" class="text-danger"></span>
                    <label asp-for="InventoriedInId" class="floating-label">Inventoried In</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="floating-label-wrap">

                    <select class="floating-label-field floating-label-field--s3" disabled asp-for="PlannedUnplannedLand">
                        <option selected="selected" value="0">All</option>
                        <option value="Planned Land">Planned Land</option>
                        <option value="Unplanned Land">Unplanned Land</option>
                    </select>
                    <span asp-validation-for="PlannedUnplannedLand" class="text-danger"></span>
                    <label asp-for="PlannedUnplannedLand" class="floating-label">Planned/Unplanned Land</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="floating-label-wrap">

                    <select class="floating-label-field floating-label-field--s3" disabled asp-for="ClassificationOfLandId" asp-items="@(new SelectList(Model.ClassificationOfLandList, "Id","Name"))">
                        <option selected="selected" value="0">All</option>
                    </select>
                    <label asp-validation-for="ClassificationOfLandId" class="error"></label>
                    <label class="floating-label" asp-for="ClassificationOfLandId">Classification of Land</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">

                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" disabled asp-for="DepartmentId" asp-items="@(new SelectList(Model.DepartmentList, "Id","Name"))" onchange="return GetZoneList(this.options[this.selectedIndex].value);">
                        <option selected="selected" value="0">All</option>
                    </select>
                    <label asp-validation-for="DepartmentId" class="error"></label>
                    <label class="floating-label" asp-for="DepartmentId">Department</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="floating-label-wrap">

                    <select class="floating-label-field floating-label-field--s3" disabled asp-for="ZoneId" asp-items="@(new SelectList(Model.ZoneList, "Id","Name"))" onchange="return GetDivisionList(this.options[this.selectedIndex].value);" required="required" requiredmsg="Zone is Mandatory">
                        @*asp-items="@(new SelectList(Model.ZoneList, "Id","Name"))"*@
                        <option value="">--Select--</option>
                    </select>
                    <label asp-validation-for="ZoneId" class="error"></label>
                    <label class="floating-label" asp-for="ZoneId">Zone</label>
                </div>
            </div>

            <div class="col-md-4">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" disabled asp-for="DivisionId" asp-items="@(new SelectList(Model.DivisionList, "Id","Name"))" required="required" requiredmsg="Division is Mandatory">

                        <option value="">--Select--</option>
                    </select>
                    <label asp-validation-for="DivisionId" class="error"></label>
                    <label class="floating-label" asp-for="DivisionId">Division</label>
                </div>
            </div>
        </div>
        <div id="divUnplannedSelection" style="display:none;">
            <div class="row">
                <div class="col-md-4">
                    <div class="floating-label-wrap">

                        <select class="floating-label-field floating-label-field--s3" disabled asp-for="LocalityId" asp-items="@(new SelectList(Model.LocalityList, "Id","Name"))">
                            @*asp-items="@(new SelectList(Model.LocalityList, "Id","Name"))"*@
                            <option value="">--Select--</option>
                        </select>
                        <label asp-validation-for="DivisionId" class="error"></label>
                        <label class="floating-label" asp-for="LocalityId">Locality(Village)</label><span class="text-danger">*</span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input disabled asp-for="KhasraNo" class="floating-label-field floating-label-field--s3" limit="200" />
                        <span asp-validation-for="KhasraNo" class="text-danger"></span>
                        <label class="floating-label">Khasra No</label>
                    </div>
                </div>
            </div>
        </div>
        <div id="divPlannedSelection">
            <div class="row">
                <div class="col-md-4">
                    <div class="floating-label-wrap">
                        <input disabled asp-for="Colony" type="text" class="floating-label-field floating-label-field--s3" />
                        <span asp-validation-for="Colony" class="text-danger"></span>
                        <label class="floating-label">Colony</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="floating-label-wrap">

                        <input disabled asp-for="Sector" type="text" class="floating-label-field floating-label-field--s3" />
                        <span asp-validation-for="Sector" class="text-danger lb-sm"></span>
                        <label class="floating-label">Sector</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="floating-label-wrap">

                        <input type="text" class="floating-label-field floating-label-field--s3" disabled maxlength="50" asp-for="Block" />

                        <span class="text-danger" asp-validation-for="Block"></span>
                        <label class="floating-label">Block</label>
                    </div>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-md-4">
                    <div class="floating-label-wrap">

                        <input disabled asp-for="Pocket" class="floating-label-field floating-label-field--s3" />
                        <span asp-validation-for="Pocket" class="text-danger"></span>
                        <label class="floating-label">Pocket</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="floating-label-wrap">

                        <input disabled asp-for="PlotNo" class="floating-label-field floating-label-field--s3" />
                        <span asp-validation-for="PlotNo" class="text-danger"></span>
                        <label class="floating-label">Plot No.</label>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="floating-label-wrap">

                        <input disabled asp-for="PrimaryListNo" class="floating-label-field floating-label-field--s3" limit="200" />
                        <span asp-validation-for="PrimaryListNo" class="text-danger"></span>
                        <label class="floating-label">Primary List No.</label>
                    </div>
                </div>
            </div>
        </div>
            
               
        
        <div class="row">
            <div class="col-md-12">
                <div class="floating-label-wrap">
                    <textarea disabled asp-for="Palandmark" class="floating-label-field floating-label-field--s3" maxlength="4000" limit="4000"></textarea>
                    <label class="floating-label">Address with Landmark</label>
                    <div id="feedbackPalandmark"></div>
                </div>
            </div>
            </div>


        <div id="DivArea">
            <div class="row" style="margin-bottom:35px;">
                <div class="col-sm-12">

                    <div class="col-md-12">
                        <h6 class="mb-3 d-flex">Area</h6>
                        @*<h6 class="pull-left color-white" style="margin-top:5px;">Area</h6>*@

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="floating-label-wrap">

                    <select class="floating-label-field floating-label-field--s3" disabled asp-for="AreaUnit">
                        <option value="0">bigha-biswa-bishwani</option>
                        <option value="1">Sq Yd.</option>
                        <option value="2">Acre</option>
                        <option value="3">Hectare</option>
                        <option value="4">Sq. Mt.</option>
                    </select>
                    <span asp-validation-for="AreaUnit" class="text-danger"></span>
                    <label asp-for="AreaUnit" class="floating-label">Area Unit</label>
                </div>
            </div>
            <div id="bighabis">
                <div class="col-md-1">
                    <div class="floating-label-wrap">

                        <input disabled asp-for="TotalAreaInBigha" class="floating-label-field floating-label-field--s3 numbers" onkeypress="return numericDecimal(this);" onpaste="return false;">
                        <span asp-validation-for="TotalAreaInBigha" class="text-danger"></span>
                        <label class="floating-label">Bigha</label>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="floating-label-wrap">

                        <input disabled asp-for="TotalAreaInBiswa" class="floating-label-field floating-label-field--s3 numbers" onkeypress="return numericDecimal(this);" onpaste="return false;">
                        <span asp-validation-for="TotalAreaInBiswa" class="text-danger"></span>
                        <label class="floating-label">Biswa</label>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="floating-label-wrap">

                        <input disabled asp-for="TotalAreaInBiswani" class="floating-label-field floating-label-field--s3 numbers" onkeypress="return numericDecimal(this);" onpaste="return false;">
                        <span asp-validation-for="TotalAreaInBiswani" class="text-danger"></span>
                        <label class="floating-label">Biswani</label>
                    </div>
                </div>
            </div>
            <div id="AreainSqAcreHec" class="col-md-4" style="display:none;">
                <div class="floating-label-wrap">

                    <input disabled asp-for="TotalAreaInSqAcreHt" type="text" class="floating-label-field floating-label-field--s3 numbers" onkeypress="return numericDecimal(this);" onpaste="return false;" />
                    <span asp-validation-for="TotalAreaInSqAcreHt" class="text-danger"></span>
                    <label class="floating-label" id="LabelTotalAreaSqAcreHec">Total Area(Sq Yd./Acre/Hectare)</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="floating-label-wrap">

                    <input disabled asp-for="TotalArea" class="floating-label-field floating-label-field--s3 numbers" onkeypress="return numericDecimal(this);" onpaste="return false;">
                    <span asp-validation-for="TotalArea" class="text-danger"></span>
                    <label class="floating-label">Total Area(in sq. mt.)</label>
                </div>
            </div>

            <div class="row">


            </div>
        </div>

        <div id="divEncroachment">
            <div class="row" style="margin-bottom:35px;">
                <div class="col-sm-12">
                    <div class="dda-innerheading">
                        <div class="col-md-12">
                            <h6 class="pull-left color-white" style="margin-top:5px;">Encroached Details</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="floating-label-wrap">
                        <select class="floating-label-field floating-label-field--s3 disabled" asp-for="EncroachmentStatusId">
                            <option value="0">No</option>
                            <option value="1">Yes</option>
                        </select>
                        <span asp-validation-for="EncroachmentStatusId" class="text-danger"></span>
                        <label asp-for="EncroachmentStatusId" class="floating-label">Encroachment</label>
                    </div>
                </div>
                <div id="divEncroachmentYesSelection" style="display:none;">
                    <div class="col-md-4">
                        <div class="floating-label-wrap">
                            <select class="floating-label-field floating-label-field--s3" disabled asp-for="EncroachedPartiallyFully">
                                <option value="0">Partially Encroached</option>
                                <option value="1">Fully Encroached</option>
                            </select>
                            <span asp-validation-for="EncroachedPartiallyFully" class="text-danger"></span>
                            <label asp-for="EncroachedPartiallyFully" class="floating-label">Encroachment Status</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="floating-label-wrap">

                            <input disabled asp-for="EncrochedArea" class="floating-label-field floating-label-field--s3 numbers" onkeypress="return numericDecimal(this);" onpaste="return false;" />
                            <span id="EncroachedValidation" asp-validation-for="Encroached" class="text-danger"></span>
                            <label class="floating-label">Encroched Area(in sq. mt.)</label>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="floating-label-wrap">
                            <input disabled asp-for="BuiltUpEncraochmentArea" class="floating-label-field floating-label-field--s3 numbers" id="BuiltupEncroachmentArea" onkeypress="return numericDecimal(this);" onpaste="return false;" />
                            <span asp-validation-for="BuiltUpEncraochmentArea" class="text-danger"></span>
                            <label class="floating-label">Builtup in Encroachment Area(in sq. mt.)</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="floating-label-wrap">

                            <input disabled asp-for="Vacant" class="floating-label-field floating-label-field--s3 numbers" onkeypress="return numericDecimal(this);" onpaste="return false;" />
                            <span asp-validation-for="Vacant" class="text-danger"></span>
                            <label class="floating-label">Vacant Area(in sq. mt.)</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="floating-label-wrap">

                            <input disabled asp-for="ActionOnEncroachment" class="floating-label-field floating-label-field--s3" />
                            <span asp-validation-for="ActionOnEncroachment" class="text-danger"></span>
                            <label class="floating-label">Action On Encroachment</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="floating-label-wrap">

                            <input type="hidden" asp-for="EncroachAtrfilepath" />
                            @{
                                @if (ViewBag.EncroachAtrDocView != null)
                                {
                                    <a>(View File)</a>
                                    <input type="file" class="form-control" disabled asp-for="EncroachAtrDoc" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" />
                                }
                                else
                                {
                                    <input type="file" class="form-control" disabled asp-for="EncroachAtrDoc" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" />

                                }
                            }
                            <span asp-validation-for="EncroachAtrDoc" class="text-danger"></span>
                            <label class="floating-label">Upload Action Taken Report(ATR)</label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12" id="divEncroachmentDetails" style="display:none;">

                    <input disabled asp-for="EncraochmentDetails" class="floating-label-field floating-label-field--s3" maxlength="4000" limit="4000" />
                    <span asp-validation-for="EncraochmentDetails" class="text-danger lb-sm"></span>
                    <label id="l1" class="floating-label">Encroachment Details</label>
                </div>
            </div>

        </div>

        <div id="divFencingBoundaryWall">
            <div class="row" style="margin-bottom:35px;">
                <div class="col-sm-12">
                    <div class="dda-innerheading">
                        <div class="col-md-12">
                            <h6 class="pull-left color-white" style="margin-top:5px;">Boundary Wall/Fencing</h6>
                            <i class="fa-angle-right fa pull-right" aria-hidden="true" style="padding-top:4px;color:white"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="floating-label-wrap">
                        <select class="floating-label-field floating-label-field--s3" disabled asp-for="Boundary">
                            <option value="0">Boundary Wall</option>
                            <option value="1">Fencing</option>
                            <option value="2">None</option>
                        </select>
                        <span asp-validation-for="Boundary" class="text-danger"></span>
                        <label class="floating-label">Protection of Land</label>
                    </div>
                </div>
                <div id="divBoundarySelection" style="display:none;">
                    <div class="col-md-4">
                        <div class="floating-label-wrap">
                            <input type="text" class="floating-label-field floating-label-field--s3 numbers" disabled asp-for="BoundaryAreaCovered" />
                            <label class="floating-label">Area Covered(Sq. mtr)</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="floating-label-wrap">

                            <input type="text" class="floating-label-field floating-label-field--s3" disabled asp-for="BoundaryDimension" />
                            <label class="floating-label">Dimension (L*B*H)(mtr)</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="floating-label-wrap">

                            <input disabled asp-for="BoundaryRemarks" class="floating-label-field floating-label-field--s3" />
                            <span asp-validation-for="BoundaryRemarks" class="text-danger"></span>
                            <label id="l1" class="floating-label">Boundary Remarks</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="DivLandUse">
            <div class="row" style="margin-bottom:35px;">
                <div class="col-sm-12">
                    <div class="dda-innerheading">
                        <div class="col-md-12">
                            <h6 class="pull-left color-white" style="margin-top:5px;">Land Use</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="divPlannedLand">
                    <div class="col-md-4">
                        <div class="floating-label-wrap">

                            <select class="floating-label-field floating-label-field--s3" disabled asp-for="MainLandUseId" asp-items="@(new SelectList(Model.LandUseList, "Id","Name"))">
                                <option value="0">--Select--</option>
                            </select>
                            <span asp-validation-for="MainLandUseId" class="text-danger"></span>
                            <label class="floating-label">Main Land Use</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="floating-label-wrap">

                            <input type="text" disabled asp-for="SubUse" class="floating-label-field floating-label-field--s3" limit="500" />
                            <label class="floating-label">Sub Use</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="divLitigation">
            <div class="row" style="margin-bottom:35px;">
                <div class="col-sm-12">
                    <div class="dda-innerheading">
                        <div class="col-md-12">
                            <h6 class="pull-left color-white" style="margin-top:5px;">Litigation</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="floating-label-wrap">
                        <select class="floating-label-field floating-label-field--s3" disabled asp-for="LitigationStatus">
                            <option value="0">No</option>
                            <option value="1">Yes</option>
                        </select>
                        <span asp-validation-for="LitigationStatus" class="text-danger"></span>
                        <label class="floating-label">Litigation Status</label>
                    </div>
                </div>
                <div id="divLitigationStatusSelection" style="display:none;">
                    <div class="col-md-4">
                        <div class="floating-label-wrap">
                            <input disabled asp-for="CourtName" class="floating-label-field floating-label-field--s3" />
                            <span asp-validation-for="CourtName" class="text-danger"></span>
                            <label class="floating-label">Court Name</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="floating-label-wrap">

                            <input disabled asp-for="CaseNo" class="floating-label-field floating-label-field--s3" />
                            <span asp-validation-for="CaseNo" class="text-danger"></span>
                            <label class="floating-label">Case No.</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="floating-label-wrap">
                            <input disabled asp-for="OppositeParty" class="floating-label-field floating-label-field--s3" />
                            <span asp-validation-for="OppositeParty" class="text-danger"></span>
                            <label class="floating-label">Opposite Party</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="floating-label-wrap">
                            <input disabled asp-for="LitigationStatusRemarks" class="floating-label-field floating-label-field--s3" limit="4000" />
                            <span asp-validation-for="LitigationStatusRemarks" class="text-danger"></span>
                            <label class="floating-label">Remarks</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="DivOtherDetails">
            <div class="row" style="margin-bottom:35px;">
                <div class="col-sm-12">
                    <div class="dda-innerheading">
                        <div class="col-md-12">
                            <h6 class="pull-left color-white" style="margin-top:5px;">Other Details</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="floating-label-wrap">

                        <select class="floating-label-field floating-label-field--s3" disabled asp-for="BuiltUp">
                            <option value="0">No</option>
                            <option value="1">Yes</option>
                        </select>
                        <label class="floating-label">Built-Up</label><span class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4" id="divBuilttype" style="display:none;">
                    <div class="floating-label-wrap">
                        <input disabled asp-for="BuiltUpRemarks" class="floating-label-field floating-label-field--s3" />
                        <span asp-validation-for="BuiltUpRemarks" class="text-danger lb-sm"></span>
                        <label class="floating-label">Built-Up Remarks</label>
                    </div>
                </div>

                <div class="col-md-4" id="divLayoutPlan" style="display:none;">
                    <div class="floating-label-wrap">

                        <input type="hidden" asp-for="LayoutFilePath" />
                        @{
                            @if (ViewBag.LayoutDocView != null)
                            {
                                @Html.ActionLink(" (View File)", "Download", new { id = Model.Id })
                                <input type="file" disabled class="form-control" id="Assignfile" name="Assignfile" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" />
                            }
                            else
                            {
                                <input type="file" disabled class="floating-label-field floating-label-field--s3" id="Assignfile" name="Assignfile" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" />
                            }
                        }
                        <span asp-validation-for="FileData" class="text-danger"></span>
                        <label class="floating-label" asp-for="FileData">Upload Layout Plan</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="floating-label-wrap">

                        <select class="floating-label-field floating-label-field--s3" disabled asp-for="GeoReferencing">
                            <option value="0">No</option>
                            <option value="1">Yes</option>
                        </select>
                        <label class="floating-label">GEO Referencing Done</label><span class="text-danger"></span>
                    </div>
                </div>
                <div id="divGEOReferencingSelection" style="display:none;">
                    <div class="col-md-4" id="divGEOReferencing">

                        <input type="hidden" asp-for="GeoFilePath" />
                        @{
                            @if (ViewBag.GeoDocView != null)
                            {
                                <a>(View File)</a>
                                <input type="file" disabled class="form-control" id="GeoAssignFile" name="GeoAssignFile" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" />
                            }
                            else
                            {
                                <input type="file" disabled class="form-control" id="GeoAssignFile" name="GeoAssignFile" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" />
                            }
                        }
                        <span asp-validation-for="GeoFileData" class="text-danger"></span>
                        <label class="floating-label" asp-for="GeoFileData">Upload Geo Referencing File</label>
                    </div>
                    <div class="col-md-4">
                        <div class="floating-label-wrap">
                            <input disabled asp-for="GeoLattitude" class="floating-label-field floating-label-field--s3" />
                            <span asp-validation-for="GeoLattitude" class="text-danger"></span>
                            <label class="floating-label">Lattitude</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="floating-label-wrap">

                            <input disabled asp-for="GeoLongitude" class="floating-label-field floating-label-field--s3" />
                            <span asp-validation-for="GeoLongitude" class="text-danger"></span>
                            <label class="floating-label">Longitude</label>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <a class="btn btn-theme " style="width:auto;margin-top:15px;">Get Lat Long</a>
                        @*@Html.ActionLink("Get Latt Longitude", "Create", "PropertyRegistration", null, new { @class = "btn btn-primary dda-pageheading", style = "width:auto;" })*@
                    </div>
                </div>
            </div>
        </div>

        <div id="DivHandedOver" style="display:none;">
            <div class="row" style="margin-bottom:35px;">
                <div class="col-sm-12">
                    <div class="dda-innerheading">
                        <div class="col-md-12">
                            <h6 class="pull-left color-white" style="margin-top:5px;">Handed Over</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="floating-label-wrap">
                        <select class="floating-label-field floating-label-field--s3" disabled asp-for="HandedOverDepartmentId" asp-items="@(new SelectList(Model.HandOverDepartmentList, "Id","Name"))" onchange="return GetHandedOverZoneList(this.options[this.selectedIndex].value);">
                            <option value="">--Select--</option>
                        </select>
                        <span asp-validation-for="HandedOverDepartmentId" class="text-danger"></span>
                        <label class="floating-label" asp-for="HandedOverDepartmentId">Department</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="floating-label-wrap">

                        <select class="floating-label-field floating-label-field--s3" disabled asp-for="HandedOverZoneId" asp-items="@(new SelectList(Model.HandedOverZoneList, "Id","Name"))" onchange="return GetHandedOverDivisionList(this.options[this.selectedIndex].value);">
                            <option value="">--Select--</option>
                        </select>
                        <span asp-validation-for="HandedOverZoneId" class="text-danger"></span>
                        <label class="floating-label" asp-for="HandedOverZoneId">Zone</label>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="floating-label-wrap">

                        <select class="floating-label-field floating-label-field--s3" disabled asp-for="HandedOverDivisionId" asp-items="@(new SelectList(Model.HandedOverDivisionList, "Id","Name"))">
                            <option value="">--Select--</option>
                        </select>
                        <span asp-validation-for="HandedOverDivisionId" class="text-danger"></span>
                        <label class="floating-label" asp-for="HandedOverDivisionId">Division</label>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-4">
                    <div class="floating-label-wrap">

                        <input disabled asp-for="HandedOverName" class="floating-label-field floating-label-field--s3" limit="200" />
                        <span asp-validation-for="HandedOverName" class="text-danger"></span>
                        <label class="floating-label">Name/Designation</label>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="floating-label-wrap">

                        <input disabled asp-for="HandedOverDate" class="floating-label-field floating-label-field--s3" type="date" />
                        <span asp-validation-for="HandedOverDate" class="text-danger"></span>
                        <label class="floating-label">Date</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="floating-label-wrap">
                        <input disabled asp-for="HandedOverEmailId" class="floating-label-field floating-label-field--s3" type="email" limit="200" />
                        <span asp-validation-for="HandedOverEmailId" class="text-danger"></span>
                        <label class="floating-label">Email Id</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="floating-label-wrap">
                        <input disabled asp-for="HandedOverMobileNo" class="floating-label-field floating-label-field--s3 onlynumbers" maxlength="10" />
                        <span asp-validation-for="HandedOverMobileNo" class="text-danger"></span>
                        <label class="floating-label">Mobile No.</label>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="floating-label-wrap">
                        <input disabled asp-for="HandedOverLandlineNo" class="floating-label-field floating-label-field--s3 onlynumbers" maxlength="10" />
                        <span asp-validation-for="HandedOverLandlineNo" class="text-danger"></span>
                        <label class="floating-label">Land Line No.</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="floating-label-wrap">

                        <input type="text" class="floating-label-field floating-label-field--s3" disabled asp-for="HandedOverOrderNo" />
                        <span asp-validation-for="HandedOverOrderNo" class="text-danger"></span>
                        <label class="floating-label">Order No.</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="floating-label-wrap">
                        <input type="hidden" asp-for="HandedOverCopyofOrderFilepath" />
                        <label class="floating-label">Copy of Order</label>
                        @{
                            @if (ViewBag.HandedOverCopyofOrderView != null)
                            {
                                <a>(View File)</a>
                                <input type="file" class="floating-label-field floating-label-field--s3" disabled asp-for="HandedOverCopyofOrderDoc" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" />
                            }
                            else
                            {
                                <input type="file" class="floating-label-field floating-label-field--s3" disabled asp-for="HandedOverCopyofOrderDoc" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" />
                            }
                        }

                        <span asp-validation-for="HandedOverCopyofOrderDoc" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="floating-label-wrap">
                        <input type="text" class="floating-label-field floating-label-field--s3" disabled asp-for="HandedTransferOrder" />
                        <span class="text-danger"></span>
                        <label class="floating-label">Transfer order Issue Authority </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="floating-label" asp-for="HandedOverFileData">Document</label>
                    <input type="hidden" asp-for="HandedOverFilePath" />
                    @{
                        @if (ViewBag.HandedOverDocView != null)
                        {
                            <a>(View File)</a>
                            <input type="file" class="floating-label-field floating-label-field--s3" disabled id="HandedOverAssignFile" name="HandedOverAssignFile" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" />
                        }
                        else
                        {
                            <input type="file" class="floating-label-field floating-label-field--s3" disabled id="HandedOverAssignFile" name="HandedOverAssignFile" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" />
                        }
                    }
                    <span asp-validation-for="HandedOverFileData" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="floating-label-wrap">
                        <textarea disabled asp-for="HandedOverComments" class="form-control" maxlength="4000" limit="4000"></textarea>
                        <span asp-validation-for="HandedOverComments" class="text-danger lb-sm"></span>
                        <label class="control-label lb-sm">Comments</label>
                        <div id="feedbackHandedOverComments"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="DivTakenOver" style="display:none;">

            <div class="row" style="margin-bottom:35px;">
                <div class="col-sm-12">
                    <div class="dda-innerheading">
                        <div class="col-md-12">
                            <h6 class="pull-left color-white" style="margin-top:5px;">Taken Over</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="floating-label-wrap">
                        <select class="floating-label-field floating-label-field--s3" disabled asp-for="TakenOverDepartmentId" asp-items="@(new SelectList(Model.TakenOverDepartmentList, "Id","Name"))" onchange="return GetTakenOverZoneList(this.options[this.selectedIndex].value);">
                            <option value="">--Select--</option>
                        </select>
                        <label asp-validation-for="TakenOverDepartmentId" class="error"></label>
                        <label class="floating-label" asp-for="TakenOverDepartmentId">Department</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="floating-label-wrap">

                        <select class="floating-label-field floating-label-field--s3" disabled asp-for="TakenOverZoneId" asp-items="@(new SelectList(Model.TakenOverZoneList, "Id","Name"))" onchange="return GetTakenOverDivisionList(this.options[this.selectedIndex].value);">
                            <option value="">--Select--</option>
                        </select>
                        <label asp-validation-for="TakenOverZoneId" class="error"></label>
                        <label class="floating-label" asp-for="TakenOverZoneId">Zone</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="floating-label-wrap">

                        <select class="floating-label-field floating-label-field--s3" disabled asp-for="TakenOverDivisionId" asp-items="@(new SelectList(Model.TakenOverDivisionList, "Id","Name"))">
                            <option value="">--Select--</option>
                        </select>
                        <label asp-validation-for="TakenOverDivisionId" class="error"></label>
                        <label class="floating-label" asp-for="TakenOverDivisionId">Division</label>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-4">
                    <div class="floating-label-wrap">

                        <input disabled asp-for="TakenOverName" class="floating-label-field floating-label-field--s3" limit="200" />
                        <span asp-validation-for="TakenOverName" class="text-danger"></span>
                        <label class="floating-label">Name/Designation</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="floating-label-wrap">

                        <input disabled asp-for="TakenOverDate" type="date" class="floating-label-field floating-label-field--s3" />
                        <span asp-validation-for="TakenOverDate" class="text-danger"></span>
                        <label class="floating-label">Date</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="floating-label-wrap">

                        <input disabled asp-for="TakenOverEmailId" class="floating-label-field floating-label-field--s3" type="email" limit="200" />
                        <span asp-validation-for="TakenOverEmailId" class="text-danger"></span>
                        <label class="floating-label">Email Id</label>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="floating-label-wrap">

                        <input disabled asp-for="TakenOverMobileNo" class="floating-label-field floating-label-field--s3 onlynumbers" maxlength="10" />
                        <span asp-validation-for="TakenOverMobileNo" class="text-danger"></span>
                        <label class="floating-label">Mobile No.</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="floating-label-wrap">

                        <input disabled asp-for="TakenOverLandlineNo" class="floating-label-field floating-label-field--s3 onlynumbers" maxlength="10" />
                        <span asp-validation-for="TakenOverLandlineNo" class="text-danger"></span>
                        <label class="floating-label">Land Line No.</label>
                    </div>
                </div>

                <div class="col-md-4">
                    <label class="floating-label" asp-for="TakenOverFileData">Document</label>
                    <input type="hidden" asp-for="TakenOverFilePath" />
                    @{
                        @if (ViewBag.TakenOverDocView != null)
                        {
                            <a>(View File)</a>
                            <input type="file" class="floating-label-field floating-label-field--s3" disabled id="TakenOverAssignFile" name="TakenOverAssignFile" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" />
                        }
                        else
                        {
                            <input type="file" class="floating-label-field floating-label-field--s3" disabled id="TakenOverAssignFile" name="TakenOverAssignFile" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" />
                        }
                    }
                    <span asp-validation-for="TakenOverFileData" class="text-danger"></span>
                </div>
            </div>
            <div class="row">

            </div>
            <div class="row">
                <div class="form-group col-md-12">

                    <textarea disabled asp-for="TakenOverComments" class="floating-label-field floating-label-field--s3" maxlength="4000" limit="4000"></textarea>
                    <span asp-validation-for="TakenOverComments" class="text-danger"></span>
                    <label class="floating-label">Comments</label>
                    <div id="feedbackTakenOverComments"></div>
                </div>
            </div>
        </div>

        @if (ViewBag.Isdispodedtrue == 0)
        {
            <div id="DivDisposal">
                <div class="row" style="margin-bottom:35px;">
                    <div class="col-sm-12">
                        <div class="dda-innerheading">
                            <div class="col-md-12">
                                <h6 class="pull-left color-white" style="margin-top:5px;">Disposal</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="floating-label-wrap">
                            <select class="floating-label-field floating-label-field--s3" asp-for="DisposalTypeId" asp-items="@(new SelectList(Model.DisposalTypeList, "Id","Name"))">
                                <option value="0">--Select--</option>
                            </select>
                            <label asp-validation-for="DisposalTypeId" class="error"></label>
                            <label class="floating-label" asp-for="DisposalTypeId">Type</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="floating-label-wrap">

                            <input asp-for="DisposalDate" type="date" value="" class="floating-label-field floating-label-field--s3" />
                            <span asp-validation-for="DisposalDate" class="text-danger"></span>
                            <label class="floating-label">Date</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="floating-label-wrap">

                            <input type="file" id="DisposalTypeAssignFile" class="floating-label-field floating-label-field--s3" name="DisposalTypeAssignFile" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" />@*onchange="return fileValidation()"*@
                            <span asp-validation-for="DisposalTypeFileData" class="text-danger"></span>
                            <label class="floating-label" asp-for="DisposalTypeFileData">Document</label>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="floating-label-wrap">
                            <textarea asp-for="DisposalComments" class="floating-label-field floating-label-field--s3" maxlength="4000" limit="4000"></textarea>
                            <span asp-validation-for="DisposalComments" class="text-danger"></span>
                            <label class="floating-label">Comments</label>
                            <div id="feedbackDisposalComments"></div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="row">
            <div class="col-md-12">
                <div class="floating-label-wrap">

                    <textarea disabled asp-for="Remarks" class="floating-label-field floating-label-field--s3" maxlength="4000" limit="4000"></textarea>
                    <label class="floating-label">Remarks</label>
                    <div id="feedbackRemarks"></div>
                </div>
            </div>
        </div>
        <div class="row" style="display:none;">
            <div class="col-md-4">
                <div class="floating-label-wrap">
                    <select disabled asp-for="IsActive" class="floating-label-field floating-label-field--s3">
                        <option value="1">Active</option>
                        <option value="0">Inactive</option>
                    </select>
                    <span asp-validation-for="IsActive" class="text-danger"></span>
                    <label class="floating-label">Status</label>
                </div>
            </div>
        </div>
        @{
            @if (ViewBag.IsValidateUser == 2)
            {
                <div class="row">
                    <div class="col-md-4">
                        <div class="floating-label-wrap">
                            <label class="floating-label">Validate</label>
                            <input type="checkbox" disabled asp-for="IsValidateData" />
                        </div>
                    </div>
                </div>
            }
        }


        <div class="form-row ">
            <div class="form-group col-md-12" style="margin-bottom:40px;">
                @Html.ActionLink("Back", "Create", "DeletedProperties", null, new { @class = "btn btn-theme " })
            </div>
        </div>

    </form>
</div>
    @*</div>
</div>*@


<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/propertyregisterationedit.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/propertyregisterationedit.js" asp-append-version="true"></script>
</environment>

<environment include="Development">
    <script src="~/js/common.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/common.js" asp-append-version="true"></script>
</environment>



