@model Libraries.Repository.Common.PagedResult<Libraries.Model.Entity.Kycdemandpaymentdetails>

<table class="table table-sm table-bordered mb-0 table-striped">
    <thead class="text-nowrap">
        <tr>

            <th> Property </th>
            <th>Nature of Property </th>
            <th> File No </th>
            <th> Branch </th>
            <th> Zone </th>
            <th> Locality </th>
            <th> Date Of Allotment letter </th>
            <th> Date Of Possession </th>
            <th> Status</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Results.Count() > 0)
        {
            @foreach (var item in Model.Results)
            {
        <tr>
            <td>@item.Kyc.Property</td>

            <td> @(item.Kyc.PropertyType == null?"": item.Kyc.PropertyType.Name) </td>
            <td>@item.Kyc.FileNo</td>
            <td> @(item.Kyc.Branch == null?"": item.Kyc.Branch.Name)  </td>
            <td> @(item.Kyc.Zone == null?"": item.Kyc.Zone.Name) </td>
            <td> @(item.Kyc.Locality == null?"": item.Kyc.Locality.Name) </td>
            <td>@(item.Kyc.AllotmentLetterDate == null ? "" : (Convert.ToDateTime(item.Kyc.AllotmentLetterDate)).ToString("dd-MMM-yyyy"))</td>
            <td>@(item.Kyc.PossessionDate == null ? "" : (Convert.ToDateTime(item.Kyc.PossessionDate)).ToString("dd-MMM-yyyy"))</td>


            <td>
                @(item.ApprovedStatusNavigation == null ? "" : item.ApprovedStatusNavigation.SentStatusName)
            </td>
            @if (ViewBag.IsApproved == 0)
            {
                <td>
                    <a asp-action="Create" asp-route-id="@item.Id" title="edit" class="edit"><i class="ri-edit-line"></i> </a>
                </td>
            }
            else
            {
                <td>
                    <a asp-action="View" asp-route-id="@item.Id" title="View" class="view"><i class="ri-eye-line"></i> </a>
                </td>
            }

        </tr>
            }
        }
        else
        {
            <tr>
                <th colspan="14" style="text-align:center"> No Record Available! </th>
            </tr>
        }
    </tbody>

</table>

@await Component.InvokeAsync("Pager", new { totalCount = Model.RowCount, pageNumber = Model.CurrentPage, pageSize = Model.PazeSize })
