@model Libraries.Model.Entity.Kycdemandpaymentdetails
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutApproval.cshtml";
}

<div class="row mt-md-3">
    <div class="col-md-12">
        <div class="col-md-12">
            <h6 class="pull-left" style="color:#007bff;margin-top:5px;">KYC Payment Approval</h6>
        </div>
    </div>
</div>
<br />
<br />
<form id="myForm" asp-action="Create" class="d-block rounded border p-3 bg-white search-filer shadow mb-3" enctype="multipart/form-data">
    <h3 class="mb-3 d-flex">
        Details<span style="margin-left:800px"><span style="color:red">*&nbsp;</span>Marked are mandatory fields</span>
    </h3>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="KycId" />
    <input type="hidden" asp-for="IsPaymentAgreed" />
    <input type="hidden" asp-for="FileNo" />
    <input type="hidden" asp-for="WorkFlowTemplate" />
    <input type="hidden" id="RevertCode" value="@ViewBag.RevertCodeValue" />
    <input type="hidden" id="ApprovedCode" value="@ViewBag.ApprovedCodeValue" />
    <input type="hidden" id="ForwardCode" value="@ViewBag.ForwardCodeValue" />
    <input type="hidden" id="QueryForwardCode" value="@ViewBag.QueryForwardCodeValue" />
    <input type="hidden" asp-for="ApprovalStatusCode" value="0" />

    <div id="KYCFormDetailsDiv">

    </div>
    
    @*<div id="divPayment">

        </div>*@

    <div class="permission mt-2 accordion list-unstyled m-0 ">
        <div class="card">
            <a class="p-2 no-dec d-flex align-items-center" data-toggle="collapse" href="#collapsePayment" role="button" aria-expanded="true"
               aria-controls="collapsePayment">
                <i class="ri-arrow-right-s-fill"></i>
                <span class="text ml-1 mr-auto">Payment Details</span>
                <i class="arrow ri-arrow-drop-down-line slow"></i>
            </a>
            <div class="list-unstyled m-0 pl-2 pr-1 pl-md-4 pr-md-3 collapse" id="collapsePayment">

                <h3 class="my-3 sub-heading">Demand Details as per DDA records (System Generated) </h3>
                <div id="divPayment">

                </div>

                @if (ViewBag.Role == 33 || ViewBag.Role == 34)
                {
                    <div class="row">
                        <div class="col-md-12">

                            <input class="btn btn-theme" type="button" id="btnUpdatePaymentDetails" value="Update Payment Details" onclick="UpdatePaymentDetails();" />

                        </div>
                    </div>
                }
                else
                {
                }

                <h3 class="my-3 sub-heading">View Payment Details From Bhoomi Application </h3>
                <div id="divPaymentFromBhoomi">

                </div>


                @if (Model.IsPaymentAgreed == "Y")
                {

                }
                else
                {
                    <h3 class="my-3 sub-heading">If Allottee not agreed with the amount deposited shown in DDA record, He/she can enter the challan </h3>

                    <div id="divChallan" class="pt-4">

                    </div>
                    @if (ViewBag.Role == 33 || ViewBag.Role == 34)
                    {
                        <div class="row">

                            <div class="col-md-12">
                                <input class="btn btn-theme" type="button" id="btnUpdateChallanDetails" value="Update Challan Details" onclick="UpdateChallanDetails();" />
                                <input class="btn btn-theme" type="button" id="btnUpdateBhoomiDetails" value="Update Verified Challan Details in Bhoomi Application" onclick="UpdateDetailsInBhoomi();" />

                            </div>

                        </div>
                    }
                    else { }
                }

                <br />
                <div class="row pt-4">
                    <div class=" col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">

                            <input asp-for="TotalPayable" placeholder="Total payable" type="text"
                                   class="floating-label-field floating-label-field--s3" />
                            <span class="text-danger"></span>
                            <label class="floating-label">Total payable (Provisional)Rs. <span style="color:red">*</span>  </label>
                        </div>
                    </div>

                    <div class=" col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">

                            <input asp-for="TotalPayableInterest" placeholder="Total interest" type="text"
                                   class="floating-label-field floating-label-field--s3" />
                            <span class="text-danger"></span>
                            <label class="floating-label">Total Payable interest (Provisional)Rs.<span style="color:red">*</span>  </label>
                        </div>
                    </div>
                    <div class=" col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">

                            <input asp-for="TotalDues" placeholder="Total dues" type="text"
                                   class="floating-label-field floating-label-field--s3" />
                            <span class="text-danger"></span>
                            <label class="floating-label">Total dues (Provisional)Rs. <span style="color:red">*</span>  </label>
                        </div>
                    </div>
                </div>

                <br /><br />
            </div>



        </div>
    </div>
    @*<div id="divPaymentFromBhoomi">

        </div>*@




    <div id="divHistoryDetails">

    </div>
    <div class="row pt-4">
        <div class="col-md-6">
            <div class="floating-label-wrap">
                <select class="floating-label-field floating-label-field--s3" asp-for="ApprovalStatus"
                        asp-items="@(new SelectList(Model.ApprovalStatusList, "Id","Name"))"
                        onchange="return GetApprvoalStatus(this.options[this.selectedIndex].value);">
                    <option selected="selected" disabled="disabled" value="0">--Select-- </option>
                </select>
                <span asp-validation-for="ApprovalStatus" class="text-danger" style="display:none;" id="ApprovalStatusMessage">
                    Status Is Mandatory
                </span>
                <label class="floating-label">Status<span style="color:red">*</span></label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="floating-label-wrap mb-3 mb-md-0">
                <input asp-for="ApprovalDocument" type="file" class="floating-label-field floating-label-field--s3" accept="application/pdf" />
                <label class="floating-label">Document</label>
            </div>
        </div>
    </div>

    <div id="RoleListDiv" style="display:none;">
        <div class="row pt-3">
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="ApprovalRoleId"
                            asp-items="@(new SelectList(ViewBag.Items,"Id","Name"))"
                            onchange="return GetUserList(this.options[this.selectedIndex].value);">
                        <option selected="selected" disabled="disabled" value="0">--Select-- </option>
                    </select>
                    <span asp-validation-for="ApprovalRoleId" class="text-danger" style="display:none;" id="ApprovalRoleIdMessage">
                        Role Is Mandatory
                    </span>
                    <label class="floating-label">Role<span style="color:red">*</span></label>
                </div>
            </div>
        </div>
    </div>
    <div id="UserListDiv" style="display:none;">
        <div class="row pt-3">
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="ApprovalUserId">
                        <option selected="selected" disabled="disabled" value="0">--Select-- </option>
                    </select>
                    <span asp-validation-for="ApprovalUserId" class="text-danger" style="display:none;" id="ApprovalUserIdMessage">User Is Mandatory</span>
                    <label class="floating-label">Users(Username|Role|Zone)<span style="color:red">*</span></label>
                </div>
            </div>
        </div>
    </div>


    <div class="row pt-3 pb-4">
        <div class="col-md-12">
            <div class="floating-label-wrap mb-3 mb-md-0">
                <textarea asp-for="ApprovalRemarks" type="text" placeholder="Remarks" class="floating-label-field floating-label-field--s3"></textarea>
                <span asp-validation-for="ApprovalRemarks" class="text-danger" style="display:none;" id="ApprovalRemarksMessage">Remarks Is Mandatory</span>
                <label class="floating-label">Remarks<span style="color:red">*</span></label>
            </div>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col-md-12">
            <input type="submit" value="Submit" class="btn btn-theme " id="btnCreate" />
            @Html.ActionLink("Back", "Index", "KycPaymentApproval", null, new { @class = "btn btn-theme " })
        </div>
    </div>
</form>

<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/kycpaymentapprovalcreate.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/kycpaymentapprovalcreate.min.js" asp-append-version="true"></script>
</environment>