@*@model Libraries.Model.Entity.Premiumrate*@
@await Component.InvokeAsync("PageHeader", new { pageName = "Judgement Details" })

<div class="pt-3">
    <form asp-action="Create" method="post" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <h3 class="mb-3 d-flex">Add Details</h3>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="accordion mb-4" id="accordionExample">
            <div class="card">
                <div class="card-header p-0" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-block btn-link collapsed d-flex sub-heading px-3 py-2 border-0 align-items-center" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                           View Request of Eviction Proceeding Details<i class="ri-arrow-drop-down-line ml-auto" style="font-size: 1.2rem;font-weight: 100;"></i>
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                       
                        <div class="pt-3">
                            
                                <div class="row mt-md-3">
                                    <div class="col-md-6">
                                        <div class="floating-label-wrap">


                                            <select class="floating-label-field floating-label-field--s3" style="width:100%;"
                                                  >
                                                <option selected disabled="disabled" value="">---Select---</option>
                                            </select>
                                            @*<span asp-validation-for="UserId" class="text-danger"></span>*@
                                            <label class="floating-label">UserName</label>
                                        </div>
                                    </div>


                                 

                                </div>


                                <div class="row mt-md-3">
                                    <div class="col-md-6">
                                        <div class="floating-label-wrap">


                                            <select class="floating-label-field floating-label-field--s3" onchange="get_socity()" style="width:100%;">
                                                  
                                                <option selected disabled="disabled" value="">---Select---</option>
                                                @*@foreach (var item in Model.AllotmententryList)
                                                {
                                                    <option value="@item.Id" data-id=" @item.SocietyName"> @item.LRefNo </option>
                                                }*@
                                            </select>
                                            @*<span asp-validation-for="AllotmentId" class="text-danger"></span>*@
                                            <label class="floating-label">File No</label>
                                        </div>
                                    </div>


                                    <div class=" col-md-6">
                                        <div class="floating-label-wrap mb-3 mb-md-0">

                                            <input  placeholder="Address" type="text"
                                                   class="floating-label-field floating-label-field--s3" />
                                            @*<span asp-validation-for="LetterReferenceNo" class="text-danger"></span>*@
                                            <label class="floating-label">Letter Reference No</label>
                                        </div>
                                    </div>

                                </div>

                                <div class="row mt-md-3">
                                    <div class="col-md-6">
                                        <div class="floating-label-wrap">
                                            <input disabled type="text" id="Society_name" class="floating-label-field floating-label-field--s3 " placeholder="Remarks" />

                                            <span class="text-danger"></span>
                                            <label class="floating-label">Name Of the Society/Allottee </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="floating-label-wrap mb-3 mb-md-0">

                                            <input disabled placeholder="Contact No" type="text"
                                                   class="floating-label-field floating-label-field--s3" />
                                            <span class="text-danger"></span>
                                            <label class="floating-label">Use as per allotment letter/Lease Deed  </label>
                                        </div>
                                    </div>
                                </div>


                                <div class="row mt-md-3">
                                    <div class="col-md-6">
                                        <div class="floating-label-wrap">
                                            <textarea type="text"  class="floating-label-field floating-label-field--s3 " placeholder="Remarks"></textarea>

                                            <span class="text-danger"></span>
                                            <label class="floating-label">Subject </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="floating-label-wrap mb-3 mb-md-0">

                                            <input placeholder="Contact No"  type="text"
                                                   class="floating-label-field floating-label-field--s3" />
                                            @*<span asp-validation-for="GroundOfViolations" class="text-danger"></span>*@
                                            <label class="floating-label">Ground of violations  </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-md-3">
                                    <div class="col-md-6">
                                        <div class="floating-label-wrap mb-3 mb-md-0">

                                            <input placeholder="Contact No"  type="date" value=""
                                                   class="floating-label-field floating-label-field--s3" />
                                            @*<span asp-validation-for="DateOfCancellationofLease" class="text-danger"></span>*@
                                            <label class="floating-label">Date of cancellation of lease Deed/Allotment </label>
                                        </div>
                                    </div>



                                    <div class="col-md-6">
                                        <div class="floating-label-wrap">
                                            <select class="floating-label-field floating-label-field--s3" style="width:100%;">
                                                    <option selected disabled="disabled" value="">---Select---</option>
                                            </select>
                                            @*<span asp-validation-for="HonebleLgOrCommon" class="text-danger"></span>*@
                                            <label  class="floating-label">Honble</label>
                                        </div>
                                    </div>




                                </div>
                                <div class="row mt-md-3">
                                    <div class=" col-md-6">
                                        <div class="floating-label-wrap mb-3 mb-md-0">

                                            <input  placeholder="Address" type="text"
                                                   class="floating-label-field floating-label-field--s3" />
                                            @*<span asp-validation-for="ProceedingEvictionPossession" class="text-danger"></span>*@
                                            <label class="floating-label">Proceeding for eviction of possession Assessment of damage</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="floating-label-wrap mb-3 mb-md-0">

                                            <input  type="text"
                                                   class="floating-label-field floating-label-field--s3" />
                                            @*<span asp-validation-for="CourtCaseifAny" class="text-danger"></span>*@
                                            <label class="floating-label">Court case if any   </label>
                                        </div>
                                    </div>
                                </div>


                                <div class="row mt-md-3">

                                    <div class="col-md-6">
                                        <label class="err" style="color:red;">
                                            Only Upload 10 Mb File
                                        </label>
                                        <div class="floating-label-wrap mb-3 mb-md-0">

                                            @*<input type="file"  class="floating-label-field floating-label-field--s3" />


        <label class="floating-label">Demand Letter </label>*@
                                            <a>View Demand Letter  </a>
                                        </div>


                                    </div>

                                    <div class="col-md-6">
                                        <label class="err" style="color:red;">
                                            Only Upload 10 Mb File
                                        </label>
                                        <div class="floating-label-wrap mb-3 mb-md-0">

                                            @*<input type="file" class="floating-label-field floating-label-field--s3" />


                                            <label class="floating-label">NOC</label>*@
                                            <a>View NOC Document  </a>
                                        </div>
                                    </div>
                                </div>


                                <div class="row mt-md-3">

                                    <div class="col-md-6">
                                        <label class="err" style="color:red;">
                                            Only Upload 10 Mb File
                                        </label>
                                        <div class="floating-label-wrap mb-3 mb-md-0">

                                            @*<input type="file" class="floating-label-field floating-label-field--s3" />


                                            <label class="floating-label">Cancellation Order </label>*@
                                            <a>View Cancellation Order Document  </a>
                                        </div>
                                    </div>
                                </div>

                               


                        </div>


                        <partial name="../Shared/_ValidationScriptsPartial.cshtml" />

                        <script>
                            function get_socity() {
                                var sname = $("#AllotmentId").find(':selected').attr('data-id');
                                $("#Society_name").val(sname);
                            }
                        </script>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header p-0" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn-link btn btn-block collapsed d-flex sub-heading px-3 py-2 border-0 align-items-center" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                           View Notice Generations Details<i class="ri-arrow-drop-down-line ml-auto" style="font-size: 1.2rem;font-weight: 100;"></i>
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <div id="divGenerate">
                            <div class="row mt-md-3">
                                <div class="col-md-3">
                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                        <input type="Date" class="floating-label-field floating-label-field--s3" />
                                        <span class="text-danger" style="display:none;" id="MessageDate">Meeting Date is Mandatory</span>
                                        <label class="floating-label">Meeting Date</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                        <input type="time" class="floating-label-field floating-label-field--s3" />
                                        <span class="text-danger" style="display:none;" id="MessageTime">Meeting Time is Mandatory</span>
                                        <label class="floating-label">Meeting Time</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-md-3">
                                <div class="col-md-12">
                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                        <textarea type="text" class="floating-label-field floating-label-field--s3"></textarea>
                                        <span class="text-danger" style="display:none;" id="MessageDate">Meeting Date is Mandatory</span>
                                        <label class="floating-label">Meeting Place</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <link href="~/lib/bootstrap/select2/select2.css" rel="stylesheet" />
                    <script src="~/lib/bootstrap/select2/select2.js" defer></script>
                    <style>
                        /*table,
                            tbody,
                            td {
                                width: 40%;
                            }

                            table,
                            tbody,
                            th {
                                width: 50%;
                            }*/
                        .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
                            border-top: 0px none;
                            border-bottom: 0px none;
                        }
                    </style>
                    <div class="pt-3">
                        <div id="LetterData" class="d-block rounded border p-3 bg-white search-filer shadow mb-3" enctype="multipart/form-data" autocomplete="off">

                            <table class="table" border="0" style="border:none; border-top: none;border-bottom:none;  ">
                                <tr>
                                    <td align="center">
                                        <h4><b> COURT OF ESTATE OFFICER,</b></h4> <br />
                                        <h4><b> SOUTH EAST ZONE, LAND MANAGEMENT WING,</b></h4> <br />
                                        <h4><b> DELHI DEVELOPMENT AUTHORITY,</b></h4> <br />
                                        <h4><b> C-1/7, GROUND FLOOR. VIKAS SADAN, </b></h4> <br />
                                        <h4><b> INA, NEW DELHI-110023</b></h4> <br />
                                        <br />
                                        <h6><b> *****</b></h6> <br />

                                    </td>
                                </tr>

                                <tr>

                                    <td style="border:none; border-top: none;">
                                        <table style="border:none; border-top: none; width:100%">
                                            <tr>

                                                <td align="left">
                                                    No. EV/LM/SEZ/051(5)/K-1/31, CR Park/1997/DDA

                                                </td>
                                                <td align="right">
                                                    Dated : @DateTime.Now.ToString("dd-MMM-yyyy")
                                                </td>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">
                                        <b> Smt.Rama Malick, </b> <br />
                                        <b> W/o Sh. Ashok Sethi, </b> <br />
                                        <b> R/o E-158, Masjid Moth,  </b><br />
                                        <b> Greater Kailash-II, New Delhi </b> <br />
                                        <br />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>
                                            Sub: Notice under sub-section (1) and clause (b) (ii) of sub-
                                            section (2)of section 4 of the Public Premises Eviction of
                                            Unauthorized Occupants) Act 1971.
                                        </b>
                                    </td>

                                </tr>
                            </table>
                            <br />

                            <table class="table" border="0" style="border:none; border-top: none;border-bottom:none;  ">
                                <tbody class="tbody">
                                    <tr>
                                        <td>
                                            Whereas I, the Undersigned, am of the firm opinion, on the grounds specified below, that you are in
                                            unauthorized occupation of the Public Premises mentioned in the Schedule below and that you should be
                                            evicted from the said premises.
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            Whereas you have been found in occupation of public premises mention in the schedule below.  The lease has
                                            been determined by the Competent Authority due to the violation of the lease terms and conditions.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Now, therefore, in pursuance of sub-section(1) of section 4 of the Act, I hereby call upon you to show
                                            cause on or before the <b>25th Day of September, 2018</b> why such an order of eviction should not be made.


                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            And in pursuance of clause (b) (ii) of sub-section (2) of section 4 of the  Act I also call upon to appear
                                            before me in person or through a duly authorized representative capable to answer all material questions
                                            connected with the matter along with the evidence which you intend to produce in support of the cause shown,
                                            on <b>
                                                25th Day of September, 2018 at 3:30 PM
                                            </b> for personal hearing.  In case, you fail to appear on the said
                                            date and time, the case will be decided ex parte.


                                        </td>
                                    </tr>

                                    <tr>
                                        <td align="left">

                                            <p style="color:black">
                                                <b>Ground Floor, </b> <br />
                                                <b>Plot no. K-1/31,</b><br />
                                                <b>Chitranjan Park, </b> <br />
                                                <b>New Delhi. </b> <br />
                                                <b>Date:       September, 2018 </b> <br />
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right">

                                            <b>
                                                (Signature and seal
                                                of the Estate Officer)
                                            </b>
                                            <br />


                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <link href="~/lib/bootstrap/select2/select2.css" rel="stylesheet" />
                    <script src="~/lib/bootstrap/select2/select2.js" defer></script>
                    <environment include="Development">
                        <script src="~/js/site.js"></script>
                    </environment>
                    <environment exclude="Development">
                        <script src="~/js/site.min.js" asp-append-version="true"></script>
                    </environment>
                    <partial name="../Shared/_ValidationScriptsPartial.cshtml" />


                </div>
            </div>
            <div class="card">
                <div class="card-header p-0" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn-link btn btn-block collapsed d-flex sub-heading px-3 py-2 border-0 align-items-center" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          View Allottee Evidance Document Details <i class="ri-arrow-drop-down-line ml-auto" style="font-size: 1.2rem;font-weight: 100;"></i>
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">


                        <div class="table-section bg-white border shadow rounded">
                            <div class="table-responsive ">
                                <table id="tbl_posts" class="table table-sm table-bordered mb-0 table-striped">
                                    <thead class="text-nowrap">
                                        <tr>
                                            <th>Sr.No</th>
                                            <th>Document Name</th>
                                            <th>Document Upload</th>

                                           
                                        </tr>
                                    </thead>
                                    <tbody id="tbl_posts_body">
                                    </tbody>
                                    <tbody class="tbody" id="add">
                                        <tr id="">
                                            <td><span class="sn">1</span></td>
                                            <td>
                                                <input type="text"
                                                       placeholder="Document Name" />
                                            </td>
                                            <td>
                                                @*<input type="file" class="floating-label-field floating-label-field--s3" />*@
                                                <a href="#">View Document</a>
                                            </td>

                                           
                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header p-0" id="headingFour">
                    <h2 class="mb-0">
                        <button class="btn-link btn btn-block collapsed d-flex sub-heading px-3 py-2 border-0 align-items-center" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            View Hearing Details  <i class="ri-arrow-drop-down-line ml-auto" style="font-size: 1.2rem;font-weight: 100;"></i>
                        </button>
                    </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="table-section bg-white border shadow rounded">
                            <div class="table-responsive ">
                                <table class="table table-sm table-bordered mb-0 table-striped">
                                    <thead class="text-nowrap">

                                        <tr>
                                            <th>Hearing Venue</th>
                                            <th>Hearing Date</th>
                                            <th>Hearing Time</th>

                                            <th>Attendee</th>
                                            <th>Hearing  Remarks</th>
                                            <th>Document</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td> High Court</td>
                                            <td> 23-mar-2021</td>
                                            <td>10:00 AM</td>
                                            <td>All</td>
                                            <td>dummy data  </td>
                                            <td>No Document available</td>

                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>

        <h3 class="my-3 d-flex sub-heading pt-4">Judgement Details</h3>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3">
                        <option disabled="disabled" selected value="">Select</option>
                        <option>A</option>
                        <option>B</option>
                    </select>
                    @*<span asp-validation-for="LeasesTypeId" class="text-danger"></span>*@
                    <label class="floating-label">Forward To</label>
                </div>
            </div>
            <div class=" col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input type="file"  class="floating-label-field floating-label-field--s3" placeholder="Name">
                    @*<span asp-validation-for="DocumentForFile" class="d-block text-danger field-validation-valid"></span>*@
                    <label for="field-1" class="floating-label"> Upload copy of the document selected </label>

                </div>
            </div>

        </div>
        <div class="row mt-md-3">
            <div class=" col-md-12">
                <button class="btn btn-theme " type="submit">Create</button>
                @Html.ActionLink("Back", "Index", "Judgement", null, new { @class = "btn btn-theme " })
            </div>
        </div>
    </form>
</div>



<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/premiumrate.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/premiumrate.min.js" asp-append-version="true"></script>
</environment>
