@model Libraries.Model.Entity.Newlandpossessiondetails
@await Component.InvokeAsync("PageHeader", new { pageName = "Possession Detail" })

<div class="container-fluid" id="MainContentForm">
    <div class="panel">

        <div class="panel-body">
            <form asp-action="Create" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <h3 class="mb-3 d-flex">Add Details</h3>

                <div class="row mt-md-3">
                    <div class="col-md-6">
                        <div class="floating-label-wrap">
                            <select class="floating-label-field floating-label-field--s3" asp-for="VillageId" asp-items="@(new SelectList(Model.VillageList, "Id","Name"))"
                                    onchange="return onChange(this.options[this.selectedIndex].value);">
                                <option value="" disabled>Select</option>
                            </select>
                            <span asp-validation-for="VillageId" class="text-danger"></span>
                            <label asp-for="VillageId" class="floating-label">Village Name</label>
                        </div>
                    </div>



                    <div class="col-md-6">
                        <div class="floating-label-wrap">
                            <select class="floating-label-field floating-label-field--s3" asp-for="KhasraId" asp-items="@(new SelectList(Model.KhasraList, "Id","Name"))">
                                <option value="" disabled>Select</option>
                            </select>
                            <span asp-validation-for="KhasraId" class="text-danger"></span>
                            <label class="floating-label">Khasra No</label>
                        </div>
                    </div>
                </div>

                <div class="pt-3">
                    <h3 class="mb-3 d-flex">Type of possession</h3>

                    <div class="row">



                        <div class="col-md-3">
                            <div class="form-check theme">


                                <input class="form-check-input" type="radio" asp-for="PossType" value="V" />    <label class="radio-inline">
                                    Vacant
                                </label>
                            </div>
                        </div>   <div class="col-md-3">
                            <div class="form-check theme">


                                <input class="form-check-input" type="radio" asp-for="PossType" value="B" checked />
                                <label class="radio-inline">
                                    Built Up
                                </label>
                            </div>
                        </div>
                    </div>
                </div>





                <div class="pt-3">

                    <h3 class="mb-3 d-flex">Reason, if Possession not Taken</h3>



                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-check theme">


                                <input class="form-check-input" type="radio" asp-for="ReasonNonPoss" value="B" />    <label class="radio-inline">
                                    Built-Up
                                </label>
                            </div>
                        </div>   <div class="col-md-3">
                            <div class="form-check theme">


                                <input class="form-check-input" type="radio" asp-for="ReasonNonPoss" value="L" />
                                <label class="radio-inline">
                                    Litigation
                                </label>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-check theme">


                                <input class="form-check-input" type="radio" asp-for="ReasonNonPoss" value="O" checked="checked" />
                                <label class="radio-inline">
                                    Others if Any
                                </label>
                            </div>
                        </div>


                    </div>

                </div>




                <div class="row mt-md-3">
                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">

                            <input type="Date" asp-for="PossDate" value="" placeholder="poss Date" class="floating-label-field floating-label-field--s3" />
                            <span asp-validation-for="PossDate" class="text-danger"></span>
                            <label class="floating-label"> Date</label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <select class="floating-label-field floating-label-field--s3" asp-for="PossKhasraId" asp-items="@(new SelectList(Model.PossKhasraList, "Id","Name"))">
                                <option value="" disabled>Select</option>
                            </select>
                            <span asp-validation-for="PossKhasraId" class="text-danger"></span>
                            <label class="floating-label" asp-for="PossKhasraId">Possesion Khasra No</label>
                        </div>
                    </div>


                </div>



                <div class="pt-3">

                    <h3 class="mb-3 d-flex">Area</h3>


                    <div class="row">
                        <div class="col-md-4">
                            <div class="floating-label-wrap mb-3 mb-md-0">



                                <input type="text" asp-for="Bigha" class="floating-label-field floating-label-field--s3" />
                                <label class="floating-label">Bigha</label>

                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <div class="floating-label-wrap mb-3 mb-md-0">



                                <input type="text" asp-for="Biswa" class="floating-label-field floating-label-field--s3" placeholder="Biswa" />
                                <label class="floating-label">Biswa</label>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="floating-label-wrap mb-3 mb-md-0">



                                <input type="text" asp-for="Biswanshi" class="floating-label-field floating-label-field--s3" placeholder="Biswanshi" />
                                <label class="floating-label">Biswanshi</label>
                            </div>
                        </div>

                    </div>
                </div>

                <div id="DivNotification">
                    <div class="row" style="margin-bottom:35px;">
                        <div class="col-sm-12">
                            <div class="dda-innerheading">
                                <div class="col-md-12">
                                    <h3 class="pull-left" style="margin-top:5px;">Notification Detais</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <select class="floating-label-field floating-label-field--s3" asp-for="Us4id" asp-items="@(new SelectList(Model.us4List, "Id","Number"))">
                                <option value="" disabled>Select</option>
                            </select>
                            <span asp-validation-for="Us4id" class="text-danger"></span>
                            <label asp-for="Us4id" class="floating-label">Under section 4 </label>
                        </div>

                        <div class="form-group col-md-6">
                            <select class="floating-label-field floating-label-field--s3" asp-for="Us6id" asp-items="@(new SelectList(Model.us6List, "Id","Number"))">
                                <option value="" disabled>Select</option>
                            </select>
                            <span asp-validation-for="Us6id" class="text-danger"></span>
                            <label asp-for="Us6id" class="floating-label">Under section 6 </label>
                        </div>

                    </div>

                    <div class="form-group col-md-6">
                        <select class="floating-label-field floating-label-field--s3" asp-for="Us17id" asp-items="@(new SelectList(Model.us17List, "Id","Number"))">
                            <option value="" disabled>Select</option>
                        </select>
                        <span asp-validation-for="Us17id" class="text-danger"></span>
                        <label asp-for="Us17id" class="floating-label">Under section 17 </label>
                    </div>



                </div>


                <div class="form-row">


                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">

                            <textarea type="text" asp-for="Remarks" class="floating-label-field floating-label-field--s3" placeholder="Remarks"></textarea>
                            <label class="floating-label">Remarks</label>
                        </div>
                    </div>




                    <div class=" col-md-6">
                        <div class="floating-label-wrap">
                            <select class="floating-label-field floating-label-field--s3" asp-for="IsActive">
                                <option value="1">Active</option>
                                <option value="0">Inactive</option>
                            </select>
                            <span asp-validation-for="IsActive" class="text-danger"></span>
                            <label asp-for="IsActive" class="floating-label">Status </label>
                        </div>
                    </div>



                </div>








                <div class="row mt-md-3">
                    <div class=" col-md-12">
                        <button class="btn btn-theme " type="submit">Create</button>
                        @Html.ActionLink("Back", "Index", "NewlandPossesionDetails", null, new { @class = "btn btn-theme " })
                    </div>
                </div>



            </form>
        </div>
    </div>
</div>




<partial name="../Shared/_ValidationScriptsPartial.cshtml" />

<environment include="Development">
    <script src="~/js/possessiondetailscreate.js"></script>

   
</environment>
<environment exclude="Development">
    <script src="~/js/possessiondetailscreate.min.js" asp-append-version="true"></script>
</environment>





