@*@model IEnumerable<LMS_Encrochment_Management.Models.TblDemolation>*@
@{int rowNo = 0;}
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="dda-topheading">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;">Demolition</h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<div>
    @Html.ActionLink("Add New ", "Create", "Demolition", null, new { @class = "btn btn-primary pull-right dda-pageheading ", style = "margin-top: -10px;" })

</div>
<br />
<br />


<div class="container-fluid" id="MainContentForm">
    <div class="card  table-card">
        <div class="table-responsive">
            <table class="table table-responsive table-bordered table-card">
                <thead>
                    <tr class="thead">

                        <th>Sr. No</th>
                        <th rowspan="2">ID</th>
                        <th rowspan="2">Jhuggies</th>
                        <th rowspan="2">Pucca Room</th>
                        <th rowspan="2">Semi Pucca Room</th>
                        <th rowspan="2">Commercial Structures</th>
                        <th rowspan="2">Boundary Walls</th>
                        <th rowspan="2">Area Reclaimed</th>
                        <th rowspan="2">Religious Structures</th>
                        <th rowspan="2" colspan="3">Operation</th>
                    </tr>
                </thead>
                <tbody>

                    <tr class="tbody">
                        <td>@(rowNo += 1)</td>
                        <td>Dem-101-04082020</td>
                        <td>2</td>
                        <td>3</td>
                        <td> 0</td>
                        <td>4</td>
                        <td>10</td>
                        <td>250</td>
                        <td>0</td>
                        <td>

                            <a asp-action="Report" asp-controller="Demolition" class="btn btn-info"><i class="material-icons"></i>Report</a>
                        </td>
                        <td>
                            <a asp-action="Edit" asp-controller="Demolition" class="btn btn-primary"><i class="material-icons">Edit</i></a>
                        </td>
                        <td>
                            <a asp-action="Delete" asp-controller="Demolition" class="btn btn-danger"><i class="material-icons">Delete</i></a>
                        </td>
                    </tr>
                    @*@if (@Model != null)
                        {
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@(rowNo += 1)</td>
                                    <td>@item.Id</td>
                                    <td>@item.Jhuggies</td>
                                    <td>@item.PuccaRooms</td>
                                    <td>@item.SemiPuccaRoom</td>
                                    <td>@item.ComStructure</td>
                                    <td>@item.BoundaryWalls</td>
                                    <td>@item.AreaReclaimed</td>
                                    <td>@item.ReligiousStructure</td>
                                    <td colspan="3">

                                        <a asp-action="Edit" asp-controller="Demolition" class="btn btn-primary" asp-route-id="@item.Id"><i class="material-icons">Edit</i></a>*@
                    @*@Html.ActionLink("Edit", "Edit", new { Id = item.Id})*@
                    @*@Html.ActionLink("Report", "Report", new { Id = item.Id })*@ @*@Html.ActionLink("Delete", "Delete", new { Id = item.Id })*@
                    @*<a asp-action="Report" asp-controller="Demolition" class="btn  btn-info" asp-route-id="@item.Id"><i class="material-icons"></i>Report</a>
                        <a asp-action="Delete" asp-controller="Demolition" class="btn btn-danger" asp-route-id="@item.Id "><i class="material-icons">Delete</i></a>

                        </td>
                        </tr>
                        }
                        }
                        else
                        {
                        <tr>
                            <td colspan="16"><b> <strong> Data Not Available</strong> </b></td>
                        </tr>
                        }*@
                </tbody>
            </table>
        </div>
    </div>
</div>
<br />
<br />


