@model Libraries.Model.Entity.Damagepayeeregister
@{ ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

@await Component.InvokeAsync("PageHeader", new { pageName = "Damage Payee Register" })
<div class="pt-3">
    <form asp-action="Edit" class="d-block rounded border p-3 bg-white search-filer shadow mb-3" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <h3 class="mb-3 d-flex">View Details <span class="ms-auto"><span style="color:red">*&nbsp;</span>Marked are mandatory fields</span> </h3>
        <div id="DivOpenSubstitutionForm">
            <div id="DivFileInformation">

                <h3 class="my-3 d-flex sub-heading">File Information</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input readonly="readonly" asp-for="FileNo" type="text" placeholder="File No." class="floating-label-field floating-label-field--s3" />
                            <span asp-validation-for="FileNo" class="d-block text-danger field-validation-valid"></span>
                            <label class="floating-label">File No./Reference No.</label>
                        </div>
                    </div>
                </div>
            </div>

            <div id="DivPersonalInformationofDamageAssessee">
                <h3 class="my-3 d-flex sub-heading">Personal Information of Damage Assessee</h3>

                <div class="table-section bg-white border shadow rounded">
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered mb-0 table-striped" id="tbl_posts">
                            <thead class="text-nowrap">

                                <tr>
                                    <th>Sr.No</th>
                                    <th style="min-width:150px;">Name</th>
                                    <th>Father's/Husband's Name</th>
                                    <th style="min-width:120px;">Gender</th>
                                    <th style="min-width:200px;">Address</th>
                                    <th style="min-width:130px;">Mobile No.</th>
                                    <th style="min-width:200px;">Email-Id</th>
                                    <th style="min-width:210px;">Aadhar No.</th>
                                    <th style="min-width:210px;">PAN No.</th>
                                    <th style="min-width:250px;">Photo</th>
                                    <th style="min-width:250px;">Signature</th>
                                    @*<th style="min-width:250px;">Upload Other Document</th>*@


                                </tr>
                            </thead>
                            <tbody id="tbl_posts_body">
                            </tbody>
                            <tbody class="tbody" id="add">
                                <tr id="">
                                    <td style="text-align:center;"><span class="sn">1</span></td>
                                    <td>
                                        <input readonly="readonly" asp-for="payeeName" maxlength="45" required type="text" class="floating-label-field floating-label-field--s3 Namecheck" />
                                        <span asp-validation-for="payeeName" class="d-block text-danger field-validation-valid msg"></span>
                                    </td>
                                    <td>
                                        <input readonly="readonly" asp-for="payeeFatherName" maxlength="45" required type="text" class="floating-label-field floating-label-field--s3" />
                                        <span asp-validation-for="payeeFatherName" class="d-block text-danger field-validation-valid"></span>

                                    </td>
                                    <td>
                                        <select readonly="readonly" asp-for="Gender" required class="floating-label-field floating-label-field--s3">
                                            <option value="0">---Select---</option>
                                            <option value="1">Male</option>
                                            <option value="2">Female</option>
                                            <option value="3">Other</option>
                                        </select>
                                        <span asp-validation-for="Gender" class="d-block text-danger field-validation-valid"></span>

                                    </td>
                                    <td>
                                        <textarea readonly asp-for="Address" maxlength="100" required type="text" class="floating-label-field floating-label-field--s3"></textarea>
                                        <span asp-validation-for="Address" class="d-block text-danger field-validation-valid"></span>

                                    </td>
                                    <td>
                                        <input readonly="readonly" asp-for="MobileNo" maxlength="12" required type="text" class="floating-label-field floating-label-field--s3 NoCheck" />
                                        <span asp-validation-for="MobileNo" class="d-block text-danger field-validation-valid msg2"></span>

                                    </td>
                                    <td>
                                        <input readonly="readonly" asp-for="EmailId" maxlength="30" required type="text" class="floating-label-field floating-label-field--s3 EmailCheck" />
                                        <span asp-validation-for="EmailId" class="d-block text-danger field-validation-valid msg1"></span>

                                    </td>
                                    <td>

                                        <input readonly="readonly" asp-for="AadharNo" type="text" maxlength="15" class="floating-label-field floating-label-field--s3" />
                                        <span asp-validation-for="AadharNo" class="d-block text-danger field-validation-valid msg3"></span>
                                        <a id="viewAadharId" asp-action="ViewPersonelInfoAadharFile" class="badge bg-primary px-2" target="_blank" style="display:none;">(View File)</a>
                                        <input type="hidden" asp-for="AadharNoFilePath" />
                                        <br />
                                        <input disabled asp-for="Aadhar" type="file" class="floating-label-field floating-label-field--s3 " />
                                        <span asp-validation-for="Aadhar" class="d-block text-danger field-validation-valid"></span>


                                    </td>
                                    <td>

                                        <input readonly="readonly" asp-for="PanNo" maxlength="15" type="text" class="  floating-label-field floating-label-field--s3" />
                                        <span asp-validation-for="PanNo" class="d-block text-danger field-validation-valid"></span>
                                        <a id="viewPanId" asp-action="ViewPersonelInfoPanFile" class="badge bg-primary px-2" target="_blank" style="display:none;">(View File)</a>
                                        <input type="hidden" asp-for="PanNoFilePath" />
                                        <br />
                                        <input disabled asp-for="Pan" type="file" class="floating-label-field floating-label-field--s3 " />
                                        <span asp-validation-for="Pan" class="d-block text-danger field-validation-valid msg4"></span>


                                    </td>
                                    <td>
                                        <a id="viewPhotoId" asp-action="ViewPersonelInfoPhotoFile" class="badge bg-primary px-2" target="_blank" style="display:none;">(View File)</a>
                                        <input type="hidden" asp-for="PhotographFilePath" />
                                        <input disabled asp-for="Photograph" type="file" class="floating-label-field floating-label-field--s3" />
                                        <span asp-validation-for="Photograph" class="d-block text-danger field-validation-valid"></span>

                                    </td>
                                    <td>
                                        <a id="viewSignatureId" asp-action="ViewPersonelInfoSignautreFile" class="badge bg-primary px-2" target="_blank" style="display:none;">(View File)</a>
                                        <input type="hidden" asp-for="SignatureFilePath" />
                                        <input disabled asp-for="SignatureFile" type="file" class="floating-label-field floating-label-field--s3" />
                                        <span asp-validation-for="SignatureFile" class="d-block text-danger field-validation-valid"></span>

                                    </td>
                                    @*<td>
                                        <a id="viewOtherDocId" asp-action="ViewOtherDocumentFile" class="badge bg-primary px-2" target="_blank" style="display:none;">(View File)</a>
                                        <input type="hidden" asp-for="OtherDocFilePath" />
                                        <input disabled asp-for="OtherDocFile" type="file" class="floating-label-field floating-label-field--s3" />
                                        <span asp-validation-for="OtherDocFile" class="d-block text-danger field-validation-valid"></span>

                                    </td>*@
                                </tr>

                            </tbody>
                        </table>
                    </div>


                </div>

            </div>
           
            <div id="Divclsification" class="mt-md-3">
                <h3 class="my-3 d-flex sub-heading">Type of Damage Assessee</h3>

                <div class="row">
                    <div class="col-md-3">
                        <input readonly="readonly" type="hidden" asp-for="TypeOfDamageAssessee" id="TypeOfDamageAssessee" value="Original" />

                        <div class="form-check theme">
                            <input readonly="readonly" class="form-check-input" type="radio" asp-for="TypeOfDamageAssessee" name="grpDamageAssesseeType" id="rOriginal" value="Original" checked>
                            <label class="form-check-label" for="radio">
                                Original
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check theme">
                            <input readonly="readonly" class="form-check-input" type="radio" asp-for="TypeOfDamageAssessee" name="grpDamageAssesseeType" id="rSubsequent" value="Subsequent">
                            <label class="form-check-label" for="radio">
                                Subsequent Assessee/Occupier
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div id="DivForSubsequentPurchaser" style="display:none">

                <h3 class="my-3 d-flex sub-heading">Chain of Previous Damage Assessee, starting from Original Damage Assessee</h3>



                <div class="table-section bg-white border shadow rounded">
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered mb-0 table-striped" id="tbl_DamageAssessee">
                            <thead class="text-nowrap">
                                <tr>
                                    <th>Sr.No</th>
                                    <th>Name</th>
                                    <th>Father's Name</th>
                                    <th>Date of ATS & GPA/Will</th>
                                    <th>Upload ATS & GPA/Will</th>
                                   
                                </tr>
                            </thead>
                            <tbody id="tbl_DamageAssessee_body">
                            </tbody>
                            <tbody class="tbody" id="addDamageAssessee">
                                <tr id="">

                                    <td style="text-align:center;"><span class="sn1">1</span></td>
                                    <td>
                                        <input readonly="readonly" asp-for="Name" maxlength="45" type="text" class="floating-label-field floating-label-field--s3" />
                                        <span asp-validation-for="Name" class="d-block text-danger field-validation-valid"></span>

                                    </td>
                                    <td>
                                        <input readonly="readonly" asp-for="FatherName" maxlength="45" type="text" class="floating-label-field floating-label-field--s3" />
                                        <span asp-validation-for="FatherName" class="d-block text-danger field-validation-valid"></span>

                                    </td>
                                    <td>
                                        <input readonly="readonly" asp-for="Date" type="date" class="floating-label-field floating-label-field--s3" />
                                        <span asp-validation-for="Date" class="d-block text-danger field-validation-valid"></span>

                                    </td>
                                    <td>
                                        <a id="viewATSId" asp-action="ViewATSFile" class="badge bg-primary px-2" target="_blank" style="display:none;">(View File)</a>
                                        <input type="hidden" asp-for="ATSGPAFilePath" />
                                        <input disabled asp-for="ATSGPA" type="file" class="floating-label-field floating-label-field--s3" />
                                        <span asp-validation-for="ATSGPA" class="d-block text-danger field-validation-valid"></span>

                                    </td>
                                   
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

            <div id="MainContentForm">
                <h3 class="my-3 d-flex sub-heading">Property Identification Details</h3>

                <div class="row">

                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input readonly="readonly" asp-for="PropertyNo" required maxlength="45" type="text" class="floating-label-field floating-label-field--s3" placeholder="Municipal No." />
                            <span asp-validation-for="PropertyNo" class="d-block text-danger field-validation-valid"></span>

                            <label class="floating-label">Property/Khasra/House/Municipal No.</label>

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="floating-label-wrap">
                            <select readonly="readonly" class="floating-label-field floating-label-field--s3" asp-for="LocalityId"
                                    asp-items="@(new SelectList(Model.LocalityList,"Id","Name"))">
                                <option value="0">---Select---</option>

                            </select>
                            <span asp-validation-for="LocalityId" class="d-block text-danger field-validation-valid"></span>

                            <label class="floating-label">Locality</label>
                        </div>
                    </div>


                </div>
                <div class="row mt-md-3">
                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input readonly="readonly" asp-for="FloorNo" maxlength="45" type="text" placeholder="Floor No" class="floating-label-field floating-label-field--s3" />
                            <span asp-validation-for="FloorNo" class="d-block text-danger field-validation-valid"></span>

                            <label class="floating-label">Floor No(if purchased floor wise)</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input readonly="readonly" asp-for="StreetNo" type="text" placeholder="Street Name" class="floating-label-field floating-label-field--s3" />
                            <span asp-validation-for="StreetNo" class="d-block text-danger field-validation-valid"></span>

                            <label class="floating-label">Road/Street Name</label>
                        </div>
                    </div>
                </div>
                <div class="row mt-md-3">
                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input readonly="readonly" asp-for="PinCode" required maxlength="45" type="text" placeholder="Pin Code" class="floating-label-field floating-label-field--s3" />
                            <span asp-validation-for="PinCode" class="d-block text-danger field-validation-valid"></span>

                            <label class="floating-label">Pin Code</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="floating-label-wrap">
                            <select readonly="readonly" asp-for="DistrictId" class="floating-label-field floating-label-field--s3"
                                    asp-items="@(new SelectList(Model.DistrictList,"Id","Name"))">
                                <option value="0">---Select---</option>

                            </select>
                            <span asp-validation-for="DistrictId" class="d-block text-danger field-validation-valid"></span>

                            <label class="floating-label">District</label>
                        </div>
                    </div>
                </div>
                <div class="row mt-md-3">
                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input readonly="readonly" asp-for="PlotAreaSqYard" required maxlength="45" type="text" placeholder="Plot Area in Sq.yds." class="floating-label-field floating-label-field--s3" id="txtPlotyds" />
                            <span asp-validation-for="PlotAreaSqYard" class="d-block text-danger field-validation-valid"></span>

                            <label class="floating-label">Plot Area in Sq.yds.</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0 ">
                            <input readonly="readonly" asp-for="PlotAreaSqMt" type="text" placeholder="Sq. Mtr.-" class="floating-label-field floating-label-field--s3" id="txtPlotmts" readonly />
                            <span asp-validation-for="PlotAreaSqMt" class="d-block text-danger field-validation-valid"></span>

                            <label class="floating-label">Sq. Mtr.-</label>
                        </div>
                    </div>
                </div>
                <div class="row mt-md-3">
                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input readonly="readonly" asp-for="FloorAreaSqYard" type="text" required maxlength="45" placeholder="Floor Area in Sq. yds" class="floating-label-field floating-label-field--s3" id="txtFlooryds" />
                            <span asp-validation-for="FloorAreaSqYard" class="d-block text-danger field-validation-valid"></span>

                            <label class="floating-label">Floor Area in Sq. yds.(if purchased floor wise)</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0 ">
                            <input readonly="readonly" asp-for="FloorAreaSqMt" type="text" placeholder="Sq. Mtr.-" class="floating-label-field floating-label-field--s3" id="txtFloormts" readonly />
                            <span asp-validation-for="FloorAreaSqMt" class="d-block text-danger field-validation-valid"></span>

                            <label class="floating-label">Sq. Mtr.-</label>
                        </div>
                    </div>
                </div>
                <div class="row mt-md-3">
                    <div class="form-group col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            @{ if (Model.PropertyPhotoPath != null)
                                {


                                    <input disabled type="file" placeholder="Property Photo" class="floating-label-field floating-label-field--s3" asp-for="PropertyPhoto" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" />
                                    <span asp-validation-for="PropertyPhoto" class="d-block text-danger field-validation-valid"></span>
                                    <a class="badge bg-primary px-2" asp-action="DownloadPropertyPhoto" asp-route-id="@Model.Id">
                                        View File - (@Model.PropertyPhotoPath.Split('\\')?.LastOrDefault()?.Remove(0, 37))
                                    </a>
                                }
                                else
                                {
                                    <input disabled type="file" asp-for="PropertyPhoto" class="floating-label-field floating-label-field--s3" placeholder="Property Photo">
                                    <span asp-validation-for="PropertyPhoto" class="d-block text-danger field-validation-valid"></span>
                                }
                            }
                            <label for="field-1" class="floating-label">Upload Photograph of Property </label>


                        </div>
                    </div>
                </div>

            </div>

            <div id="DivMainContentForm"style="margin-top:-15px;">
                <h3 class="my-3 d-flex sub-heading">Use of Property</h3>
                <div class="row">
                    <div class="col-md-2">
                        <input  type="hidden" asp-for="UseOfProperty" id="UseOfProperty" value="Residential" />

                        <div class="form-check theme">
                            <input asp-for="UseOfProperty" class="form-check-input" type="radio" name="grpUseofpeoperty" id="rdbResidential" checked="checked" value="Residential">
                            <label class="form-check-label" for="radio">
                                Residential
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-check theme">
                            <input asp-for="UseOfProperty" class="form-check-input" type="radio" name="grpUseofpeoperty" id="rdbCommercial" value="Commercial">
                            <label class="form-check-label" for="radio">
                                Commercial
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-check theme">
                            <input asp-for="UseOfProperty" class="form-check-input" type="radio" name="grpUseofpeoperty" id="rdbMixed" value="Mixed">
                            <label class="form-check-label" for="radio">
                                Mixed
                            </label>
                        </div>
                    </div>
                </div>
               
                <div class="row mt-md-3">
                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input  asp-for="ResidentialSqYard" type="text" placeholder="Residential floor area in Sq.yds" class="floating-label-field floating-label-field--s3" id="txtResidential" readonly />
                            <span asp-validation-for="ResidentialSqYard" class="d-block text-danger field-validation-valid"></span>

                            <label class="floating-label">Residential floor area in Sq.yds.</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input  asp-for="CommercialSqYard" type="text" placeholder="Commercial floor area in Sq.yds." class="floating-label-field floating-label-field--s3" id="txtCommercial" readonly />
                            <span asp-validation-for="CommercialSqYard" class="d-block text-danger field-validation-valid"></span>

                            <label class="floating-label">Commercial floor area in Sq.yds.</label>
                        </div>
                    </div>

                </div>
                <div class="row mt-md-3">
                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0 ">
                            <input asp-for="ResidentialSqMt" type="text" placeholder="Sq. Mtr.-" class="floating-label-field floating-label-field--s3" id="txtResidentialmts" readonly />
                            <span asp-validation-for="ResidentialSqMt" class="d-block text-danger field-validation-valid"></span>

                            <label class="floating-label">Sq. Mtr.-</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input asp-for="CommercialSqMt" type="text" placeholder="Sq. Mtr.-" class="floating-label-field floating-label-field--s3" id="txtCommercialmts" readonly />
                            <span asp-validation-for="CommercialSqMt" class="d-block text-danger field-validation-valid"></span>

                            <label class="floating-label">Sq. Mtr.-</label>
                        </div>
                    </div>
                </div>
            </div>
            <div id="DivMainContentForm">
                <h3 class="my-3 d-flex sub-heading">Litigation Status</h3>
                <div class="row mt-md-3">
                    <div class="col-md-6">
                        <input type="hidden" asp-for="LitigationStatus" id="LitigationStatus" value="no case" />

                        <div class="form-check theme">
                            <input asp-for="LitigationStatus" class="form-check-input" type="radio" name="grpLitigation" id="rdbNoLitigation" checked value=" no case ">
                            <span class="d-block text-danger field-validation-valid"></span>

                            <label class="form-check-label" for="radio">
                                The Land Property is not a subject matter of any litigation/Court Case

                            </label>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-check theme">
                            <input asp-for="LitigationStatus" class="form-check-input" type="radio" name="grpLitigation" id="rbdYesLitigation" value="under litigation">
                            <span class="d-block text-danger field-validation-valid"></span>

                            <label class="form-check-label" for="radio">
                                LandProperty title is under litigation
                            </label>
                        </div>
                    </div>
                </div>
            </div>


            <div id="DivForLitigationStatus" style="display:none">
                <h3 class="my-3 d-flex sub-heading">Details of Court Case(if any)</h3>

                <div class="row mt-md-3">
                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input readonly="readonly" asp-for="CourtName" type="text" placeholder="Name of Court" class="floating-label-field floating-label-field--s3" />
                            <span asp-validation-for="CourtName" class="d-block text-danger field-validation-valid"></span>

                            <label class="floating-label">Name of Court </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input readonly="readonly" asp-for="CaseNo" type="text" placeholder="Case Number" class="floating-label-field floating-label-field--s3" />
                            <span asp-validation-for="CaseNo" class="d-block text-danger field-validation-valid"></span>

                            <label class="floating-label">Case Number</label>
                        </div>
                    </div>
                </div>
                <div class="row mt-md-3">
                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input readonly="readonly" asp-for="OppositionName" type="text" placeholder="Case Number" class="floating-label-field floating-label-field--s3" />
                            <span asp-validation-for="OppositionName" class="d-block text-danger field-validation-valid"></span>

                            <label class="floating-label">Name of Opposition Party</label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-2">
                                <label>I am</label>
                            </div>
                            <div class="col-md-4">
                                <input type="hidden" asp-for="PetitionerRespondent" id="PetitionerRespondent" value="Petitioner" />

                                <div class="form-check theme">
                                    <input asp-for="PetitionerRespondent" class="form-check-input" type="radio" name="grpCaseperson" checked value="Petitioner">
                                    <label class="form-check-label" for="radio">
                                        Petitioner
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-check theme">
                                    <input asp-for="PetitionerRespondent" class="form-check-input" type="radio" name="grpCaseperson" checked value="Respondant">
                                    <label class="form-check-label" for="radio">
                                        Respondant
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div id="DivMainContentForm">
                <h3 class="my-3 d-flex sub-heading">Whether present occupant's is/are damage payee in DDA record</h3>
                <div class="row mt-3">
                    <div class="form-group col-md-2">
                        <input type="hidden" asp-for="IsDdadamagePayee" id="IsDdadamagePayee" value="Yes" />

                        <div class="form-check theme">
                            <input asp-for="IsDdadamagePayee" class="form-check-input" type="radio" name="grpYESNO" id="rdbPayeeYes" checked="checked" value="yes">
                            <label class="form-check-label" for="radio">
                                Yes
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <div class="form-check theme">
                            <input asp-for="IsDdadamagePayee" class="form-check-input" type="radio" name="grpYESNO" id="rdbPayeeNo" value="no">
                            <label class="form-check-label" for="radio">
                                No
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="form-group col-md-12">
                        <div class="form-group" id="DivForPayeeNo" style="display:none;">
                            <label class="control-label lb-sm">Apply for mutation/ substitution</label>
                            @Html.ActionLink("Open Substitution Form", "Create", "SubstitutionMutationApplicantsDetail", null, new { })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="DivDamagePropertyDocs" style="margin-top:-45px;">
            <h3 class="my-3 d-flex sub-heading"> Upload documents of damage property </h3>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <b style="color:red;"> Note: If you have more than one document, create a single PDF and upload.</b>


            <div class="row mt-md-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        @{ if (Model.ShowCauseNoticePath != null)
                            {

                                <input disabled type="file" asp-for="ShowCauseNotice" class="floating-label-field floating-label-field--s3" placeholder="ShowCauseNotice">
                                <span asp-validation-for="ShowCauseNotice" class="d-block text-danger field-validation-valid"></span>
                                <a class="badge bg-primary px-2" asp-action="DownloadShowCauseNotice" asp-route-id="@Model.Id">
                                    View File - (@Model.ShowCauseNoticePath.Split('\\')?.LastOrDefault()?.Remove(0, 37))
                                </a>
                            }
                            else
                            {
                                <input disabled type="file" asp-for="ShowCauseNotice" class="floating-label-field floating-label-field--s3" placeholder="ShowCauseNotice">
                                <span asp-validation-for="ShowCauseNotice" class="d-block text-danger field-validation-valid"></span>
                            } }
                        <label for="field-1" class="floating-label"> Show Cause Notice(if issued) </label>


                    </div>
                </div>
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">

                        @{ if (Model.FgformPath != null)
                            {

                                <input disabled type="file" asp-for="Fgform" class="floating-label-field floating-label-field--s3" placeholder="Name">
                                <span asp-validation-for="Fgform" class="d-block text-danger field-validation-valid"></span>
                                <a class="badge bg-primary px-2" asp-action="DownloadFgform" asp-route-id="@Model.Id">
                                    View File - (@Model.FgformPath.Split('\\')?.LastOrDefault()?.Remove(0, 37))
                                </a>
                            }
                            else
                            {
                                <input disabled type="file" asp-for="Fgform" class="floating-label-field floating-label-field--s3" placeholder="Name">
                                <span asp-validation-for="Fgform" class="d-block text-danger field-validation-valid"></span>
                                <label for="field-1" class="floating-label"> F /G Form </label> } }
                        <label for="field-1" class="floating-label"> F /G Form </label>


                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="form-group col-md-3">
                    <div class="form-check theme">
                        <input asp-for="IsDocumentFor" class="form-check-input" type="radio" name="Bill" id="HouseBill" checked value="HouseTax Bill">
                        <label class="form-check-label" for="radio">
                            HouseTax Bill
                        </label>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <div class="form-check theme">
                        <input asp-for="IsDocumentFor" class="form-check-input" type="radio" name="Bill" id="ElectricityBill" value="Electricity Bill">
                        <label class="form-check-label" for="radio">
                            Electricity Bill
                        </label>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <div class="form-check theme">
                        <input asp-for="IsDocumentFor" class="form-check-input" type="radio" name="Bill" id="WaterBill" value="Water Bill">
                        <label class="form-check-label" for="radio">
                            Water Bill
                        </label>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <div class="form-check theme">
                        <input asp-for="IsDocumentFor" class="form-check-input" type="radio" name="Bill" id="Other" value=" Any Other">
                        <label class="form-check-label" for="radio">
                            Any Other
                        </label>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">

                        @{ if (Model.DocumentForFilePath != null)
                            {

                                <input disabled type="file" asp-for="DocumentForFile" class="floating-label-field floating-label-field--s3" placeholder="Name">
                                <span asp-validation-for="DocumentForFile" class="d-block text-danger field-validation-valid"></span>
                                <a class="badge bg-primary px-2" asp-action="DownloadBillfile" asp-route-id="@Model.Id">
                                    View File - (@Model.DocumentForFilePath.Split('\\')?.LastOrDefault()?.Remove(0, 37))
                                </a>
                            }
                            else
                            {
                                <input disabled type="file" asp-for="DocumentForFile" class="floating-label-field floating-label-field--s3" placeholder="Name">
                                <span asp-validation-for="DocumentForFile" class="d-block text-danger field-validation-valid"></span>
                            } }
                        <label for="field-1" class="floating-label"> Upload copy of the document selected </label>


                    </div>
                </div>
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">

                        @{ if (Model.WillFilePath != null)
                            {

                                <input disabled type="file" asp-for="WillFile" class="floating-label-field floating-label-field--s3" placeholder="Name">
                                <span asp-validation-for="WillFile" class="d-block text-danger field-validation-valid"></span>
                                <a class="badge bg-primary px-2" asp-action="DownloadWill" asp-route-id="@Model.Id">
                                    View File - (@Model.WillFilePath.Split('\\')?.LastOrDefault()?.Remove(0, 37))
                                </a>
                            }
                            else
                            {
                                <input disabled type="file" asp-for="WillFile" class="floating-label-field floating-label-field--s3" placeholder="Name">
                                <span asp-validation-for="WillFile" class="d-block text-danger field-validation-valid"></span>

                            }
                        }

                        <label for="field-1" class="floating-label">  Registered Will </label>


                    </div>
                </div>

            </div>
            <div class="row mt-md-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">

                        @{ if (Model.GpafilePath != null)
                            {

                                <input disabled type="file" asp-for="GPAFile" class="floating-label-field floating-label-field--s3" placeholder="Name">
                                <span asp-validation-for="GPAFile" class="d-block text-danger field-validation-valid"></span>
                                <a class="badge bg-primary px-2" asp-action="DownloadGPA" asp-route-id="@Model.Id">
                                    View File - (@Model.GpafilePath.Split('\\')?.LastOrDefault()?.Remove(0, 37))
                                </a>
                            }
                            else
                            {
                                <input disabled type="file" asp-for="GPAFile" class="floating-label-field floating-label-field--s3" placeholder="Name">
                                <span asp-validation-for="GPAFile" class="d-block text-danger field-validation-valid"></span>

                            }
                        }
                        <label for="field-1" class="floating-label">  GPA(General Power Attorny If any) </label>

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        @{ if (Model.AtsfilePath != null)
                            {

                                <input disabled type="file" asp-for="ATSFile" class="floating-label-field floating-label-field--s3" placeholder="Name">
                                <span asp-validation-for="ATSFile" class="d-block text-danger field-validation-valid"></span>
                                <a class="badge bg-primary px-2" asp-action="DownloadATS" asp-route-id="@Model.Id">
                                    View File - (@Model.AtsfilePath.Split('\\')?.LastOrDefault()?.Remove(0, 37))
                                </a>
                            }
                            else
                            {
                                <input disabled type="file" asp-for="ATSFile" class="floating-label-field floating-label-field--s3" placeholder="Name">
                                <span asp-validation-for="ATSFile" class="d-block text-danger field-validation-valid"></span>

                            }
                        }
                        <label for="field-1" class="floating-label"> ATS(Agreement To sell) </label>

                    </div>
                </div>
            </div>
            <div class="row mt-md-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">

                        @{ if (Model.MutationFilePath != null)
                            {

                                <input disabled type="file" asp-for="MutationFile" class="floating-label-field floating-label-field--s3" placeholder="Name">
                                <span asp-validation-for="MutationFile" class="d-block text-danger field-validation-valid"></span>
                                <a class="badge bg-primary px-2" asp-action="DownloadMutation" asp-route-id="@Model.Id">
                                    View File - (@Model.MutationFilePath.Split('\\')?.LastOrDefault()?.Remove(0, 37))
                                </a>
                            }
                            else
                            {
                                <input disabled type="file" asp-for="MutationFile" class="floating-label-field floating-label-field--s3" placeholder="Name">
                                <span asp-validation-for="MutationFile" class="d-block text-danger field-validation-valid"></span>

                            }
                        }

                        <label for="field-1" class="floating-label">  Mutation Document </label>


                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input type="hidden" asp-for="DocumentName" />
                        @{
                            @if (Model.DocumentName != null)
                            {
                                <input disabled type="file" asp-for="DocumentIFormFile" class="floating-label-field floating-label-field--s3" accept="application/pdf,  image/png, image/jpeg">
                                <a class="badge bg-primary px-2" asp-action="ViewUploadedDocument" asp-route-id="@Model.Id" target="_blank"> (View File)</a>
                            }
                            else
                            {
                                <input disabled type="file" asp-for="DocumentIFormFile" class="floating-label-field floating-label-field--s3" accept="application/pdf,  image/png, image/jpeg">
                            }
                        }
                        <span class="d-block text-danger field-validation-valid" asp-validation-for="DocumentName"></span>
                        <label class="floating-label"> Other document</label>
                    </div>
                </div>
            </div>
          
        </div>
        <div id="DivMainContentForm">
            <h3 class="my-3 d-flex sub-heading">Payment History</h3>

            <div class="table-section bg-white border shadow rounded">
                <div class="table-responsive">

                    <table class="table table-sm table-bordered mb-0 table-striped" id="tbl_Payment">
                        <thead class="text-nowrap">
                            <tr>
                                <th>Sr.No</th>
                                <th>Payee Name</th>
                                <th>Receipt No.</th>
                                <th>Mode of Payment</th>
                                <th>Date of Payment</th>
                                <th>Amount(Rs.)</th>
                                <th>Upload receipt</th>
                                
                            </tr>
                        </thead>
                        <tbody id="tbl_Payment_body">
                        </tbody>
                        <tbody class="tbody" id="addPayment">
                            <tr id="">
                                <td style="text-align:center;"><span class="sn2">1</span></td>
                                <td>
                                    <input readonly="readonly" asp-for="PaymntName" type="text" class="floating-label-field floating-label-field--s3" />
                                    <span asp-validation-for="PaymntName" class="d-block text-danger field-validation-valid"></span>

                                </td>
                                <td>
                                    <input readonly="readonly" asp-for="RecieptNo" type="text" class="floating-label-field floating-label-field--s3" />
                                    <span asp-validation-for="RecieptNo" class="d-block text-danger field-validation-valid"></span>

                                </td>
                                <td>
                                    <input readonly="readonly" asp-for="PaymentMode" type="text" class="floating-label-field floating-label-field--s3" />
                                    <span asp-validation-for="PaymentMode" class="d-block text-danger field-validation-valid"></span>

                                </td>
                                <td>
                                    <input readonly="readonly" asp-for="PaymentDate" type="date" class="floating-label-field floating-label-field--s3" />
                                    <span asp-validation-for="PaymentDate" class="d-block text-danger field-validation-valid"></span>

                                </td>
                                <td>
                                    <input readonly="readonly" asp-for="Amount" type="text" class="floating-label-field floating-label-field--s3" />
                                    <span asp-validation-for="Amount" class="d-block text-danger field-validation-valid"></span>

                                </td>
                                <td>
                                    <a id="viewReceiptId" asp-action="ViewReceiptFile" class="badge bg-primary px-2" target="_blank" style="display:none;">(View File)</a>
                                    <input type="hidden" asp-for="RecieptFilePath" />
                                    <input disabled asp-for="Reciept" class="floating-label-field floating-label-field--s3" type="file" />
                                    <span asp-validation-for="Reciept" class="d-block text-danger field-validation-valid"></span>

                                </td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-12">
                @Html.ActionLink("Back", "Index", "DamagePayeeRegister", null, new { @class = "btn btn-theme" })
            </div>
        </div>
    </form>

</div>


<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/damagepayeeregisterview.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/damagepayeeregisterview.min.js" asp-append-version="true"></script>
</environment>