@model System.Collections.Generic.IList<Dto.Component.SideNavDto>

@foreach (var menu in Model)
{
    if (menu.Children.Any())
    {
        <li>
            @if (menu.ParentId == 0)
            {
                <a class="no-dec d-flex align-items-center collapsed" data-bs-toggle="collapse" href="#m_@menu.Id" role="button" aria-expanded="false" aria-controls="m_@menu.Id">
                    <i class="main-icon  ri-windy-fill"></i>
                    <span class="text me-auto">@menu.Name</span>
                    <i class="arrow ri-arrow-drop-down-line slow"></i>
                </a>
            }
            else
            {
                <a class="no-dec d-flex align-items-center collapsed" data-bs-toggle="collapse" href="#m_@menu.Id" role="button" aria-expanded="false" aria-controls="m_@menu.Id">
                    <i class="main-icon  ri-windy-fill"></i>
                    <span class="me-auto">@menu.Name</span>
                    <i class="arrow ri-arrow-drop-down-line slow" style="min-width:20px"></i>
                </a>
            }
            @if (menu.ParentId == 0)
            {
                <ul class="collapse sub-menu list-unstyled m-0 p-0" id="m_@menu.Id">
                    <partial name="Components/SideNav/SideNav" model="menu.Children" />
                </ul>
            }
            else
            {
                <ul class="collapse  list-unstyled m-0 p-0" id="m_@menu.Id" style="left: 0">
                    <partial name="Components/SideNav/SideNav" model="menu.Children" />
                </ul>
            }
        </li>
    }
    else
    {
        <li class="nav-item">
            @{
                if (string.IsNullOrEmpty(menu.Url))
                {
                    <a href="javascript:void(0)" class="d-block">@menu.Name</a>
                }
                else if(menu.Url.Contains("."))
                {
                    <input hidden="hidden" id="url" value="@menu.Url" />
                    <a href="#" onclick="return CheckUrl()" class="d-block">@menu.Name</a>
                }
                 else
                {
                    <a href="@menu.Url" class="d-block">@menu.Name</a>
                }
            }
        </li>
    }
}
<script src="~/js/checkurl.js"></script>