@model Libraries.Model.Entity.Extension
@await Component.InvokeAsync("PageHeader", new { pageName = "Lease Extension" })
@{int rowNo = 0; }

<div class="pt-3">
    <form asp-action="Create" enctype="multipart/form-data" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <h3 class="mb-3 d-flex">Add Details</h3>
        <input type="hidden" asp-for="AllotmentId" />
        <input type="hidden" asp-for="LeaseApplicationId" />

        <h3 class="my-3 d-flex sub-heading">Allottee Details</h3>
        <div id="AllotteeHistoryDiv">
            <div class="row mt-md-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap">
                        <input disabled type="text" id="RefNo" class="floating-label-field floating-label-field--s3 " />
                        <span class="text-danger"></span>
                        <label class="floating-label">Reference No.</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input disabled type="text" id="RegisterationNo" class="floating-label-field floating-label-field--s3 " />
                        <span class="text-danger"></span>
                        <label class="floating-label">Registeration No.</label>
                    </div>
                </div>
            </div>
            <div class="row mt-md-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap">
                        <input disabled type="text" id="ContactNo" class="floating-label-field floating-label-field--s3 " />
                        <span class="text-danger"></span>
                        <label class="floating-label">Contact No.</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input disabled type="text" id="EmailId" class="floating-label-field floating-label-field--s3 " />
                        <span class="text-danger"></span>
                        <label class="floating-label">Email-Id</label>
                    </div>
                </div>
            </div>
            <div class="row mt-md-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap">
                        <input disabled type="date" id="AllotmentDate" class="floating-label-field floating-label-field--s3 " />
                        <span class="text-danger"></span>
                        <label class="floating-label">Allotment Date</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input disabled type="text" id="LeasePurpose" class="floating-label-field floating-label-field--s3 " />
                        <span class="text-danger"></span>
                        <label class="floating-label">Lease Purpose</label>
                    </div>
                </div>
            </div>
            <div class="row mt-md-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap">
                        <input disabled type="text" id="LeaseDate" class="floating-label-field floating-label-field--s3 " />
                        <span class="text-danger"></span>
                        <label class="floating-label">Lease Date</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input disabled type="text" id="AllottedArea" class="floating-label-field floating-label-field--s3 " />
                        <span class="text-danger"></span>
                        <label class="floating-label">Total Area</label>
                    </div>
                </div>
            </div>
            <div class="row mt-md-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap">
                        <input disabled type="text" id="PossessionArea" class="floating-label-field floating-label-field--s3 " />
                        <span class="text-danger"></span>
                        <label class="floating-label">Possession Area</label>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="my-3 d-flex sub-heading">Extension Details</h3>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="ExtensionPeriod" type="text" value="" class="floating-label-field floating-label-field--s3 onlynumbers TotalCalculation" />
                    <span asp-validation-for="ExtensionPeriod" class="text-danger"></span>
                    <label class="floating-label">Extension Period (in months)</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input readonly asp-for="ExtentionFees" type="text" class="floating-label-field floating-label-field--s3 numbers" />
                    <span asp-validation-for="ExtentionFees" class="text-danger"></span>
                    <label class="floating-label">Extension Fees(per months in Rs.)</label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input readonly asp-for="TotalAmount" type="text" class="floating-label-field floating-label-field--s3 onlynumbers" />
                    <span asp-validation-for="TotalAmount" class="text-danger"></span>
                    <label class="floating-label">Total Amount(Rs.)</label>
                </div>
            </div>
        </div>

        <div class="row mt-md-3">
            <div class=" col-md-12">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <textarea asp-for="Remarks" placeholder="Address" type="text" limit="4000" class="floating-label-field floating-label-field--s3"></textarea>
                    <span asp-validation-for="Remarks" class="text-danger"></span>
                    <label class="floating-label">Remarks</label>
                </div>
            </div>
        </div>

        <div id="DivDocument">
            <h3 class="my-3 d-flex sub-heading">Document Checklist</h3>
            <div class="table-section bg-white border shadow rounded">
                <div class="table-responsive ">
                    <table class="table table-sm table-bordered mb-0 table-striped">
                        <thead class="text-nowrap">
                            <tr>
                                <th>Document Name</th>
                                <th>Upload Document<span style="color:red;"> (pdf only)</span></th>
                                <th>Mandatory</th>
                            </tr>
                        </thead>
                        <tbody class="tbody">
                            @foreach (var item in Model.Documentchecklist)
                            {
                                <tr>
                                    <td>
                                        @item.Name
                                    </td>
                                    @if (@item.IsMandatory == 1)
                                    {
                                        <td>
                                            <div class="floating-label-wrap mb-3 mb-md-0">
                                                <input asp-for="FileUploaded" type="file" id="@(rowNo += 1)" required class="floating-label-field floating-label-field--s3 " accept="application/pdf" onchange="onDocumentChange(this);" />
                                                <span class="d-block text-danger field-validation-valid"></span>
                                                <div class="invalid-feedback">Please select File</div>

                                                <input type="hidden" asp-for="IsMandatory" value="@(item.IsMandatory)" />
                                                <input type="hidden" asp-for="DocumentChecklistId" value="@(item.Id)" />
                                                <input type="hidden" asp-for="ServiceId" value="@(item.ServiceTypeId)" />
                                            </div>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <div class="floating-label-wrap mb-3 mb-md-0">
                                                <input asp-for="FileUploaded" type="file" class="form-control floating-label-field floating-label-field--s3 " accept="application/pdf" onchange="onDocumentChange(this);" />
                                                <span class="d-block text-danger field-validation-valid"></span>

                                                <input type="hidden" asp-for="IsMandatory" value="@(item.IsMandatory)" />
                                                <input type="hidden" asp-for="DocumentChecklistId" value="@(item.Id)" />
                                                <input type="hidden" asp-for="ServiceId" value="@(item.ServiceTypeId)" />
                                            </div>
                                        </td>
                                    }

                                    <td>
                                        @(item.IsMandatory == 1 ? "Yes" : "No")
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            
        </div>

        <div class="row mt-md-3">
            <div class=" col-md-12">
                <button class="btn btn-theme " type="submit">Create</button>
                @Html.ActionLink("Back", "Index", "ExtensionService", null, new { @class = "btn btn-theme " })
            </div>
        </div>
    </form>
</div>


<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/extensionservicecreate.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/extensionservicecreate.min.js" asp-append-version="true"></script>
</environment>