@model IEnumerable<Libraries.Model.Entity.Landtransfer>
@{int rowNo = 0; }


<div class="card  table-card table-responsive">

    <table class="table table-responsive table-bordered table-card">


        <thead class="thead">

            <tr>
                <th rowspan="2">Sr.No</th>
                <th rowspan="2">Department</th>
                <th rowspan="2">Zone</th>
                <th rowspan="2">Division</th>
                <th rowspan="2">Locality(Village)</th>
                <th rowspan="2">Khasra No.</th>
                <th rowspan="2">Address</th>
                <th rowspan="2"> Handed Over By  </th>
                <th rowspan="2"> Handed Over Date</th>
                <th rowspan="2"> Taken Over By  </th>
                <th rowspan="2"> Taken Over Date  </th>
                <th rowspan="2"> Transfer order Issue Authority</th>
                <th rowspan="2">Remarks </th>
            </tr>

        </thead>
        <tbody class="tbody">
            @if (Model != null && Model.Count() > 0)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@(rowNo += 1)</td>

                        <td>@item.Department.Name</td>
                        <td>@item.Zone.Name</td>
                        <td>@item.Division.Name</td>
                        <td>@item.Locality.Name</td>
                        <td>@item.KhasraNo</td>
                        <td>@item.Address</td>
                        <td>@item.HandedOverByNameDesingnation</td>

                        <td>@item.HandedOverDate</td>
                        <td>@item.TakenOverByNameDesingnation</td>
                        <td>@item.DateofTakenOver</td>

                        <td>@item.TransferorderIssueAuthority/td>
                        <td>@item.Remarks</td>
                        @*asp-action="View" asp-route-id="@item.Id"*@
                        @*<td>
                        <a style="text-decoration:none;" asp-action="Restore" asp-route-id="@item.Id" title="restore">  <input type="submit" value="Restore" class="btn dda-pageheading" /></a>

                    </td>*@
                    </tr>
                }
            }
            else
            {
                <tr>
                    <th colspan="13" style="text-align:center"> Data Not Available </th>
                </tr>
            }

        </tbody>

    </table>

</div>
