@model Libraries.Repository.Common.PagedResult<Libraries.Model.Entity.Extension>
<table class="table table-sm table-bordered mb-0 table-striped">
    <thead class="text-nowrap">
        <tr>

            <th>Reference No.</th>
            <th>Society Name </th>
            <th>Extension Period(per months in Rs.)</th>
            <th>Total Amount(Rs.)</th>
            <th>Total Area(sq. mt.)</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Results.Count() > 0)
        {
            @foreach (var item in Model.Results)
            {
        <tr>
            <td>@(item.Allotment == null ? "" : item.Allotment.Application == null ? "" : item.Allotment.Application.RefNo)</td>
            <td>@(item.Allotment == null ? "" : item.Allotment.Application == null ? "" : item.Allotment.Application.Name)</td>
            <td>@(item.ExtensionPeriod == 0 ? "" : item.ExtensionPeriod.ToString())</td>
            <td>@(item.TotalAmount == 0 ? "" : item.TotalAmount.ToString())</td>
            <td>@(item.Allotment == null ? "" : item.Allotment.TotalArea.ToString())</td>
            <td>@(item.ApprovedStatus == 0 ?  "Pending" : "Approved")</td>
            @if (ViewBag.IsApproved == 0)
            {
                <td>

                    <a asp-action="Create" asp-controller="ExtensionApproval" asp-route-id="@item.Id" title="edit" class="edit"><i class="ri-edit-line"></i> </a>

                </td>
            }
            else
            {
                <td>No Action</td>
            }
        </tr>
            }
        }
        else
        {
            <tr>
                <th colspan="14" style="text-align:center"> No Record Available! </th>
            </tr>
        }
    </tbody>
</table>
@await Component.InvokeAsync("Pager", new { totalCount = Model.RowCount, pageNumber = Model.CurrentPage, pageSize = Model.PazeSize })
