@model IEnumerable<Libraries.Model.Entity.Designation>
@{int rowNo = 0; }

<div class="row">
    <div class="col-sm-12">
        <div class="dda-topheading">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;">Designation Master</h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div>
    @Html.ActionLink("Add New", "Create", "Designation", null, new { @class = "btn btn-primary pull-right dda-pageheading", style = "margin-top: -10px;" })
</div>
<br />
<br />
<div class="container-fluid">
    <div class="card  table-card">

        <table class="table table-responsive table-bordered table-card">
            <thead class="thead">
                <tr>
                    <th>Sr.No</th>
                    <th>Designation Name</th>
                    <th>Status</th>
                    <th>
                        Operations
                    </th>

                </tr>


            </thead>
            <tbody class="tbody">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@(rowNo += 1)</td>
                        <td>@item.Name</td>
                        <td>
                            @(item.IsActive  == 1 ? "Active" : "Inactive" )
                        </td>
                        <td>
                            <a asp-action="View" asp-route-id="@item.Id" title="View">  <i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i> </a>
                           
                            <a asp-action="Edit" asp-route-id="@item.Id" title="edit"> &nbsp; | &nbsp;  <i class="glyphicon glyphicon-pencil"  aria-hidden="true"></i> </a>
                           
                            <a asp-action="DeleteConfirmed" asp-route-id="@item.Id" title="delete" onclick="return confirm('Are You Sure, You want to Delete this Record?')">   &nbsp;|&nbsp;<i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
                           
                        </td>

                    </tr>
                }

            </tbody>
        </table>

    </div>
</div>
<br />
<br />



<div class="modal bounceIn animated" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Are you sure, You want to delete<br />Record !!! </h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @Html.ActionLink("Delete ", "DeleteConfirmed", "Designation", new { id = "popupid" }, new { id = "popupid", @class = "actprimary" })
            </div>
        </div>
        <!-- modal-content -->
    </div>
    <!-- modal-dialog -->
</div>

<div class="modal bounceIn animated" id="myModaldelete" tabindex="-1" role="dialog" aria-labelledby="myModaldeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModaldeleteLabel">Deleted Successfully !!! </h4>
            </div>
            <div class="modal-body">
                @Html.ActionLink("Close ", "Index", new { /* id=item.PrimaryKey */ }, new { @class = "btn" })
            </div>
            <div class="modal-footer">
            </div>
        </div>
        <!-- modal-content -->
    </div>
    <!-- modal-dialog -->
</div>

<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/designationindex.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/designationindex.min.js" asp-append-version="true"></script>
</environment>
