
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
<script src="~/js/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js" integrity="sha256-it5nQKHTz+34HijZJQkpNBIHsjpV8b6QzMJs9tmOBSo=" crossorigin="anonymous"></script>
<div class="row">
    <div class="col-sm-12">
        <div class="myapp-hed">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;">Designation Master</h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div>
    @Html.ActionLink("Add New", "Create", "Designation", null, new { @class = "btn btn-primary pull-right myapp-hed1 ", style = "margin-top: -10px;" })
</div>
<br />
<br />
<div class="container-fluid" id="MainContentForm">
    <div class="card  table-card">

        <table class="table table-responsive table-bordered table-card">
            @*<tr class="myapp-hed1">*@
            <thead class="thead">
                <tr>
                    <th>Sr.No</th>
                    <th>Designation Name</th>
                    <th>Status</th>
                    <th>
                        Operations
                    </th>

                </tr>


            </thead>
            <tbody class="tbody">
                <tr>
                        <td></td>
                        <td></td>
                        <td>
                        </td>
                        <td> <i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i> 
                            @*<i class="glyphicon glyphicon-eye-open icon-white cl1"></i>*@ &nbsp; | &nbsp;  <i class="fa fa-pencil" aria-hidden="true"></i> 
                            @*<text>
            @Html.ActionLink(" ", "DeleteConfirmed", "Designation", new { TenderID = item.DesignationId }, new { name = "deletepopup", @class = "fa fa-trash", style = "color:#326661", data_original_title = "Delete Plot Data", data_placement = "top", data_toggle = "tooltip" })
        </text>*@   &nbsp;|&nbsp;<i class="fa fa-trash" aria-hidden="true"></i>
                            @*<a asp-route-id="@item.DesignationId" title="delete" onclick="DeleteData(@item.DesignationId)">   &nbsp;|&nbsp;<i class="fa fa-trash" aria-hidden="true"></i></a>*@
                        </td>

                    </tr>
             

            </tbody>
        </table>

    </div>
</div>
<br />
<br />



<div class="modal bounceIn animated" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Are you sure, You want to delete<br />Record !!! </h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @*<a asp-action="DeleteConfirmed" asp-route-id="popupid" title="delete" class="btn btn-primary myapp-hed1">Delete</a>*@
                @Html.ActionLink("Delete ", "DeleteConfirmed", "Designation",new { id = "popupid" }, new { id = "popupid", @class = "actprimary" })
            </div>
        </div>
        <!-- modal-content -->
    </div>
    <!-- modal-dialog -->
</div>

<div class="modal bounceIn animated" id="myModaldelete" tabindex="-1" role="dialog" aria-labelledby="myModaldeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModaldeleteLabel">Deleted Successfully !!! </h4>
            </div>
            <div class="modal-body">
                @Html.ActionLink("Close ", "Index", new { /* id=item.PrimaryKey */ }, new { @class = "btn" })
            </div>
            <div class="modal-footer">
            </div>
        </div>
        <!-- modal-content -->
    </div>
    <!-- modal-dialog -->
</div>


