@*@model Libraries.Model.Entity.PageRoleMaster*@


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js" integrity="sha256-it5nQKHTz+34HijZJQkpNBIHsjpV8b6QzMJs9tmOBSo=" crossorigin="anonymous"></script>
<div class="row">
    <div class="col-sm-12">
        <div class="myapp-hed">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;">Page Role Master</h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div>
    @Html.ActionLink("Add New", "Create", "PageRoleMaster", null, new { @class = "btn btn-primary pull-right myapp-hed1 ", style = "margin-top: -10px;  width:auto;" })
</div>
<br />
<br />
<div class="container-fluid">
    <div class="panel-group">
        <div class="panel">
            <div class="panel-heading  myapp-hed1">
                <h6 class="pull-left" style="color:white; margin-top:-0.4%">Type of Page Role</h6>
            </div>
            <div class="panel-body">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="radio-inline">
                            <input type="radio" name="grpRoleFor" id="rRoleWise" checked>Role wise
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="grpRoleFor" id="rUserWise">User wise
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" id="DivForRoleWise" style="display:none">
    <div class="panel-group">
        <div class="panel">
            <div class="panel-heading  myapp-hed1">
                <h6 class="pull-left" style="color:white; margin-top:-0.4%">Role wise Page Rights</h6>
            </div>
            <div class="panel-body">
                <form asp-action="Create" asp-controller="PageRoleMaster">
                    <div class="form-row">
                        <div class="form-group col-md-10">
                            <label class="control-label">Select Role Name:</label>
                            <select id="RoleId" required="" class="form-control">
                                <option value="0">Select</option>
                                <option value="1">Admin</option>
                                <option value="1">User</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-12 col-md-12">
                            <div id="searchResults">
                                @*@Html.PartialAsync("_AssignePageToRole")*@

                                <table class="table table-bordered table-striped table-primary hover text-center" id="datatablelist">
                                    <thead>
                                        <tr>
                                            <th rowspan="2" class="text-center ">
                                                Sr.No.
                                            </th>
                                            <th rowspan="2" class="text-center ">
                                                Page Role Status <br />
                                                <input type="checkbox" id="selectall_role" />
                                            </th>
                                            <th rowspan="2" class="text-center">
                                                Menu Master
                                            </th>
                                            <th rowspan="2" class="text-center" style="border: 1px solid #ffffff;">
                                                Page Name
                                            </th>
                                            <th colspan="4" class="text-center">Rights</th>

                                        </tr>
                                        <tr>
                                            <th class="text-center">
                                                Add<br />
                                                <input type="checkbox" id="selectall_add" />
                                            </th>
                                            <th class="text-center">
                                                Edit Update<br />
                                                <input type="checkbox" id="selectall_editUpdate" />
                                            </th>
                                            <th class="text-center">
                                                Delete<br />
                                                <input type="checkbox" id="selectall_delete" />
                                            </th>
                                            <th class="text-center">
                                                View<br />
                                                <input type="checkbox" id="selectall_view" />
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="tbody">

                                        <tr>
                                            <td>
                                                1
                                            </td>
                                            <td>
                                                Admin
                                            </td>
                                            <td>
                                                New Land Acquisition Module
                                            </td>
                                            <td>
                                                Request From Planning Department To CLM
                                            </td>
                                            <td>
                                                <input type="checkbox" class="checkbox_add" />

                                            </td>
                                            <td>
                                                <input type="checkbox" class="checkbox_editUpdate" />

                                            </td>
                                            <td>
                                                <input type="checkbox" class="checkbox_delete" />

                                            </td>
                                            <td>
                                                <input type="checkbox" class="checkbox_view" />

                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                2
                                            </td>
                                            <td>
                                                Admin
                                            </td>
                                            <td>
                                                New Land Acquisition Module
                                            </td>
                                            <td>
                                                Request From Planning Department To CLM Approval Process
                                            </td>
                                            <td>
                                                <input type="checkbox" class="checkbox_add" />

                                            </td>
                                            <td>
                                                <input type="checkbox" class="checkbox_editUpdate" />

                                            </td>
                                            <td>
                                                <input type="checkbox" class="checkbox_delete" />

                                            </td>
                                            <td>
                                                <input type="checkbox" class="checkbox_view" />

                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                3
                                            </td>
                                            <td>
                                                Admin
                                            </td>
                                            <td>
                                                New Land Acquisition Module
                                            </td>
                                            <td>
                                                Identification Of Land - Annexure I
                                            </td>
                                            <td>
                                                <input type="checkbox" class="checkbox_add" />

                                            </td>
                                            <td>
                                                <input type="checkbox" class="checkbox_editUpdate" />

                                            </td>
                                            <td>
                                                <input type="checkbox" class="checkbox_delete" />

                                            </td>
                                            <td>
                                                <input type="checkbox" class="checkbox_view" />

                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                4
                                            </td>
                                            <td>
                                                Admin
                                            </td>
                                            <td>
                                                Acquired Land Information Management Module
                                            </td>
                                            <td>
                                                Village Master
                                            </td>
                                            <td>
                                                <input type="checkbox" class="checkbox_add" />

                                            </td>
                                            <td>
                                                <input type="checkbox" class="checkbox_editUpdate" />

                                            </td>
                                            <td>
                                                <input type="checkbox" class="checkbox_delete" />

                                            </td>
                                            <td>
                                                <input type="checkbox" class="checkbox_view" />

                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                5
                                            </td>
                                            <td>
                                                Admin
                                            </td>
                                            <td>
                                                Acquired Land Information Management Module
                                            </td>
                                            <td>
                                                Khasra Master
                                            </td>
                                            <td>
                                                <input type="checkbox" class="checkbox_add" />

                                            </td>
                                            <td>
                                                <input type="checkbox" class="checkbox_editUpdate" />

                                            </td>
                                            <td>
                                                <input type="checkbox" class="checkbox_delete" />

                                            </td>
                                            <td>
                                                <input type="checkbox" class="checkbox_view" />

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<link href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>




<script src="~/js/pagerolemasterindex.js"></script>

































@*<div class="container-fluid" id="DivForRoleWise" style="display:none">
        <div class="panel-group">
            <div class="panel">
                <div class="panel-heading  myapp-hed1">
                    <h6 class="pull-left" style="color:white; margin-top:-0.4%">Role wise Page Rights</h6>
                </div>
                <div class="panel-body">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="form-group">Select Role</label>
                            @if (ViewBag.Roleid != null)
                            {
                                <select id="RoleId" required="" onchange="SelectedIndexChanged()" style="height:30px; background-color: #dddddd;" class="form-control" asp-items="@(new SelectList(@ViewBag.Roleid, "Roleid", "RoleName"));">
                                    <option value=""> -Select Role-</option>
                                </select>
                            }
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <form asp-action="Index" asp-controller="PageRoleMaster">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-row">
                            <table id="tblrolewise" class="a table table-responsive table-bordered table-card">
                                <thead class="thead">
                                    <tr>
                                        <th>Sr.No</th>
                                        <th>Page Role Status</th>
                                        <th>Zone/District</th>
                                        <th>Module Name</th>
                                        <th>Page Name</th>
                                        <th colspan="4" style="text-align:center">Rights</th>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th>Add<br /><input type="checkbox" /></th>
                                        <th>Edit/Update<br /><input type="checkbox" /></th>
                                        <th>Delete<br /><input type="checkbox" /></th>
                                        <th>View<br /><input type="checkbox" /></th>
                                    </tr>
                                </thead>
                                <tbody class="tbody" id="tbodyrole">
                                </tbody>

                            </table>
                        </div>
                        <br />
                        <div class="form-row ">
                            <div class="form-group col-md-12" style="margin-bottom:40px;">
                                <input type="submit" value="Create" class="btn btn-primary myapp-hed1" />
                                <a asp-action="Index" class="btn btn-primary myapp-hed1">Back</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="DivforUserWise" style="display:none">
        <div class="panel-group">
            <div class="panel">
                <div class="panel-heading  myapp-hed1">
                    <h6 class="pull-left" style="color:white; margin-top:-0.4%">Userwise Page Role </h6>
                </div>
                <div class="panel-body">
                    <form asp-action="Index" asp-controller="PageRoleMaster">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-row">
                            <table class="a table table-responsive table-bordered table-card">
                                <thead class="thead">
                                    <tr>
                                        <th>Sr.No</th>
                                        <th>Page Role Status</th>
                                        <th>Zone/District</th>
                                        <th>Module Name</th>
                                        <th>Page Name</th>
                                        <th colspan="4" style="text-align:center">Writes</th>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th>Add<br /><input type="checkbox" /></th>
                                        <th>Edit/Update<br /><input type="checkbox" /></th>
                                        <th>Delete<br /><input type="checkbox" /></th>
                                        <th>View<br /><input type="checkbox" /></th>
                                    </tr>
                                </thead>
                                <tbody class="tbody">
                                        @foreach (var item in Model)
                                        {
                                            @if (item.IsActive == 1) { }
                                            <tr>
                                                <td>
                                                    @(rowid += 1)
                                                    @Html.HiddenFor(modelItem => item.PageRoleId)
                                                </td>
                                                <td>
                                                    @item.Role.RoleName
                                                </td>
                                                <td>
                                                    @item.Zone.DistrictName
                                                </td>
                                                <td>
                                                    @item.User.LoginName
                                                </td>
                                                <td>
                                                    @(item.IsActive == 1 ? "Active" : "InActive")
                                                </td>

                                                <td>
                                                    <input type="checkbox" />

                                                </td>
                                                <td>
                                                    <input type="checkbox" />

                                                </td>
                                                <td>
                                                    <input type="checkbox" />

                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                <tbody class="tbody">
                                    <tr>
                                        <td>
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                        </td>

                                        <td>
                                            <input type="checkbox" />

                                        </td>
                                        <td>
                                            <input type="checkbox" />

                                        </td>
                                        <td>
                                            <input type="checkbox" />

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br />
                        <div class="form-row ">
                            <div class="form-group col-md-12" style="margin-bottom:40px;">
                                <input type="submit" value="Create" class="btn btn-primary myapp-hed1" />
                                <a asp-action="Index" class="btn btn-primary myapp-hed1">Back</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>*@