@model Libraries.Model.Entity.Enchroachment
@await Component.InvokeAsync("PageHeader", new { pageName = "Enchroachment Details" })

<div class="pt-3">



    <form asp-action="Create" method="post" disabled="disabled" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <h3 class="mb-3 d-flex">Add Details</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="VillageId" asp-items="@(new SelectList(Model.VillageList, "Id","Name"))">
                        <option>Select</option>
                    </select>
                    <span asp-validation-for="VillageId" class="text-danger"></span>
                    <label class="floating-label" asp-for="VillageId">Village Name</label>

                </div>
            </div>
            <div class="col-md-6">

                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="KhasraId" asp-items="@(new SelectList(Model.KhasraList, "Id","Name"))">
                        <option>Select</option>
                    </select>
                    <span asp-validation-for="KhasraId" class="text-danger"></span>
                    <label class="floating-label" asp-for="KhasraId">KhasraId Name</label>

                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="LandUse">
                        <option value="Yes"> Yes</option>
                        <option value="No"> No</option>
                    </select>
                    <span asp-validation-for="LandUse" class="text-danger"></span>
                    <label class="floating-label" asp-for="LandUse">LandUse</label>

                </div>
            </div>
            <div class="col-md-6">

                <div class="floating-label-wrap">
                    <input asp-for="DateofDetection" type="date" class="floating-label-field floating-label-field--s3 " placeholder="Name">

                    <span asp-validation-for="DateofDetection" class="text-danger"></span>
                    <label asp-for="DateofDetection" class="floating-label">DateofDetection </label>
                </div>


            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                @*<h4 class="pull-left" >Area Encroached</h4>*@

                <div class="floating-label-wrap">
                    <input asp-for="Bigha" type="text" class="floating-label-field floating-label-field--s3 " placeholder="Name" limit="200">

                    <span asp-validation-for="Bigha" class="text-danger"></span>
                    <label asp-for="Bigha" class="floating-label">Bigha </label>

                </div>
                <div class="floating-label-wrap">
                    <input asp-for="Biswa" type="text" class="floating-label-field floating-label-field--s3 " placeholder="Name" limit="200">

                    <span asp-validation-for="Biswa" class="text-danger"></span>
                    <label asp-for="Biswa" class="floating-label">Biswa </label>

                </div>
            </div>
            <div class=" col-md-6">

                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="NatureofencroachmentId" asp-items="@(new SelectList(Model.NencroachmentList, "Id","Name"))">
                        <option>Select</option>
                    </select>
                    <span asp-validation-for="NatureofencroachmentId" class="text-danger"></span>
                    <label asp-for="NatureofencroachmentId" class="floating-label">Nature Of Encroachment </label>

                </div>

            </div>

        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <input asp-for="FileNo" type="text" id="txtFileNo" class="floating-label-field floating-label-field--s3 " placeholder="Name" limit="200">

                    <span asp-validation-for="FileNo" class="text-danger"></span>
                    <label asp-for="FileNo" class="floating-label">Reference No / FileNo </label>

                </div>
            </div>
            <div class=" col-md-6">

                <div class="floating-label-wrap">
                    @*<input asp-for="ActionTaken" type="radio" id="ActionYes" value="Yes" name="grpAction">Yes
                        <input asp-for="ActionTaken" type="radio" id="ActionNo" value="No" name="grpAction">No
                        <span asp-validation-for="ActionTaken" class="text-danger"></span>
                        <label asp-for="ActionTaken" class="floating-label">Action Taken </label>*@
                </div>

            </div>

        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <input asp-for="ActionDate" type="date" class="floating-label-field floating-label-field--s3 " placeholder="Name" limit="200">

                    <span asp-validation-for="ActionDate" class="text-danger"></span>
                    <label asp-for="ActionDate" class="floating-label">ActionDate </label>

                </div>

            </div>
            <div class=" col-md-6">

                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="ReasonsId" asp-items="@(new SelectList(Model.NencroachmentList, "Id","Name"))">
                        <option>Select</option>
                    </select>
                    <span asp-validation-for="ReasonsId" class="text-danger"></span>
                    <label asp-for="ReasonsId" class="floating-label">Reason </label>

                </div>

            </div>

        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <input type="hidden" asp-for="DamageArea" id="DamageArea" value="Yes" />
                <label class="control-label lb-sm" asp-for="DamageArea">Damage Area</label>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label class="radio-inline  ">
                            <input type="radio" id="Dyes" asp-for="DamageArea" value="Yes" name="grpDamageArea" checked="checked" />Yes
                        </label>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="radio-inline ">
                            <input type="radio" id="DNo" asp-for="DamageArea" value="No" name="grpDamageArea" />No

                            <span asp-validation-for="DamageArea" class="text-danger"></span>

                    </div>

                </div>
                <div class=" col-md-6">

                    <div class="floating-label-wrap">

                    </div>

                </div>

            </div>
        </div>
        <div class="row mt-md-3">
            <label class="control-label lb-sm">Remarks</label>
            <textarea type="text" asp-for="ActionRemarks" class="form-control" style=" background-color: #dddddd;"></textarea>

        </div>



        <div class="row mt-md-3">
            <div class=" col-md-12">
                <button class="btn btn-theme " type="submit">Create</button>
                @Html.ActionLink("Back", "Index", "EnchroachmentDetails", null, new { @class = "btn btn-theme " })

            </div>
        </div>


    </form>

    @*<div id="Divclsification">

            <h2 class="my-3 sub-heading">Name Encrocher</h2>
            <div class="row pt-3">
                <div class="col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">

                        <input id="NameE" placeholder="Bigha" class="floating-label-field floating-label-field--s3" />
                        <span class="text-danger"></span>

                        <label class="floating-label">Name</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input id="AddressE" placeholder="Biswa" class="floating-label-field floating-label-field--s3" />
                        <span class="text-danger"></span>
                        <label class="floating-label">Address</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <button class="btn btn-theme " type="submit" id="btnAddEName">Add</button>

                    </div>
                </div>
            </div>
            <div id="divEncrocherNameDetails">

            </div>
        </div>*@

</div>

<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/enchorchernamecreate.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/enchorchernamecreate.min.js" asp-append-version="true"></script>
</environment>

