
@model Libraries.Model.Entity.Enchroachment



<div class="row">
    <div class="col-sm-12">
        <div class="dda-topheading">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;">Encroachment Details Form</h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />

<br />
<div class="container-fluid">
    <div class="panel">
        <div class="panel-heading dda-pageheading">
            <h6 class="pull-left" style="color:white; margin-top:-0.4%">View Details </h6>
        </div>
        <div class="panel-body">
            <form asp-action="View">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div id="DivSection">
                    <div class="row" style="margin-bottom:35px;">
                        <div class="col-sm-12">
                            <div class="dda-innerheading">
                                <div class="col-md-12">
                                    <h6 class="pull-left" style="color:white;margin-top:5px;">Encroachment Details</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Village Name</label>
                        <select class="form-control dda-dropdown" asp-for="VillageId" asp-items="@(new SelectList(Model.VillageList, "Id","Name"))">
                            <option>Select</option>
                        </select>
                        <span asp-validation-for="VillageId" class="text-danger"></span>

                    </div>

                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Khasra No</label>
                        <select class="form-control dda-dropdown" asp-for="KhasraId" asp-items="@(new SelectList(Model.KhasraList, "Id","Name"))">
                            <option>Select</option>
                        </select>
                        <span asp-validation-for="KhasraId" class="text-danger"></span>

                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Land Use(As Per Plan)</label>
                        <select style="height:30px; background-color: #dddddd;" asp-for="LandUse" id="" required="" class="form-control">
                            <option value="0">Yes</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Date Of Detection</label>
                        <input type="Date" asp-for="DateofDetection" class="form-control" />
                    </div>
                </div>
                <div id="DivArea">
                    <div class="row" style="margin-bottom:35px;">
                        <div class="col-sm-12">
                            <div class="dda-innerheading">
                                <div class="col-md-12">
                                    <h6 class="pull-left" style="color:white;margin-top:5px;">Area Encroached</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label class="control-label lb-sm">Bigha</label>

                            <input type="text" asp-for="Bigha" class="form-control" />

                        </div>

                        <div class="form-group col-md-4">

                            <label class="control-label lb-sm">Biswa</label>

                            <input type="text" asp-for="Biswa" class="form-control" />
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label lb-sm">Biswanshi</label>
                            <input type="text" asp-for="Biswanshi" class="form-control" placeholder="0" />
                        </div>
                    </div>
                    @*<div id="DivNotificationTaken">
                        <div class="row" style="margin-bottom:35px;">
                            <div class="col-sm-12">
                                <div class=" myapp-hed2">
                                    <div class="col-md-12">
                                        <h6 class="pull-left" style="color:white;margin-top:5px;">Notification Taken</h6>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label class="control-label lb-sm">Nature Of Encroachment</label>
                            <select class="form-control dda-dropdown" asp-for="NatureofencroachmentId" asp-items="@(new SelectList(Model.NencroachmentList, "Id","Name"))">
                                <option>Select</option>
                            </select>
                            <span asp-validation-for="NatureofencroachmentId" class="text-danger"></span>


                        </div>
                        @*<div id="DivNotificationTaken">
                            <div class="row" style="margin-bottom:35px;">
                                <div class="col-sm-12">
                                    <div class=" myapp-hed2">
                                        <div class="col-md-12">
                                            <h6 class="pull-left" style="color:white;margin-top:5px;">Notification Taken</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                        <div class="form-group col-md-4">

                            <label class="control-label lb-sm">Reference No/File No</label>
                            <input type="Text" asp-for="FileNo" class="form-control" />
                        </div>
                    </div>
                    <div id="DivNotificationTaken">
                        <div class="row" style="margin-bottom:35px;">
                            <div class="col-sm-12">
                                <div class="dda-innerheading">
                                    <div class="col-md-12">
                                        <h6 class="pull-left" style="color:white;margin-top:5px;">Action Taken</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label class="control-label lb-sm">Action Date</label>
                                <input type="Date" class="form-control" asp-for="ActionDate" />
                            </div>

                            <div class="form-group col-md-4">
                                <label class="control-label lb-sm">Reasons</label>
                                <select class="form-control dda-dropdown" asp-for="ReasonsId" asp-items="@(new SelectList(Model.ReasonsList, "Id","Name"))">
                                    <option>Select</option>
                                </select>
                                <span asp-validation-for="ReasonsId" class="text-danger"></span>

                            </div>
                            <br />
                            <div class="form-group col-md-4">
                                <label class="control-label lb-sm">Damage Area</label>
                                <label class="radio-inline">
                                    <input type="radio" asp-for="DamageArea" value="Yes" />Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" asp-for="DamageArea" value="No" />No
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label class="control-label lb-sm">Remarks</label>
                            <textarea type="text" asp-for="ActionRemarks" class="form-control" style=" background-color: #dddddd;"></textarea>
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:35px;">
                        <div class="col-sm-12">
                            <div class="dda-innerheading">
                                <div class="col-md-12">
                                    <h6 class="pull-left" style="color:white;margin-top:5px;">Name Encroacher</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Name</label>
                            <input type="text" asp-for="Name" class="form-control" />
                        </div>

                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Address</label>
                            <input type="text" asp-for="Address" class="form-control" />
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:35px;">
                        <div class="col-sm-12">
                            <div class="dda-innerheading">
                                <div class="col-md-12">
                                    <h6 class="pull-left" style="color:white;margin-top:5px;">Payment Details</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Payment</label>
                            <input type="text" asp-for="Payment" class="form-control" />
                        </div>

                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Address</label>
                            <input type="text" asp-for="PaymentAddress" class="form-control">
                        </div>
                    </div>


                    <div class="form-row ">
                        <div class="form-group col-md-12" style="margin-bottom:40px;">
                              @*<input type="submit" value="Back" class="btn btn-primary myapp-hed1" />*@
                            @Html.ActionLink("Back", "Index", "EncroachmentDetails", null, new { @class = "btn btn-primary dda-pageheading" })
                        </div>
                    </div>

            </form>
        </div>
    </div>
</div>




