@model Libraries.Model.Entity.Enchroachment
@await Component.InvokeAsync("PageHeader", new { pageName = "Encroachment Details" })

<div class="pt-3">



    <form asp-action="View" method="post" disabled="disabled" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <input type="hidden" asp-for="Id" />
        <h3 class="mb-3 d-flex">Add Details</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="VillageId" asp-items="@(new SelectList(Model.VillageList, "Id","Name"))">
                        <option disabled="disabled">Select</option>
                    </select>
                    <span asp-validation-for="VillageId" class="text-danger"></span>
                    <label class="floating-label" asp-for="VillageId">Village Name</label>

                </div>
            </div>
            <div class="col-md-6">

                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="KhasraId" asp-items="@(new SelectList(Model.KhasraList, "Id","Name"))">
                        <option disabled="disabled">Select</option>
                    </select>
                    <span asp-validation-for="KhasraId" class="text-danger"></span>
                    <label class="floating-label" asp-for="KhasraId">KhasraId Name</label>

                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    @*<select class="floating-label-field floating-label-field--s3" asp-for="LandUse">
            <option value="Yes"> Yes</option>
            <option value="No"> No</option>
        </select>*@
                    <input asp-for="LandUse" type="text" class="floating-label-field floating-label-field--s3 " placeholder="Name">
                    <span asp-validation-for="LandUse" class="text-danger"></span>
                    <label class="floating-label" asp-for="LandUse">LandUse</label>

                </div>
            </div>
            <div class="col-md-6">

                <div class="floating-label-wrap">
                    <input asp-for="DateofDetection" type="date" class="floating-label-field floating-label-field--s3 " placeholder="Name">

                    <span asp-validation-for="DateofDetection" class="text-danger"></span>
                    <label asp-for="DateofDetection" class="floating-label">DateofDetection </label>
                </div>


            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                @*<h4 class="pull-left" >Area Encroached</h4>*@

                <div class="floating-label-wrap">
                    <input asp-for="Bigha" type="text" class="floating-label-field floating-label-field--s3 " placeholder="Name" limit="200">

                    <span asp-validation-for="Bigha" class="text-danger"></span>
                    <label asp-for="Bigha" class="floating-label">Bigha </label>

                </div>
                <div class="floating-label-wrap">
                    <input asp-for="Biswa" type="text" class="floating-label-field floating-label-field--s3 " placeholder="Name" limit="200">

                    <span asp-validation-for="Biswa" class="text-danger"></span>
                    <label asp-for="Biswa" class="floating-label">Biswa </label>

                </div>
            </div>
            <div class=" col-md-6">

                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="NatureofencroachmentId" asp-items="@(new SelectList(Model.NencroachmentList, "Id","Name"))">
                        <option disabled="disabled">Select</option>
                    </select>
                    <span asp-validation-for="NatureofencroachmentId" class="text-danger"></span>
                    <label asp-for="NatureofencroachmentId" class="floating-label">Nature Of Encroachment </label>

                </div>

            </div>

        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <input asp-for="FileNo" type="text" id="txtFileNo" class="floating-label-field floating-label-field--s3 " placeholder="Name" limit="200">

                    <span asp-validation-for="FileNo" class="text-danger"></span>
                    <label asp-for="FileNo" class="floating-label">Reference No / FileNo </label>

                </div>
            </div>
            <div class=" col-md-6">

                <div class="floating-label-wrap">
                    @*<input asp-for="ActionTaken" type="radio" id="ActionYes" value="Yes" name="grpAction">Yes
                        <input asp-for="ActionTaken" type="radio" id="ActionNo" value="No" name="grpAction">No
                        <span asp-validation-for="ActionTaken" class="text-danger"></span>
                        <label asp-for="ActionTaken" class="floating-label">Action Taken </label>*@
                </div>

            </div>

        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <input asp-for="ActionDate" type="date" class="floating-label-field floating-label-field--s3 " placeholder="Name" limit="200">

                    <span asp-validation-for="ActionDate" class="text-danger"></span>
                    <label asp-for="ActionDate" class="floating-label">ActionDate </label>

                </div>

            </div>
            <div class=" col-md-6">

                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="ReasonsId" asp-items="@(new SelectList(Model.NencroachmentList, "Id","Name"))">
                        <option disabled="disabled">Select</option>
                    </select>
                    <span asp-validation-for="ReasonsId" class="text-danger"></span>
                    <label asp-for="ReasonsId" class="floating-label">Reason </label>

                </div>

            </div>

        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <input type="hidden" asp-for="DamageArea" id="DamageArea" value="Yes" />
                <label class="control-label lb-sm" asp-for="DamageArea">Damage Area</label>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label class="radio-inline  ">
                            <input type="radio" id="Dyes" asp-for="DamageArea" value="Yes" name="grpDamageArea" checked="checked" />Yes
                        </label>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="radio-inline ">
                            <input type="radio" id="DNo" asp-for="DamageArea" value="No" name="grpDamageArea" />No

                            <span asp-validation-for="DamageArea" class="text-danger"></span>

                    </div>

                </div>
                <div class=" col-md-6">

                    <div class="floating-label-wrap">

                    </div>

                </div>

            </div>
        </div>
        <h3 class="my-3 d-flex sub-heading pt-4"> Name Encroacher Details </h3>
        <div class="table-section bg-white border shadow rounded">
            <div class="table-responsive">
                <table class="table table-sm table-bordered mb-0 table-striped" id="tbl_posts">
                    <thead class="text-nowrap">

                        <tr>
                            <th>Sr.No</th>
                            <th> Name</th>
                            <th>Address</th>

                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="tbl_posts_body">
                    </tbody>
                    <tbody class="tbody" id="add">
                        <tr id="">
                            <td style="text-align:center;"><span class="sn">1</span></td>
                            <td>
                                <input asp-for="EName" type="text" class="floating-label-field floating-label-field--s3" />
                                <span asp-validation-for="EName" class="d-block text-danger field-validation-valid msg"></span>
                            </td>
                            <td>
                                <input asp-for="EAddress" type="text" class="floating-label-field floating-label-field--s3" />
                                <span asp-validation-for="EAddress" class="d-block text-danger field-validation-valid"></span>
                            </td>


                            <td>
                                @*<div class="action-btns">
                                        <a class="remove delete-record " title="delete" data-id="0" style="display:none;font-size:30px;"><i class="ri-delete-bin-fill"></i></a>
                                        <a class="view add-record" data-added="0" title="Add" style="font-size:30px;"><i class="ri-add-circle-fill"></i></a>
                                    </div>*@
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <h3 class="my-3 d-flex sub-heading pt-4"> Payment Details</h3>
        <div class="table-section bg-white border shadow rounded">
            <div class="table-responsive">
                <table class="table table-sm table-bordered mb-0 table-striped" id="tbl_posts1">
                    <thead class="text-nowrap">

                        <tr>
                            <th>Sr.No</th>
                            <th>Amount</th>
                            <th>Cheque Number</th>
                            <th>Cheque Date</th>

                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="tbl_posts1_body">
                    </tbody>
                    <tbody class="tbody" id="add1">
                        <tr id="">
                            <td style="text-align:center;"><span class="sn1">1</span></td>
                            <td>
                                <input asp-for="Amount" type="text" class="floating-label-field floating-label-field--s3 Namecheck" />
                                <span asp-validation-for="Amount" class="d-block text-danger field-validation-valid msg"></span>
                            </td>
                            <td>
                                <input asp-for="ChequeNo" type="text" class="floating-label-field floating-label-field--s3" />
                                <span asp-validation-for="ChequeNo" class="d-block text-danger field-validation-valid"></span>

                            </td>
                            <td>
                                <input asp-for="ChequeDate" type="text" class="floating-label-field floating-label-field--s3 NoCheck" />
                                <span asp-validation-for="ChequeDate" class="d-block text-danger field-validation-valid msg2"></span>

                            </td>

                            <td>
                                @*<div class="action-btns">
                                        <a class="remove delete-record1 " title="delete" data-id="0" style="display:none;font-size:30px;"><i class="ri-delete-bin-fill"></i></a>
                                        <a class="view add-record1" data-added="0" title="Add" style="font-size:30px;"><i class="ri-add-circle-fill"></i></a>
                                    </div>*@
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>
        <div class="row mt-md-3">
            <label class="control-label lb-sm">Remarks</label>
            <textarea type="text" asp-for="ActionRemarks" class="form-control" style=" background-color: #dddddd;"></textarea>

        </div>



        <div class="row mt-md-3">
            <div class=" col-md-12">

                @Html.ActionLink("Back", "Index", "EncroachmentDetails", null, new { @class = "btn btn-theme " })

            </div>
        </div>


    </form>


</div>

<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/encroachmentedit.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/encroachmentedit.min.js" asp-append-version="true"></script>
</environment>
