@*@model Libraries.Repository.Common.PagedResult<Libraries.Model.Entity.Datastoragedetails>*@
@model IEnumerable<Dto.Search.WeeklyFileReportListDataDto>
@{int rowNo = 0; }
<table class="table table-sm table-bordered mb-0 table-striped">
    <thead class="text-nowrap">
        <tr>

            <th>Department</th>
            <th>Files To Be Done</th>
            <th>Total Files Done</th>
            <th>Weekly Files To Be Done</th>
            <th>Weekly Files Done</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
        <tr>
            <td>@item.DeptName</td>
            <td>@item.FilesToBeDone</td>
            <td>@item.totalFilesDone</td>
            <td>@item.WeeklyToBeDone</td>
            <td>@item.weeklyFilesDone</td>
            
        </tr>
            }
        }
        else
        {
            <tr>
                <th colspan="14" style="text-align:center"> No Record Available! </th>
            </tr>
        }
    </tbody>
</table>
@*@await Component.InvokeAsync("Pager", new { totalCount = Model.RowCount, pageNumber = Model.CurrentPage, pageSize = Model.PazeSize })*@
