@model IEnumerable<Dto.Search.PaymentPremiumListDataDto>

<table class="table table-sm table-bordered mb-0 table-striped">
    <thead class="text-nowrap">
        <tr>

            <th>Payment Type </th>
            <th>From Date</th>
            <th>To Date</th>
            <th>Amount</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @item.LeasePaymentType
                    </td>
                    <td>
                        @(item.FromDate!= null ? Convert.ToDateTime(item.FromDate).ToString("dd-MMM-yyyy") : "Not Available")
                    </td>
                    <td>
                        @(item.ToDate!= null ? Convert.ToDateTime(item.ToDate).ToString("dd-MMM-yyyy") : "Not Available")
                    </td>
                    <td>
                        @item.Amount
                    </td>
                    <td>
                        <button class="btn btn-theme " type="button" onclick="EditDocument(@(item.Id));" style="font-size:.8rem;">Pay Now</button>
                        @*<button class="btn btn-theme " type="button" onclick="EditDocument(@(item.Id));" style="font-size:.8rem;">View History</button>*@
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <th colspan="14" style="text-align:center"> No Record Available! </th>
            </tr>
        }
    </tbody>
</table>

<partial name="../Shared/_ValidationScriptsPartial.cshtml" />

