@model IEnumerable<Libraries.Model.Entity.Zone>
@{int rowNo = 0; }


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-sm-12">
        <div class="myapp-hed">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;">Zone Master</h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div>
    <a asp-action="Create" class="btn btn-primary pull-right myapp-hed1 " style="margin-top: -10px;">Add New</a>
    @*@Html.ActionLink("Add New", "Create", "ZoneMaster", null, new { @class = "btn btn-primary pull-right myapp-hed1 ", style = "margin-top: -10px;" })*@
</div>
<br />
<br />
<div class="container-fluid" id="MainContentForm">
    <div class="card  table-card">

        <table class="table table-responsive table-bordered table-card">

            <thead class="thead">
                <tr class="myapp-hed1">
                    <th>Sr.No</th>
                    <th>Department </th>
                    <th> Zone Name</th>
                    <th> Zone Code</th>
                    <th>Active Status</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody class="tbody">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@(rowNo += 1)</td>
                        <td>@item.DepartmentName</td>
                        <td>@item.Name</td>

                        <td>@item.Code</td>

                        <td>@(item.IsActive == 1 ? "Active" : "InActive")</td>
                        <td>

                            <a asp-action="View" asp-route-id="@item.Id" title="View">  <i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i> </a>
                            <a asp-action="Edit" asp-route-id="@item.Id" title="edit"> &nbsp; | &nbsp;  <i class="fa fa-pencil" aria-hidden="true"></i> </a>
                            <a asp-action="DeleteConfirmed" asp-route-id="@item.Id" title="delete">   &nbsp;|&nbsp;<i class="fa fa-trash" aria-hidden="true"></i></a>
                        </td>

                    </tr>


                }
            </tbody>

        </table>

    </div>
</div>
<br />
<br />


