@model Libraries.Model.Entity.Request
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutApproval.cshtml";
}
<div class="row mt-md-3">
    <div class="col-md-12">
        <div class="col-md-12">
            <h6 class="pull-left" style="color:#007bff;margin-top:5px;">Request Approval Process</h6>
        </div>
    </div>
</div>
<br />
<br />
<form asp-action="Create" class="d-block rounded border p-3 bg-white search-filer shadow mb-3" enctype="multipart/form-data">
    <h3 class="mb-3 d-flex">Details <span style="margin-left:800px"><span style="color:red">*&nbsp;</span>Marked are mandatory fields</span> </h3>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="ReferenceNo" />
    <input type="hidden" id="RevertCode" value="@ViewBag.RevertCodeValue" />
    <input type="hidden" id="ApprovedCode" value="@ViewBag.ApprovedCodeValue" />
    <input type="hidden" id="ForwardCode" value="@ViewBag.ForwardCodeValue" />
    <input type="hidden" id="QueryForwardCode" value="@ViewBag.QueryForwardCodeValue" />
    <input type="hidden" asp-for="ApprovalStatusCode" value="0" />

    <div id="RequestDiv">

    </div>
    <div id="divHistoryDetails">

    </div>
    <div class="row pt-4">
        <div class="col-md-6">
            <div class="floating-label-wrap">
                <select class="floating-label-field floating-label-field--s3" asp-for="ApprovalStatus" asp-items="@(new SelectList(Model.ApprovalStatusList, "Id","Name"))" onchange="return GetApprvoalStatus(this.options[this.selectedIndex].value);">
                    <option selected="selected" disabled="disabled" value="0">--Select-- </option>
                </select>
                <span asp-validation-for="ApprovalStatus" class="text-danger" style="display:none;" id="ApprovalStatusMessage">
                    Status Is Mandatory
                </span>
                <label class="floating-label">Status<span style="color:red">*</span></label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="floating-label-wrap mb-3 mb-md-0">
                <input asp-for="ApprovalDocument" type="file" class="floating-label-field floating-label-field--s3" accept="application/pdf" />
                <label class="floating-label">Document</label>
            </div>
        </div>
    </div>

    <div id="RoleListDiv" style="display:none;">
        <div class="row pt-3">
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="ApprovalRoleId" asp-items="@(new SelectList(ViewBag.Items,"Id","Name"))" onchange="return GetUserList(this.options[this.selectedIndex].value);">
                        <option selected="selected" disabled="disabled" value="0">--Select-- </option>
                    </select>
                    <span asp-validation-for="ApprovalRoleId" class="text-danger" style="display:none;" id="ApprovalRoleIdMessage">
                        Role Is Mandatory
                    </span>
                    <label class="floating-label">Role<span style="color:red">*</span></label>
                </div>
            </div>
        </div>
    </div>
    <div id="UserListDiv" style="display:none;">
        <div class="row pt-3">
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="ApprovalUserId">
                        <option selected="selected" disabled="disabled" value="0">--Select-- </option>
                    </select>
                    <span asp-validation-for="ApprovalUserId" class="text-danger" style="display:none;" id="ApprovalUserIdMessage">User Is Mandatory</span>
                    <label class="floating-label">Users(Username|Role|Zone)<span style="color:red">*</span></label>
                </div>
            </div>
        </div>
    </div>


    <div class="row pt-3">
        <div class="col-md-12">
            <div class="floating-label-wrap mb-3 mb-md-0">
                <textarea asp-for="ApprovalRemarks" type="text" placeholder="Remarks" class="floating-label-field floating-label-field--s3"></textarea>
                <span asp-validation-for="ApprovalRemarks" class="text-danger" style="display:none;" id="ApprovalRemarksMessage">Remarks Is Mandatory</span>
                <label class="floating-label">Remarks<span style="color:red">*</span></label>
            </div>
        </div>
    </div>
    <br />


    @if (ViewBag.userid == 1)
    {
        <a asp-action="Create" asp-route-id="@Model.Id" asp-controller="Newlandannexure1"> Annexure 1 </a>
    }
    else
    {
        <a asp-action="Create" asp-route-id="@Model.Id" asp-controller="Newlandannexure1"> Annexure 1 </a>
    }

    <div class="row pt-3">
        <div class="col-md-12">
            <p id="demo"></p>
            <input type="hidden" asp-for="Id" />

            <a asp-action="Create" asp-route-id="@Model.Id" asp-controller="IdentificationOfLandAnnexure2" id="createlink"></a>
            <a asp-action="View" asp-controller="IdentificationOfLandAnnexure2" id="viewlink"></a>
            <a asp-action="Edit" asp-controller="IdentificationOfLandAnnexure2" id="editlink"></a>


        </div>
    </div>


    <div class="row pt-3">
        <div class="col-md-12">
            <input type="submit" value="Submit" class="btn btn-theme " id="btnCreate" />
            @Html.ActionLink("Back", "Index", "RequestApprovalProcess", null, new { @class = "btn btn-theme " })
        </div>
    </div>
</form>

<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/requestapprovalprocesschange.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/requestapprovalprocesschange.min.js" asp-append-version="true"></script>
</environment>
