@model Libraries.Model.Entity.Requestforproceeding

<div class="permission mt-2 accordion list-unstyled m-0 ">
    <div class="card">
        <a class="p-2 no-dec d-flex align-items-center" data-bs-toggle="collapse" href="#collapseRequestProceeding" role="button" aria-expanded="true"
           aria-controls="collapseRequestProceeding">
            <i class="ri-arrow-right-s-fill"></i>
            <span class="text ms-1 me-auto">View Request Proceeding For Eviction Details </span>
            <i class="arrow ri-arrow-drop-down-line slow"></i>
        </a>
        <div class="list-unstyled m-0 ps-2 pe-1 ps-md-4 pe-md-3 collapse" id="collapseRequestProceeding">
            <div id="allDetails">
                <div class="row mt-md-3">
                    <div class="col-md-6">
                        <div class="floating-label-wrap">
                            <select class="floating-label-field floating-label-field--s3" asp-items="@(new SelectList(Model.CancellationList, "Id","Allotment.Application.RefNo"))" onchange="return GetRelativeData(this.options[this.selectedIndex].value);"
                                    asp-for="CancellationId">
                                <option selected disabled="disabled" value="">---Select---</option>
                            </select>
                            <span asp-validation-for="CancellationId" class="text-danger"></span>
                            <label class="floating-label">File No</label>
                        </div>
                    </div>
                </div>
                <div class="row mt-md-3">
                    <div class="col-md-6">
                        <div class="floating-label-wrap">
                            <input disabled type="text" id="Society_name" class="floating-label-field floating-label-field--s3 " placeholder="Remarks" />
                            <span class="text-danger"></span>
                            <label class="floating-label">Name Of the Society </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input disabled placeholder="Contact No" id="Purpose_name" type="text"
                                   class="floating-label-field floating-label-field--s3" />
                            <span class="text-danger"></span>
                            <label class="floating-label">Use as per allotment letter/Lease Deed  </label>
                        </div>
                    </div>
                </div>
                <div class="row mt-md-3">
                    <div class="col-md-6">
                        <div class="floating-label-wrap">
                            <textarea type="text" asp-for="Subject" class="floating-label-field floating-label-field--s3 " placeholder="Remarks" disabled></textarea>

                            <span class="text-danger"></span>
                            <label class="floating-label">Subject </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input placeholder="Contact No" asp-for="GroundOfViolations" type="text"
                                   class="floating-label-field floating-label-field--s3" disabled />
                            <span class="text-danger"></span>
                            <label class="floating-label">Ground of violations  </label>
                        </div>
                    </div>
                </div>
                <div class="row mt-md-3">
                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input placeholder="Contact No" asp-for="DateOfCancellationofLease" type="date"
                                   class="floating-label-field floating-label-field--s3" disabled />
                            <span class="text-danger"></span>
                            <label class="floating-label">Date of cancellation of lease Deed/Allotment </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="floating-label-wrap">
                            <select class="floating-label-field floating-label-field--s3"
                                    asp-for="HonebleLgOrCommon" asp-items="@(new SelectList(Model.HonbleList, "Id","HonbleName"))">
                                <option selected disabled="disabled" value="">---Select---</option>
                            </select>
                            <span asp-validation-for="HonebleLgOrCommon" class="text-danger"></span>
                            <label asp-for="HonebleLgOrCommon" class="floating-label">Honble</label>
                        </div>
                    </div>
                </div>
                <div class="row mt-md-3">
                    <div class=" col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">

                            <input asp-for="ProceedingEvictionPossession" placeholder="Address" type="text"
                                   class="floating-label-field floating-label-field--s3" disabled />
                            <span class="text-danger"></span>
                            <label class="floating-label">Proceeding for eviction of possession Assessment of damage</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">

                            <input asp-for="CourtCaseifAny" type="text"
                                   class="floating-label-field floating-label-field--s3" disabled />
                            <span class="text-danger"></span>
                            <label class="floating-label">Court case if any   </label>
                        </div>
                    </div>
                </div>

                <div class="row mt-md-3">
                    <div class="col-md-6">
                        <label style="color:#2196F3;font-size:.7rem;">
                            Demand Letter <span style="color:red"> (Only Upload 10 Mb File)</span>
                        </label>
                        <input type="hidden" asp-for="DemandLetter" />
                        <label class="badge bg-primary px-2" id="NoFileDemandLetterId">No File</label>
                        <a id="viewDemandLetterId" asp-action="ViewLetter" asp-route-id="@Model.Id" class="badge bg-primary px-2" target="_blank" style="display:none;">(View File)</a>

                    </div>
                    <div class="col-md-6">
                        <label style="color:#2196F3;font-size:.7rem;">
                            NOC <span style="color:red"> (Only Upload 10 Mb File)</span>
                        </label>
                        <input type="hidden" asp-for="Noc" />
                        <label class="badge bg-primary px-2" id="NoFileNOCId">No File</label>

                    </div>
                </div>


                <div class="row mt-md-3">
                    <div class="col-md-6">
                        <label style="color:#2196F3;font-size:.7rem;">
                            Cancellation Order <span style="color:red"> (Only Upload 10 Mb File)</span>
                        </label>
                        <input type="hidden" asp-for="CancellationOrder" value="" />
                        <label class="badge bg-primary px-2" id="NoFileCancelOrderId">No File</label>
                        <a id="viewCancelOrderId" asp-action="ViewLetter2" asp-route-id="@Model.Id" class="badge bg-primary px-2" target="_blank" style="display:none;">(View File)</a>

                    </div>
                    <div class=" col-md-6">
                        <div class="floating-label-wrap">
                            <select class="floating-label-field floating-label-field--s3" asp-for="IsActive" disabled>
                                <option value="1">Active</option>
                                <option value="0">Inactive</option>
                            </select>
                            <span asp-validation-for="IsActive" class="text-danger"></span>
                            <label asp-for="IsActive" class="floating-label">Status </label>
                        </div>

                    </div>
                </div>

                <div class="row mt-md-3">
                    <div class=" col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input asp-for="LetterReferenceNo" placeholder="Address" type="text" disabled
                                   class="floating-label-field floating-label-field--s3" />
                            <span asp-validation-for="LetterReferenceNo" class="text-danger"></span>
                            <label class="floating-label">Letter Reference No</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="floating-label-wrap">
                            <select class="floating-label-field floating-label-field--s3" disabled
                                    asp-for="UserId" asp-items="@(new SelectList(Model.UserNameList, "Id","Name"))">
                                <option selected disabled="disabled" value="">---Select---</option>
                            </select>
                            <span asp-validation-for="UserId" class="text-danger"></span>
                            <label class="floating-label">UserName</label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/requestforproceedingedit.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/requestforproceedingedit.min.js" asp-append-version="true"></script>
</environment>
