@model Dto.Master.UserProfileDto

<h1 class="border-bottom">Welcome to DDA Land Information Management Application</h1>
<div class="profile-box bg-white rounded border p-3 my-4 shadow d-md-flex align-items-center py-lg-4 px-xl-5">
    <figure class="mx-auto my-0">
        <img class="d-block rounded-circle mx-auto shadow-sm" src="~/images/noimage.jpg" alt="">
    </figure>
    <div class="text-center detail py-3 text-md-left px-md-4 mx-lg-auto px-xl-5 ms-xl-0">
        <input type="hidden" id="hdnUserid" value="@Model.User.Id" />
        <input type="hidden" id="hdnRoleid" value="@Model.Role.Id" />
        <input type="hidden" id="hdnDeptid" value="@Model.DepartmentId" />
        <input type="hidden" id="hdnZoneid" value="@Model.ZoneId" />
        <h2 class="mb-2">@Model.User.Name</h2>
        @*<p class="text-muted mb-2 mb-md-1">Last Login : <strong>22 Oct 2020 02:33 PM</strong></p>
        <p class="text-muted">Full time designer <strong>(DDA)</strong></p>*@
    </div>
    <div class="py-3 ps-md-4 mx-lg-auto pe-xl-5 ms-xl-0 ps-xl-2">
        <table class="table table-borderless table-sm m-0">
            <tbody>
                <tr>
                    <th scope="row">Designation</th>
                    <td>@Model.Role.Name</td>
                </tr>

                <tr>
                    <th scope="row">Name</th>
                    <td colspan="2">@Model.User.Name</td>
                </tr>
                <tr>
                    <th scope="row">Email Id</th>
                    <td colspan="2">@Model.User.Email</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<figure class="m-0 mb-md-n3">
    @*<div class="row">
        <div class="col-md-6">
            <div class="floating-label-wrap">
                <input type="Date" placeholder="From Date" id="txtToDate" class="floating-label-field floating-label-field--s3" />
                <label class="floating-label">From Date<span style="color:red">*</span></label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="floating-label-wrap mb-3 mb-md-0">
                <input type="Date" placeholder="To Date" id="txtFromDate" class="floating-label-field floating-label-field--s3" />
                
                <label class="floating-label">To Date<span style="color:red">*</span></label>
            </div>
        </div>
    </div>*@
    @{
        if(@ViewBag.userRole!=null)
        {
            if (@ViewBag.userRole == 1 || @ViewBag.userRole == 2 || @ViewBag.userRole == 19 || @ViewBag.userRole == 63 || @ViewBag.userRole == 7 || @ViewBag.userRole == 3 || @ViewBag.userRole == 16 || @ViewBag.userRole == 10)
            {
                <div id="divDashboard">
                    <img class="img-fluid d-block mx-auto" src="~/images/brand.png" alt="dda">
                </div>
            }
            else
            {
                <img class="img-fluid d-block mx-auto" src="~/images/brand.png" alt="dda">
            }
        }
        else
        {
            <img class="img-fluid d-block mx-auto" src="~/images/brand.png" alt="dda">
        }
    }
   
</figure>

<environment include="Development">
    <script src="~/js/HomeIndex.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/HomeIndex.min.js" asp-append-version="true"></script>
</environment> 