@model Libraries.Repository.Common.PagedResult<Libraries.Model.Entity.Propertyregistration>
@{int rowNo = 0; }
<div class="card  table-card " style="overflow:scroll;">
    <table class="table table-responsive table-bordered table-card">
        <thead class="thead">
            <tr>
                <th rowspan="2">Sr.No</th>
                <th rowspan="2">Inventoried In</th>
                <th rowspan="2">Classification of Land</th>
                <th rowspan="2">Planned/Unplanned Land</th>
                <th rowspan="2">Department</th>
                <th rowspan="2">Zone</th>
                <th rowspan="2">Division</th>
                <th rowspan="2">Locality(Village)</th>
                <th rowspan="2">Khasra No.</th>
                <th rowspan="2">Colony</th>
                <th rowspan="2">Sector</th>
                <th rowspan="2">Block</th>
                <th rowspan="2">Pocket</th>
                <th rowspan="2">Plot No.</th>
                <th rowspan="2">Primary List No.</th>
                <th rowspan="2">Address with Landmark</th>
                <th colspan="2" style=" text-align:center">Area</th>
                <th colspan="7" style=" text-align:center">Encroachment Status</th>
                <th colspan="4" style="text-align:center">Boundary Wall/Fencing</th>
                <th rowspan="2">Built & type</th>
                <th colspan="4" style="text-align:center">Litigation Status</th>
                <th rowspan="2">GEO Referencing</th>
                <th colspan="10" style=" text-align:center">Handed Over</th>
                <th colspan="7" style=" text-align:center">Taken Over</th>
                <th rowspan="2">Remarks</th>
                <th rowspan="2">Operation</th>
            </tr>
            <tr>
                <th>Area Unit</th>
                <th>Total Area(In bigha-biswa/Sq Yd./Acre)</th>
                <th>Encroached Status</th>
                <th>Land</th>
                <th>Encrochment Area(in Sq. Mt.)</th>
                <th>Builtup in Encroachment Area(in sq. mt.)</th>
                <th>Vacant(in Sq. Mt.)</th>
                <th>Action On Encroachment</th>
                <th>Encroachment Details</th>
                <th>Area Covered(Sq. mtr)</th>
                <th>Boundary Wall/Fencing</th>
                <th>Dimension (L*B*H)(mtr)</th>
                <th>Boundary Remarks</th>
                <th>Court Name</th>
                <th>Case No.</th>
                <th>Opposite Party</th>
                <th>Remarks</th>
                <th>Department</th>
                <th>Zone</th>
                <th>Division</th>
                <th>Name/Designation</th>
                <th>Date</th>
                <th>Mobile No.</th>
                <th>Order No.</th>
                <th>Copy of Order</th>
                <th>Transfer order Issue Authority</th>
                <th>Comments</th>
                <th>Department</th>
                <th>Zone</th>
                <th>Division</th>
                <th>Name/Designation</th>
                <th>Date</th>
                <th>Mobile No.</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody class="tbody">
            @if (Model != null && Model.Results.Count() > 0)
            {
                @foreach (var item in Model.Results)
                {
                    <tr>
                        <td>@(rowNo += 1)</td>
                        <td></td>
                        <td>@item.ClassificationOfLand.Name</td>
                        <td>@(item.PlannedUnplannedLand)</td>
                        <td>@item.Department.Name</td>
                        <td>@item.Zone.Name</td>
                        <td>@item.Division.Name</td>
                        <td>@item.Locality.Name</td>
                        <td>@item.KhasraNo</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>@item.PrimaryListNo</td>
                        <td>@item.Palandmark</td>
                        <td></td>
                        <td>@item.TotalAreaInBigha</td>
                        <td>@(item.EncroachmentStatusId== 0 ? "No" : "Yes")</td>
                        <td></td>
                        <td>@item.Encroached</td>
                        <td>@item.BuiltUpEncraochmentArea</td>
                        <td>@item.Vacant</td>
                        <td></td>
                        <td>@item.EncraochmentDetails</td>
                        <td>@(item.Boundary == 0 ? "No" : "Yes")</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>@(item.BuiltUp == 0 ? "No" : "Yes")</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>@(item.GeoReferencing == 0 ? "No" : "Yes")</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>@item.HandedOverName</td>
                        <td>@item.HandedOverDate</td>
                        <td>@item.HandedOverMobileNo</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>@item.HandedOverComments</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>@item.TakenOverName</td>
                        <td>@item.TakenOverDate</td>
                        <td>@item.TakenOverMobileNo</td>
                        <td>@item.TakenOverComments</td>
                        <td>@item.Remarks</td>
                        <td><a asp-action="Edit" asp-route-Id="@item.Id">Handed Over Taken Over</a></td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <th colspan="14" style="text-align:center"> No Record Available! </th>
                </tr>
            }
        </tbody>
    </table>
</div>
@await Component.InvokeAsync("Pager", new { totalCount = Model.RowCount, pageNumber = Model.CurrentPage, pageSize = Model.PazeSize })

@*@model Libraries.Repository.Common.PagedResult<Libraries.Model.Entity.Landtransfer>
    @{int rowNo = 0;}
        <table class="table table-responsive table-bordered table-card">
            <thead class="thead">
                <tr class="dda-pageheading">
                    <th>Sr.No</th>
                    <th>Department</th>
                    <th>Zone</th>
                    <th>Division</th>
                    <th>Locality(Village)</th>
                    <th>Khasra No.</th>
                    <th>Address</th>
                    <th>Handed Over By</th>
                    <th>Date of Hand Over</th>
                    <th>Taken Over By</th>
                    <th>Date of Taken Over</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody class="tbody">
                @foreach (var item in Model.Results)
                {
                <tr>
                    <td>@(rowNo += 1)</td>
                    <td>@item.Department.Name</td>
                    <td>@item.Zone.Name</td>
                    <td>@item.Division.Name</td>
                    <td>@item.Locality.Name</td>
                    <td>@item.KhasraNo</td>
                    <td>@item.Address</td>
                    <td>
                        @item.HandedOverByNameDesingnation
                    </td>
                    <td>
                        @(item.HandedOverDate != null ? Convert.ToDateTime(item.HandedOverDate).ToString("dd MMM yyyy") : "Not Available")
                    </td>
                    <td>
                        @item.TakenOverByNameDesingnation
                    </td>
                    <td>
                        @(item.DateofTakenOver != null ? Convert.ToDateTime(item.DateofTakenOver).ToString("dd MMM yyyy") : "Not Available")
                    </td>
                    <td>
                        <a asp-action="View" asp-route-id="@item.Id" title="View">  <i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i> </a>

                        <a asp-action="Edit" asp-route-id="@item.Id" title="edit"> &nbsp; | &nbsp;  <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i> </a>

                        <a asp-action="Delete" asp-route-id="@item.Id" title="delete" onclick="return confirm('Are You Sure, You want to Delete this Record?')">   &nbsp;|&nbsp;<i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
                    </td>
                </tr>
                }
                </tbody>

        </table>
        @await Component.InvokeAsync("Pager", new { totalCount = Model.RowCount, pageNumber = Model.CurrentPage, pageSize = Model.PazeSize })*@