@model Libraries.Model.Entity.Landtransfer
<div class="row">
    <div class="col-sm-12">
        <div class="dda-topheading">
            <div class="col-md-12">
                <h6 class="pull-left color-white" style="margin-top:5px;">Hand Over/Take Over</h6>
                <i class="glyphicon glyphicon-arrow-right pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="container-fluid" id="MainContentForm">
    <div class="panel">
        <div class="panel-heading  dda-pageheading">
            <h6 class="pull-left color-white" style="margin-top:-0.4%">Add Details</h6>
        </div>
        <div class="panel-body">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Department <span style="color:red">*</span></label>
                        <select asp-for="DepartmentId" class="form-control dda-dropdown" asp-items="@(new SelectList(Model.DepartmentList,"Id","Name"))" onchange="return onChangeDepartment(this.options[this.selectedIndex].value);">
                            <option value="">Select</option>
                        </select>
                        <span asp-validation-for="DepartmentId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Zone <span style="color:red">*</span></label>
                        <select asp-for="ZoneId" class="form-control dda-dropdown" asp-items="@(new SelectList(Model.ZoneList,"Id","Name"))" onchange="return onChangeZone(this.options[this.selectedIndex].value)">
                            <option value="value">Select</option>
                        </select>
                        <span asp-validation-for="ZoneId" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Division <span style="color:red">*</span></label>
                        <select asp-for="DivisionId" class="form-control dda-dropdown" asp-items="@(new SelectList(Model.DivisionList,"Id","Name"))" onchange="return onChangeDivision(this.options[this.selectedIndex].value)">
                            <option value="value">Select</option>
                        </select>
                        <span asp-validation-for="DivisionId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Locality(Village) Name <span style="color:red">*</span></label>
                        <select asp-for="LocalityId" class="form-control dda-dropdown" asp-items="@(new SelectList(Model.LocalityList,"Id","Name"))">
                            <option value="value">Select</option>
                        </select>
                        <span asp-validation-for="LocalityId" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Khasra No.</label>
                        <input type="text" asp-for="KhasraNo" class="form-control" />
                        <span asp-validation-for="KhasraNo" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Build Up Area</label>
                        <input type="text" asp-for="BuildupArea" class="form-control numbers" />
                        <span asp-validation-for="BuildupArea" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Vacant Area</label>
                        <input type="text" asp-for="VacantArea" class="form-control numbers" />
                        <span asp-validation-for="VacantArea" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Total Area</label>
                        <input type="text" asp-for="TotalArea" class="form-control total-area" readonly="readonly" />
                        <span asp-validation-for="TotalArea" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Address</label>
                        <textarea type="text" asp-for="Address" class="form-control"></textarea>
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>

                <div id="LoadView">
                </div>
                <div id="DivHandedOver">
                    <div class="row" style="margin-bottom:35px;">
                        <div class="col-sm-12">
                            <div class="dda-innerheading">
                                <div class="col-md-12">
                                    <h6 class="pull-left color-white" style="margin-top:5px;">Handed Over By</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Department</label><span style="color:red">*</span>
                            <select asp-for="HandedOverDepartmentId" class="form-control dda-dropdown" asp-items="@(new SelectList(Model.DepartmentList,"Id","Name"))">
                                <option value="">Select</option>
                            </select>
                            <span asp-validation-for="HandedOverDepartmentId" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Handed Over By(Name/Designation)</label>
                            <input type="text" asp-for="HandedOverByNameDesingnation" class="form-control" />
                            <span asp-validation-for="HandedOverByNameDesingnation" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Date of Hand Over</label>
                            <input type="date" asp-for="HandedOverDate" class="form-control" id="txtHandOverDate" pattern="\d{4}/\d{2}/\d{2}" min="15/Aug/1947" />
                            <span asp-validation-for="HandedOverDate" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Order No.</label>
                            <input type="text" asp-for="OrderNo" class="form-control" />
                            <span asp-validation-for="OrderNo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Copy of Order</label>
                            @{
                                if (Model.CopyofOrderDocPath != null && Model.CopyofOrderDocPath != string.Empty)
                                {
                                    <a asp-action="Download" asp-route-id="@Model.Id"> (View Existing Document)</a>
                                    @*@Html.ActionLink(" (View Existing Document)", "Download", new { id = Model.Id })*@
                                    <input type="file" class="form-control" asp-for="CopyofOrder" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" />
                                    <span asp-validation-for="CopyofOrder" class="text-danger"></span>
                                }
                                else
                                {
                                    <input type="file" class="form-control" asp-for="CopyofOrder" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" />
                                    <span asp-validation-for="CopyofOrder" class="text-danger"></span>
                                }
                            }
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Transfer order Issue Authority</label>
                            <input asp-for="TransferorderIssueAuthority" type="text" class="form-control" />
                            <span asp-validation-for="TransferorderIssueAuthority" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div id="DivTakenOver">
                    <div class="row" style="margin-bottom:35px;">
                        <div class="col-sm-12">
                            <div class="dda-innerheading">
                                <div class="col-md-12">
                                    <h6 class="pull-left color-white" style="margin-top:5px;">Taken Over By</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Department</label><span style="color:red">*</span>
                            <select asp-for="TakenOverDepartmentId" class="form-control dda-dropdown" asp-items="@(new SelectList(Model.DepartmentList,"Id","Name"))">
                                <option value="">Select</option>
                            </select>
                            <span asp-validation-for="TakenOverDepartmentId" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Taken Over By(Name/Designation)</label>
                            <input asp-for="TakenOverByNameDesingnation" type="text" class="form-control" />
                            <span asp-validation-for="TakenOverByNameDesingnation" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Date of Taken Over</label>
                            <input type="date" asp-for="DateofTakenOver" class="form-control" id="txtTakenOverDate" />
                            <span asp-validation-for="DateofTakenOver" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="control-label lb-sm">Remarks</label>
                        <textarea type="text" asp-for="Remarks" class="form-control" style=" background-color: #dddddd;"></textarea>
                        <span asp-validation-for="Remarks" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="row col-md-12" style="justify-content:center">
                        @Html.ActionLink("Back", "Index", "LandTransfer", null, new { @class = "btn btn-primary dda-pageheading" })
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/LandTransfer.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/LandTransfer.min.js" asp-append-version="true"></script>
</environment>