@model Libraries.Repository.Common.PagedResult<Libraries.Model.Entity.Onlinecomplaint>
@{int rowNo = 0; }

<table class="table table-sm table-bordered mb-0 table-striped">


    <thead class="text-nowrap">
        <tr>
            <th>Sr.No</th>

            <th>Complaint Name</th>
            <th>Contact No</th>
            <th>Area/Address</th>
            <th>Complaint Type</th>
            <th>Location</th>
            <th>Reference No</th>
            <th>Status</th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Results)
        {
        <tr>
            <td>@(rowNo += 1)</td>
            <td>@item.Name</td>
            <td>@item.Contact</td>
            <td>@item.AddressOfComplaint</td>
            <td>@item.ComplaintType.Name</td>

            <td>@item.Location.Name</td>
            <td>@item.ReferenceNo</td>
            <td>
                @if (item.IsActive == 1)
                {
                    <span class="badge badge-primary px-2 py-1">Active</span>
                }
                else
                {
                    <span class="badge badge-danger px-2 py-1">Inactive</span>
                }
            </td>
            <td>
                <div class="action-btns">
                    <a asp-action="View" asp-route-id="@item.Id" title="View" class="view"><i class="ri-eye-fill"></i> </a>
                    <a asp-action="Edit" asp-route-id="@item.Id" title="edit" class="edit"><i class="ri-edit-line"></i> </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" title="delete" class="remove" onclick="return confirm('Are You Sure, You want to Delete this Record?')">  <i class="ri-delete-bin-5-fill"></i></a>
                </div>
            </td>

        </tr>
        }

    </tbody>
</table>
@await Component.InvokeAsync("Pager", new { totalCount = Model.RowCount, pageNumber = Model.CurrentPage, pageSize = Model.PazeSize })