@model Libraries.Model.Entity.Newlandannexure2
@await Component.InvokeAsync("PageHeader", new { pageName = "Identification Of Land - Annexure II" })

<div class="pt-3">

 
    <form asp-action="Edit" method="post" class="d-block rounded border p-3 bg-white search-filer shadow mb-3" enctype="multipart/form-data">
        <h3 class="mb-3 d-flex">Edit Details</h3>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ReqId" />

        <div class="row">
            <div class="col-md-6">
                <select class="floating-label-field floating-label-field--s3" asp-for="ReqBodyType">
                    <option selected="selected" disabled="disabled" value="">--Select-- </option>
                    <option value="1">Department</option>
                    <option value="2">Government</option>
                    <option value="3">Company</option>
                    <option value="4">Local Authority</option>
                    <option value="5">Institution</option>
                </select>
                <span asp-validation-for="ReqBodyType" class="text-danger"></span>
                <label asp-for="ReqBodyType" class="floating-label">Requiring Body Type </label>

            </div>
            <div class="col-md-6">
                <input asp-for="OfficialDesigOfReqBody" type="text" class="floating-label-field floating-label-field--s3 " placeholder="Name" limit="200">

                <span asp-validation-for="OfficialDesigOfReqBody" class="text-danger"></span>
                <label class="floating-label">Official Designation of Requiring Body</label>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-12">

                <textarea type="text" class="floating-label-field floating-label-field--s3" asp-for="PurposeOfAcqDetails"></textarea>
                <span asp-validation-for="PurposeOfAcqDetails" class="text-danger"></span>
                <label class="floating-label">Purpose of Acquitions(in details)</label>
                <br />
                <br />

            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12">
                <table class="table table-responsive table-bordered table-card">

                    <thead class="thead">
                        <tr>
                            <th>Sr.No</th>
                            <th>Description</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody class="tbody">
                        <tr>
                            <td>1</td>
                            <td>Whether the request is filed under section 2(1) of the Act by the Government or Department for its own use hold and control </td>
                            <td>
                                <select style="height:30px;  background-color: #dddddd;" id="drp1" class="floating-label-field floating-label-field--s3 " asp-for="Sn1val">
                                    <option value="No">No</option>
                                    <option value="Yes">Yes</option>
                                </select>

                                <textarea asp-for="Sn1Remark" type="text" placeholder="Description" class="floating-label-field floating-label-field--s3" id="txt1" style="display:none; margin-top:10px;"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Whether the request is filed under section 2(1)(a) to 2(1)(f) of the Act</td>
                            <td>
                                <select style="height:30px; background-color: #dddddd;" id="drp2" required="" class="floating-label-field floating-label-field--s3" asp-for="Sn2val">
                                    <option value="No">No</option>
                                    <option value="Yes">Yes</option>
                                </select>

                                <textarea type="text" placeholder="Description" class="floating-label-field floating-label-field--s3" id="txt2" style="display:none;margin-top:10px;" asp-for="Sn2Remark"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Whether the request is filed under section 2(2)(a) to (b) of the Act</td>
                            <td>
                                <select style="height:30px; background-color: #dddddd;" id="drp3" required="" class="floating-label-field floating-label-field--s3" asp-for="Sn3val">
                                    <option value="No">No</option>
                                    <option value="Yes">Yes</option>
                                </select>

                                <textarea type="text" asp-for="Sn3Remark" placeholder="Description" class="floating-label-field floating-label-field--s3" id="txt3" style="display:none;margin-top:10px;"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>How Many families are affected as described under section 3(c)(i) to (vi) of the Act</td>
                            <td><input type="text" placeholder="How Many Families in Number" class="floating-label-field floating-label-field--s3 " asp-for="Sn4val" /></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Whether request is filed under section 40 of the Act </td>
                            <td>
                                <select style="height:30px; background-color: #dddddd;" id="drp4" asp-for="Sn5val" required="" class="floating-label-field floating-label-field--s3" onchange="drp4change()">
                                    <option value="No">No</option>
                                    <option value="Yes">Yes</option>
                                </select>

                                <textarea type="text" placeholder="Description" class="floating-label-field floating-label-field--s3" asp-for="Sn5Remark" id="txt4" style="display:none;margin-top:10px;"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>if so, on what ground?</td>
                            <td><input type="text" class="floating-label-field floating-label-field--s3" placeholder="On what ground?" asp-for="Sn6val" /></td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Has the land for the project been partially purchased from the owners by private negotiation?</td>
                            <td>
                                <select style="height:30px; background-color: #dddddd;" id="drpHasLand" required="" class="floating-label-field floating-label-field--s3" asp-for="Sn7val" onselect="drpHasLandchange()">
                                    <option value="No">No</option>
                                    <option value="Yes">Yes</option>
                                </select>

                                <input type="date" class="floating-label-field floating-label-field--s3" id="txtDateLand" placeholder="Date" style="display:none;margin-top:10px;" asp-for="Sn7Date" />
                                <input type="text" class="floating-label-field floating-label-field--s3" id="txtLand" placeholder="Description" style="display:none;margin-top:10px;" asp-for="Sn7Remark" />
                                @{
                                    @if (ViewBag.ExistSn7File != null)
                                    {
                                        <input type="file" class="floating-label-field floating-label-field--s3" id="Sn7Filep" style="display:none;margin-top:10px;" asp-for="Sn7Filep" name="Sn7Filep" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" />


                                        @Html.ActionLink(" (View File)", "S7Download", new { id = Model.Id }, new { @class = "badge badge-primary px-2" })
                                    }
                                    else
                                    {
                                        <input type="file" class="floating-label-field floating-label-field--s3" id="Sn7Filep" style="display:none;margin-top:10px;" asp-for="Sn7Filep" name="Sn7Filep" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" />

                                    }
                                }


                                <input type="hidden" asp-for="Sn7File" disabled />
                            </td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>If so, on what date and on what terms(please state the terms of negotiation in short and attach the copy of it)</td>
                            <td>
                                <input type="date" class="floating-label-field floating-label-field--s3" asp-for="Sn8date" /><br />
                                <input type="text" class="floating-label-field floating-label-field--s3" placeholder="Description" asp-for="Sn8remarks" /><br />
                                @{
                                    @if (ViewBag.ExistSn8File != null)
                                    {
                                        <input type="file" class="floating-label-field floating-label-field--s3" id="Sn8File" style="display:none;margin-top:10px;" asp-for="Sn8File" name="Sn8File" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" />


                                        @Html.ActionLink(" (View File)", "S8Download", new { id = Model.Id }, new { @class = "badge badge-primary px-2" })
                                    }
                                    else
                                    {
                                        <input type="file" class="floating-label-field floating-label-field--s3" id="Sn8File" style="display:none;margin-top:10px;" asp-for="Sn8File" name="Sn8File" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" />

                                    }
                                }


                                <input type="hidden" asp-for="Sn8filePath" disabled />
                            </td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>Date of Issue of Administrative approval for the project (copy to be attached) in case of Government or Department or local authority.</td>
                            <td>
                                <input type="Date" class="floating-label-field floating-label-field--s3" id="txtDate" style="display:block;" asp-for="Sn9date" /><br />
                                @{
                                    @if (ViewBag.ExistSn9File != null)
                                    {
                                        <input type="file" class="floating-label-field floating-label-field--s3" id="Sn9File" style="display:none;margin-top:10px;" asp-for="Sn9File" name="Sn9File" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" />


                                        @Html.ActionLink(" (View File)", "S9Download", new { id = Model.Id }, new { @class = "badge badge-primary px-2" })
                                    }
                                    else
                                    {
                                        <input type="file" class="floating-label-field floating-label-field--s3" id="Sn9File" style="display:none;margin-top:10px;" asp-for="Sn9File" name="Sn9File" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" />

                                    }
                                }


                                <input type="hidden" asp-for="Sn9filePath" disabled />
                            </td>

                        </tr>
                        <tr>
                            <td>10</td>
                            <td>Reasons for delay in filling request, if request is filed after six weeks from the date of administrative approval of the project in case of Government or Department or local authority</td>
                            <td><input type="text" class="floating-label-field floating-label-field--s3" asp-for="Sn10val" /></td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>By what time possession of the land is required(in months).</td>
                            <td><input type="text" limit="3" class="floating-label-field floating-label-field--s3 onlynumber" placeholder="In Months (Number only)" asp-for="Sn11val" /></td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>Document(if any)</td>
                            <td>
                                @{
                                    @if (ViewBag.ExistSn12File != null)
                                    {
                                        <input type="file" class="floating-label-field floating-label-field--s3" id="Sn12File" style="margin-top:10px;" asp-for="Sn12File" name="Sn12File" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" />


                                        @Html.ActionLink(" (View File)", "S12Download", new { id = Model.Id }, new { @class = "badge badge-primary px-2" })
                                    }
                                    else
                                    {
                                        <input type="file" class="floating-label-field floating-label-field--s3" id="Sn12File" style="margin-top:10px;" asp-for="Sn12File" name="Sn12File" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" />

                                    }
                                }


                                <input type="hidden" asp-for="Sn12filePath" disabled />
                            </td>
                        </tr>

                    </tbody>

                </table>
            </div>
        </div>


        <div class="form-row">

            <div class="form-group col-md-3">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input type="text" class="floating-label-field floating-label-field--s3" placeholder="in Years (Number only)" asp-for="ProjectYear" />
                    <label class="floating-label" asp-for="ProjectYear">Project will be (in yrs.)</label>
                    <span asp-validation-for="ProjectYear" class="text-danger"></span>

                </div>
            </div>


            <div class="form-group col-md-3">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input type="text" class="floating-label-field floating-label-field--s3" placeholder="in Years (Number only)" asp-for="ProjectMonth" />
                    <label class="floating-label" asp-for="ProjectMonth">Project will be (in months.)</label>
                    <span asp-validation-for="ProjectMonth" class="text-danger"></span>

                </div>
            </div>



            <div class="form-group col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input type="text" class="floating-label-field floating-label-field--s3" placeholder="in Years (Number only)" asp-for="ProjectCost" limit="15" />
                    <label class="floating-label" asp-for="ProjectCost">Estimated Cost of the Project(in Rs.)</label>
                    <span asp-validation-for="ProjectCost" class="text-danger"></span>

                </div>
            </div>





        </div>


        <div class="form-row">
            <div class="form-group col-md-12">

                <div class="floating-label-wrap mb-3 mb-md-0">
                    <textarea type="text" class="floating-label-field floating-label-field--s3" asp-for="OtherRemarks" placeholder="Remarks"></textarea>
                    <label class="floating-label" asp-for="OtherRemarks">Remarks</label>
                    <span asp-validation-for="OtherRemarks" class="text-danger"></span>

                </div>



            </div>
        </div>
        <div class="row mt-md-3">
            <div class=" col-md-6">

                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="IsActive">

                        <option value="1">Active</option>
                        <option value="0">Inactive</option>
                    </select>
                    <span asp-validation-for="IsActive" class="text-danger"></span>
                    <label asp-for="IsActive" class="floating-label">Status </label>
                </div>

            </div>

        </div>
        <div class="row mt-md-3">
            <div class=" col-md-12">
                <button class="btn btn-theme " type="submit">Update</button>

                @Html.ActionLink("Back", "Index", "RequestApprovalProcess", null, new { @class = "btn btn-theme " })

            </div>
        </div>

    </form>

</div>

<partial name="../Shared/_ValidationScriptsPartial.cshtml" />

<environment include="Development">

    <script src="~/js/newlandannx2.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/newlandannx2.min.js" asp-append-version="true"></script>
</environment>