@model IEnumerable<Libraries.Model.Entity.Ldoland>
@{int rowNo = 0; }

<div class="row">
    <div class="col-sm-12">
        <div class="dda-topheading">
            <div class="col-md-12">
                <h6 class="pull-left color-white" style="margin-top:5px;">LDO lands   </h6>
                <i class="glyphicon glyphicon-arrow-right pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div>
    @Html.ActionLink("Add New", "Create", "LDOland", null, new { @class = "btn btn-primary pull-right dda-pageheading", style = "margin-top: -10px;" })
</div>
<br />
<br />
<div class="container-fluid">
    <div class="card  table-card table-responsive">

        <table class="table  table-bordered table-card">
            <thead class="thead">
                <tr>
                    <th>Sr.No</th>
                    <th>Notification No.</th>
                    <th>Notification Date</th>
                    <th>Serial No</th>
                    <th>Property/Site No.</th>
                    <th>Location Name</th>
                    <th>Site Description</th>

                    <th>Bigha</th>
                    <th>Biswa</th>
                    <th>Biswanshi</th>
                    <th>Status of Land</th>
                    <th>Occupied By</th>
                    <th>Date of Possession</th>
                    <th>Remarks</th>
                    <th>Status</th>
                    <th>Operation</th>
                </tr>


            </thead>
            <tbody class="tbody">
                @foreach (var item in Model)
                {
                <tr>
                    <td>@(rowNo += 1)</td>
                    <td>@item.LandNotification.Name</td>
                    <td>@(Convert.ToDateTime(item.NotificationDate).ToString("dd-MMM-yyyy"))</td>
                    <td>@item.Serialnumber.SerialNo</td>
                    <td>@item.PropertySiteNo</td>
                    <td>@item.Location</td>
                    <td>@item.SiteDescription</td>

                    <td>@item.Bigha</td>
                    <td>@item.Biswa</td>
                    <td>@item.Biswanshi</td>
                    <td>@item.StatusOfLand</td>
                    <td>@item.OccupiedBy</td>
                    <td>@(Convert.ToDateTime(item.DateofPossession).ToString("dd-MMM-yyyy"))</td>
                  
                    <td>@item.Remarks</td>

                    <td>
                        @(item.IsActive  == 1 ? "Active" : "Inactive" )
                    </td>
                    <td>
                        <a asp-action="View" asp-route-id="@item.Id" title="View">  <i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i> </a>

                        <a asp-action="Edit" asp-route-id="@item.Id" title="edit"> &nbsp; | &nbsp;  <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i> </a>

                        <a asp-action="Delete" asp-route-id="@item.Id" title="delete" onclick="return confirm('Are You Sure, You want to Delete this Record?')">   &nbsp;|&nbsp;<i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>

                    </td>

                </tr>
                }

            </tbody>
        </table>

    </div>
</div>
