@*@model Libraries.Repository.Common.PagedResult<Model.Entity.Userprofile>*@
@*@model IEnumerable<Model.Entity.Userprofile>*@
@model IEnumerable<Dto.Search.VillageDetailsLitDataDto>
<table class="table table-sm table-bordered mb-0 table-striped">
    <thead class="text-nowrap">

        <tr>

            <th>
                US-4 Notification No
            </th>
            <th>US-6 Notification No</th>
            <th>Award No</th>
            <th>Possession</th>



        </tr>

        <tr>

            <th>
                Date (DD-MM-YYYY)
            </th>
            <th>Date (DD-MM-YYYY)</th>
            <th>Date (DD-MM-YYYY)</th>
            <th>Date (DD-MM-YYYY)</th>



        </tr>
        <tr>

            <th>
                Area (B-B-B) (Acres)
            </th>
            <th>Area (B-B-B) (Acres)</th>
            <th>Area (B-B-B) (Acres)</th>
            <th>Area (B-B-B) (Acres)</th>



        </tr>

    </thead>
    <tbody>
        @if (Model != null && Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
        <tr>
        
            <td>
                @(item.un4_Number == null? "-" :item.un4_Number)

            </td>
            <td>
                @(item.un6_Number == null?"-":item.un6_Number)
              
            </td>

            <td>
                @(item.AwardNumber == null?"-":item.AwardNumber)
              
            </td>

            <td>
            </td>

        </tr>

       
                <tr>

                    <td>
                        @(item.um4Date.ToString("dd-MM-yyyy") == null?"-":item.um4Date.ToString("dd-MM-yyyy"))
                     
                    </td>
                    <td>
                        @(item.um6Date.ToString("dd-MM-yyyy") == null?"-":item.um6Date.ToString("dd-MM-yyyy"))
                       
                    </td>

                    <td>
                        @(item.AwardDate.ToString("dd-MM-yyyy") == null?"-":item.AwardDate.ToString("dd-MM-yyyy"))
                     
                    </td>

                    <td>
                        @(item.PossDate.ToString("dd-MM-yyyy") == null?"-":item.PossDate.ToString("dd-MM-yyyy"))

                    </td>

                </tr>
         

                <tr>

                    <td>
                        @(item.Bigha == null?0:item.Bigha)
                        @(item.Biswa == null?0:item.Biswa)
                        @(item.Biswanshi == null?0:item.Biswanshi)




                    </td>
                 
                    
                    
                    <td>

                        @(item.un6_bigha == null?0:item.un6_bigha)
                        @(item.un6_Biswa == null?0:item.un6_Biswa)
                        @(item.un6_Bidwanshi == null?0:item.un6_Bidwanshi)

                      


                    </td>
                    <td>

                        @(item.ad_Bigha == null?0:item.ad_Bigha)
                        @(item.awardbiswa == null?0:item.awardbiswa)
                        @(item.awardBiswanshi == null?0:item.awardBiswanshi)

                      


                    </td>
                    <td>
                        @(item.p_bigha == null?0:item.p_bigha)
                        @(item.p_Biswa == null?0:item.p_Biswa)
                    


                    </td>


                </tr>
                <tr><td colspan="4" style="background-color:#D0D0D0;"></td></tr>

            }
        }
        else
        {
            <tr>
                <th colspan="12" style="text-align:center"> No Record Available! </th>
            </tr>
        }





    </tbody>

</table>





@*@await Component.InvokeAsync("Pager", new { totalCount = Model.RowCount, pageNumber = Model.CurrentPage, pageSize = Model.PazeSize })*@
