

@model IEnumerable<Libraries.Model.Entity.Propertyregistration>
@{int rowNo = 0; }

<div class="row">
    <div class="col-sm-12">
        <div class="dda-topheading">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;">Archive Land Details</h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div>
    <a asp-action="Create" class="btn btn-primary pull-right dda-pageheading" style="margin-top: -10px;">Add New</a>
</div>
<br />
<br />
<div class="container-fluid">
    <div class="card  table-card">

        <table class="table table-responsive table-bordered table-card">

            <thead class="thead">
                <tr>
                    <th>Sr.No</th>
                    <th>Unique Id</th>
                    <th>Zone</th>
                    <th>Land Description</th>
                    <th>Khasra No</th>
                    <th>Area(In SQM)</th>
                    <th>Primary List No</th>
                    <th>Division Contact</th>
                    <th>Reason</th>
                </tr>
            </thead>
            <tbody class="tbody">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@(rowNo += 1)</td>

                            <td>unique</td>
                            <td>@item.Zone.Name</td>
                            <td>Description</td>
                            <td>@item.KhasraNo</td>
                            <td>@item.TotalArea</td>
                            <td></td>
                            <td>@item.Division.Name</td>
                            <td>Reason</td>

                           
                        </tr>
                    }
                </tbody>

        </table>

    </div>
</div>
<br />
<br />


