@model IEnumerable<Dto.Search.ApprovalHistoryListDataDto>

<div class="permission mt-2 accordion list-unstyled m-0 ">
    <div class="card">
        <a class="p-2 no-dec d-flex align-items-center" data-toggle="collapse" href="#collapseHistoryApprroval" role="button" aria-expanded="true"
           aria-controls="collapseHistoryApprroval">
            <i class="ri-arrow-right-s-fill"></i>
            <span class="text ml-1 mr-auto">Approval History Details</span>
            <i class="arrow ri-arrow-drop-down-line slow"></i>
        </a>
        <div class="list-unstyled m-0 pl-2 pr-1 pl-md-4 pr-md-3 collapse" id="collapseHistoryApprroval" style="">
            <div class="table-section bg-white border shadow-sm rounded mb-3 p-md-3 p-2">
                <div class="tracking-list">
                    @if (Model != null && Model.Count() > 0)
                    {
                        @foreach (var item in Model)
                        {
                            <div class="tracking-item d-md-flex align-items-top w-100">
                                <div class="tracking-date text-md-right mr-3 text-nowrap py-2 pr-2">
                                    <small class="d-block" style="color: #00d8ba;font-weight: 800;">Submit</small>
                                    <strong> @item.SubmitDate</strong>
                                    <small class="d-block text-muted"></small>
                                </div>
                                <div class="tracking-content p-2 shadow-sm border rounded ml-md-3 w-100 pl-md-2 mb-3">
                                    <p class="d-md-flex align-items-center">
                                        <strong class="mr-auto d-block mb-2">From: @item.SendFrom<span class="text-muted d-block" style="font-weight: 400;">To: @item.SendTo</span></strong>
                                        <span class="d-block mb-2 ">
                                            <small class="d-block" style="color: #cc2243;font-weight: 800;">Reply</small>
                                            <strong>@item.ActionTakenDate</strong>
                                            <small class="d-block text-muted"></small>
                                        </span>
                                    </p>
                                    <span class="d-block"> @item.Remarks <a href="#" class="text-primary"> Read More..</a></span>
                                    <p class="d-md-flex align-items-center mb-0">
                                        <strong class="d-block text-primary"><span>Status : </span> @(item.SentStatusName == null ? "" : item.SentStatusName)</strong>
                                        @if (item.DocumentName != "")
                                        {
                                            <a class="d-block text-primary ml-md-auto" asp-action="ViewDocumentApprovalProccess" asp-route-id="@item.Id" target="_blank"><img src="~/images/pdf.png" alt="png" width="25px" class="d-block"></a>
                                        }
                                        else
                                        {
                                            <span class="d-block text-primary ml-md-auto">
                                                <img src="~/images/pdf.png" alt="png" width="25px" class="d-block">
                                            </span>
                                        }
                                    </p>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>

        </div>
    </div>
</div>
<partial name="../Shared/_ValidationScriptsPartial.cshtml" />

