@model IEnumerable<Dto.Search.LeasePaymentDemandLetterDetailsSearchDto>
<html>
<body class="bg-gray">
    @if (Model != null && Model.Count() > 0)
    {
        @foreach (var item in Model)
        {
            <section class="slow bg-gray">
                <div class="container-fluid">
                    <div class="section-wraper px-3  pb-md-0 pt-md-3">

                        <div class="content bg-white mx-auto p-3" id="MainContentForm" style="max-width: 780px;">
                            <div class="card">
                                <table class="table table-bordered" border="0" style="vertical-align: middle;margin: -1px;width: calc(100% + 2px);">
                                    <tr>
                                        <td style="vertical-align: middle" align="center">
                                            <img src="https://res.cloudinary.com/deb9cwxor/image/upload/v1596010902/ow9sj5vbbpymed9eydrl.png" style="height:100px" class="img-responsive" alt="">
                                        </td>
                                        <td style="vertical-align: middle">
                                            <h5 class="mb-2 text-primary">
                                                <u> <b> DELHI DEVELOPMENT AUTHORITY</b></u>
                                            </h5>
                                            <p class="m-0">
                                                <strong style="line-height: 1.6;">
                                                    IN THE COURT OF ESTATE OFFICER-||<br />
                                                    Room No.-05, A-Block, Ground Floor,<br />
                                                    VIKAS SADAN INA, NEW DELHI -110023<br />
                                                </strong>
                                            </p>
                                        </td>
                                        <td style="vertical-align: middle" align="center">
                                            <img src="https://res.cloudinary.com/deb9cwxor/image/upload/v1596882092/dupx7btfcqjequcgsb00.jpg" style="height:100px" class="img-responsive" alt="">
                                        </td>
                                    </tr>
                                </table>
                                <div class="card-body" style="font-size: .95rem; line-height: 1.8;">

                                    <div class="row">
                                        <div class="col-md-3">

                                            <p style="color:black;">DDA RefNo/ Application File No -<b>  @item.FileNo</b></p>
                                        </div>
                                        <div class="col-md-6"></div>
                                        <div class="col-md-3">

                                            <p style="color:black">Dated - <b>@item.FileNo</b></p>
                                        </div>
                                    </div>

                                    <br />
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label><b></b></label>
                                            <p style="color:black">To</p>
                                        </div>


                                    </div>


                                    <div class="row">
                                        <div class="col-md-6">
                                            <label><b>@item.AllotteeName</b></label>

                                        </div>
                                        <div class="col-md-6">
                                            <label> </label>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label><b>@item.AllotteeAddress</b></label>

                                        </div>
                                        <div class="col-md-6">
                                            <label> </label>
                                        </div>

                                    </div>


                                    <br />



                                    <div class="row">
                                        <div class="col-md-12">
                                            <p style="color:black;margin-bottom:0%; text-align-last:justify">
                                                Subject:

                                                Payments of outstanding dues for <b>@item.FileNo</b> for period of <b>@item.FileNo</b>  by <b>@item.FileNo</b><br />
                                            </p>

                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-6">
                                            <label><b></b></label>
                                            <p style="color:black">Dear Sir/Madam</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <p style="color:black;margin-bottom:0%; text-align-last:justify">

                                                You are hearly informed to pay an amount of <b>@item.FileNo </b>for the period of
                                                <b @item.FileNo></b> in respect of <b>@item.FileNo, </b> failing which you are
                                                liable to pay interest on delayed payment and further
                                            </p>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p style="color:black;margin-bottom:0%; text-align-last:justify">

                                                liable to pay interest on delayed payment and further action will be initated
                                                on non payment dues.
                                                <br />
                                                <br />
                                                In case of disagreement please contact <b>Sh.</b>__________________,<b>MailId</b>
                                                _______________,<b>ExtenNo</b>_______________,<b>DD of respective Branch</b>


                                            </p>

                                        </div>
                                    </div>
                                   
                                    <br />


                                    <div class="row">
                                        <div class="col-md-6">
                                            <p style="color:black">

                                                Regard,<br />
                                                AAO
                                            </p>
                                        </div>

                                        <div class="col-md-3">

                                        </div>

                                        <div class="col-md-3">





                                        </div>
                                    </div>


                                </div>
                            </div>



                        </div>

                        <div class="row mt-md-3">
                            <div class="col-md-12 text-center">

                                <button class="btn btn-theme px-5" id="btnCreate" type="button">Print</button>
                                @Html.ActionLink("Back", "index", "DemandPaymentLetter", null, new { @class = "btn btn-theme" })


                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="footer slow">
                <div class="container-fluid">
                    <p class="my-0 py-2">
                    </p>
                </div>
            </footer>

            <script src="https://master.managemybusinessess.com/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="https://master.managemybusinessess.com/lib/chart.js/dist/Chart.min.js"></script>
            <script src="https://master.managemybusinessess.com/lib/toaster/toastr.min.js"></script>



            <script src="https://master.managemybusinessess.com/js/site.min.js?v=vWVFonNvAoCNljRoLxgUMRUjqGJWFtfjinr9jBuIAtE"></script>

        }
    }

        </body>

</html>




<script src="~/js/demandletterlist.js"></script>
