@model Libraries.Repository.Common.PagedResult<Libraries.Model.Entity.Propertyregistration>
@{
    int rowNo = 0;
}

<table class="table table-sm table-bordered mb-0 table-striped">


    <thead class="text-nowrap">

        <tr>
            <th scope="col">Inventoried In</th>
            <th scope="col">Planned/Unplanned Land </th>
            <th scope="col">Classification of Land</th>
            <th scope="col">Department</th>
            <th scope="col">Zone</th>
            <th scope="col">Division</th>
            <th scope="col">Primary List No.</th>
            <th scope="col">Khasra No/Plot No</th>
            <th scope="col">Area(in sq. mt) </th>
            <th scope="col">Encroachment Status</th>
            <th scope="col">Protection of Land</th>
            <th scope="col" style="min-width: 105px;">Operation</th>
        </tr>

    </thead>
    <tbody class="tbody">
        @if (Model != null && Model.Results.Count() > 0)
        {
            @foreach (var item in Model.Results)
            {
                <tr>
                    <td>@(item.InventoriedInId.ToString() == "1" ? "VLMS" : "Used") </td>
                    <td>@(item.PlannedUnplannedLand)</td>
                    <td>@item.ClassificationOfLand.Name</td>
                    <td>@item.Department.Name</td>
                    <td>@item.Zone.Name</td>
                    <td>@item.Division.Name</td>
                    <td>@item.PrimaryListNo</td>
                    @if (@item.PlannedUnplannedLand == "Planned Land")
                    {
                        <td>@item.PlotNo</td>
                    }
                    else
                    {
                        <td>@item.KhasraNo</td>
                    }

                    @*<td>@(item.PlannedUnplannedLand == "Planned Land" ? item.PlotNo : item.KhasraNo)</td>*@

                    <td>@item.TotalArea</td>
                    @if (item.EncroachmentStatusId == 0)
                    {
                        <td>@(item.EncroachedPartiallyFully == "0" ? "No" : item.EncroachedPartiallyFully == "1" ? "No" : "Na")</td>
                    }
                   else
                    {
                        <td>@(item.EncroachedPartiallyFully == "0" ? "Partially Encroached" : item.EncroachedPartiallyFully == "1" ? "Fully Encroached" : "Na")</td>
                    }
                    <td>@(item.Boundary == 0 ? "Boundary Wall" : item.Boundary == 1 ? "Fencing" : "None")</td>

                    <td>
                        <a asp-action="View" asp-route-id="@item.Id" title="View" class="view"><i class="ri-eye-fill"></i></a>


                        <a asp-action="Edit" asp-route-id="@item.Id" title="edit" class="edit"><i class="ri-edit-line"></i></a>

                        @if (item.IsValidate == 1)
                        {

                            <a asp-action="Dispose" asp-route-id="@item.Id" title="Dispose" class="remove" onclick="return confirm('Are You Sure, You want to Dispose this Record?')"> <i class="ri-delete-bin-5-fill"></i></a>

                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <th colspan="14" style="text-align:center"> No Record Available! </th>
            </tr>
        }
    </tbody>

</table>

@await Component.InvokeAsync("Pager", new { totalCount = Model.RowCount, pageNumber = Model.CurrentPage, pageSize = Model.PazeSize })