@model Libraries.Model.Entity.Propertyregistration

<div class="row">
    <div class="col-sm-12">
        <div class="dda-topheading">
            <div class="col-md-12">
                <h6 class="pull-left color-white" style="margin-top:5px;">Property Inventory</h6>
                <i class="glyphicon glyphicon-arrow-right pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />
<br />


<div class="container-fluid">
    <div class="panel">
        <div class="panel-heading  dda-pageheading">
            <h6 class="pull-left color-white" style="margin-top:-0.4%">Add Details</h6>
        </div>
        <div class="panel-body">
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="control-label lb-sm" asp-for="ClassificationOfLandId">Classification of Land</label><span class="text-danger">*</span>
                        <select class="form-control dda-dropdown" asp-for="ClassificationOfLandId" asp-items="@(new SelectList(Model.ClassificationOfLandList, "Id","Name"))">
                            <option>--Select--</option>
                        </select>
                        <span asp-validation-for="ClassificationOfLandId" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-4">
                        <label class="control-label lb-sm" asp-for="DepartmentId">Department</label><span class="text-danger">*</span>
                        <select class="form-control dda-dropdown" asp-for="DepartmentId" asp-items="@(new SelectList(Model.DepartmentList, "Id","Name"))">
                            <option>--Select--</option>
                        </select>
                        <span asp-validation-for="DepartmentId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label lb-sm" asp-for="ZoneId">Zone</label><span class="text-danger">*</span>
                        <select class="form-control dda-dropdown" asp-for="ZoneId" asp-items="@(new SelectList(Model.ZoneList, "Id","Name"))">
                            <option>--Select--</option>
                        </select>
                        <span asp-validation-for="ZoneId" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">

                    <div class="form-group col-md-4">
                        <label class="control-label lb-sm" asp-for="DivisionId">Division</label><span class="text-danger">*</span>
                        <select class="form-control dda-dropdown" asp-for="DivisionId" asp-items="@(new SelectList(Model.DivisionList, "Id","Name"))">
                            <option>--Select--</option>
                        </select>
                        <span asp-validation-for="DivisionId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label lb-sm" asp-for="LocalityId">Locality</label><span class="text-danger">*</span>
                        <select class="form-control dda-dropdown" asp-for="LocalityId" asp-items="@(new SelectList(Model.LocalityList, "Id","Name"))">
                            <option>--Select--</option>
                        </select>
                        <span asp-validation-for="LocalityId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label lb-sm">Khasra No</label>
                        <input asp-for="KhasraNo" class="form-control">
                        <span asp-validation-for="KhasraNo" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="control-label lb-sm">Primary List No.</label><span class="text-danger">*</span>
                        <input asp-for="UniqueId" class="form-control">
                        <span asp-validation-for="UniqueId" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="control-label lb-sm">Plot No. & Address with Landmark</label>
                        <textarea asp-for="Palandmark" class="form-control"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="control-label lb-sm">Encroachment Status</label><span class="text-danger">*</span>
                        <select class="form-control dda-dropdown" asp-for="EncroachmentStatusId" >
                            <option value="0">No</option>
                            <option value="1">Yes</option>
                        </select>
                        <span asp-validation-for="EncroachmentStatusId" class="text-danger"></span>
                    </div>

                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label id="l1" class="control-label lb-sm">Encroachment Details</label>
                        <input asp-for="EncraochmentDetails" class="form-control" disabled>
                        <span asp-validation-for="EncraochmentDetails" class="text-danger"></span>
                    </div>
                </div>

                <div id="DivArea">
                    <div class="row" style="margin-bottom:35px;">
                        <div class="col-sm-12">
                            <div class="dda-innerheading">
                                <div class="col-md-12">
                                    <h6 class="pull-left color-white" style="margin-top:5px;">Area</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label lb-sm">Boundary</label><span class="text-danger">*</span>
                            <select class="form-control dda-dropdown" asp-for="Boundary">
                                <option value="0">No</option>
                                <option value="1">Yes</option>
                            </select>
                            <span asp-validation-for="Boundary" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4" id="divBoundaryRemarks" style="display:none;">
                            <label id="l1" class="control-label lb-sm">Boundary Remarks</label>
                            <input asp-for="BoundaryRemarks" class="form-control">
                            <span asp-validation-for="BoundaryRemarks" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label lb-sm lb-sm">Total Area(In bigha-biswa/Sq Yd./Acre)</label>
                            <input asp-for="TotalAreaInBigha"  type="text" class="form-control">
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label lb-sm">Total Area(in sq. mt.)</label><span class="text-danger">*</span>
                            <input asp-for="TotalArea" value="" class="form-control">
                            <span asp-validation-for="TotalArea" class="text-danger"></span>
                        </div>


                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label lb-sm">Encroched(in sq. mt.)</label>
                            <input asp-for="Encroached" value="" class="form-control" disabled>
                            <span asp-validation-for="Encroached" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label lb-sm">Builtup in Encroachment Area(in sq. mt.)</label>
                            <input asp-for="BuiltUpEncraochmentArea" class="form-control" id="BuiltupEncroachmentArea" disabled>
                            <span asp-validation-for="BuiltUpEncraochmentArea" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label lb-sm">Vacant(in sq. mt.)</label>
                            <input asp-for="Vacant" value="" class="form-control">
                            <span asp-validation-for="Vacant" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div id="DivLandUse">
                    <div class="row" style="margin-bottom:35px;">
                        <div class="col-sm-12">
                            <div class="dda-innerheading">
                                <div class="col-md-12">
                                    <h6 class="pull-left color-white" style="margin-top:5px;">Planned/Unplanned Land</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="form-group col-md-4">
                            <label class="control-label lb-sm" asp-for="PlannedUnplannedLand">Planned/Unplanned Land</label><span class="text-danger">*</span>
                            <select class="form-control dda-dropdown" asp-for="PlannedUnplannedLand">
                                <option value="Planned Land">Planned Land</option>
                                <option value="Unplanned Land">Unplanned Land</option>
                            </select>
                            <span asp-validation-for="PlannedUnplannedLand" class="text-danger"></span>
                        </div>

                        <div id="divPlannedLand">
                            <div class="form-group col-md-4">
                                <label class="control-label lb-sm">Main Land Use</label>
                                <select class="form-control dda-dropdown" asp-for="MainLandUseId" asp-items="@(new SelectList(Model.LandUseList, "Id","Name"))">
                                    <option>--Select--</option>
                                </select>
                                <span asp-validation-for="MainLandUseId" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label lb-sm">Sub Use</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="DivOtherDetails">
                    <div class="row" style="margin-bottom:35px;">
                        <div class="col-sm-12">
                            <div class="dda-innerheading">
                                <div class="col-md-12">
                                    <h6 class="pull-left color-white" style="margin-top:5px;">Other Details</h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label lb-sm">Built-Up</label><span class="text-danger">*</span>
                            <select class="form-control dda-dropdown" asp-for="BuiltUp">
                                <option value="0">No</option>
                                <option value="1">Yes</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4" id="divBuilttype" style="display:none;">
                            <label class="control-label lb-sm">Built-Up Remarks</label>
                            <input asp-for="BuiltUpRemarks" class="form-control">
                            <span asp-validation-for="BuiltUpRemarks" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="control-label lb-sm">Layout Plan</label><span class="text-danger">*</span>
                            <select class="form-control dda-dropdown" asp-for="LayoutPlan">
                                <option value="0">No</option>
                                <option value="1">Yes</option>
                            </select>

                        </div>
                        <div class="form-group col-md-4" id="divLayoutPlan" style="display:none;">
                            <label class="control-label lb-sm" asp-for="FileData">Upload Layout File</label>
                            <input type="file" class="form-control" name="Assignfile">
                            <span asp-validation-for="FileData" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label lb-sm">Litigation Status</label><span class="text-danger">*</span>
                            <select class="form-control dda-dropdown" asp-for="LitigationStatus">
                                <option value="0">No</option>
                                <option value="1">Yes</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4" id="divLitigationStatus" style="display:none;">
                            <label class="control-label lb-sm">Remarks</label>
                            <input asp-for="LitigationStatusRemarks" class="form-control">
                            <span asp-validation-for="LitigationStatusRemarks" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">


                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label lb-sm">GEO Referencing Done</label><span class="text-danger">*</span>
                            <select class="form-control dda-dropdown" asp-for="GeoReferencing">
                                <option value="0">No</option>
                                <option value="1">Yes</option>
                            </select>

                        </div>
                        <div class="form-group col-md-4" id="divGEOReferencing" style="display:none;">
                            <label class="control-label lb-sm" asp-for="GeoFileData">Upload Geo Referencing File</label>
                            <input type="file" class="form-control" name="GeoAssignFile" />
                            <span asp-validation-for="GeoFileData" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <div id="DivTakenOver">
                    <div class="row" style="margin-bottom:35px;">
                        <div class="col-sm-12">
                            <div class="dda-innerheading">
                                <div class="col-md-12">
                                    <h6 class="pull-left color-white" style="margin-top:5px;">Taken Over</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label lb-sm">Name/Designation</label>
                            <input asp-for="TakenOverName" class="form-control">
                            <span asp-validation-for="TakenOverName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label lb-sm">Date</label>
                            <input asp-for="TakenOverDate" type="date" value="" class="form-control">
                            <span asp-validation-for="TakenOverDate" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label lb-sm">Email Id</label>
                            <input asp-for="TakenOverEmailId" class="form-control">
                            <span asp-validation-for="TakenOverEmailId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label lb-sm">Mobile No.</label><span class="text-danger">*</span>
                            <input asp-for="TakenOverMobileNo" class="form-control">
                            <span asp-validation-for="TakenOverMobileNo" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label lb-sm">Land Line No.</label>
                            <input asp-for="TakenOverLandlineNo" class="form-control">
                            <span asp-validation-for="TakenOverLandlineNo" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label lb-sm" asp-for="TakenOverFileData">Document</label>
                            <input type="file" class="form-control" name="TakenOverAssignFile" />
                            <span asp-validation-for="TakenOverFileData" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="control-label lb-sm">Comments</label>
                            <textarea asp-for="TakenOverComments" class="form-control"></textarea>
                            <span asp-validation-for="TakenOverComments" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div id="DivHandedOver">
                    <div class="row" style="margin-bottom:35px;">
                        <div class="col-sm-12">
                            <div class="dda-innerheading">
                                <div class="col-md-12">
                                    <h6 class="pull-left color-white" style="margin-top:5px;">Handed Over</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label lb-sm">Name/Designation</label>
                            <input asp-for="HandedOverName" class="form-control">
                            <span asp-validation-for="HandedOverName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label lb-sm">Date</label>
                            <input asp-for="HandedOverDate" type="date" value="" class="form-control">
                            <span asp-validation-for="HandedOverDate" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label lb-sm">Email Id</label>
                            <input asp-for="HandedOverEmailId" class="form-control">
                            <span asp-validation-for="HandedOverEmailId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label lb-sm">Mobile No.</label><span class="text-danger">*</span>
                            <input asp-for="HandedOverMobileNo" class="form-control">
                            <span asp-validation-for="HandedOverMobileNo" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label lb-sm">Land Line No.</label>
                            <input asp-for="HandedOverLandlineNo" class="form-control">
                            <span asp-validation-for="HandedOverLandlineNo" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label lb-sm" asp-for="HandedOverFileData">Document</label>
                            <input type="file" class="form-control" name="HandedOverAssignFile" />
                            <span asp-validation-for="HandedOverFileData" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="control-label lb-sm">Comments</label>
                            <textarea asp-for="HandedOverComments" class="form-control"></textarea>
                            <span asp-validation-for="HandedOverComments" class="text-danger"></span>
                        </div>

                    </div>
                </div>
                <div id="DivDisposal">
                    <div class="row" style="margin-bottom:35px;">
                        <div class="col-sm-12">
                            <div class="dda-innerheading">
                                <div class="col-md-12">
                                    <h6 class="pull-left color-white" style="margin-top:5px;">Disposal</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label lb-sm" asp-for="DisposalTypeId">Type</label>
                            <select class="form-control dda-dropdown" asp-for="DisposalTypeId" asp-items="@(new SelectList(Model.DisposalTypeList, "Id","Name"))">
                                <option>--Select--</option>
                            </select>
                            <span asp-validation-for="DisposalTypeId" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label lb-sm">Date</label>
                            <input asp-for="DisposalDate" type="date" value="" class="form-control">
                            <span asp-validation-for="DisposalDate" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label lb-sm" asp-for="DisposalTypeFileData">Document</label>
                            <input type="file" class="form-control" name="DisposalTypeAssignFile" />
                            <span asp-validation-for="DisposalTypeFileData" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="control-label lb-sm">Comments</label>
                            <textarea asp-for="DisposalComments" class="form-control"></textarea>
                            <span asp-validation-for="DisposalComments" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="control-label lb-sm">Remarks</label>
                        <textarea asp-for="Remarks" class="form-control"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="control-label lb-sm">Status</label>
                        <select asp-for="IsActive" class="form-control dda-dropdown">
                            <option value="1">Active</option>
                            <option value="0">Inactive</option>
                        </select>
                        <span asp-validation-for="IsActive" class="text-danger"></span>
                    </div>
                </div>
                @{
                    @if (ViewBag.IsValidateUser == 2)
                    {
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="control-label lb-sm">Validate</label>
                                <input type="checkbox" asp-for="IsValidate" />
                            </div>
                        </div>
                    }
                }


                <div class="form-row ">
                    <div class="form-group col-md-12" style="margin-bottom:40px;">
                        <input type="submit" value="Create" class="btn btn-primary dda-pageheading" />
                        @Html.ActionLink("Back", "Index", "PropertyRegistration", null, new { @class = "btn btn-primary dda-pageheading" })
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/propertyregisterationcreate.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/propertyregisterationcreate.js" asp-append-version="true"></script>
</environment>

<environment include="Development">
    <script src="~/js/common.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/common.js" asp-append-version="true"></script>
</environment>



