@model Libraries.Repository.Common.PagedResult<Libraries.Model.Entity.Doortodoorsurvey>

<table class="table table-sm table-bordered mb-0 table-striped">
    <thead class="text-nowrap">
        <tr>

            <th>Location/Address of Property</th>
            <th>Lattitude</th>
            <th>Longitude</th>
            <th>Approx Area of the Property</th>
            <th>Number of Floors</th>
       
        </tr>

    </thead>
    <tbody>
        @if (Model != null && Model.Results.Count() > 0)
        {
            @foreach (var item in Model.Results)
            {
                <tr>

                    <td>@item.PropertyAddress</td>
                    <td>@item.GeoReferencingLattitude</td>
                    <td>@item.Longitude</td>
                    <td>@item.ApproxPropertyArea</td>
                    <td>@item.NumberOfFloors</td>
   
                </tr>
            }
        }
        else
        {
            <tr>
                <th colspan="14" style="text-align:center"> No Record Available! </th>
            </tr>
        }
    </tbody>

</table>

@await Component.InvokeAsync("Pager", new { totalCount = Model.RowCount, pageNumber = Model.CurrentPage, pageSize = Model.PazeSize })
