@model Libraries.Model.Entity.Awardmasterdetail
@await Component.InvokeAsync("PageHeader", new { pageName = "Award Master Details" })

<div class="pt-3">

    <form asp-action="Create" method="post" class="d-block rounded border p-3 bg-white search-filer shadow mb-3" enctype="multipart/form-data">
        <h3 class="mb-3 d-flex">Add Details</h3>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <div class="row">
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <input asp-for="AwardNumber" type="text" class="floating-label-field floating-label-field--s3 "
                           placeholder="Name" limit="30">

                    <span asp-validation-for="AwardNumber" class="text-danger"></span>
                    <label asp-for="AwardNumber" class="floating-label">Award Number </label>
                </div>
            </div>
            <div class="col-md-6">


                <div class="floating-label-wrap">
                    <input asp-for="AwardDate" type="date" class="floating-label-field floating-label-field--s3 "
                           placeholder="Name">

                    <span asp-validation-for="AwardDate" class="text-danger"></span>
                    <label asp-for="AwardDate" class="floating-label">Award Date </label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">

                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="VillageId"
                            asp-items="@(new SelectList(Model.AcquiredlandvillageList,"Id","Name"))">
                        <option selected="selected" disabled="disabled" value="">--Select-- </option>
                    </select>
                    <span asp-validation-for="VillageId" class="text-danger"></span>
                    <label asp-for="VillageId" class="floating-label">Village </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <select class="floating-label-field floating-label-field--s3" asp-for="ProposalId"
                            asp-items="@(new SelectList(Model.purposalList,"Id","Name"))">
                        <option selected="selected" disabled="disabled" value="">--Select-- </option>
                    </select>
                    <span asp-validation-for="ProposalId" class="text-danger"></span>
                    <label asp-for="ProposalId" class="floating-label">Proposal Name </label>

                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-3">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="Compensation" type="text" class="floating-label-field floating-label-field--s3 numbers"
                           placeholder="Name" limit="15">

                    <span asp-validation-for="Compensation" class="text-danger"></span>
                    <label asp-for="Compensation" class="floating-label">Compensation (Rs.)</label>
                </div>
            </div>
            <div class="col-md-9">

                <div class="row">
                    <div class="col-md-3">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input asp-for="Rate1" type="text" class="floating-label-field floating-label-field--s3 numbers"
                                   placeholder="Land A Rate" limit="15">

                            <span asp-validation-for="Rate1" class="text-danger"></span>
                            <label class="floating-label">Land A Rate(Rs.)</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input asp-for="Rate2" type="text" class="floating-label-field floating-label-field--s3 numbers"
                                   placeholder="Land B Rate" limit="15">

                            <span asp-validation-for="Rate2" class="text-danger"></span>
                            <label class="floating-label">Land B Rate(Rs.)</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input asp-for="Rate3" type="text" class="floating-label-field floating-label-field--s3 numbers"
                                   placeholder="Land C Rate" limit="15">

                            <span asp-validation-for="Rate3" class="text-danger"></span>
                            <label class="floating-label">Land C Rate(Rs.)</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input asp-for="Rate4" type="text" class="floating-label-field floating-label-field--s3 numbers"
                                   placeholder="Land C Rate" limit="15">

                            <span asp-validation-for="Rate4" class="text-danger"></span>
                            <label class="floating-label">Land D Rate(Rs.)</label>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="row mt-md-3">

            <div class="col-md-6">
                <input type="hidden" asp-for="Type" id="Type" value="1" />
                <label class="control-label lb-sm" asp-for="Type">Type</label>
                <div class="form-row">
                    <div class="form-group col-md-4">

                        <label class="radio-inline  ">
                            <input type="radio" name="grpType" id="1" checked="checked" value="1" />Permanent
                        </label>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="radio-inline ">
                            <input type="radio" name="grpType" id="0" value="0" />Temporary
                        </label>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <input type="hidden" asp-for="Nature" id="Nature" value="1" />
                <label class="control-label lb-sm" asp-for="Nature">Nature</label>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label class="radio-inline  ">
                            <input type="radio" name="grpNature" id="n1" checked="checked" value="1" />Plan
                            @*onchange="grpNature()"*@
                        </label>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="radio-inline ">
                            <input type="radio" name="grpNature" id="N2" value="0" />Non-Plan
                        </label>
                    </div>
                </div>

            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-12">
                <div class="floating-label-wrap">
                    <input asp-for="Purpose" type="text" class="floating-label-field floating-label-field--s3 " placeholder="Name" limit="100">
                    <span asp-validation-for="Purpose" class="text-danger"></span>
                    <label class="floating-label">Purpose</label>
                </div>
            </div>

        </div>


        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="US17Id"
                            asp-items="@(new SelectList(Model.section17List,"Id","Number"))">
                        <option selected="selected" disabled="disabled" value="">--Select-- </option>
                    </select>
                    <span asp-validation-for="US17Id" class="text-danger"></span>
                    <label asp-for="US17Id" class="floating-label">Undersection No 17 </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="US6Id"
                            asp-items="@(new SelectList(Model.section6List,"Id","Number"))">
                        <option selected="selected" disabled="disabled" value="">--Select-- </option>
                    </select>
                    <span asp-validation-for="US6Id" class="text-danger"></span>
                    <label asp-for="US6Id" class="floating-label">Undersection No 6 </label>
                </div>
            </div>

        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="US4Id"
                            asp-items="@(new SelectList(Model.section4List,"Id","Number"))">
                        <option selected="selected" disabled="disabled" value="">--Select-- </option>
                    </select>
                    <span asp-validation-for="US4Id" class="text-danger"></span>
                    <label asp-for="US4Id" class="floating-label">Undersection No 4 </label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input type="file" asp-for="DocumentIFormFile" class="floating-label-field floating-label-field--s3" accept="application/pdf, image/png, image/jpeg">
                    <span class="d-block text-danger field-validation-valid" asp-validation-for="DocumentIFormFile"></span>
                    <label class="floating-label">Upload Award Document</label>
                </div>
            </div>
            
        </div>

        <div class="row mt-md-3">
            <div class=" col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="IsActive">
                        <option value="1">Active</option>
                        <option value="0">Inactive</option>
                    </select>
                    <span asp-validation-for="IsActive" class="text-danger"></span>
                    <label asp-for="IsActive" class="floating-label">Status </label>
                </div>
            </div>
        </div>
        
        <div class="row mt-md-3">
                <div class="col-md-12">

                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <textarea asp-for="Remarks" placeholder="Description" class="floating-label-field floating-label-field--s3"></textarea>

                        <span asp-validation-for="Remarks" class="text-danger"></span>
                        <label class="floating-label">Remarks  </label>
                    </div>


                </div>
            </div>
            <div class="row mt-md-3">
                <div class=" col-md-12">
                    <button class="btn btn-theme " type="submit">Submit</button>
                    @Html.ActionLink("Back", "Index", "AcqAwardMasterDetails", null, new { @class = "btn btn-theme " })

                </div>
            </div>

    </form>

</div>

<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/Acqawardmastercreate.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/Acqawardmastercreate.min.js" asp-append-version="true"></script>
</environment>