@model Libraries.Repository.Common.PagedResult<Libraries.Model.Entity.Demolitionpoliceassistenceletter>
<table class="table table-sm table-bordered mb-0 table-striped">
    <thead class="text-nowrap">
        <tr>
           
            <th>Inspection Date</th>
            <th>Locality(Village)</th>
            <th>Khasra No.</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Results.Count() > 0)
        {
            @foreach (var item in Model.Results)
            {
                <tr>
                   

                    <td> @(Convert.ToDateTime(item.FixingDemolition.Encroachment.EncrochmentDate).ToString("dd-MMM-yyyy"))</td>
                    <td>@(item.FixingDemolition.Encroachment.Locality == null ? ""  : item.FixingDemolition.Encroachment.Locality.Name)</td>
                    <td>@(item.FixingDemolition.Encroachment.KhasraNo == null ? ""  :item.FixingDemolition.Encroachment.KhasraNo)</td>
                    <td>@(item.FixingDemolition.ApprovedStatus == 0 ?  "Pending" : "Approved")</td>
                    @if (ViewBag.IsApproved == 1)
                    {
                        <td>

                            <a asp-action="Create" asp-route-id="@item.Id" title="create" class="edit"><i class="ri-edit-line"></i> </a>

                        </td>
                    }
                    else
                    {
                        <td>

                            <a asp-action="Edit" asp-route-id="@item.Id" title="edit" class="edit"><i class="ri-edit-line"></i> </a>

                        </td>
                    }
                </tr>
            }
        }
        else
        {
            <tr>
                <th colspan="14" style="text-align:center"> No Record Available! </th>
            </tr>
        }
    </tbody>
</table>
@await Component.InvokeAsync("Pager", new { totalCount = Model.RowCount, pageNumber = Model.CurrentPage, pageSize = Model.PazeSize })
