@model Libraries.Model.Entity.Demolitionpoliceassistenceletter
@await Component.InvokeAsync("PageHeader", new { pageName = "Police Assistance letter" })
<br />
<br />
<script src="https://cdn.tiny.cloud/1/cl671uygj7y4cusxf9g7bi3mejfcqetflsi10j6vvuln9x9c/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script type="text/javascript">
    tinymce.init({
        selector: '#GeneralConditions'
    });
</script>
<form asp-action="Create" class="d-block rounded border p-3 bg-white search-filer shadow mb-3" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="FixingDemolitionId" />
    <input type="hidden" asp-for="Id" value="@ViewBag.PrimaryId" />
    <input type="hidden" id="EncroachmentId" value="@ViewBag.EncroachmentId" />
    <input type="hidden" id="WatchWardId" value="@ViewBag.WatchWardId" />
    <h3 class="mb-3 d-flex">Police Assistance letter</h3>
    <div id="WatchWardDetailsDiv">

    </div>

    <div id="EncroachmentRegisterDetailsDiv">

    </div>
    <div id="AnnexureADetailsDiv">

    </div>
    @*<div class="row mt-md-3">
            <input type="hidden" asp-for="GenerateUpload" value="0" id="GenerateUpload" />
            <div class="col-md-3">
                <div class="form-check theme">
                    <input class="form-check-input" type="radio" name="radioStatus" id="Generate" value="0" checked>
                    <label class="form-check-label" for="radio">
                        Generate
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-check theme">
                    <input class="form-check-input" type="radio" name="radioStatus" id="Upload" value="1">
                    <label class="form-check-label" for="radio">
                        Upload
                    </label>
                </div>
            </div>

        </div>*@

<div id="divGenerate" class="pt-3">
    <h3 class="my-3 d-flex sub-heading">Office Details</h3>
    <div class="row mt-md-3">
        <div class="col-md-6">
            <div class="floating-label-wrap mb-3 mb-md-0">
                <input type="text" asp-for="OfficeName" placeholder="OfficeName" class="floating-label-field floating-label-field--s3" />
                <span asp-validation-for="OfficeName" class="text-danger"></span>
                <label class="floating-label">Office Name</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="floating-label-wrap mb-3 mb-md-0">
                <input type="text" asp-for="OfficeDepartment" placeholder="OfficeDepartment" class="floating-label-field floating-label-field--s3" />
                <span asp-validation-for="OfficeDepartment" class="text-danger"></span>
                <label class="floating-label">Office Department </label>
            </div>
        </div>
    </div>
    <div class="row mt-md-3">
        <div class="col-md-6">
            <div class="floating-label-wrap mb-3 mb-md-0">
                <input type="text" asp-for="OfficeZone" placeholder="OfficeZone" class="floating-label-field floating-label-field--s3" />
                <span asp-validation-for="OfficeZone" class="text-danger"></span>
                <label class="floating-label">Office Zone </label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="floating-label-wrap mb-3 mb-md-0">
                <textarea type="text" asp-for="OfficeAddress" placeholder="OfficeName" class="floating-label-field floating-label-field--s3"></textarea>
                <span asp-validation-for="OfficeAddress" class="text-danger"></span>
                <label class="floating-label">Office Address with Pincode</label>
            </div>
        </div>
    </div>
    <div class="row mt-md-3">
        <div class="col-md-6">
            <div class="floating-label-wrap mb-3 mb-md-0">
                <input type="text" asp-for="FileNo" placeholder="Reference No" class="floating-label-field floating-label-field--s3" />
                <span asp-validation-for="FileNo" class="text-danger"></span>
                <label class="floating-label">Reference No</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="floating-label-wrap mb-3 mb-md-0">
                <input type="date" asp-for="LetterDate" placeholder="OfficeName" class="floating-label-field floating-label-field--s3" />
                <span asp-validation-for="LetterDate" class="text-danger"></span>
                <label class="floating-label">Letter Date   </label>
            </div>
        </div>
    </div>
    <div class="row mt-md-3">
        <div class="col-md-6">
            <div class="floating-label-wrap">
                <select asp-for="AuthorityDesignation" class="floating-label-field floating-label-field--s3">
                    <option selected="selected" disabled="disabled" value="">--Select-- </option>
                    <option value="Deputy Director">Deputy Director </option>
                    <option value="Director ">Director </option>
                    <option value="Commissioner (LM)">Commissioner (LM) </option>
                </select>
                <span asp-validation-for="AuthorityDesignation" class="text-danger"></span>
                <label class="floating-label">Signing Authority Designation</label>
            </div>
        </div>
    </div>
    <h3 class="my-3 d-flex sub-heading">Deputy Commissioner Of Police Address with Pin Code</h3>
    <div class="row mt-md-3">
        <div class="col-md-12">
            <div class="floating-label-wrap mb-3 mb-md-0">
                <textarea type="text" asp-for="DyCommOffcAddress" placeholder="OfficeZone" class="floating-label-field floating-label-field--s3"></textarea>
                <span asp-validation-for="DyCommOffcAddress" class="text-danger"></span>
                <label class="floating-label">Deputy Commissioner Office Address </label>
            </div>
        </div>
    </div>

    <h3 class="my-3 d-flex sub-heading">Khasra Details</h3>
    <div class="row mt-md-3">
        <div class="col-md-6">
            <div class="floating-label-wrap mb-3 mb-md-0">
                <input type="text" asp-for="KhasraNo " placeholder="OfficeZone" class="floating-label-field floating-label-field--s3" />
                <span asp-validation-for="KhasraNo " class="text-danger"></span>
                <label class="floating-label">Khasra No  </label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="floating-label-wrap mb-3 mb-md-0">
                <input type="text" asp-for="VillageName" placeholder="VillageName" class="floating-label-field floating-label-field--s3" />
                <span asp-validation-for="VillageName" class="text-danger"></span>
                <label class="floating-label">Village Name</label>
            </div>
        </div>
    </div>
    <div class="row mt-md-3">
        <div class="col-md-12">
            <div class="floating-label-wrap mb-3 mb-md-0">
                <textarea type="text" asp-for="KhasraAddress" placeholder="OfficeZone" class="floating-label-field floating-label-field--s3"></textarea>
                <span asp-validation-for="KhasraAddress" class="text-danger"></span>
                <label class="floating-label">Khasra Address </label>
            </div>
        </div>
    </div>
    <h3 class="my-3 d-flex sub-heading">Meeting Point Details</h3>
    <div class="row mt-md-3">
        <div class="col-md-6">
            <div class="floating-label-wrap mb-3 mb-md-0">
                <input type="text" asp-for="PoliceStationName " placeholder="OfficeZone" class="floating-label-field floating-label-field--s3" />
                <span asp-validation-for="PoliceStationName " class="text-danger"></span>
                <label class="floating-label">Meeting Point Name <span style="color:red">*</span>  </label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="floating-label-wrap mb-3 mb-md-0">
                <input type="date" asp-for="OperationDate " placeholder="VillageName" class="floating-label-field floating-label-field--s3" />
                <span asp-validation-for="OperationDate " class="text-danger"></span>
                <label class="floating-label">Operation Date </label>
            </div>
        </div>
    </div>
    <div class="row mt-md-3">
        <div class="col-md-6">
            <div class="floating-label-wrap mb-3 mb-md-0">
                <input type="text" asp-for="OperationDay" placeholder="OfficeZone" class="floating-label-field floating-label-field--s3" />
                <span asp-validation-for="OperationDay" class="text-danger"></span>
                <label class="floating-label">Operation Day   </label>
            </div>
        </div>

    </div>

    <h3 class="my-3 d-flex sub-heading">Revenue Officer Details:</h3>
    <div class="row mt-md-3">
        <div class="col-md-6">
            <div class="floating-label-wrap mb-3 mb-md-0">
                <input type="text" asp-for="RevenueOfficerZone " placeholder="RevenueOfficerZone" class="floating-label-field floating-label-field--s3" />
                <span asp-validation-for="RevenueOfficerZone " class="text-danger"></span>
                <label class="floating-label"> Zone  </label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="floating-label-wrap mb-3 mb-md-0">
                <input type="text" asp-for="RevenueOfficerWing" placeholder="RevenueOfficerWing" class="floating-label-field floating-label-field--s3" />
                <span asp-validation-for="RevenueOfficerWing" class="text-danger"></span>
                <label class="floating-label"> Wing</label>
            </div>
        </div>
    </div>
    <div class="row mt-md-3">
        <div class="col-md-6">
            <div class="floating-label-wrap mb-3 mb-md-0">
                <input type="text" asp-for="RevenueOfficerBranch" placeholder="RevenueOfficerBranch" class="floating-label-field floating-label-field--s3" />
                <span asp-validation-for="RevenueOfficerBranch" class="text-danger"></span>
                <label class="floating-label"> Branch  </label>
            </div>
        </div>
    </div>
    <div class="row mt-md-3">
        <div class="col-md-6">
            <div class="floating-label-wrap mb-3 mb-md-0">
                <input type="Date" asp-for="MeetingDate" placeholder="MeetingDate" class="floating-label-field floating-label-field--s3" />
                <span asp-validation-for="MeetingDate" class="text-danger"></span>
                <label class="floating-label">Demolition Date<span style="color:red">*</span></label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="floating-label-wrap mb-3 mb-md-0">
                <input type="time" asp-for="MeetingTime" placeholder="MeetingTime" class="floating-label-field floating-label-field--s3" />
                <span asp-validation-for="MeetingTime" class="text-danger"></span>
                <label class="floating-label">Demolition Time<span style="color:red">*</span></label>
            </div>
        </div>
    </div>
    <h3 class="my-3 d-flex sub-heading">Copy To</h3>
    <div class="row mt-md-3">
        <div class="col-md-6">
            <div class="floating-label-wrap mb-3 mb-md-0">
                <textarea type="text" asp-for="ChiefEngineerAddress" placeholder="ChiefEngineerAddress" class="floating-label-field floating-label-field--s3"></textarea>
                <span asp-validation-for="ChiefEngineerAddress" class="text-danger"></span>
                <label class="floating-label">Chief Engineer Address </label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="floating-label-wrap mb-3 mb-md-0">
                <textarea type="text" asp-for="Shoaddress" placeholder="Shoaddress" class="floating-label-field floating-label-field--s3"></textarea>
                <span asp-validation-for="Shoaddress" class="text-danger"></span>
                <label class="floating-label">SHO Address </label>
            </div>
        </div>
    </div>
    <h3 class="my-3 d-flex sub-heading">General Conditions</h3>
    <div class="row mt-md-3">
        <div class="col-md-12">
            @*<label class="floating-label">General Conditions </label>
                <br />*@
            @*<div class="floating-label-wrap mb-3 mb-md-0">*@
            <textarea type="text" asp-for="GeneralConditions " placeholder="General Conditions" class="floating-label-field floating-label-field--s3"></textarea>
            <span asp-validation-for="GeneralConditions " class="text-danger"></span>

            @*</div>*@
        </div>

    </div>

</div>
    <!--<div id="divUpload">
                <div class="row pt-3">
                    <div class="col-md-3">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <label style="color:#2196F3;font-size:.7rem;">
                                Upload Police Assistance letter
                            </label>
                           @* <input type="hidden" asp-for="FilePath" value="@Model.FilePath" />
                            @{
                                @if (Model.FilePath != null)
                                {
                                    <input asp-for="Document" type="file" class="floating-label-field floating-label-field--s3" accept="application/pdf, application/vnd.ms-word, image/png, image/j
        </div>

    </div>
    <!--<div id="divUpload">
        <div class="row pt-3">
            <div class="col-md-3">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <label style="color:#2196F3;font-size:.7rem;">
                        Upload Police Assistance letter
                    </label>
                   @* <input type="hidden" asp-for="FilePath" value="@Model.FilePath" />
                    @{
                        @if (Model.FilePath != null)
                        {
                            <input asp-for="Document" type="file" class="floating-label-field floating-label-field--s3" accept="application/pdf, application/vnd.ms-word, image/png, image/jpeg, image/gif" />
                        }
                        else
                        {
                            <input asp-for="Document" type="file" class="floating-label-field floating-label-field--s3" accept="application/pdf, application/vnd.ms-word, image/png, image/jpeg, image/gif" />-->
    <label class="floating-label">Upload Document</label>*@
    <label class="floating-label"></label>
                        <!--}
                    }

                    <span asp-validation-for="FilePath" class="text-danger" style="display:none;" id="MessageFileUpload">File Upload is Mandatory</span>

                </div>
            </div>
            {
              @*   @if (Model.FilePath != null)
                {
                    <div class="col-md-3 mt-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            @Html.ActionLink(" (View Uploaded Document)", "ViewLetter", new { id = Model.Id }, new { @class = "badge badge-primary px-2", target = "_blank" })
                        </div>
                    </div>
                }*@
            }
        </div>
    </div>-->
    <div class="row pt-3">
        <div class="col-md-12">
            <input type="submit" value="Submit" class="btn btn-theme " id="btnSubmit" onclick="return check();" />
            @Html.ActionLink("Back", "Index", "DemolitionPoliceAssistenceLetter", null, new { @class = "btn btn-theme " })
        </div>
    </div>

</form>
@if (ViewBag.IsVisible == true)
{
    <div class="d-block rounded border p-3 bg-white search-filer shadow mb-3 ">
        <input type="submit" value="Print" class="btn btn-theme" id="btnCreate" />
        <div id="LetterData">
            @{
                @if (ViewBag.DataLetter != null)
                {
                    @Html.Raw(ViewBag.DataLetter);
                }
            }
        </div>
    </div>
}
else
{

}
<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/demolitionpoliceassistencelettercreate.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/demolitionpoliceassistencelettercreate.min.js" asp-append-version="true"></script>
</environment>