@model Libraries.Model.Entity.Demolitionpoliceassistenceletter
@await Component.InvokeAsync("PageHeader", new { pageName = "Police Assistance letter" })
<br />
<br />

<form asp-action="Create" class="d-block rounded border p-3 bg-white search-filer shadow mb-3" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="FixingDemolitionId" />
    <input type="hidden" asp-for="Id" value="@ViewBag.PrimaryId" />
    <input type="hidden" id="EncroachmentId" value="@ViewBag.EncroachmentId" />
    <input type="hidden" id="WatchWardId" value="@ViewBag.WatchWardId" />
    <h3 class="mb-3 d-flex">Police Assistance letter</h3>
    <div id="WatchWardDetailsDiv">

    </div>

    <div id="EncroachmentRegisterDetailsDiv">

    </div>
    <div id="AnnexureADetailsDiv">

    </div>
    @*<div class="row mt-md-3">
            <input type="hidden" asp-for="GenerateUpload" value="0" id="GenerateUpload" />
            <div class="col-md-3">
                <div class="form-check theme">
                    <input class="form-check-input" type="radio" name="radioStatus" id="Generate" value="0" checked>
                    <label class="form-check-label" for="radio">
                        Generate
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-check theme">
                    <input class="form-check-input" type="radio" name="radioStatus" id="Upload" value="1">
                    <label class="form-check-label" for="radio">
                        Upload
                    </label>
                </div>
            </div>

        </div>*@

    <div id="divGenerate">
        <div class="row mt-md-3">
            <div class="col-md-3">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input type="Date" asp-for="MeetingDate" class="floating-label-field floating-label-field--s3" />
                    @*<span asp-validation-for="MeetingDate" class="text-danger" style="display:none;" id="MessageDate">Meeting Date is Mandatory</span>*@
                    <span asp-validation-for="MeetingDate" class="text-danger"></span>
                    <label class="floating-label">Proposed Demolition Date</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input type="time" asp-for="MeetingTime" class="floating-label-field floating-label-field--s3" />
                    @*<span asp-validation-for="MeetingTime" class="text-danger" style="display:none;" id="MessageTime">Meeting Time is Mandatory</span>*@
                    <span asp-validation-for="MeetingTime" class="text-danger"></span>
                    <label class="floating-label">Proposed Demolition Time</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input type="text" asp-for="PoliceStationName" class="floating-label-field floating-label-field--s3" />
                    <span asp-validation-for="PoliceStationName" class="text-danger"></span>
                    <label class="floating-label">Name of Police Station </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="IsReligiousStructure">
                        <option value="No">No</option>
                        <option value="Yes">Yes</option>
                    </select>
                    <span asp-validation-for="IsReligiousStructure" class="text-danger"></span>
                    <label asp-for="IsReligiousStructure" class="floating-label">Whether Any Religious Structure</label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">

        </div>
        <div class="row mt-md-3">
            <div class="col-md-12">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <textarea type="text" asp-for="AddressKhasraNo" class="floating-label-field floating-label-field--s3"></textarea>
                    <span asp-validation-for="AddressKhasraNo" class="text-danger"></span>
                    <label class="floating-label">Khasra Number/Address of Location</label>
                </div>
            </div>
        </div>
    </div>
    <div id="divUpload">
        <div class="row pt-3">
            <div class="col-md-3">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <label style="color:#2196F3;font-size:.7rem;">
                        Upload Document
                    </label>
                    <input type="hidden" asp-for="FilePath" value="@Model.FilePath" />
                    @{
                        @if (Model.FilePath != null)
                        {
                            <input asp-for="Document" type="file" class="floating-label-field floating-label-field--s3" accept="application/pdf, application/vnd.ms-word, image/png, image/jpeg, image/gif" />
                        }
                        else
                        {
                            <input asp-for="Document" type="file" class="floating-label-field floating-label-field--s3" accept="application/pdf, application/vnd.ms-word, image/png, image/jpeg, image/gif" />
                            @*<label class="floating-label">Upload Document</label>*@
                        }
                    }

                    <span asp-validation-for="FilePath" class="text-danger" style="display:none;" id="MessageFileUpload">File Upload is Mandatory</span>

                </div>
            </div>
            @{
                @if (Model.FilePath != null)
                {
                    <div class="col-md-3 mt-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            @Html.ActionLink(" (View Uploaded Document)", "ViewLetter", new { id = Model.Id }, new { @class = "badge badge-primary px-2", target = "_blank" })
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-md-12">
            <input type="submit" value="Submit and Upload" class="btn btn-theme " id="btnSubmit" onclick="return check();" />
            @Html.ActionLink("Back", "Index", "DemolitionPoliceAssistenceLetter", null, new { @class = "btn btn-theme " })
        </div>
    </div>

</form>
@if (ViewBag.IsVisible == true)
{
    <div class="d-block rounded border p-3 bg-white search-filer shadow mb-3 ">
        <input type="submit" value="Print" class="btn btn-theme" id="btnCreate" />
        <div id="LetterData">
            @{
                @if (ViewBag.DataLetter != null)
                {
                    @Html.Raw(ViewBag.DataLetter);
                }
            }
        </div>
    </div>
}
else
{

}

<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/demolitionpoliceassistencelettercreate.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/demolitionpoliceassistencelettercreate.min.js" asp-append-version="true"></script>
</environment>