
@{int rowid = 0;}

<style>
    .TableHeading {
        border: 1px solid black;
        align-items: flex-end;
        padding-bottom: 100px;
    }
</style>

<h1>Welcome</h1>

<table class="table table-bordered table-striped table-primary hover text-center" id="datatablelist">
    <thead>
        <tr>
            <th rowspan="2" class="text-center ">
                Sr.No.
            </th>
            <th rowspan="2" class="text-center ">
                Page Role Status <br />
                <input type="checkbox" id="selectall_role" />
            </th>
            <th rowspan="2" class="text-center">
                Menu Master
            </th>
            <th rowspan="2" class="text-center" style="border: 1px solid #ffffff;">
                Page Name
            </th>
            <th colspan="4" class="text-center">Rights</th>

        </tr>
        <tr>
            <th class="text-center">
                Add<br />
                <input type="checkbox" id="selectall_add" />
            </th>
            <th class="text-center">
                Edit Update<br />
                <input type="checkbox" id="selectall_editUpdate" />
            </th>
            <th class="text-center">
                Delete<br />
                <input type="checkbox" id="selectall_delete" />
            </th>
            <th class="text-center">
                View<br />
                <input type="checkbox" id="selectall_view" />
            </th>
        </tr>
    </thead>
    <tbody class="tbody">
       
            <tr>
                <td>1
                </td>
                <td>
                    Admin
                </td>
                <td>
                    @*@item.User.DisplayName*@
                </td>
                <td>
                    @*@(item.IsActive == 1 ? "Active" : "InActive")*@
                </td>
                <td>
                    <input type="checkbox" class="checkbox_add" />

                </td>
                <td>
                    <input type="checkbox" class="checkbox_editUpdate" />

                </td>
                <td>
                    <input type="checkbox" class="checkbox_delete" />

                </td>
                <td>
                    <input type="checkbox" class="checkbox_view" />

                </td>
            </tr>
      
    </tbody>
    @*<tbody>

        @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>
                        @Html.CheckBoxFor(modelItem => Model[i].Checked, new { @class = "checkbox_role" })
                        @Html.HiddenFor(modelItem => Model[i].ROLE_RECNO)
                        @Html.HiddenFor(modelItem => Model[i].PageID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].MenuName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].DisplayName)
                    </td>
                    <td>
                        @Html.CheckBoxFor(modelItem => Model[i].Checked_add, new { @class = "checkbox_add" })
                    </td>
                    <td>
                        @Html.CheckBoxFor(modelItem => Model[i].Checked_editUpdate, new { @class = "checkbox_editUpdate" })
                    </td>
                    <td>
                        @Html.CheckBoxFor(modelItem => Model[i].Checked_delete, new { @class = "checkbox_delete" })
                    </td>
                    <td>
                        @Html.CheckBoxFor(modelItem => Model[i].Checked_view, new { @class = "checkbox_view" })
                    </td>

                </tr>
            }
    </tbody>*@
</table>

<div class="form-group col-md-8" style="margin-left:40%;">
    <input type="submit" value="Create" class="btn btn-primary myapp-hed1" />
    &nbsp;
    &nbsp; <a asp-action="Index" class="btn btn-primary myapp-hed1">Back</a>
    @*<a href="~/PageRoleMaster/Index" class="btn btn-danger" style="width:100px;">Back</a>*@
</div>


<script language="javascript">
    // for role
    $("#selectall_role").change(function () {
        var status = this.checked;
        $('.checkbox_role').each(function () {
            this.checked = status;
        });
    });
    $('.checkbox_role').change(function () {

        if (this.checked == false) {
            $("#selectall_role")[0].checked = false;
        }
        if ($('.checkbox_role:checked').length == $('.checkbox_role').length) {
            $("#selectall_role")[0].checked = true;
        }
    });

    // for Add writes
    $("#selectall_add").change(function () {
        var status = this.checked;
        $('.checkbox_add').each(function () {
            this.checked = status;
        });
    });
    $('.checkbox_add').change(function () {

        if (this.checked == false) {
            $("#selectall_add")[0].checked = false;
        }
        if ($('.checkbox_add:checked').length == $('.checkbox_add').length) {
            $("#selectall_add")[0].checked = true;
        }
    });

    // for Edit Update writes
    $("#selectall_editUpdate").change(function () {
        var status = this.checked;
        $('.checkbox_editUpdate').each(function () {
            this.checked = status;
        });
    });
    $('.checkbox_editUpdate').change(function () {

        if (this.checked == false) {
            $("#selectall_editUpdate")[0].checked = false;
        }
        if ($('.checkbox_editUpdate:checked').length == $('.checkbox_editUpdate').length) {
            $("#selectall_editUpdate")[0].checked = true;
        }
    });

    // for Delete writes
    $("#selectall_delete").change(function () {
        var status = this.checked;
        $('.checkbox_delete').each(function () {
            this.checked = status;
        });
    });
    $('.checkbox_delete').change(function () {

        if (this.checked == false) {
            $("#selectall_delete")[0].checked = false;
        }
        if ($('.checkbox_delete:checked').length == $('.checkbox_delete').length) {
            $("#selectall_delete")[0].checked = true;
        }
    });

    // for View writes
    $("#selectall_view").change(function () {
        var status = this.checked;
        $('.checkbox_view').each(function () {
            this.checked = status;
        });
    });
    $('.checkbox_view').change(function () {

        if (this.checked == false) {
            $("#selectall_view")[0].checked = false;
        }
        if ($('.checkbox_view:checked').length == $('.checkbox_view').length) {
            $("#selectall_view")[0].checked = true;
        }
    });

</script>