
@model List<Dto.Search.DemolitionDashboardDto>

<link rel="stylesheet" href="~/css/ToggleSwitch1.css" />
<div class="card text-white bg-secondary register mb-3">
    <div class="card-header ">
        <h5 style="float:left">Demolition Dashboard</h5>
        <div >
            <div class="mid">
                <span class="DemolitionCls" style="color: white; font-size: 15px; margin-left: 300px ">Demolition <br /><span class="DemolitionCls">Dashboard</span></span>
                <label class="rocker" style="margin-left: 15px; background-color: #6c757d">
                    <input type="checkbox" checked>
                    <span id="divDemolitionDashboard" onclick="return DemolitionDashboard();" class="switch-left"></span>
                    <span id="divEncroachmentDemolition" onclick="return EncroachmentDemolition();" class="switch-right"></span>
                </label>
                <span class="EncroachmentCls" style="color:white; font-size: 15px; margin-left: 15px ">Encroachment <br /><span class="EncroachmentCls">Dashboard</span></span>
            </div>
            <!--<ul class="nav nav-tabs nav-justified" style="cursor:pointer" role="tablist">
        <li class="nav-item">

            <div class="nav-link active" data-toggle="tab" id="divDemolitionDashboard" onclick="return DemolitionDashboard();" value="Demolition" role="tab" aria-controls="DemolitionDashboard" aria-selected="true">Demolition Dashboard</div>-->
            @*<a class="nav-link active" data-toggle="tab" href="#DemolitionDashboard" role="tab" aria-controls="DemolitionDashboard" aria-selected="true">Demolition Dashboard</a>*@
            <!--</li>
    <li class="nav-item">
        <div class="nav-link" data-toggle="tab" id="divEncroachmentDemolition" onclick="return EncroachmentDemolition();" value="Encroachment" role="tab" aria-controls="EncroachmentDemolition" aria-selected="false">Encroachment Demolition</div>-->
            @*<a class="nav-link"  data-toggle="tab" href="#EncroachmentDemolition" role="tab" aria-controls="EncroachmentDemolition" aria-selected="false">Encroachment Demolition</a>*@
            <!--</li>
    </ul>-->
        </div>
    </div>
    <div id="myTabContent">
        <div class="card-body bg-light tab-pane fade show active" id="demolitionDashboard" role="tabpanel" aria-labelledby="home-tab" style="text-decoration: none !important; outline: none !important">
            @*;display: none*@

            <div class="widget p-4 p-md-5 ">
                <div class="row register-form g-md-5">
                    <div class="col-md-4 col-sm-6">
                        <a href="#" onclick="showdata('TotalReceived')" title="Total Received">
                            <div class="card text-white bg-primary mb-3">
                                <div class="card-header">
                                    <b>Total Received</b>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">@Model.Select(x => x.TotalRequest).FirstOrDefault()</h5>
                                    <p class="card-text">Click here to see Total Received Application</p>
                                </div>
                                <div class="card-footer text-end">
                                    @*<a href="#" class="btn btn-group-sm bg-primary">show</a>*@
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <a href="#" onclick="showdata('TotalPending')" title="Total Pending">
                            <div class="card text-white bg-secondary  mb-3">
                                <div class="card-header">
                                    <b> Total Pending</b>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">@Model.Select(x => x.TotalPending).FirstOrDefault() </h5>
                                    <p class="card-text">Pending</p>
                                </div>
                                <div class="card-footer text-end">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <a href="#" onclick="showdata('PendingAtyou')" title="Total Pending at User Level">
                            <div class="card text-white bg-warning mb-3">
                                <div class="card-header">
                                    <b>Pending At User Level</b>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">@Model.Select(x => x.PendingAtYou).FirstOrDefault() </h5>
                                    <p class="card-text">Pending At User Level</p>
                                    @*<a href="#" class="btn btn-primary">Go#</a>*@
                                </div>
                                <div class="card-footer text-end">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <a href="#" onclick="showdata('TotalApproved')" title="Total Approved">
                            <div class="card text-white bg-success   mb-3">
                                <div class="card-header">
                                    <b> Approved</b>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">@Model.Select(x => x.TotalApproved).FirstOrDefault() </h5>
                                    <p class="card-text">Approved</p>
                                </div>
                                <div class="card-footer text-end">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <a href="#" onclick="showdata('TotalRejected')" title="Total Rejected">
                            <div class="card text-white bg-danger mb-3">
                                <div class="card-header">
                                    <b>Rejected</b>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">@Model.Select(x => x.TotalRejected).FirstOrDefault() </h5>
                                    <p class="card-text">Rejected</p>
                                </div>
                                <div class="card-footer text-end">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div id="encroachmentDemolition">

        </div>

      
    </div>
    <div class="card-footer">
        <small class="text-white">Last updated 3 mins ago</small>
    </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" style="display:none" id="btnShowModel" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    #
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Dashboard Data</h5><h5 id="hfiltertext"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="resetModel()" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="divModelContent">
                    @*show data Here*@
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="resetModel()" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>