@model Libraries.Repository.Common.PagedResult<Libraries.Model.Entity.Fixingdemolition>
<table class="table table-sm table-bordered mb-0 table-striped">
    <thead class="text-nowrap">
        <tr>

            <th>Inspection Date</th>
            <th>Department</th>
            <th>Zone</th>
            <th>Locality(Village)/Colony</th>
            <th>Khasra No./Plot No.</th>
            <th>Status</th>
            @*<th>Letter Status</th>*@
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Results.Count() > 0)
        {
            @foreach (var item in Model.Results)
            {
        <tr>

            <td> @(Convert.ToDateTime(item.Encroachment.EncrochmentDate).ToString("dd-MMM-yyyy"))</td>
            <td>@item.Encroachment.Department.Name</td>
            <td>@item.Encroachment.Zone.Name</td>
            <td>@(item.Encroachment.KhasraNoNavigation.LocalityId == null ? item.Encroachment.KhasraNoNavigation.Colony : item.Encroachment.KhasraNoNavigation.Locality.Name)</td>
            <td>@(item.Encroachment.KhasraNoNavigation.LocalityId == null ? item.Encroachment.KhasraNoNavigation.PlotNo : item.Encroachment.KhasraNoNavigation.PlotNo)</td>
            <td>@(item.ApprovedStatus == 0 ?  "Pending" : "Approved")</td>
            @*<td>@(item.Demolitionpoliceassistenceletter.Count != 0 ?  "Generated" : "Not Generated")</td>*@

            <td> <a asp-action="Create" asp-route-id="@item.Id" title="edit" class="edit"><i class="ri-edit-line"></i> </a></td>

        </tr>
            }
        }
        else
        {
            <tr>
                <th colspan="14" style="text-align:center"> No Record Available! </th>
            </tr>
        }
    </tbody>
</table>
@await Component.InvokeAsync("Pager", new { totalCount = Model.RowCount, pageNumber = Model.CurrentPage, pageSize = Model.PazeSize })
