@model IEnumerable<Libraries.Model.Entity.Demolitionstructuredetails>
<table class="table table-sm table-bordered mb-0 table-striped">
    <thead class="text-nowrap">

        <tr>
           
            <th>Department</th>
            <th>Zone</th>
            <th>Division</th>
            <th>Locality</th>
          
            <th>Date Of approval of demolition</th>
           
            <th>Operation</th>
        </tr>
    </thead>
    <tbody>
      
        @foreach (var item in Model)
        {
        <tr>
            
            <td>@item.Department.Name</td>
            <td>@item.Zone.Name</td>
            <td>@item.Division.Name</td>
            <td>@item.Locality.Name</td>
          
            <td>@(item.DateOfApprovalDemolition == null ? "" : Convert.ToDateTime(item.DateOfApprovalDemolition).ToString("dd-MMM-yyyy"))</td>
           
            <td>
                <a asp-action="View" asp-route-id="@item.Id" title="View" class="view">  <i class="ri-eye-fill" aria-hidden="true"></i> </a>
                <a asp-action="Edit" asp-route-id="@item.Id" title="edit" class="edit"> &nbsp; | &nbsp;  <i class="ri-edit-line" aria-hidden="true"></i> </a>
                <a asp-action="Delete" asp-route-id="@item.Id" title="delete" class="remove" onclick="return confirm('Are You Sure, You want to Delete this Record?')">   &nbsp;|&nbsp;<i class="ri-delete-bin-5-fill" aria-hidden="true"></i></a>
            </td>
        </tr>
        }
    </tbody>

</table>
