@model Libraries.Model.Entity.Demolitionstructuredetails
@*@{int FirFile = 0;}
@{int LocationMapFile = 0;}
@{int PhotoFile = 0;}*@

<div class="row">
    <div class="col-sm-12">
        <div class="dda-topheading">
            <div class="col-md-12">
                <h6 class="pull-left color-white" style="margin-top:5px;">Demolition </h6>
                <i class="glyphicon glyphicon-arrow-right pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="container-fluid" id="MainContentForm">
    <div class="panel">
        <div class="panel-heading  dda-pageheading">
            <h6 class="pull-left color-white " style="margin-top:-0.4%">Add Details</h6>
        </div>
        <div class="panel-body">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Department <span style="color:red">*</span></label>
                        <select asp-for="DepartmentId" class="form-control dda-dropdown" asp-items="@(new SelectList(Model.DepartmentList,"Id","Name"))" onchange="return onChangeDepartment(this.options[this.selectedIndex].value);">
                            <option value="">Select</option>
                        </select>
                        <span asp-validation-for="DepartmentId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Zone <span style="color:red">*</span></label>
                        <select asp-for="ZoneId" class="form-control dda-dropdown" asp-items="@(new SelectList(Model.ZoneList,"Id","Name"))" onchange="return onChangeZone(this.options[this.selectedIndex].value)">
                            <option value="value">Select</option>
                        </select>
                        <span asp-validation-for="ZoneId" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Division <span style="color:red">*</span></label>
                        <select asp-for="DivisionId" class="form-control dda-dropdown" asp-items="@(new SelectList(Model.DivisionList,"Id","Name"))" onchange="return onChangeDivision(this.options[this.selectedIndex].value)">
                            <option value="value">Select</option>
                        </select>
                        <span asp-validation-for="DivisionId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Locality(Village) Name <span style="color:red">*</span></label>
                        <select asp-for="LocalityId" class="form-control dda-dropdown" asp-items="@(new SelectList(Model.LocalityList,"Id","Name"))">
                            <option value="value">Select</option>
                        </select>
                        <span asp-validation-for="LocalityId" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">File No.</label>
                        <input type="text" class="form-control" asp-for="FileNo" />
                        <span asp-validation-for="FileNo" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Date</label>
                        <input type="Date" asp-for="Date" class="form-control" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Area</label>
                        <textarea type="text" asp-for="Area" class="form-control"></textarea>
                        <span asp-validation-for="Area" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm ">Police Station</label>
                        <textarea type="text" asp-for="PoliceStation" class="form-control"></textarea>
                        <span asp-validation-for="PoliceStation" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Name of the Area/Site</label>
                        <input type="text" class="form-control" asp-for="NameOfAreaSite" />
                        <span asp-validation-for="NameOfAreaSite" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Encroachment Since</label>
                        <input type="Date" asp-for="EncroachmentSinceDate" class="form-control" />
                        <span asp-validation-for="EncroachmentSinceDate" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Date of Approval of Demolition</label>
                        <input type="Date" asp-for="DateOfApprovalDemolition" class="form-control" />
                        <span asp-validation-for="DateOfApprovalDemolition" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Name of Encroacher, if any</label>
                        <input type="text" class="form-control" asp-for="NameOfEncroacherIfAny" />
                        <span asp-validation-for="NameOfEncroacherIfAny" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Start of Demolition Action</label>
                        <input type="Date" asp-for="StartOfDemolitionActionDate" class="form-control" />
                        <span asp-validation-for="StartOfDemolitionActionDate" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Photographs Before Demolition</label>
                        <input type="file" class="form-control" asp-for="BeforePhotoFile" id="PhotoFile" multiple />
                        <span asp-validation-for="BeforePhotoFile" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">End of Demolition Action</label>
                        <input type="Date" asp-for="EndOfDemolitionActionDate" class="form-control" />
                        <span asp-validation-for="EndOfDemolitionActionDate" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Photographs After Demolition</label>
                        <input type="file" class="form-control" asp-for="AfterPhotoFile" id="PhotoFile" multiple />
                        <span asp-validation-for="AfterPhotoFile" class="text-danger"></span>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table id="tbl_posts" class="table table-striped table-bordered">
                                <thead class="thead">
                                    <tr>
                                        <th>Sr.No</th>
                                        <th>Name of Structure</th>
                                        <th>No of Structure</th>

                                        <th>Operation</th>
                                    </tr>
                                </thead>
                                <tbody id="tbl_posts_body">
                                </tbody>
                                <!--<tbody id="add">
                                    <tr id="">
                                        <td style="text-align:center;"><span class="sn">1</span></td>

                                        <td>
                                            <select asp-for="NoOfStructrure" class="form-control">
                                                <option value="Select">Select</option>
                                                <option value="Kachcha">Kachcha</option>
                                                <option value="Pakka">Pakka</option>
                                                <option value="Under Construction">Under Construction</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" asp-for="NameOfStructure" class="form-control" id="NameOfStructure" />
                                        </td>-->

                                        @*<td>
                                    <input type="text" asp-for="AreaApprox" class="form-control numbers" id="AreaApprox" />
                                </td>
                                <td>
                                    <input type="text" asp-for="Type" class="form-control" id="Type" />
                                </td>
                                <td>
                                    <input asp-for="DateOfEncroachment" type="date" class="form-control" id="DateOfEncroachment" />
                                </td>
                                <td>
                                    <input asp-for="ReferenceNoOnLocation" type="text" class="form-control number" id="ReferenceNoOnLocation" />
                                </td>
                                <td>
                                    <input asp-for="CountOfStructure" type="text" class="form-control onlynumbers" id="CountOfStructure" />
                                </td>*@
                                        <!--<td>
                                            <a class="btn dda-pageheading delete-record" data-id="0" style="display:none;"><i class="fa fa-trash"></i></a>
                                            <a class="btn dda-pageheading add-record" data-added="0"><i class="fa fa-plus"></i></a>
                                        </td>
                                    </tr>
                                </tbody>-->
                            </table>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Area Reclaimed(approx.)</label>
                        <input type="text" class="form-control" asp-for="AreaReclaimed" />
                        <span asp-validation-for="AreaReclaimed" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Remarks, If Any </label>
                        <textarea type="text" asp-for="Remarks" class="form-control"></textarea>
                        <span asp-validation-for="Remarks" class="text-danger"></span>
                    </div>
                </div>
                <br />

                <br />
                <div class="row">
                    <div class="form-group col-md-12">
                        @Html.ActionLink("Back", "Index", "Demolitionstructuredetails", null, new { @class = "btn btn-primary dda-pageheading" })
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<environment include="Development">
    <script src="~/js/EncroachmentRegisterationView.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/EncroachmentRegisterationView.min.js" asp-append-version="true"></script>
</environment>