@model Libraries.Model.Entity.Demolitionstructuredetails
@{ int recNo = 0;}
@{int AfterPhotoFile = 0;}
@{int BeforePhotoFile = 0;}
@await Component.InvokeAsync("PageHeader", new { pageName = "Demolition Diary" })

<div class="pt-3">

    <form asp-action="Edit" enctype="multipart/form-data" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <h3 class="mb-3 d-flex"> View Details</h3>
        <input type="hidden" asp-for="Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="form-group col-md-6">
                <div class="floating-label-wrap">
                    <select disabled class="floating-label-field floating-label-field--s3"
                            asp-for="DepartmentId"
                            asp-items="@(new SelectList(Model.DepartmentList,"Id","Name"))"
                            onchange="return onChangeDepartment(this.options[this.selectedIndex].value);">
                        <option value="">--Select--</option>
                    </select>
                    <span class="d-block text-danger field-validation-valid" asp-validation-for="DepartmentId"></span>
                    <label class="floating-label">Department</label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="floating-label-wrap">
                    <select disabled class="floating-label-field floating-label-field--s3"
                            asp-for="ZoneId"
                            asp-items="@(new SelectList(Model.ZoneList,"Id","Name"))"
                            onchange="return onChangeZone(this.options[this.selectedIndex].value)">
                        <option value="">--Select--</option>
                    </select>
                    <span class="d-block text-danger field-validation-valid" asp-validation-for="ZoneId"></span>
                    <label class="floating-label">Zone</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <div class="floating-label-wrap">
                    <select disabled class="floating-label-field floating-label-field--s3"
                            asp-for="DivisionId"
                            asp-items="@(new SelectList(Model.DivisionList,"Id","Name"))"
                            onchange="return onChangeDivision(this.options[this.selectedIndex].value)">
                        <option value="">--Select--</option>
                    </select>
                    <span class="d-block text-danger field-validation-valid" asp-validation-for="DivisionId"></span>
                    <label class="floating-label">Division</label>
                </div>

            </div>
            <div class="form-group col-md-6">
                <div class="floating-label-wrap">
                    <select disabled class="floating-label-field floating-label-field--s3"
                            asp-for="LocalityId"
                            asp-items="@(new SelectList(Model.LocalityList,"Id","Name"))">
                        <option value="">--Select--</option>
                    </select>
                    <span class="d-block text-danger field-validation-valid" asp-validation-for="LocalityId"></span>
                    <label class="floating-label">Locality(Village) Name</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input disabled asp-for="FileNo" placeholder="File No" class="floating-label-field floating-label-field--s3" />
                    <span class="d-block text-danger field-validation-valid" asp-validation-for="FileNo"></span>
                    <label class="floating-label">File No.</label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="Date" placeholder="Date" class="floating-label-field floating-label-field--s3" />
                    <span class="d-block text-danger field-validation-valid" asp-validation-for="Date"></span>
                    <label class="floating-label">Date</label>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input disabled asp-for="Area" placeholder="Area" class="floating-label-field floating-label-field--s3" />
                    <span class="d-block text-danger field-validation-valid" asp-validation-for="Area"></span>
                    <label class="floating-label">Area</label>
                </div>
            </div>

            <div class="form-group col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <textarea disabled asp-for="PoliceStation" placeholder="Police Station" class="floating-label-field floating-label-field--s3"></textarea>
                    <span class="d-block text-danger field-validation-valid" asp-validation-for="PoliceStation"></span>
                    <label class="floating-label">Police Station</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input disabled asp-for="NameOfAreaSite" placeholder="Name of the Area/Site" class="floating-label-field floating-label-field--s3" />
                    <span class="d-block text-danger field-validation-valid" asp-validation-for="NameOfAreaSite"></span>
                    <label class="floating-label">Name of the Area/Site</label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="EncroachmentSinceDate" type="date" placeholder="Encroachment Since" class="floating-label-field floating-label-field--s3" />
                    <span class="d-block text-danger field-validation-valid" asp-validation-for="EncroachmentSinceDate"></span>
                    <label class="floating-label">Encroachment Since</label>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input disabled asp-for="DateOfApprovalDemolition" type="date" placeholder="Date of Approval of Demolition" class="floating-label-field floating-label-field--s3" />
                    <span class="d-block text-danger field-validation-valid" asp-validation-for="DateOfApprovalDemolition"></span>
                    <label class="floating-label">Date of Approval of Demolition</label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="NameOfEncroacherIfAny" placeholder="Name of Encroacher, if any"
                           class="floating-label-field floating-label-field--s3" />
                    <span class="d-block text-danger field-validation-valid" asp-validation-for="NameOfEncroacherIfAny"></span>
                    <label class="floating-label">Name of Encroacher, if any</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input disabled asp-for="StartOfDemolitionActionDate" type="date" placeholder="Start of Demolition Action"
                           class="floating-label-field floating-label-field--s3" />
                    <span class="d-block text-danger field-validation-valid" asp-validation-for="StartOfDemolitionActionDate"></span>
                    <label class="floating-label">Start of Demolition Action</label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    @{
                        if (Model.Demolitionstructurebeforedemolitionphotofiledetails != null && Model.Demolitionstructurebeforedemolitionphotofiledetails.Count > 0)
                        {


                            <input type="file" class="floating-label-field floating-label-field--s3" asp-for="BeforePhotoFile" id="BPhotoFile" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" multiple />
                            foreach (var item in Model.Demolitionstructurebeforedemolitionphotofiledetails)
                            {
                                <a asp-action="DownloadPhotoFile" asp-route-id="@item.Id" class="badge badge-primary px-2"> (View Existing Document @(BeforePhotoFile += 1 ))</a>

                            }
                            <span asp-validation-for="BeforePhotoFile" class="d-block text-danger field-validation-valid"></span>
                        }
                        else
                        {
                            <input type="file" class="floating-label-field floating-label-field--s3" asp-for="BeforePhotoFile" id="BPhotoFile" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" multiple />
                            <span asp-validation-for="BeforePhotoFile" class="d-block text-danger field-validation-valid"></span>
                        }
                    }
                    <label class="floating-label">Photographs Before Demolition (<span style="color:red;"> max size: 5 mb</span>)</label>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input disabled asp-for="EndOfDemolitionActionDate" type="date" placeholder="End of Demolition Action"
                           class="floating-label-field floating-label-field--s3" />
                    <span class="d-block text-danger field-validation-valid" asp-validation-for="EndOfDemolitionActionDate"></span>
                    <label class="floating-label">End of Demolition Action</label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    @{
                        if (Model.Demolitionstructureafterdemolitionphotofiledetails != null && Model.Demolitionstructureafterdemolitionphotofiledetails.Count > 0)
                        {

                            <input type="file" class="floating-label-field floating-label-field--s3" asp-for="AfterPhotoFile" id="PhotoFile" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" multiple />

                            foreach (var item in Model.Demolitionstructureafterdemolitionphotofiledetails)
                            {
                                <a asp-action="DownloadPhotoFile" asp-route-id="@item.Id" class="badge badge-primary px-2"> (View Existing Document @(AfterPhotoFile += 1 ))</a>

                            }
                            <span asp-validation-for="AfterPhotoFile" class="d-block text-danger field-validation-valid"></span>
                        }
                        else
                        {
                            <input type="file" class="floating-label-field floating-label-field--s3" asp-for="AfterPhotoFile" id="PhotoFile" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" multiple />
                            <span asp-validation-for="AfterPhotoFile" class="d-block text-danger field-validation-valid"></span>
                        }
                    }

                    <label class="floating-label">Photographs After Demolition (<span style="color:red;"> max size: 5 mb</span>)</label>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input type="hidden" asp-for="DemilitionReportPath" />
                    @{
                        @if (Model.DemilitionReportPath != null)
                        {
                            <input type="file" asp-for="DemolitionReportFile" class="floating-label-field floating-label-field--s3" accept="application/pdf,  image/png, image/jpeg">
                            <label class="badge badge-primary px-2">(View Report)</label>
                        }
                        else
                        {
                            <input type="file" asp-for="DemolitionReportFile" class="floating-label-field floating-label-field--s3" accept="application/pdf,  image/png, image/jpeg">
                        }
                    }
                    <span class="d-block text-danger field-validation-valid" asp-validation-for="DemolitionReportFile"></span>
                    <label class="floating-label">Demolition Report</label>
                </div>
            </div>
        </div>

        <div class="row pt-3">
            <div class="col-md-12">
                <div class="table-section bg-white border shadow rounded">
                    <div class="table-responsive ">
                        <table id="tbl_posts" class="table table-sm table-bordered mb-0 table-striped">
                            <thead class="text-nowrap">
                                <tr>
                                    <th>Sr.No</th>
                                    <th>Name of Structure</th>
                                    <th>No of Structure</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Demolitionstructure)
                                {
                                    <tr>
                                        <td>@(recNo += 1)</td>
                                        <td>@(item.Structure.Name)</td>
                                        <td>
                                            <div class="floating-label-wrap mb-3 mb-md-0">
                                                <input disabled type="text" asp-for="NoOfStructrure" value="@(item.NoOfStructrure)" class="floating-label-field floating-label-field--s3" readonly="readonly" />
                                                <input type="hidden" asp-for="Id" value="@(item.Id)" />
                                                <input type="hidden" asp-for="StructrureId" value="@(item.StructureId)" />
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pt-4">
            <div class="form-group col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input disabled asp-for="AreaReclaimed" type="text" placeholder="Area Reclaimed(approx.)"
                           class="floating-label-field floating-label-field--s3" />
                    <span class="d-block text-danger field-validation-valid" asp-validation-for="AreaReclaimed"></span>
                    <label class="floating-label">Area Reclaimed(approx.)</label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <textarea disabled asp-for="Remarks" type="text" placeholder="Remarks"
                              class="floating-label-field floating-label-field--s3"></textarea>
                    <span class="d-block text-danger field-validation-valid" asp-validation-for="Remarks"></span>
                    <label class="floating-label">Remarks, If Any</label>
                </div>

            </div>
        </div>
        <div class="row mt-md-4">
            <div class="col-md-12">

                @Html.ActionLink("Back", "Index", "Demolitionstructuredetails", null, new { @class = "btn btn-theme" })

            </div>
        </div>

    </form>

</div>
<environment include="Development">
    <script src="~/js/DemolitionstructuredetailsView.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/DemolitionstructuredetailsView.min.js" asp-append-version="true"></script>
</environment>