@model IEnumerable<Libraries.Model.Entity.Currentstatusoflandhistory>
@{int rowNo = 0;}
<div class="row">
    <div class="col-sm-12">
        <div class="dda-topheading">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;">Current Status Of Handed Over Taken Over Land History </h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div>
    <a asp-action="Index" class="btn btn-primary pull-right dda-pageheading" style="margin-top: -10px;">Back</a>
</div>
<br />
<br />
<div class="container-fluid">
    <div class="card  table-responsive table-card">
        <table class="table table-responsive table-bordered table-card">
            <thead class="thead">
                <tr class="myapp-hed1">
                    <th rowspan="2">Sr.No</th>
                    <th colspan="2">TSS Survey</th>
                    <th colspan="4">Encroachment</th>
                    <th colspan="3">Fencing/Boundary Wall</th>
                    <th colspan="3">Area Utilised</th>
                    <th rowspan="2">Remarks</th>
                    <th rowspan="2">Submitted On </th>
                </tr>
                <tr>
                    <th>TSS Survey</th>
                    <th>Upload Survey Report</th>
                    <th>Encroachment </th>
                    <th>Encroached Area(Bigha/Biswa/Biswanshi)</th>
                    <th>Action On Encroachment</th>
                    <th>Upload Action Taken Report(ATR)</th>
                    <th>Fencing/Boundary Wall </th>
                    <th>Area Covered(Sq. mtr)</th>
                    <th>Dimension (L*B*H)(mtr)</th>
                    <th>Area /Plot Utilization</th>
                    <th>Area Utilised(Bigha/Biswa/Biswanshi)</th>
                    <th>Balance Area(Bigha/Biswa/Biswanshi)</th>
                </tr>
            </thead>
            <tbody class="tbody">

                @if (Model != null && Model.Count() > 0)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@(rowNo += 1)</td>
                            <td>@item.Tsssurvey</td>
                            <td>@item.SurveyReportFilePath</td>
                            <td>@item.Encroachment</td>
                            <td>@item.EncroachedArea</td>
                            <td>@item.ActionOnEncroachment</td>
                            <td>@item.ActionReportFilePath</td>
                            <td>@item.FencingBoundaryWall</td>
                            <td>@item.AreaCovered</td>
                            <td>@item.Dimension</td>
                            <td> @item.PlotUtilization</td>
                            <td>@item.AreaUtilised</td>
                            <td>@item.BalanceArea</td>
                            <td>@item.Remarks</td>
                            <td>@(Convert.ToDateTime(item.CreatedDate).ToString("dd MMM yyyy") )</td>

                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <th colspan="14" style="text-align:center"> No Record Available! </th>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
