@model Libraries.Model.Entity.EncroachmentRegisteration

@await Component.InvokeAsync("PageHeader", new { pageName = "Inspection/Encroachment Register" })
<br />

<br />
<form asp-action="Create" class="d-block rounded border p-3 bg-white search-filer shadow mb-3" enctype="multipart/form-data">
    <h3 class="mb-3 d-flex">Add Details<span class="ms-auto"><span style="color:red">*&nbsp;</span>Marked are mandatory fields</span></h3>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" id="enc_@Guid.NewGuid()" value="@ViewBag.PrimaryId" />
    <input type="hidden" asp-for="WatchWardId" />
    <div id="WatchWardDetailsDiv">

    </div>

    <div class="row mt-md-3">
        <div class="col-md-6">
            <div class="floating-label-wrap">
                <select asp-for="DepartmentId" id="DepartmentId_@Guid.NewGuid()" class="floating-label-field floating-label-field--s3"
                        asp-items="@(new SelectList(Model.DepartmentList,"Id","Name"))"
                        onchange="return onChangeDepartment(this.options[this.selectedIndex].value);">
                    <option value="">Select</option>
                </select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
                <label class="floating-label">Department<span style="color:red">*</span></label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="floating-label-wrap">

                <select asp-for="ZoneId" id="ZoneId_@Guid.NewGuid()" class="floating-label-field floating-label-field--s3 ZoneClass" asp-items="@(new SelectList(Model.ZoneList,"Id","Name"))" onchange="return onChangeZone(this.options[this.selectedIndex].value)">
                    <option value="value">Select</option>
                </select>
                <span asp-validation-for="ZoneId" class="text-danger"></span>
                <label class="floating-label">Zone</label>
            </div>
        </div>
    </div>
    <div class="row mt-md-3">
        <div class="col-md-6">
            <div class="floating-label-wrap">

                <select asp-for="DivisionId" id="DivisionId_@Guid.NewGuid()" class="floating-label-field floating-label-field--s3 DivisionClass" asp-items="@(new SelectList(Model.DivisionList,"Id","Name"))" onchange="return onChangeDivision(this.options[this.selectedIndex].value)">

                    <option value="value">Select</option>
                </select>
                <span asp-validation-for="DivisionId" class="text-danger"></span>
                <label class="floating-label">Division</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="floating-label-wrap">

                <select asp-for="LocalityId" id="LocalityId_@Guid.NewGuid()" class="floating-label-field floating-label-field--s3 LocalitiyClass"
                        asp-items="@(new SelectList(Model.LocalityList,"Id","Name"))">
                    <option value="value">Select</option>
                </select>
                <span asp-validation-for="LocalityId" class="text-danger"></span>
                <label class="floating-label">Locality(Village) Name</label>
            </div>
        </div>
    </div>
    <div class="row mt-md-3">
        <div class="col-md-6">
            <div class="floating-label-wrap">

                <select asp-for="KhasraNo" class="floating-label-field floating-label-field--s3" asp-items="@(new SelectList(Model.KhasraList,"Name","Name"))">
                    <option value="0">Select</option>
                </select>
                <span asp-validation-for="KhasraNo" class="text-danger"></span>
                <label class="floating-label">Khasra No.</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="floating-label-wrap mb-3 mb-md-0">

                <input type="Date" asp-for="EncrochmentDate" value="" class="floating-label-field floating-label-field--s3" />
                <span asp-validation-for="EncrochmentDate" class="text-danger"></span>
                <label class="floating-label">Date<span style="color:red">*</span></label>
            </div>
        </div>
    </div>
    <div id="DivArea">
        <h2 class="my-3 sub-heading">Site Details</h2>
        <div class="row mt-md-3">

            <div class="col-md-4">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="AreaUnit" id="inspectionAreaUnit">
                        <option value="">--Select--</option>
                        <option value="0">Bigha-Biswa-Biswansi</option>
                        <option value="1">Sq Yd.</option>
                        <option value="2">Acre</option>
                        <option value="3">Hectare</option>
                        <option value="4">Sq. Mt.</option>
                    </select>
                    <span asp-validation-for="AreaUnit" class="text-danger"></span>
                    <label asp-for="AreaUnit" class="floating-label">Area Unit </label>
                </div>
            </div>
        </div>
        <div id="inspectionbighabis">
            <div class="row mt-md-3">
                <div class="col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">

                        <input limit="4" asp-for="TotalAreaInBighaInspection" type="text" value="" class="floating-label-field floating-label-field--s3 onlynumbers inspectionbbbcalculation" placeholder="Bigha" onkeypress="return numericDecimal(this);" onpaste="return false;">
                        <span asp-validation-for="TotalAreaInBighaInspection" class="text-danger"></span>
                        <label class="floating-label">Bigha</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">

                        <input limit="2" asp-for="TotalAreaInBiswaInspection" type="text" value="" class="floating-label-field floating-label-field--s3 onlynumbers inspectionbbbcalculation" placeholder="Biswa" onkeypress="return numericDecimal(this);" onpaste="return false;">
                        <span asp-validation-for="TotalAreaInBiswaInspection" class="text-danger"></span>
                        <label class="floating-label">Biswa</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">

                        <input limit="2" asp-for="TotalAreaInBiswaniInspection" type="text" value="" class="floating-label-field floating-label-field--s3 onlynumbers inspectionbbbcalculation" placeholder="Biswani" onkeypress="return numericDecimal(this);" onpaste="return false;">
                        <span asp-validation-for="TotalAreaInBiswaniInspection" class="text-danger"></span>
                        <label class="floating-label">Biswansi</label>
                    </div>
                </div>
            </div>
        </div>
        <div id="inspectionAreainSqAcreHec" style="display:none;">
            <div class="row mt-md-3">
                <div class="col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input asp-for="TotalAreaInSqAcreHt" id="inspectionTotalAreaInSqAcreHt" value="" type="text" class="floating-label-field floating-label-field--s3 numbers inspectionTotalCalculation" placeholder="Total Area(Sq Yd./Acre/Hectare)" onkeypress="return numericDecimal(this);" onpaste="return false;" />
                        <span asp-validation-for="TotalAreaInSqAcreHt" class="text-danger"></span>
                        <label class="floating-label">Total Area(Sq Yd./Acre/Hectare)</label>
                    </div>
                </div>
            </div>

        </div>

        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input type="text" value="" id="inspectionArea" class="floating-label-field floating-label-field--s3 numbers" asp-for="Area" />
                    <span asp-validation-for="Area" class="text-danger"></span>
                    <label class="floating-label">Area(in sq. mt.)<span style="color:red">*</span></label>
                </div>
            </div>
        </div>

    </div>

    <div class="row mt-md-3">
        <div class="col-md-6">
            <div class="floating-label-wrap mb-3 mb-md-0">

                <textarea class="floating-label-field floating-label-field--s3" limit="1000" placeholder="Location/Address with land mark" asp-for="LocationAddressWithLandMark"></textarea>
                <span asp-validation-for="LocationAddressWithLandMark" class="text-danger"></span>
                <label class="floating-label">Location/Address with land mark<span style="color:red">*</span></label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row mt-md-3">
                <div class="col-md-4">
                    <label>Encroachment</label>
                </div>
                <input type="hidden" asp-for="IsEncroachment" value="No" />
                <div class="col-md-4">
                    <div class="form-check theme">
                        <input class="form-check-input" type="radio" asp-for="IsEncroachment" name="grpIsEncroachment" value="No" checked>
                        <label class="form-check-label">No </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-check theme">
                        <input class="form-check-input" type="radio" asp-for="IsEncroachment" name="grpIsEncroachment" value="Yes">
                        <label class="form-check-label">Yes </label>
                    </div>
                </div>
            </div>
            <span asp-validation-for="IsEncroachment" class="text-danger"></span>
        </div>
    </div>
    <div id="Divclsification">
        <h2 class="my-3 sub-heading">Details Of Encroachment</h2>
        <div class="row mt-md-3 mb-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input type="text" placeholder="Name of Encroacher" limit="100" class="floating-label-field floating-label-field--s3" asp-for="EncroacherName" />
                    <span asp-validation-for="EncroacherName" class="text-danger"></span>
                    <label class="floating-label">Name of Encroacher</label>
                </div>
            </div>
        </div>
        <div class="table-section bg-white border shadow rounded">
            <div class="table-responsive ">
                <table id="tbl_posts" class="table table-sm table-bordered mb-0 table-striped">
                    <thead class="text-nowrap">
                        <tr>
                            <th>Sr.No</th>
                            <th>Name of Structure</th>
                            <th>Construction Status</th>
                            <th>Area[Approx.]</th>
                            <th>Type[residential/religious/commercial]</th>
                            <th>Religious Structure</th>
                            <th>Age of Encroachment</th>
                            <th>Reference No. on  Location</th>
                            <th>Count of Structure</th>
                            <th>Operation</th>
                        </tr>
                    </thead>
                    <tbody id="tbl_posts_body">
                    </tbody>
                    <tbody id="add">
                        <tr id="">
                            <td style="text-align:center;"><span class="sn">1</span></td>
                            <td>
                                <div class="floating-label-wrap mb-3 mb-md-0">
                                    <input type="text" asp-for="NameOfStructure" placeholder="Name Of Structure" class="floating-label-field floating-label-field--s3" id="NameOfStructure" />
                                </div>
                            </td>
                            <td>
                                <div class="floating-label-wrap">
                                    <select asp-for="ConstructionStatus" class="floating-label-field floating-label-field--s3">
                                        <option value="Kachcha">Kachcha</option>
                                        <option value="Pakka">Pakka</option>
                                        <option value="Under Construction">Under Construction</option>
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div class="floating-label-wrap mb-3 mb-md-0">
                                    <input type="text" placeholder="Area Approx" asp-for="AreaApprox" class="floating-label-field floating-label-field--s3 numbers" id="AreaApprox" />
                                </div>
                            </td>
                            <td>

                                <div class="floating-label-wrap mb-3 mb-md-0">
                                    <input type="text" asp-for="Type" class="floating-label-field floating-label-field--s3" id="Type" />
                                </div>
                            </td>
                            <td>
                                <div class="floating-label-wrap">
                                    <select asp-for="ReligiousStructure" class="floating-label-field floating-label-field--s3">
                                        <option value="No">No</option>
                                        <option value="Yes">Yes</option>
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div class="floating-label-wrap mb-3 mb-md-0">
                                    <input asp-for="DateOfEncroachment" class="floating-label-field floating-label-field--s3 onlynumbers" id="DateOfEncroachment" />
                                </div>
                            </td>
                            <td>
                                <div class="floating-label-wrap mb-3 mb-md-0">

                                    <input asp-for="ReferenceNoOnLocation" type="text" class="floating-label-field floating-label-field--s3" id="ReferenceNoOnLocation" />
                                </div>
                            </td>
                            <td>
                                <div class="floating-label-wrap mb-3 mb-md-0">
                                    <input asp-for="CountOfStructure" type="text" class="floating-label-field floating-label-field--s3 onlynumbers" id="CountOfStructure" />
                                </div>
                            </td>

                            <td>
                                <div class="floating-label-wrap mb-3 mb-md-0">
                                    <a class="btn btn-theme delete-record" data-id="0" style="display:none;color:white;"><i class="fa fa-trash"></i></a>
                                    <a class="btn btn-theme add-record" data-added="0" style="color:white;"><i class="fa fa-plus"></i></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row mt-md-3">
        <div class="col-md-6">
            <div class="floating-label-wrap">

                <select asp-for="StatusOfLand" class="floating-label-field floating-label-field--s3" onchange="onChangeLandStatus(this.value)">
                    <option value="DDA Land">DDA Land</option>
                    <option value="Other Govt. Land">Other Govt. Land</option>
                    <option vlaue="Private Land">Private Land</option>
                </select>
                <span asp-validation-for="StatusOfLand" class="text-danger"></span>
                <label class="floating-label">Land Ownership</label>
            </div>
        </div>
    </div>


    <div id="divForLandStatus">
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap">

                    <select class="floating-label-field floating-label-field--s3" asp-for="IsPossession">
                        @*onchange="onChangePossationStatus(this.value)"*@
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                    <label class="floating-label">Possession with DDA</label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            @*<div class="col-md-6" id="divPossessionGroup" style="display:block;">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="hidden" asp-for="PossessionType" id="PossessionType" value="Formal Possession" />
                            <input type="hidden" asp-for="Id" id="hdnId" />
                            <input type="hidden" asp-for="IsActive" value="1" />
                            <div class="form-check theme">
                                <input class="form-check-input" type="radio" name="grpPossession" id="rdbFormal" checked>
                                <label class="form-check-label" for="radio">
                                    Formal Possession
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-check theme">
                                <input class="form-check-input" type="radio" name="grpPossession" id="rdbFlexible">
                                <label class="form-check-label" for="radio">
                                    Physical Possession
                                </label>
                            </div>
                        </div>
                    </div>
                </div>*@
            <div id="divDepartment" class="col-md-6" style="display:block;">
                <div class="floating-label-wrap">
                    <select asp-for="OtherDepartment" class="floating-label-field floating-label-field--s3" asp-items="@(new SelectList(Model.DepartmentList,"Id","Name"))">
                        <option value="0">Select</option>
                    </select>
                    <label asp-validation-for="OtherDepartment" class="text-danger"></label>
                    <label class="floating-label">Other Department </label>
                </div>

            </div>
        </div>
    </div>

    <div class="row mt-md-3">
        <div class="col-md-6">
            <div class="floating-label-wrap mb-3 mb-md-0">

                <input type="file" asp-for="Firfile" id="Firfile" placeholder="FIR Details" class="floating-label-field floating-label-field--s3 checkExtension" multiple />
                <span asp-validation-for="Firfile" class="text-danger"></span>
                <label class="floating-label">FIR Details<span style="color:red">(.pdf only)</span></label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="floating-label-wrap mb-3 mb-md-0">

                <input type="text" asp-for="PoliceStation" limit="100" placeholder="Police Station" class="floating-label-field floating-label-field--s3" />
                <span asp-validation-for="PoliceStation" class="text-danger"></span>
                <label class="floating-label">Police Station<span style="color:red">*</span></label>
            </div>
        </div>
    </div>
    <div class="row mt-md-3">
        <div class="col-md-6">
            <div class="floating-label-wrap mb-3 mb-md-0">

                <input type="text" placeholder="Security Guard on Duty" limit="100" asp-for="SecurityGuardOnDuty" class="floating-label-field floating-label-field--s3" />
                <span asp-validation-for="SecurityGuardOnDuty" class="text-danger"></span>
                <label class="floating-label">Officer on Duty<span style="color:red">*</span></label>
            </div>
        </div>

        <div class="col-md-6">
            <div class="floating-label-wrap mb-3 mb-md-0">

                <input type="file" placeholder="Location Map" asp-for="LocationMapFile" id="LocationMapFile" class="floating-label-field floating-label-field--s3 checkExtension" multiple />
                <span asp-validation-for="LocationMapFile" class="text-danger"></span>
                <label class="floating-label">Location Map<span style="color:red">(.pdf only)</span></label>
            </div>
        </div>
    </div>

    <div class="row mt-md-3">
        <div class="col-md-6">
            <div class="floating-label-wrap mb-3 mb-md-0">

                <input type="file" class="floating-label-field floating-label-field--s3 checkExtension" asp-for="PhotoFile" id="PhotoFile" multiple />
                <span asp-validation-for="PhotoFile" class="text-danger"></span>
                <label class="floating-label">Photo (<span style="color:red;"> max size 5 mb</span>)</label>
            </div>
        </div>

    </div>

    <div class="row mt-md-3">
        <div class="col-md-12">
            <div class="floating-label-wrap mb-3 mb-md-0">
                <textarea type="text" asp-for="Remarks" placeholder="Remarks" limit="950" class="floating-label-field floating-label-field--s3"></textarea>
                <span asp-validation-for="Remarks" class="text-danger"></span>
                <label class="floating-label">Remarks<span style="color:red">*</span></label>
            </div>
        </div>
    </div>
    <div class="row mt-md-3">
        <div class="col-md-12">
            <input type="submit" value="Submit" class="btn btn-theme " />
            @Html.ActionLink("Back", "Index", "EncroachmentRegister", null, new { @class = "btn btn-theme " })
        </div>
    </div>

</form>
<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/encroachmentregistercreate.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/encroachmentregistercreate.min.js" asp-append-version="true"></script>
</environment>
