@model Dto.Master.SearchByParameterDtoProfile
@await Component.InvokeAsync("PageHeader", new { pageName = "Search Document By Parameters Report" })

<div id="frmReliefReport" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
    <h3 class="mb-3 d-flex">Search Document By Paramerters</h3>
    
    
    <div class="row">

        <div class="col-md-6">
            <div class="floating-label-wrap">
                <select class="floating-label-field floating-label-field--s3" asp-for="DeptId" asp-items="@(new SelectList( @ViewBag.departmentList, "Id","Name"))">
                    <option value="0">All</option>
                </select>
                <label asp-validation-for="DeptId" class="error"></label>
                <label class="floating-label" asp-for="DeptId">Department</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="floating-label-wrap">
                <select class="floating-label-field floating-label-field--s3" asp-for="LocalityId" asp-items="@(new SelectList( @ViewBag.LocalityList, "Id","Name"))">
                    <option value="0">All</option>
                </select>
                <label asp-validation-for="LocalityId" class="error"></label>
                <label class="floating-label" asp-for="LocalityId">Locality</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="floating-label-wrap">
                <input class="floating-label-field floating-label-field--s3" type="text" id="FileNo" />
                <label asp-validation-for="FileNo" class="error"></label>
                <label class="floating-label">File No</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="floating-label-wrap">
                <input class="floating-label-field floating-label-field--s3" type="text" id="FileName"  />
                <label asp-validation-for="FileName" class="error"></label>
                <label class="floating-label" >File Name</label>
            </div>
        </div>
        
        
        <div class="col-md-6">
            <div class="floating-label-wrap">
                <select class="floating-label-field floating-label-field--s3" asp-for="AlmirahId" asp-items="@(new SelectList( @ViewBag.almirahList, "Id","AlmirahNo"))">
                    <option value="0">All</option>
                </select>
                <label asp-validation-for="AlmirahId" class="error"></label>
                <label class="floating-label" asp-for="AlmirahId">Almirah</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="floating-label-wrap">
                <select class="floating-label-field floating-label-field--s3" asp-for="RowId" asp-items="@(new SelectList( @ViewBag.rowList, "Id","RowNo"))">
                    <option value="0">All</option>
                </select>
                <label asp-validation-for="RowId" class="error"></label>
                <label class="floating-label" asp-for="RowId">Row</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="floating-label-wrap">
                <select class="floating-label-field floating-label-field--s3" asp-for="BundleId" asp-items="@(new SelectList( @ViewBag.bundleList, "Id","BundleNo"))">
                    <option value="0">All</option>
                </select>
                <label asp-validation-for="BundleId" class="error"></label>
                <label class="floating-label" asp-for="BundleId">Bundle</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="floating-label-wrap">
                <select class="floating-label-field floating-label-field--s3" asp-for="ColId" asp-items="@(new SelectList( @ViewBag.columnList, "Id","ColumnNo"))">
                    <option value="0">All</option>
                </select>
                <label asp-validation-for="ColId" class="error"></label>
                <label class="floating-label" asp-for="ColId">Column</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="floating-label-wrap">
                <input class="floating-label-field floating-label-field--s3" type="text" id="RoomNo" />
                <label asp-validation-for="RecordRoomId" class="error"></label>
                <label class="floating-label" asp-for="RecordRoomId">Record Room No</label>
            </div>
        </div>
       
      


    </div>
    
    <div class="row mt-md-3">
        <div class="col-md-12 col-xl-3">
            <div class="row">
                <div class="col-6 col-md-5 col-xl-6">
                    <button class="btn btn-theme btn-block d-flex align-items-center justify-content-center" type="reset" id="btnReset">
                        <i class="ri-refresh-line me-2"></i>Reset
                    </button>
                </div>
                <div class="col-6 col-md-7 col-xl-6">
                    <input type="submit" value="Generate" id="btnGenerate" class="btn btn-theme " />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="table-section bg-white border shadow rounded">
    <div class="short-section d-md-flex align-items-center">
        <div class="p-3 d-flex align-items-end me-auto">

            <div class="floating-label-wrap">
                <select id="ddlSort" class="floating-label-field floating-label-field--s3">
                    <option value="FileNo">File No</option>
                    <option value="RecordRoomNo">Record Room No</option>
                    <option value="AlmirahNo">Almirah No</option>
                    <option value="RowNo">Row No</option>
                    <option value="BundleNo">Bundle No</option>
                    <option value="ColumnNo">Column No</option>
                    

                </select>
                <label for="field-1" class="floating-label">Sort by</label>
            </div>
            <div class="short-btn d-flex align-items-center">
                <span>  <button id="btnAscending" class="btn slow active" onclick="Ascending();" title="Ascending order"><i class="ri-sort-asc"></i></button></span>
                <span>   <button id="btnDescending" class="btn slow " title="Descending order" onclick="Descending();"><i class="ri-sort-desc"></i></button></span>

            </div>

        </div>

    </div>

    <div class="table-responsive px-2 ">
        <div id="LoadView"></div>

    </div>


</div>

<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/searchbyparticulardocindex.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/searchbyparticulardocindex.min.js" asp-append-version="true"></script>
</environment>

